@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";

.Page-Identifier{
    padding: 40px 7%;


    .identifier-tab-content {
        background-color: #fff;
        border-radius: 10px;
        .tab-content{
            padding:0;
        }
    }

    .identifier-col-wrap {
        display: flex;

        
    }
    
    .identifier-left-col {
        padding: 30px;
        width: 50%;
        .nav{
            display: flex;
            flex-direction: column;
            .nav-item{
                padding:0;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                &:focus{
                    outline: 0;
                }
                a{
                    width: 100%;
                    padding: 0;
                    background: transparent;
                    &.active{
                        .identifier-label-wrap{
                            .identifier-label-name{
                                border-color: $ThemeColor;
                                color:$ThemeColor;
                            }
                            &:before{
                                content:'';
                                background-image: url(../../assets/images/field_tab_icon-active.svg);
                            }
                        }
                        input{
                            border-color: $ThemeColor;
                            @include placeholder {
                                color: $ThemeColor;
                            }
                        }
                    }
                }
            }
            .identifier-label-wrap{
                width:100%;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                height: 50px;
                min-height: 50px;
                &:before{
                    content:'';
                    background-image: url(../../assets/images/field_tab_icon.svg);
                    background-size: 18px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 40px;
                    width: 40px;
                    display: inline-block;
                    margin-right: 11px;
                }
            }
            input{
                width: 100%;
                height: 100%;
                border-radius: 6px;
                border: 1px solid #F2F5F8;
                padding: 0 20px;
                font-family: $SemiBoldFont;
                @include placeholder {
                    color: #8D8D8D;
                }
                &:focus{
                    outline:0;
                }
            }
            .identifier-label-name {
                border: 1px solid #F2F5F8;
                background: transparent;
                border-radius: 6px;
                padding: 10px 20px;
                width: 100%;
                text-align: left;
                color: #8D8D8D;
                font-size: 0.9rem;
                text-transform: capitalize;
                transition-property: border-color, color; 
                transition-duration: 0.5s; 
                transition-timing-function: ease; 
                &:focus{
                    outline:0;
                }
            }
            .identifier-delete-icon {
                background-color: #F2F5F8;
                border: 0;
                height: 43px;
                border-radius: 5px;
                min-width: 44px;
                width: 44px;
                margin-left: 10px;
                background-image: url(../../assets/images/table_delete_ic.svg);
                background-size: 14px;
                background-position: center;
                background-repeat: no-repeat;
                text-indent: -9999px;
                &:focus{
                    outline:0;
                }
            }
        }
    }

    .field-tab-header{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        padding-bottom: 7px;
        border-bottom: 1px solid #E9E9E9;
        align-items: center;
        .head{
            color:#504658;
            font-family: $Font;
            font-size: 1rem;
            margin-bottom: 7px;
        }
        .head_r{
            color:#8D8D8D;
        }
        .save-identifier{
            margin-left: auto;
            margin-bottom: 7px;
        }
        .create-btn{
            margin-left: auto;
            color:#8D8D8D;
            font-family: $Font;
            border: 0;
            padding: 0;
            background-color: transparent;
            font-size: 1rem;
            margin-bottom: 1rem;
            display: inline-flex;
            align-items: center;
            transition: color 0.3 ease;
            &:focus{
                outline: 0;
            }
            .plus{
                background-image: url(../../assets/images/add_icon.svg);
                background-size: 12px;
                background-position: center;
                background-repeat: no-repeat;
                height: 18px;
                width: 18px;
                display: inline-block;
                margin-right: 4px;
                margin-top: -2px;
                transition: background-image 0.3 ease;
            }
            &:hover{
                color:$ThemeColor;
                .plus{
                    background-image: url(../../assets/images/add_icon_active.svg);
                }
            }
        }
    }

    .create-identifier-main-wrap{
        margin-bottom: 30px;
        padding-left: 45px;
        .create-new-identifier-wrap {
            display: flex;
            align-items: center;
        }
        
        .add-identifier-input{
            border: 1px solid #F2F5F8;
            background: transparent
            ;border-radius: 6px;
            padding: 8px 15px;
            font-family:$Font;            
            color: #1C1C1C;
            width: 100%;
            @include placeholder {
                color: #D9D9D9;
                font-family:$LightFont;
                font-size: 0.95rem;
            }
            &:focus{
                outline: 0;
            }
        }

        .map-select {
            border: 1px solid #F2F5F8;
            background: transparent;
            border-radius: 6px;
            padding: 8px 15px;
            font-family: "NunitoSans";
            color: #1C1C1C;
            max-width: 100px;
            margin: 0 15px;
            
            &:focus{
                outline: 0;
            }
        }

        .add-identifier{
            border: 0;
            background: $ThemeColor;
            color: #fff;
            border-radius: 6px;
            padding: 9px 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:focus{
                outline: 0;
            }
        }

     

    }
    
    .identifier-right-col {
        width: 50%;
        background-color: #FBFBFB;
        padding: 30px;
    }

    .identifier-field-wrap  {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        label{
            color: #C5C5C5;
            font-size: 0.82rem;
            font-family:$LightFont;
        }
        p {
            color: $ThemeColor;
            font-size: $CeTitle;
            text-transform: capitalize;
        }
        .identifier-setting-input {
            border: 1px solid #E9E9E9;
            background: transparent;
            border-radius: 6px;
            padding: 9px 20px;
            max-width: 300px;
            width: 100%;
            text-align: left;
            color: #8D8D8D;
            font-size: 0.9rem;
            text-transform: capitalize;
            transition: background 0.3s ease ;
            &:focus{
                outline: 0;
                background: #e9e9e9;
                color: #1c1c1c;
            }
            @include placeholder {
                color: #D9D9D9;
                font-family:$LightFont;
                font-size: 0.95rem;
            }
        }
        .identifier-setting-select{
            border: 1px solid #E9E9E9;
            background: transparent;
            border-radius: 6px;
            padding: 9px 20px;
            max-width: 300px;
            width: 100%;
            text-align: left;
            color: #8D8D8D;
            font-size: 0.9rem;
            text-transform: capitalize;
            margin-bottom: 20px;
            &:focus{
                outline: 0;
            }
        }
        .identifier-select-wrap{
            .add-option{
                margin: 0 15px;
                border-radius: 6px;
                min-height: 42px;
            }
            .cancel{
                margin: 0 15px;
                color: #c5c5c5 !important;
                background-color: transparent;
            }
        }
        .add-identifier{
            margin: 0 15px;
            border-radius: 6px;
            min-height: 42px;
        }
        .identifier-add-select-wrap{

        }
    }
    
    .error_cu{
        color: #ff0000;
        font-size: 14px;
        margin: 10px 0 0;
        display: block;
        font-family: $SemiBoldFont; 
    }

}