@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.Page-FeedbackSurvey {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #fbfbfb;
	padding: 0;
	margin: 0 auto;
	overflow-x: hidden;
	.ezi-survey-header {
		background: #e3e2e2;
		color: var(--survey-theme-color);
	}
	.languageDropdown {
		display: flex;
		justify-content: flex-end;
		margin: 14px 25px 10px 0;
		.lang-text {
			color: #1c1c1c;
			font-size: 0.85rem;
			margin: 6px 10px 6px 0;
			font-family: $SemiBoldFont;
		}
		button {
			background-color: transparent !important;
			border: 1px solid #e1e1e1;
			padding: 3px 30px 3px 15px;
			border-radius: 5px;
			color: #504658;
			min-width: 110px;
			background-image: url(../../assets/images/dropdown-arrow_c2.svg);
			background-size: 12px;
			background-position: center right 10px;
			background-repeat: no-repeat;
			.flag-avtar-wrap .country-flag-label {
				font-size: 0.85rem;
				font-family: $Font;
			}
			&:after {
				display: none;
			}
		}
		.btn-primary:not(:disabled):not(.disabled).active,
		.btn-primary:not(:disabled):not(.disabled):active,
		.show > .btn-primary.dropdown-toggle {
			box-shadow: none;
			border-color: #e1e1e1;
		}
		.dropdown-item:active {
			color: #504658;
			background-color: transparent;
		}
	}

	.finish_later_btn_wrap {
		display: flex;
		justify-content: flex-end;
		margin-top: 30px;
		.survey_finish_later {
			border: 0;
			background-color: #504658;
			color: #fff;
			padding: 5px 20px;
			border-radius: 25px;
			font-size: 0.85rem;
		}
	}

	.finish-later-section {
		display: flex;
		justify-content: center;
		margin: 7% auto;
		max-width: 228px;
		flex-direction: column;
		align-items: center;
		.finish-later-emoji {
			height: 40px;
			width: 40px;
			display: inline-block;
			background-image: url(../../assets/images/bad_url2.svg); //changed for error
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 20px;
		}
		.finish-response-text {
			color: #504658;
			text-align: center;
			font-size: 1rem;
		}
		.finish-response-text button {
			border: 0;
			background: transparent;
			color: $ThemeColor;
			font-family: $SemiBoldFont;
		}
	}

	.select2-container--classic {
		.select2-selection--single {
			background: transparent;
			border: 1px solid #e9e9e9;
			min-height: 44px;
			border-radius: 5px;
		}

		.select2-selection--single .select2-selection__arrow {
			height: 100%;
			background-color: transparent !important;
			border-left: 1px solid #e9e9e9;
			width: 40px;
			background-image: url(../../assets/images/dropdown-arrow_c2.svg) !important;
			background-size: 12px !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			b {
				display: none;
			}
		}
	}
	.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
		background: transparent;
	}

	.select2-container--classic.select2-container--open .select2-selection--single {
		border: 1px solid #e9e9e9;
	}
	.select2-container--classic .select2-selection--single:focus {
		border-color: #e9e9e9;
	}
	.select2-container--classic .select2-selection--single .select2-selection__rendered {
		line-height: 44px;
		padding-left: 20px;
	}

	.feedback-main-wrapper {
		height: calc(100% - 114px);
		overflow-y: auto;
	}

	.feedback-survey-logo {
		min-width: 150px;
		max-width: 150px;
	}

	.feedback-survey-header {
		background: #fff;
		border-radius: 8px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 20px;
	}
	.feedback-survey-content {
		background: #fbfbfb;
		border-radius: 8px;
		padding: 30px 7%;
		&.completed-survey {
			.preview-survey-thank-wrap {
				box-shadow: none;
				padding: 10px 20px;
			}
		}
	}

	.feedback-complete-survey {
		height: 30px;
	}

	.preview-survey-header {
		background-color: #5a4e63;
		padding: 10px 5%;
		display: flex;
		justify-content: center;
		-moz-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);

		.preview-survey- {
			&header-left {
				display: inline-flex;
				align-items: center;
				width: 100%;
			}
			&header-right {
				display: inline-flex;
				align-items: center;
			}
			&logo-wrap {
				margin-right: 15px;
				height: 50px;
				width: auto;
				max-width: 100%;
				display: inline-flex;
			}
			&company-name {
				color: #b7b7b7;
				font-size: 0.8rem;
				text-transform: capitalize;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			&logo {
				height: 50px;
				width: auto;
				min-width: 50px;
				max-width: 200px;
				object-fit: contain;
			}
			&name {
				color: #fff;
				font-size: 1.1rem;
				font-family: $SemiBoldFont;
				text-transform: capitalize;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.preview-text-wrap {
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}
	}

	.preview-survey-feedback-wrap {
		background-color: #fff;
		border-radius: 5px;
		-moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		-webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		padding: 50px 20px;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		.preview-survey- {
			&feedback-heading {
				color: $ThemeColor;
				font-size: 1.12rem;
				text-align: center;
				margin-bottom: 15px;
				font-family: $SemiBoldFont;
			}
			&feedback-para {
				color: #1c1c1c;
				font-size: 0.95rem;
				line-height: 30px;
				text-align: center;
			}
			&text-wrap {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				max-width: 550px;
			}
		}
	}

	.preview-survey-thank-wrap {
		background-color: #fff;
		border-radius: 5px;
		-moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		-webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		padding: 50px 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 30px 0;
		.preview-survey-complete-ic {
			height: 56px;
			width: 56px;
			display: inline-block;
			//background-image: url(../../assets/images/widget/survey-complete-check.svg);
			background-image: url(../../assets/images/bad_url2.svg); //changed for error
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 20px;
		}
		.preview-survey-feedback-para {
			color: $ThemeColor;
			font-size: 1.3rem;
			text-align: center;
			max-width: 240px;
			line-height: 32px;
		}
	}

	.preview-survey-poweredby- {
		&wrap {
			display: flex;
			align-items: center;
			margin: auto 0 0;
			background: #e1e1e1;
			justify-content: flex-end;
			padding: 5px 7%;
			height: 44px;
			min-height: 44px;
		}
		&heading {
			color: #504658;
			font-size: 0.75rem;
			font-family: $SemiBoldFont;
			margin-right: 15px;
		}
		&logo {
			width: auto;
			height: 28px;
			margin-top: -2px;
		}
		&text {
			color: #b8b8b8;
			font-size: 0.7rem;
			font-family: $LightFont;
			max-width: 220px;
			text-align: center;
			line-height: 24px;
		}
	}

	//preview css start

	#surveyPreview {
		.sv_main .sv_body {
			border: 0;
			padding: 0;
		}
		.sv_progress {
			display: block;
			max-width: 300px;
			margin: 0 auto;
			background-color: #e3e3e3;
			height: 10px;
			z-index: 0;
			position: relative;
			border-radius: 30px;
			margin-top: 4%;
			.sv_progress_bar {
				height: 100%;
				position: relative;
				border-radius: 25px;
				background: var(--survey-theme-color);
				+ span {
					margin: 15px 0;
					color: #8d8d8d;
					font-family: "NunitoSansSemiBold";
					font-size: 0.85rem;
					display: block;
					text-align: center;
				}
			}
		}
		.sv_body .sv_nav {
			padding: 0 10%;
			margin: 40px 0 20px;
			display: flex;
			.sv_start_btn {
				background-color: var(--survey-theme-color);
				color: #fff;
				border: 0;
				min-height: 32px;
				border-radius: 25px;
				padding: 0 34px;
				margin: 0;
				font-family: $Font;
				font-size: 0.8rem;
				display: inline-flex;
				align-items: center;
				font-weight: normal;
				letter-spacing: 0.2px;
				&:hover {
					box-shadow: RGB(0 0 0 / 7%) 0px 1px 2px, RGB(0 0 0 / 7%) 0px 2px 4px, RGB(0 0 0 / 7%) 0px 4px 8px,
						RGB(0 0 0 / 7%) 0px 8px 16px, RGB(0 0 0 / 7%) 0px 16px 32px, RGB(0 0 0 / 7%) 0px 32px 64px;
				}
				&:focus {
					outline: 0;
				}
			}
			.sv_complete_btn,
			.sv_next_btn,
			.sv_preview_btn {
				background-color: var(--survey-theme-color);
				color: #fff;
				border: 0;
				min-height: 32px;
				border-radius: 25px;
				padding: 0 20px;
				margin: 0;
				font-family: $Font;
				font-size: 0.8rem;
				display: inline-flex;
				align-items: center;
				font-weight: normal;
				letter-spacing: 0.2px;
				margin-right: 10px;
				&:hover {
					box-shadow: RGB(0 0 0 / 7%) 0px 1px 2px, RGB(0 0 0 / 7%) 0px 2px 4px, RGB(0 0 0 / 7%) 0px 4px 8px,
						RGB(0 0 0 / 7%) 0px 8px 16px, RGB(0 0 0 / 7%) 0px 16px 32px, RGB(0 0 0 / 7%) 0px 32px 64px;
				}
				&:focus {
					outline: 0;
				}
			}
			.sv_prev_btn {
				background-color: transparent;
				border: 1px solid var(--survey-theme-color);
				color: var(--survey-theme-color);
				min-height: 32px;
				border-radius: 25px;
				padding: 0 20px;
				margin: 0;
				font-family: $Font;
				font-size: 0.8rem;
				display: inline-flex;
				align-items: center;
				font-weight: normal;
				letter-spacing: 0.2px;
				margin-right: 10px;
				&:hover {
					background-color: var(--survey-theme-color);
					color: #fff;
					box-shadow: RGB(0 0 0 / 7%) 0px 1px 2px, RGB(0 0 0 / 7%) 0px 2px 4px, RGB(0 0 0 / 7%) 0px 4px 8px,
						RGB(0 0 0 / 7%) 0px 8px 16px, RGB(0 0 0 / 7%) 0px 16px 32px, RGB(0 0 0 / 7%) 0px 32px 64px;
				}
				&:focus {
					outline: 0;
				}
			}
		}
		.sv_body.sv_body_empty {
			&:before {
				content: "";
				height: 50px;
				width: 50px;
				display: inline-block;
				background-image: url(../../assets/images/bad_url2.svg);
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				margin-bottom: 30px;
			}
			color: $ThemeColor;
			font-family: "NunitoSans";
			font-size: 1.3rem;
			height: 200px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.sv_body.sv_completed_page {
			display: flex;
			padding: 34px 0;
			flex-direction: column;
			h3 {
				color: var(--survey-theme-color);
				font-size: 1.3rem;
				text-align: center;
				max-width: 250px;
				line-height: 32px;
				font-weight: normal;
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				font-family: $Font;
				margin: 0 auto;
				&:before {
					content: "";
					height: 56px;
					width: 56px;
					display: inline-block;
					background-image: url(../../assets/images/widget/survey-complete-check.svg);
					background-size: 100%;
					background-position: center;
					background-repeat: no-repeat;
					margin-bottom: 20px;
				}
			}
		}

		.csat-widget-wrapper .csat-radio-wrapper input:checked + .csat-number {
			background-color: var(--survey-theme-color);
			border-color: var(--survey-theme-color);
		}
		.csat-widget-wrapper .csat-radio-wrapper:hover .csat-number {
			background-color: var(--survey-theme-color);
			border-color: var(--survey-theme-color);
		}
		.smily-wrapper .smily-inner input:checked + .smily-icon + .smily-name {
			color: var(--survey-theme-color);
		}
		.smily-wrapper .smily-icon-wrapper:hover .smily-icon + .smily-name {
			color: var(--survey-theme-color);
		}
		.nps-widget-wrapper .nps-radio-wrapper input:checked + .nps-number::after {
			color: var(--survey-theme-color);
		}

		.sv_main.sv_default_css {
			.sv_container .sv_body .sv_p_root {
				.sv_page_title {
					padding: 0 0;
					margin: 20px 10% 12px;
					color: $ThemeColor;
					font-size: $CeTitle;
					+ div[data-bind*="description"] {
						color: #b7b7b7;
						margin: 0 10% 20px;
						font-size: 0.8rem;
						display: inline-block;
					}
				}
				.sv_row {
					padding: 10px 10%;
					background: transparent;
					position: relative;

					.sv_cw_pretty_checkbox_checkbox {
						color: #504658;
						margin-bottom: 10px;
						overflow: hidden;
						.pretty {
							width: 100%;
							.state label {
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								width: 100%;
								color: #5a4e63;
							}
							input:checked ~ .state.p-success label:after,
							.pretty.p-toggle .state.p-success label:after {
								background-color: $ThemeColor !important;
								background-image: url(../../assets/images/chechbox-check.png);
								background-size: 12px;
								background-position: center;
								background-repeat: no-repeat;
							}
						}
					}
					.sv_cw_pretty_checkbox_radiogroup {
						margin-bottom: 10px;
						overflow: hidden;
						.pretty {
							width: 100%;
							.state label {
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								width: 100%;
								color: #5a4e63;
							}
							input:checked ~ .state.p-success label:after,
							.pretty.p-toggle .state.p-success label:after {
								background-color: $ThemeColor !important;
								transform: scale(0.7);
							}
						}
						.pretty.p-round .state label:before {
							border-radius: 50%;
							margin-top: 3px;
							width: 16px;
							min-width: 16px;
							height: 16px;
						}
						.pretty.p-round .state label:after {
							border-radius: 50%;
							margin-top: 3px;
						}
					}
					.pretty .state label {
						text-indent: 1.8em;
						font-size: 0.89rem;
						&::first-letter {
							text-transform: uppercase;
						}
					}
					.pretty .state label:before {
						border-color: #b7b7b7;
					}
					.pretty .state label:before,
					.pretty .state label:after {
						border-radius: 3px;
						margin-top: 3px;
					}
					.pretty.p-default .state label:after {
						transform: scale(1);
					}

					.sv_q.sv_qstn {
						border: 0;
						padding: 0 10px;
						// overflow: initial;{
						&.survey_question_unanswered {
							padding: 10px;
							border-radius: 5px;
							.sv_q_title {
								background-color: #ff8a80;
								padding: 6px 10px;
								margin: 5px -10px 12px;
								border-radius: 3px;
							}
						}
						.form-group {
							margin-bottom: 0;
						}
						.sv_qbln {
							padding: 10px 0 0;
							.sv-boolean__label {
								color: #5a4e63;
							}
						}

						.sv_q_erbox {
							color: #ff0000;
							font-size: 14px;
							margin: 10px 0;
							display: block;
							padding: 0 12px;
							font-family: $SemiBoldFont;
							display: flex;
							&:before {
								content: "*";
								margin-right: 5px;
							}
						}
						.sv_q_text_root {
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							background: transparent;
							box-shadow: none;
							border-radius: 5px;
							height: 38px;
							width: 100%;
							border: 1px solid #e9e9e9;
							max-width: 400px;
							padding: 0 15px;
							min-width: 400px;
							background-color: #fdfdfd;
							&:focus {
								background-color: #f2f5f8;
								outline: 0;
							}
						}
						.select2-hidden-accessible + .select2-container--default {
							min-width: 400px;
							width: initial !important;
						}
						.select2-container--default .select2-selection--multiple {
							border: 1px solid #e9e9e9;
							min-height: 46px;
							background-color: #fdfdfd;
						}
						textarea {
							border-radius: 7px;
							max-width: 400px;
							width: 100%;
							border: 1px solid #e9e9e9;
							resize: none;
							background-color: #fdfdfd;
							padding: 15px;
							&:focus {
								outline: 0;
							}
						}
						.sv_q_other {
							margin-top: 10px;
							max-width: 400px;
							width: 100%;
						}
						fieldset.sv_qcbc {
							.sv_q_radiogroup_clear {
								background-color: transparent;
								border: 1px solid #8d8d8d;
								min-height: 26px;
								border-radius: 25px;
								padding: 0 20px;
								margin: 15px 0 0;
								font-family: "NunitoSans";
								font-size: 0.8rem;
								display: inline-flex;
								align-items: center;
								font-weight: normal;
								letter-spacing: 0.2px;
								color: #8d8d8d;
								&:hover {
									background-color: #8d8d8d;
									color: #fff;
								}
								&:focus {
									outline: 0;
								}
							}
							.svda-add-new-item {
								color: #ccc;
								transition: all 0.3s ease;
								svg {
									fill: #ccc;
								}
								&:hover {
									color: $ThemeColor;
									svg {
										fill: $ThemeColor;
									}
								}
							}
							.sv_q_select_column {
								min-width: initial;
								padding-right: 0;
								margin-right: 30px;
							}
							.sv_q_checkbox {
								padding: 10px 0;
								border-radius: 5px;
								display: flex;
								flex-direction: column;
								overflow: hidden;
								&:first-of-type {
									padding-top: 0;
								}
								.sv_q_checkbox_label {
									margin: 0;
									display: flex;
									align-items: center;
									white-space: nowrap;
									width: 100%;
									font-family: $Font;
									color: #5a4e63;
									font-size: 0.89rem;
									span {
										overflow: hidden;
										text-overflow: ellipsis;
									}
								}
							}
							.sv_q_radiogroup {
								padding: 10px 0;
								border-radius: 5px;
								display: flex;
								flex-direction: column;
								overflow: hidden;
								&:first-of-type {
									padding-top: 0;
								}
								.sv_q_radiogroup_label {
									margin: 0;
									display: flex;
									align-items: center;
									white-space: nowrap;
									font-size: 0.85rem;
									text-transform: capitalize;
									width: 100%;
									font-family: $Font;
									color: #5a4e63;
									font-size: 0.89rem;
									span {
										overflow: hidden;
										text-overflow: ellipsis;
									}
									.circle {
										margin-right: 5px;
									}
								}
								&:last-of-type {
									padding-bottom: 0;
								}
							}
							.br-theme-css-stars .br-widget a {
								width: 30px;
								height: 30px;
								display: inline-flex;
								align-items: center;
								justify-content: center;
								&:after {
									color: #d2d2d2;
									font-size: 35px;
								}
							}
						}
						.sv_select_wrapper {
							select {
								-moz-appearance: none;
								-webkit-appearance: none;
								width: 100%;
								border: 1px solid #e9e9e9;
								padding: 10px 20px;
								border-radius: 7px;
								max-width: 400px;
								background-image: url(../../assets/images/dropdown-arrow_c2.svg);
								background-size: 14px;
								background-position: center right 14px;
								background-repeat: no-repeat;
								background-color: #fdfdfd;
								&:focus {
									outline: 0;
								}
							}
							.svda-select-items-title {
								top: -30px;
								right: 40px;
								.svd-main-color {
									color: $ThemeColor;
								}
							}
							.svda-select-items-content {
								.svda-select-items-collection {
									.item_draggable {
										padding: 4px 10px;
									}
								}
								.item_editable {
									padding: 4px 10px;
									font-family: $Font;
									font-size: 0.8rem;
									color: #656565;
								}
							}
							.sv_q_dropdown_control[disabled] {
								margin-top: 8px;
							}
						}

						.sv_q_matrix_dropdown {
							margin-top: 20px;
							width: 100%;
							thead {
								background-color: $ThemeColor;
								color: #fff;

								tr {
									th {
										text-align: center;
										font-size: 0.85rem;
										font-family: $SemiBoldFont;
										padding: 10px 0;
										border: 1px solid #e9e9e9;
										width: auto !important;
										min-width: auto !important;
									}
								}
							}
							tbody {
								tr,
								td {
									padding: 10px;
									border: 1px solid #e9e9e9;
									text-align: left;
								}
								td {
									&:first-child {
										font-size: 0.85rem;
										color: #504658;
										font-family: $SemiBoldFont;
									}
									.sv_qcbc {
										white-space: nowrap;
										display: block;
										text-align: center;
									}
								}
								td .sv_qcbc {
									.sv_q_radiogroup {
										border: 0;
										padding: 0px 10px;
										margin-bottom: 0px;
										border-radius: 5px;
										display: inline-block;
										.sv_q_radiogroup_label {
											font-weight: normal;
											font-family: $Font;
											font-size: 0.8rem;
										}
									}
								}
							}
						}
					}
					.sv_q_title {
						color: #1c1c1c;
						font-size: 1rem;
						// text-transform: capitalize;
						margin: 5px 0 12px;
						font-family: $SemiBoldFont;
						line-height: 30px;
						// display: flex;
						// align-items: flex-start;
						span {
							float: unset;
						}
					}
					.sv_q_num {
						color: var(--survey-theme-color);
						word-break: initial;
						// font-size: 0.9rem;
					}

					.sv_q_imgsel.sv_q_imagepicker_inline.checked .sv_q_imgsel_label > div {
						border-color: var(--survey-theme-color);
						&:before {
							content: "";
							display: block;
							width: 5px;
							height: 9px;
							border: solid #fff;
							border-width: 0 2px 2px 0;
							position: absolute;
							top: -6px;
							right: -3px;
							z-index: 1;
							-webkit-transform: rotate(45deg);
							transform: rotate(45deg);
						}
						&:after {
							content: "";
							// background-image: url(../../assets/images/widget/image-check.svg);
							// background-size: 18px;
							// background-position: center;
							// background-repeat: no-repeat;
							display: inline-flex;
							height: 16px;
							width: 16px;
							position: absolute;
							top: -8px;
							right: -8px;
							background: var(--survey-theme-color);
							border-radius: 50%;
						}
					}

					.sv_imgsel .sv_q_imgsel {
						display: inline-block;
						line-height: initial;
						.sv_q_imgsel_label {
							> div {
								background: transparent;
								border-radius: 7px;
								overflow: hidden;
								padding: 8px;
								border-color: #e9e9e9;
								position: relative;
								overflow: visible;
								.sv_q_imgsel_image {
									border-radius: 7px !important;
									object-fit: cover !important;
									width: 100px;
									height: 80px;
								}
							}
						}
					}
					.sv_imgsel .sv_q_imgsel:checked .sv_q_imgsel_label > div {
						background-color: transparent;
					}

					.br-theme-css-stars .br-widget {
						height: initial;
						min-height: 48px;
						a {
							height: 40px;
							width: 40px;
							margin-right: 15px;
							float: none;
							display: inline-block;
							&:last-child {
								margin-right: 0;
							}
							&:after {
								font-family: "Material Icons";
								content: "\e83a";
								display: inline-flex;
								align-items: center;
								height: 40px;
								width: 40px;
								font-size: 40px;
								color: #b7b7b7;
							}
							&.br-active:after {
								font-family: "Material Icons";
								content: "\e838";
								color: var(--survey-theme-color);
							}
							&.br-selected:after {
								font-family: "Material Icons";
								content: "\e838";
								color: var(--survey-theme-color);
							}
						}
					}

					.sv_q_rating {
						margin: 0 -10px;
						.sv_q_rating_item {
							padding: 0 10px;
							display: inline-block;
							margin-bottom: 15px;
							cursor: pointer;
							&.active .sv_q_rating_item_text {
								background: var(--survey-theme-color);
								color: #fff;
								border-color: var(--survey-theme-color);
							}
						}
						.sv_q_rating_item_text {
							border: 1px solid #b7b7b7;
							padding: 7px 10px;
							border-radius: 3px;
							color: #707070;
							font-size: 0.85rem;
							font-family: $SemiBoldFont;
							display: inline-flex;
							align-items: center;
						}
						.svda-add-new-rating-item {
							margin-top: 4px;
							background-color: #e1e1e1;
							display: inline-flex;
							padding: 10px 10px;
							border-radius: 3px;
							cursor: pointer;
						}
					}

					.sv_q_file {
						.sv_q_file_choose_button {
							position: relative;
							min-width: 164px;
							max-width: 164px;
							border: 0;
							background: transparent;
							height: 38px;
							text-indent: 8px;
							cursor: pointer;
							margin: 25px 0 10px;
							&:before {
								content: "";
								background-image: url(../../assets/images/widget/upload-file.svg);
								background-size: 163px;
								background-position: top left;
								background-repeat: no-repeat;
								height: 100%;
								min-width: 164px;
								max-width: 164px;
								position: absolute;
								left: 0;
								top: 0;
								z-index: 9999;
							}
							&:focus {
								outline: 0;
							}
						}
						.sv_q_file_remove_button {
							background-color: var(--survey-theme-color);
							color: #fff;
							border: 0;
							min-height: 30px;
							border-radius: 5px;
							padding: 0 16px;
							margin: 0;
							font-family: "NunitoSans";
							font-size: 0.8rem;
							display: inline-flex;
							align-items: center;
						}

						.sv_q_file_preview {
							background: transparent;
							border-radius: 7px;
							padding: 8px;
							border-color: #e9e9e9;
							position: relative;
							overflow: visible;
							display: inline-flex;
							flex-direction: column;
							justify-content: center;
							max-width: 160px;
							overflow: hidden;
							img {
								border-radius: 7px;
								height: 80px;
								width: 80px;
								margin: 0 auto;
							}
							a {
								color: #504658;
								font-size: 0.73rem;
								margin: 0 0 10px;
								display: inline-block;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								width: 100%;
							}
							.sv_q_file_remove {
								color: #c5c5c5;
								font-size: 0.85rem;
								display: flex;
								margin: 10px 0 2px;
								align-items: center;
								justify-content: center;
								&:before {
									content: "";
									display: inline-block;
									background-image: url(../../assets/images/table_delete_ic.svg);
									background-size: 9px;
									background-position: center;
									background-repeat: no-repeat;
									height: 24px;
									width: 24px;
									margin-right: 2px;
									transition: background-image 0.3 ease;
								}
								&:hover {
									color: var(--survey-theme-color);
								}
							}
						}
					}

					.slider.slider-horizontal {
						width: calc(100% - 60px);
						margin: 30px 0 0;
						.slider-track {
							height: 10px;
							width: 100%;
							margin-top: -5px;
							top: 50%;
							left: 0;
							border: 1px solid #d0cdd2;
							background: transparent;
							border-radius: 25px;
						}
						.slider-selection {
							background: var(--survey-theme-color);
						}
						.slider-handle {
							background-image: unset;
							background-size: 30px;
							background-position: center;
							background-repeat: no-repeat;
							background-color: transparent;
							height: 23px;
							width: 23px;
							margin-top: -2px;
							background-color: var(--survey-theme-color);
							border: 4px solid #efeeee;
							box-shadow: RGB(0 0 0 / 24%) 0px 3px 8px;
							&:before {
								content: "";
								height: 10px;
								width: 10px;
								background: #fff;
								position: absolute;
								border: 1px solid var(--survey-theme-color);
								transform: rotate(45deg) translateX(-50%);
								bottom: 32px;
								border-top-color: transparent;
								border-left-color: transparent;
								z-index: 1;
								left: 50%;
							}
							&:after {
								content: attr(aria-valuenow);
								height: 30px;
								width: 42px;
								display: inline-flex;
								justify-content: center;
								align-items: center;
								position: absolute;
								bottom: 40px;
								border: 1px solid var(--survey-theme-color);
								border-radius: 7px;
								left: 50%;
								transform: translateX(-50%);
								color: #1c1c1c;
								font-size: 0.78rem;
								font-family: $SemiBoldFont;
							}
						}
					}

					.widget-datepicker {
						width: 100%;
						border: 1px solid #e9e9e9;
						padding: 10px 20px;
						border-radius: 7px;
						max-width: 400px;
						background-image: url(../../assets/images/widget/calendar.svg);
						background-size: 18px;
						background-position: center right 14px;
						background-repeat: no-repeat;
						background-color: #fdfdfd;
						&:focus {
							outline: 0;
							box-shadow: none;
						}
					}

					.sjs-sortablejs-result {
						border: 1px solid #e9e9e9 !important;
						border-radius: 5px;
						padding: 20px;
						color: #c5c5c5;
						font-size: 0.8rem;
						font-weight: normal;
						min-height: 100px !important;
						margin-bottom: 30px;
						background-color: #fdfdfd;
						> div {
							display: flex;
							align-items: center;
							width: 100%;
							&:before {
								font-family: "Material Icons";
								content: "\f043";
								font-size: 27px;
								height: 44px;
								background: transparent;
								border: 1px solid #f2f5f8;
								border-radius: 6px;
								display: inline-flex;
								justify-content: center;
								align-items: center;
								overflow: hidden;
								width: 60px;
								min-width: 60px;
								margin-right: 10px;
							}
						}
						.sjs-sortablejs-item {
							background: transparent !important;
							color: var(--survey-theme-color) !important;
							border-radius: 6px;
							width: 100%;
							border: 1px solid var(--survey-theme-color);
							padding: 10px 20px !important;
							font-size: 1rem;
						}
					}
					.sjs-sortablejs-source {
						border: 1px solid #e9e9e9 !important;
						border-radius: 5px;
						padding: 20px;
						min-height: 100px !important;
						background-color: #fdfdfd;
						> div {
							display: flex;
							align-items: center;
							width: 100%;
							&:before {
								content: "";
								height: 44px;
								background: transparent;
								border: 1px solid #f2f5f8;
								border-radius: 6px;
								display: inline-flex;
								justify-content: center;
								align-items: center;
								overflow: hidden;
								width: 60px;
								min-width: 60px;
								margin-right: 10px;
								font-family: "Material Icons";
								content: "\f043";
								font-size: 27px;
							}
						}
						.sjs-sortablejs-item {
							background: transparent !important;
							color: #8d8d8d !important;
							border-radius: 6px;
							width: 100%;
							border: 1px solid #f2f5f8;
							padding: 10px 20px !important;
						}
					}
					.sv-boolean--indeterminate {
						.sv-boolean__slider {
							// margin-left: unset;
						}
					}

					.sv-boolean__switch {
						border: 1px solid #dbdbdb;
						background-color: transparent;
						height: 36px;
						border-radius: 25px;
						width: 70px;
						padding: 4px 9px 4px 5px;
						margin: 0 10px;
						.sv-boolean__slider {
							background-color: #dbdbdb;
							height: 26px;
							width: 26px;
						}
					}
					.sv-boolean--checked.checked {
						.sv-boolean__switch {
							background-color: var(--survey-theme-color);
							border-color: var(--survey-theme-color);
						}
						.sv-boolean__slider {
							background-color: #fff;
						}
					}

					table.sv_q_matrix {
						border: 1px solid #e9e9e9;
						border-radius: 18px;
						// border-collapse: separate;
						// padding: 0 15px 15px;
						position: relative;
						min-width: 600px;
						thead {
							border-bottom: 1px solid #e9e9e9;
							background-color: var(--survey-theme-color);
							th {
								padding: 12px 10px;
								word-break: keep-all;
								vertical-align: initial;
								text-align: center;
								white-space: nowrap;
								color: #fff;
								span {
									font-size: 0.82rem;
									font-family: $SemiBoldFont;
									color: #fff;
									letter-spacing: 0.2px;
									word-break: keep-all;
								}
							}
						}
						tbody tr {
							&:nth-child(odd) {
								background-color: #f2f2f2;
							}
							&:nth-child(even) {
								background-color: #fff;
							}

							td {
								padding: 10px 10px;
								span {
									font-size: 0.82rem;
									font-family: $SemiBoldFont;
									color: #504658;
									letter-spacing: 0.2px;
									word-break: initial;
								}
								label.sv_q_m_label {
									position: relative;
									display: flex;
									justify-content: center;
									align-items: center;
									padding: 10px 0;
								}
							}
						}
					}

					.sv_p_container {
						.sv_row {
							padding: 0;
						}
					}
					+ .sv_p_footer {
						padding: 10px 0 0;
						.sv_edit_btn {
							background-color: #5a4e63;
							color: #fff;
							border: 0;
							min-height: 28px;
							border-radius: 25px;
							padding: 0 24px;
							margin: 0;
							font-family: $Font;
							font-size: 0.8rem;
							display: inline-flex;
							align-items: center;
							font-weight: normal;
							letter-spacing: 0.2px;
							&:focus {
								outline: 0;
							}
						}
					}
				}
			}
		}
	}

	.initial-letter-block {
		height: 50px;
		width: 100%;
		max-width: 50px;
		min-width: 50px;
		border-radius: 50%;
		background: #7a6c85;
		color: #fff;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		font-size: 1.5rem;
	}
	.captcha_verification {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10% 20px;
		max-width: 450px;
		width: 100%;
		margin: 0 auto;
		.error-message {
			color: #ff0000;
			font-size: 14px;
			margin: 5px 0;
			display: block;
			width: 100%;
			font-family: $SemiBoldFont;
		}
		.captcha_canvas {
			width: 100%;
			background-image: conic-gradient(
				#fff 0,
				#fff 90deg,
				#b1b1b1 90deg,
				#b1b1b1 180deg,
				#fff 180deg,
				#fff 270deg,
				#b1b1b1 270deg,
				#b1b1b1 360deg
			);
			background-size: 10px 10px;
			margin-bottom: 30px;
			height: 90px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			span {
				color: #131313;
				font-size: 2.5rem;
				padding: 0 20px;
				border-radius: 3px;
				pointer-events: none;
				font-family: $SemiBoldFont;
				user-select: none;
				font-style: italic;
			}
			button.reload_captcha {
				background-image: url(../../assets/images/reset-pink.svg);
				position: absolute;
				right: 25px;
				text-indent: -9999px;
				display: inline-block;
				background-color: #fff;
				border: 0;
				background-size: 80%;
				background-position: center;
				background-repeat: no-repeat;
				box-shadow: none;
				height: 20px;
				width: 20px;
				padding: 14px;
				border-radius: 3px;
			}
		}
		.captcha_input_wrapper {
			display: flex;
			flex-direction: column;
			width: 100%;
			label {
				font-family: $SemiBoldFont;
				margin-bottom: 10px;
			}
			.captcha_input_inner {
				display: flex;
				align-items: center;
			}
			.captcha_input {
				width: 100%;
				max-width: 100%;
				border-radius: 3px;
				border: 1px solid #b7b7b7;
				height: 34px;
				padding: 0 10px;
				text-align: center;
				font-size: 1rem;
				&:focus {
					outline: 0;
				}
			}
			.captcha_submit_btn {
				margin-left: 10px;
				background-color: #5a4e63;
				border-radius: 25px;
				height: 34px;
				padding: 0 15px;
				font-size: 0.85rem;
				border: 0;
				color: #fff;
				line-height: 33px;
			}
		}
	}
	//preview css end

	@media (max-width: 767px) {
		padding: 0;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		.feedback-main-wrapper {
			height: calc(100% - 124px);
		}
		.preview-survey-header {
			padding: 10px 20px 5px;
			border-radius: 0;
			background-color: #5a4e63;
			margin-bottom: 0;
			height: unset;
			justify-content: unset;
			align-items: flex-start;
			height: 80px;
			min-height: 80px;
			.preview-survey-header-left {
				margin-bottom: 0;
				flex: 1;
				overflow: hidden;
				flex-direction: column;
				align-items: flex-start;
			}
			.preview-text-wrap {
				width: 100%;
			}
			.preview-survey-header-right {
				.preview-survey-logo-wrap {
					margin-right: 0;
					margin-left: 10px;
				}
			}
			.preview-survey-logo-wrap {
				margin-right: 10px;
				height: 40px;
			}
			.preview-survey-logo {
				min-width: 40px;
				width: auto;
				height: 40px;
				object-fit: unset;
			}
			.preview-survey-company-name {
				font-size: 0.8rem;
				margin-bottom: 0;
				display: none;
			}
			.preview-survey-name {
				color: #fff;
				font-size: 0.8rem;
				margin-top: 5px;
			}
			.preview-survey-poweredby-wrap {
				display: flex;
			}
		}
		.feedback-survey-content {
			padding: 0;
		}
		.preview-survey-poweredby-wrap {
			margin: auto 0 0;
			padding: 0px 20px;
			background: #e1e1e1;
			justify-content: flex-end;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
		}
		.preview-survey-poweredby-heading {
			margin-right: 15px;
		}
		.initial-letter-block {
			height: 40px;
			width: 100%;
			max-width: 40px;
			min-width: 40px;
			font-size: 1.3rem;
		}

		#surveyPreview {
			.sv_body .sv_nav {
				margin: 20% 0 20px;
				justify-content: center;
			}
			.sv_main.sv_default_css .sv_container .sv_body .sv_p_root {
				.sv_page_title {
					padding: 0px 25px 0;
					margin: 30px 0 8px;
					color: $ThemeColor;
					font-size: $CeTitle;
					+ div span {
						margin: 0;
					}
				}
			}
			.sv_main.sv_default_css .sv_container .sv_body .sv_p_root .sv_row {
				padding: 10px 15px;
				.sv_q.sv_qstn fieldset.sv_qcbc {
					.sv_q_checkbox,
					.sv_q_select_column {
						width: 100%;
						max-width: 100%;
						margin-right: 0;
						.sv_q_checkbox {
							padding: 10px 0;
						}
						.sv_q_checkbox_label {
							white-space: normal;
							position: relative;
							padding-left: 16px;
							.sv_q_checkbox_control_item {
								position: absolute;
								left: 1px;
								top: 4px;
							}
						}
					}

					.sv_q_radiogroup {
						width: 100%;
						max-width: 100%;
						margin-right: 0;
						padding: 6px 0;
						&:first-of-type {
							padding-top: 0;
						}
						.sv_q_radiogroup_label {
							white-space: normal;
							position: relative;
							padding-left: 16px;
							.sv_q_radiogroup_control_item {
								position: absolute;
								left: 1px;
								top: 4px;
							}
						}
					}
					.sv_q_checkbox {
						width: 100%;
						max-width: 100%;
						margin-right: 0;
						padding: 6px 0;
						&:first-of-type {
							padding-top: 0;
						}
						.sv_q_checkbox_label {
							white-space: normal;
							position: relative;
							padding-left: 16px;
							.sv_q_checkbox_control_item {
								position: absolute;
								left: 1px;
								top: 4px;
							}
						}
					}

					.sv_q_select_column {
						width: 100%;
						max-width: 100%;
						margin-right: 0;
						&:first-of-type .sv_q_radiogroup,
						&:first-of-type .sv_q_checkbox {
							padding-top: 0;
						}
						.sv_q_checkbox,
						.sv_q_radiogroup {
							padding: 6px 0;
						}
						.sv_q_radiogroup_label,
						.sv_q_checkbox_label {
							white-space: normal;
							position: relative;
							padding-left: 16px;
							.sv_q_radiogroup_control_item,
							.sv_q_checkbox_control_item {
								position: absolute;
								left: 1px;
								top: 4px;
							}
						}
					}
				}
				.sv_cw_pretty_checkbox_radiogroup,
				.sv_cw_pretty_checkbox_checkbox {
					width: 100% !important;
				}

				.slider.slider-horizontal {
					width: calc(100% - 20px);
					margin: 20px 10px 0;
				}
				.br-theme-css-stars .br-widget a {
					margin-right: 10px;
				}
				.sv_q_imgsel.sv_q_imagepicker_inline {
					margin: 0 8px 0px;
					.sv_q_imgsel_label > div .sv_q_imgsel_image {
						height: 70px;
						width: 80px;
					}
				}
				.sv_q_rating {
					margin: 0 -5px;
					fieldset {
						display: flex;
						flex-direction: column;
						.sv_q_rating_item_text {
							width: 100%;
							border-radius: 25px;
							text-align: center;
							justify-content: center;
						}
					}
					.sv_q_rating_item {
						padding: 0 5px;
					}
				}

				.sv_q.sv_qstn {
					.sv_q_text_root {
						min-width: 170px;
					}
					.sv_q_matrix_dropdown {
						tbody {
							td {
								.sv_qcbc {
									white-space: normal;
									text-align: left;
									display: inline-block;
								}
							}
						}
					}
					.select2-hidden-accessible + .select2-container--default {
						min-width: 100%;
						width: 100% !important;
					}
				}
			}
		}

		.finish_later_btn_wrap {
			padding: 0 20px;
			margin-bottom: 20px;
			margin-top: 50px;
		}
	}

	@media (max-width: 767px) and (orientation: portrait) {
		#surveyPreview
			.sv_main.sv_default_css
			.sv_container
			.sv_body
			.sv_p_root
			.sv_row
			.sv_q.sv_qstn
			.sv_q_matrix_dropdown {
			min-width: 700px;
		}
	}
	.sv_q_dropdown_control[disabled] {
		margin-top: 8px;
	}

	// For wellness Report
	@import "../../assets/scss/wellness_report";

	// For Diversity Report
	@import "../../assets/scss/diversity_report";
}
