.ezi_custom_table {
    margin: 0;
    border-radius: 5px;
    width: 100%;
    display: table;
    background-color: #FFFFFF;
    -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
    box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08); 

    .custom_table-heading-wrap{
        text-align: center;
        display: block;
    }

    .ezi_custom_table-row  {
        display: table-row;
        .ezi_custom_table-cell{
            font-family: $SemiBoldFont;
            font-size: 0.78rem;
        }            
        &:last-child{
            .ezi_custom_table-cell{
                border-bottom: 0;
            }
        }
      }
      .ezi_custom_table-row.category-table-heading {
        font-family: $SemiBoldFont;
        .ezi_custom_table-cell{
            padding: 20px 15px;
            color: #B7B7B7;
            font-size: 0.8rem;
            font-family: $SemiBoldFont;
            &:first-child{
                text-align:left;
                padding-left: 40px;
            }    
            &:last-child{
                padding-right: 40px;
            }    
       
        }
      }
      .ezi_custom_table-cell {
        padding: 30px 12px;
        display: table-cell;
        text-align: left;            
        border-bottom: 1px solid #e9e9e9;             
        vertical-align: middle;
        color: #1C1C1C;
        font-size: 0.85rem;
        &:first-child{
            text-align:left;
            padding-left: 40px;
        }
        &:last-child{
            padding-right: 40px;
        }
      }
   
      

      @mixin icon-default{
        background: transparent;
        border: 0;
        padding: 0;
        color: #C5C5C5;
        transition: color 0.3s ease;
        font-family: $Font;
        font-size: 0.85rem;
        display: inline-flex;
        align-items: center; 
        &:focus{
            outline: 0;
        }
        &:before{
            content: '';
            display: inline-block;
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            margin-right: 2px;
            transition: background-image 0.3 ease;

        }
        &:hover{
            color: $ThemeColor;
        }
      }
      .delete_data {                
        @include icon-default ;  
        &:hover{
            &:before{
                background-image: url(../images/table_delete_active_ic.svg); 
            }
        }
        &:before{
            background-image: url(../images/table_delete_ic.svg);     
            background-size: 11px;   
        }
    }
    .edit_data {
        @include icon-default ;       
        &:hover{
            &:before{
                background-image: url(../images/calendar_pink.svg); 
            }
        }
        &:before{
            background-image: url(../images/datepicker_c5.svg);        
        }
    }
 

      .category-table-survey-wrap {
        display: flex;
        align-items: center;
        cursor: pointer;
    }        
    .category-survey-logo {
        height: 50px;
        width: 50px;
        min-width: 50px;
        margin-right: 25px;
        border-radius: 4px;
    }
    .category-table-survey-name {
        color: #1C1C1C;
        font-family: $SemiBoldFont;
        font-size: $SurveyName;
        margin-bottom: 2px;
        text-transform: capitalize;
    }
    .category-table-create{
        font-size: 0.75rem;
        color: #B7B7B7;
    }
    
    .category-table-survey-text-wrap {
        display: flex;
        flex-direction: column;
    }
    .table-count {
        height: 24px;
        line-height: 24px;
        min-width: 28px;
        background: #CFCDD2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
        font-size: 0.8rem;
        padding: 0 10px;
        color: #504658;
    }

    

  
    .custom_table_action-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .custom_table_action-btn{
        border: 1px solid #e9e9e9;
        color: #8D8D8D;
        background: transparent;
        border-radius: 25px;
        font-size: 0.8rem;
        padding: 0 20px;
        min-height: 30px;
        font-family: $Font;
        transition: all 0.3s ease;
        &:focus{
            outline: 0;
        }
        &:hover{
            background-color: $ThemeColor;
            border-color: $ThemeColor;
            color:#fff;
        }
        &[disabled]{
            opacity: 0.4;
            &:hover{
                background-color: transparent;
                color: #8D8D8D;
            }
        }
    }

  }   
  .category-table-no-result {
    height: 250px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e9e9e9;
    color: #b7b7b7;
    font-size: 1rem;
}
.category-pagination-formatter{
    background-color: #fff;
}
  

  @media screen and (max-width: 850px) {
    .ezi_custom_table {
        display: block;
        background: transparent;
        box-shadow: none;
        .ezi_custom_table-row  {
            padding: 14px 0 0;
            display: block;
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 5px 5px 0 0;
            box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
            &:first-child{
                margin-bottom: 0;
            }
          }
      }
   
    .ezi_custom_table-row.category-table-heading {
      padding: 0;
      height: 6px;
      background: $ThemeColor;
      .ezi_custom_table-cell {
        display: none;
      }
    }
    
    .ezi_custom_table-row .ezi_custom_table-cell {
        padding: 20px 16px;
        display: flex;
        align-items: center;
        text-align: left;
        &:first-child {
            padding: 20px 16px;
        }
      &:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
      }
    }
    
    
  }


@media (max-width:463px){

    .category-dashboard-card{
        &.active_survey,&.closed_survey,&.unpublish_survey,&.create-survey--c{
            max-width: 100%;
        }
    }
}