
&.default{

    .ezi-survey-header{
        color: #f56624;
        background-color: #fdddce;
    }

    #surveyPreview {
        .sv_body .sv_nav {
            .sv_start_btn{
                background-color: #f7834e;
                &:hover{
                    background-color:#f56624;                  
                }
            }
            .sv_next_btn{
                background-color: #f7834e;
                &:hover{
                    background-color:#f56624;                  
                }
            }
            .sv_prev_btn{
                background-color: #f7834e;
                border-color: #f7834e;
                color:#fff;
                &:hover{
                    background-color:#f56624;     
                    border-color: #f56624;             
                }
            }
            .sv_complete_btn{
                background-color: #f7834e;
                &:hover{
                    background-color:#f56624;                  
                }
            }
            .sv_preview_btn{
                background-color: #f7834e;
                &:hover{
                    background-color:#f56624;                  
                }
            }
        }
        .sv_main.sv_default_css .sv_container .sv_body .sv_p_root .sv_row {
            .sv_q_num{
                color: #f7834e;
            }
            .br-theme-css-stars .br-widget a.br-active:after{
                background-image: url(../images/widget/orange.svg); 
            }
            .br-theme-css-stars .br-widget a.br-selected:after{
                background-image: url(../images/widget/orange.svg); 
            }
            .sv_q.sv_qstn.survey_question_unanswered .sv_q_title{
                // background-color: #FBCDC8;
                background-color: #fdddce;
            }
            table.sv_q_matrix {
                width: 100%;
                thead{
                    background-color: #f7834e;
                }
            }
            .sv_cw_pretty_checkbox_radiogroup .pretty .pretty.p-toggle .state.p-success label:after,
            .sv_cw_pretty_checkbox_radiogroup .pretty input:checked~.state.p-success label:after{
                background-color: #f7834e !important;
            }
            .sv_cw_pretty_checkbox_checkbox .pretty .pretty.p-toggle .state.p-success label:after,
            .sv_cw_pretty_checkbox_checkbox .pretty input:checked ~ .state.p-success label:after{
                background-color: #f7834e !important;
            }
            .sv_q_rating .sv_q_rating_item.active .sv_q_rating_item_text{
                background: #f7834e !important;
                color: #fff;
                border-color:#f7834e !important;
            }
        }
        .sv_progress{
            background-color: #cccccc;
            .sv_progress_bar{
                background: #f7834e;
            }
        }


    }
    

    .languageDropdown .show.dropdown .dropdown-menu a:hover {
        color:#f7834e;
    }
    

    @media (max-width:767px) {
        
        #surveyPreview .sv_main.sv_default_css .sv_container .sv_body .sv_p_root .sv_row .sv_q.sv_qstn fieldset.sv_qcbc {
            .sv_q_select_column{
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                .sv_q_checkbox_label{
                    white-space: normal;
                    position: relative;
                     padding-left: 16px;
                     .sv_q_checkbox_control_item {
                        position: absolute;
                        left: 1px;
                        top: 4px;
                    }
                }
            }
            .sv_q_radiogroup {
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                .sv_q_radiogroup_label{
                    white-space: normal;
                    position: relative;
                     padding-left: 16px;
                     .sv_q_radiogroup_control_item {
                        position: absolute;
                        left: 1px;
                        top: 4px;
                    }
                }
            }
        }
        
    }

}