&.diversity{

    *[tabIndex]:focus {
        outline: 1px solid #5a4e63 !important;
    }
    input:focus,textarea:focus{
        outline: 1px solid #5a4e63!important;
    }
    .preview-survey-company-name[tabIndex]:focus,.preview-survey-name[tabIndex]:focus{
        color:#fff8dc !important;
    }

    .ezi-survey-header{
        background-color: #3cb4b2;
        color:#fff;
    }
    .preview-survey-header {
        background-color: #7A6C85;
        .preview-survey-logo{
            object-fit: contain;
            border-radius: 0;
        }
    }
    #surveyPreview {

        .sv_body .sv_nav {
            .sv_start_btn,.sv_next_btn,.sv_prev_btn,.sv_complete_btn,.sv_preview_btn,.sv_edit_btn{
                background-color: #3cb4b2;
                border-color: #3cb4b2;
                color:#fff;
                &:hover{
                    background-color: darken(#3cb4b2, 10%);
                    border-color: darken(#3cb4b2, 10%);
                }
            }
        }
        .sv_main.sv_default_css .sv_container .sv_body .sv_p_root .sv_row {
            + .sv_p_footer .sv_edit_btn {
                background-color: #3cb4b2;
                border-color: #3cb4b2;
                color:#fff;
                &:hover{
                    background-color: darken(#3cb4b2, 10%);
                    border-color: darken(#3cb4b2, 10%);
                }
            }

            .sv-boolean--checked.checked .sv-boolean__switch {
                background-color: #3cb4b2;
                border-color: #3cb4b2;
            }

            .sv_q.sv_qstn.survey_question_unanswered .sv_q_title{
                // background-color: #FBCDC8;
                background-color: #D8F0EF;
            }
            table.sv_q_matrix {
                width: 100%;
                thead{
                    background-color: #3cb4b2;
                }
            }
            .sv_cw_pretty_checkbox_radiogroup .pretty .pretty.p-toggle .state.p-success label:after,
            .sv_cw_pretty_checkbox_radiogroup .pretty input:checked~.state.p-success label:after{
                background-color: #3cb4b2 !important;
            }
            .sv_cw_pretty_checkbox_checkbox .pretty .pretty.p-toggle .state.p-success label:after,
            .sv_cw_pretty_checkbox_checkbox .pretty input:checked ~ .state.p-success label:after{
                background-color: #3cb4b2 !important;
            }
            .sv_q_rating .sv_q_rating_item.active .sv_q_rating_item_text{
                background: #3cb4b2 !important;
                color: #fff;
                border-color:#3cb4b2 !important;
            }
        }
        .sv_progress{
            background-color: #cccccc;
            .sv_progress_bar{
                background: #3cb4b2;
            }
        }


    }
    

    .languageDropdown .show.dropdown .dropdown-menu a:hover {
        color:#3cb4b2;
    }

    @media (max-width:768px) {
        #surveyPreview {
            .sv_main.sv_default_css .sv_container .sv_body .sv_p_root .sv_row {
                .sv_q.sv_qstn fieldset.sv_qcbc .sv_q_select_column{
                    min-width: 100%;
                    margin-right:0;
                }
            }
        }
    }

}