.ezi-modal-wrapper{
    &.info-alert_c{
        .modal-content{
            border-radius: 5px;
        }
    }

    .ezi-modal-header{
        border-bottom: 1px solid #E9E9E9;
        .ezi-modal-title-wrap {
            display: flex;
            width: 100%;
        }
        .ezi-modal-close{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            background: #F2F5F8;
            border-radius: 50%;
            margin-left: auto;
            background-image: url(../images/modal_close_ic.svg);
            background-size: 11px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .ezi-modal-header-title {
            color: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1.1rem !important;
            padding-right: 12px;
        }
    
    }

    .modal-body{
        padding: 20px;
    }

    .ezi-modal-footer{
        padding: 20px 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .ezi-modal-close-btn{
            background: transparent;
            border: 0;
            padding: 4px 12px;
            margin: 0;
            margin-right: 10px;
            color: #b1b1b1;
            font-family: "NunitoSansSemiBold";
            font-size: 0.8rem;
        }
        .ezi-modal-save-btn{
            padding: 0 26px;
        }

    }
    .header-info-description{
        color:#504658;
        font-size: 0.9rem;
    }
    .bold_c{
        color: $ThemeColor;
        font-size: 0.9rem;
        font-family: $SemiBoldFont;
    }
    .info-modal-img-wrap{
        display: flex;
        justify-content: center;
    }   
}
@media (max-width: 768px) {
    .info-modal-img-wrap{
        img{
            width: 100%;
        }
    }  
}
.reasons-list-wrapper{
    margin: 0;
    padding: 0 10px;
    .reasons-list-item{
        list-style: none;
        color: #1e1e1e;
        font-size: 0.95rem;
        margin-bottom: 15px;
        display: block;
        font-family: $SemiBoldFont;
        position: relative;
        padding-left: 15px;
        &:before{
            content: '';
            min-width: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 8px;
            margin-top: 4px;
            background-color:#504658;
            position: absolute;
            top: 2px;
            left: -1px;
        }
    }
  
}
.ind-reasons-list-wrapper{
    margin: 0;
    padding: 0 26px;
    position: relative;
    .list-item-que{
        color: #1e1e1e;
        font-size: 0.95rem;
        margin-bottom: 0;
        font-family: $SemiBoldFont;
        &::before{
            content: attr(index)'.';
            position: absolute;
            left: 0;
            top:1px;
        }
    }
    .list-item-ans{
        color: #aaa;
        font-size: 0.9rem;
        display: block;
        line-height: 22px;
        margin-bottom: 10px;
    }
}

.theme-field-wrapper.individual-comment-form-wrap .theme-field-control{
    margin: 0 0 20px;
    &.area{
        padding: 10px;
    }
}
.individual-comment-list{
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    .individual-comment-name{
        color: $ThemeColor;
        font-size: 0.75rem;
        margin-right: 15px;
    }
    .individual-comment-date{
        color: #C7C7C7;
        font-size: 0.75rem;
        white-space: nowrap;
        font-family: $ItalicFont;
    }
    .individual-comment-info {
        display: flex;
        align-items: center;
    }
    .individual-comment-reply {
        margin-left: auto;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover{
            color: $ThemeColor;
        }
    }
}
.individual-comment-badge-wrap{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    flex-wrap: wrap;
    .individual-comment-badge{
        margin: 0 6px 8px;
        background-color: #F6F6F6;
        font-size: 0.75rem;
        padding: 4px 10px;
        border-radius: 25px;
        white-space: nowrap;
        &:first-child{
            margin-left: 0;
        }
    }
}

.survey-date-change-wrapper{
    padding: 0 15px;
}
.survey-date-change-field {
    margin: 15px 0;
    label {
        color: #b7b7b7;
        font-size: 0.85rem;
        min-width: 140px;
        margin-bottom: 10px;
    } 
}

.ezi-datepicker-custom{
    border-radius: 5px;
    &.react-datetime-picker--disabled{
        background-color: #f0f0f0;
        .react-datetime-picker__wrapper{
            border:1px solid #f0f0f0;
        }
    }
    .react-datetime-picker__wrapper{
        border: 1px solid #f0f0f0;
        padding: 4px 10px;
        border-radius: 5px;
        .react-datetime-picker__inputGroup{
            min-width: 200px;
        }
        input{
            color:#5A4E63;
            &:focus{
                outline: 0;
            }
        }
        select{
            color:#5A4E63;
            &:focus{
                outline: 0;
            }
        }
    }

}

.filter-selection-modal{
    .ezi-modal-header-title {
        display: flex;
        width: 100%;
    }
    .ezi-modal-close{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        background: #F2F5F8;
        border-radius: 50%;
        margin-left: auto;
        background-image: url(../images/modal_close_ic.svg);
        background-size: 11px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .applied-filter-badge{
        display: flex;
        flex-direction: column;
    }
    .applied-filter-inner {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .filter-selection-content{
        padding: 10px 15px;
    }
    .filter-modal-heading {
        font-family: $SemiBoldFont;
        background: transparent;
        color: #5A4E63;
        display: inline-flex;
        align-items: flex-start;
        min-width: 130px;
        max-width: 130px;
        margin-right: 10px;
    }
    .modal-badges-wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .filter-modal-badge {
        background-color: #e5e5e5;
        font-size: 0.75rem;
        padding: 2px 8px;
        border-radius: 25px;
        margin: 0 5px 7px;
        color: #9b9999;
        button {
            background: transparent;
            border: 0;
            font-family:$SemiBoldFont;
            color: #A1A9B1;
            padding: 0 6px;
        }
    }
    .modal-badge-cross{
        background: transparent;
        border: 0;
        font-family:$SemiBoldFont;
        color: #A1A9B1;
        padding: 0 6px;
        font-size: 0.75rem;
        line-height: 26px;
    }
}