.ezi-radio {
    display: block;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    user-select: none;
    height: 18px;
    width: 18px;
    margin-right: 10px;
  }
  
  /* Hide the browser's default radio button */
  .ezi-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .ezi-radio-mark  {
  position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border: 1px solid #b7b7b7;
  }
  
  /* On mouse-over, add a grey background color */
  .ezi-radio:hover input ~ .ezi-radio-mark  {
    background-color: #E9E9E9;
  }
  
  
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .ezi-radio-mark :after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .ezi-radio input:checked ~ .ezi-radio-mark :after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .ezi-radio .ezi-radio-mark :after {
           top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $ThemeColor;
  }