/* The ezi-checkbox start*/
.ezi-checkbox { display: inline-flex; align-items: center; position: relative; height: 16px; width: 17px; cursor: pointer; font-size: 22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin: 0 15px 0 0; }

.ezi-checkbox input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }


.ezi-checkbox-mark { position: absolute; top: 0; left: 0; height: 16px; width: 17px; border: 1px solid #C5C5C5; border-radius:3px; }


.ezi-checkbox:hover input ~ .ezi-checkbox-mark { background-color: #ccc; }


.ezi-checkbox input:checked ~ .ezi-checkbox-mark { background-color: $ThemeColor; border-color: $ThemeColor; }

.ezi-checkbox-mark:after { content: ""; position: absolute; display: none; }


.ezi-checkbox input:checked ~ .ezi-checkbox-mark:after { display: block; }

.ezi-checkbox .ezi-checkbox-mark:after { left: 5px; top: 0px; width: 6px; height: 11px; border: solid white; border-width: 0 2px 2px 0; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
/* The ezi-checkbox End*/