.ezi-editor-wrapper {
    border: 1px solid #DBDBDB;
    background-color: #E9E9E9;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
}

.ezi-editor-toolbar {
    border-radius: 8px 8px 0 0;
    border: 0;
}

.ezi-editor-inner {
    padding: 0 20px;
    min-height: 150px;
    overflow-x: hidden;
}