.response-table-wrap{
    margin-bottom: 2%;
}

.download-report-table {
    margin: 10px 0 0;
    border-radius: 5px;
    width: 100%;
    display: table;
    background-color: #FFFFFF;
    -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
    box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
}

.download-report-table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
.download-report-table thead tr {
    background-color: #7A6C85;
    th{
        color: #fff;
        padding: 14px 15px;
        white-space: nowrap;
    }
}
.download-report-table tr {
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    padding: .35em;
    border-radius: 5px;
}
.download-report-table td {
    padding: 20px 12px;
    display: table-cell;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    vertical-align: middle;
    color: #504658;
    font-size: 0.85rem;
    font-family: $SemiBoldFont;
}

.download-report-table th {
    padding: 20px 15px;
    color: #B7B7B7;
    font-size: 0.8rem;
    font-family: $SemiBoldFont;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .download-report-table {
        border: 0;
    }
    .download-report-table caption {
        font-size: 1.3em;
    }
    .download-report-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        padding: 0;
    }
    .download-report-table tr {
        border-bottom: 10px solid #e1e5e9;
        display: block;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
    }
    .download-report-table th,
    .download-report-table td {
        padding: 0.625em;
    }
    .download-report-table td {
        display: flex;
        font-size: .8em;
        text-align: left;
        color: #9da9b9;
        word-break: break-word;
    }
    .download-report-table td::before {
        content: attr(data-title);
        font-weight: bold;
        text-transform: uppercase;
        color: #656971;
        margin-right: auto;
        color:#504658;
        white-space: nowrap;
        min-width: 94px;
        text-align: left;
    }
    .download-report-table td:last-child {
        border-bottom: 0;
    }

}