
&.wellness{
    .ezi-survey-header{
        background-color: #3cb4b2;
        color:#fff;
    }
    .preview-survey-header {
        background-color: #7A6C85;
        .preview-survey-logo{
            object-fit: contain;
            border-radius: 0;
        }
    }
    #surveyPreview {
        .sv_body .sv_nav {
            .sv_start_btn{
                background-color: #3cb4b2;
            }
            .sv_next_btn{
                background-color: #3cb4b2;
            }
            .sv_prev_btn{
                background-color: #3cb4b2;
                border-color: #3cb4b2;
                color:#fff;
            }
            .sv_complete_btn{
                background-color: #3cb4b2;
            }
            .sv_preview_btn{
                background-color: #3cb4b2;
            }
        }
        .sv_main.sv_default_css .sv_container .sv_body .sv_p_root .sv_row {
            .sv_q.sv_qstn.survey_question_unanswered .sv_q_title{
                // background-color: #FBCDC8;
                background-color: #D8F0EF;
            }
            table.sv_q_matrix {
                width: 100%;
                thead{
                    background-color: #3cb4b2;
                }
            }
            .sv_cw_pretty_checkbox_radiogroup .pretty .pretty.p-toggle .state.p-success label:after,
            .sv_cw_pretty_checkbox_radiogroup .pretty input:checked~.state.p-success label:after{
                background-color: #3cb4b2 !important;
            }
            .sv_cw_pretty_checkbox_checkbox .pretty .pretty.p-toggle .state.p-success label:after,
            .sv_cw_pretty_checkbox_checkbox .pretty input:checked ~ .state.p-success label:after{
                background-color: #3cb4b2 !important;
            }
            .sv_q_rating .sv_q_rating_item.active .sv_q_rating_item_text{
                background: #3cb4b2 !important;
                color: #fff;
                border-color:#3cb4b2 !important;
            }
        }
        .sv_progress{
            background-color: #cccccc;
            .sv_progress_bar{
                background: #3cb4b2;
            }
        }


    }
    

    .languageDropdown .show.dropdown .dropdown-menu a:hover {
        color:#3cb4b2;
    }
    

}// wellness report end