@import "./variable";
.header {
    display: flex;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 999;
}

.logo-img {
    // height: auto;
    // max-width: 130px;
    height: 40px;
    max-width: 100%;
    width: auto;
}
.humberger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #504658;
    height: 60px;
    width: 60px;
    flex-direction: column;
}
.humberger-inner {
    cursor: pointer;
}
.logo-wrap {
    display: inline-flex;
    align-items: center;
}

.logo {
    display: inline-flex;
    margin: 0 20px;
    align-items: center;
}
.humberger-inner .header-humburger-icon {
    height: auto;
    width: 28px;
}

.menu-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.notification-info {
    display: inline-flex;
    align-items: center;
    margin-right: 50px;
    height: 100%;
}

.user-info {
    display: inline-flex;
    align-items: center;
}

.avtar {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.user-detail {
    flex-direction: column;
    display: inline-flex;
    align-items: flex-start;
    margin-right: 10px;
}

.user-detail label {
    font-family: $SemiBoldFont;
    color: #1c1c1c;
    font-size: 16px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.user-detail span {
    text-align: right;
    color: #b7b7b7;
    font-size: 12px;
    font-family: $Font;
}
.notification {
    margin: 0 20px;
    position: relative;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.notification:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    background-color: $ThemeColor;
}
.noti-icon {
    background: url(../../assets/images/notification.png);
    background-size: 22px;
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
}
.notifications > .notifications-wrapper {
    @keyframes example {
        0% {
            transform: translate(0, 10px);
        }
        100% {
            transform: translate(0, 0);
        }
    }
    height: auto;
    max-height: 290px;
    animation-name: example;
    animation-duration: 0.2s;

    &::before {
        content: "";
        top: -11px;
        border: 7px solid transparent;
        border-bottom-color: white;
        right: 36px;
        position: absolute;
        z-index: 999;
    }
}
.noti-icon.has-noti:before {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    height: 5px;
    width: 5px;
    min-width: 5px;
    background: $ThemeColor;
    border-radius: 50%;
}
.notifications-wrapper {
    position: absolute;
    top: 105%;
    background: #f2f5f8;
    height: 0;
    min-width: 280px;
    right: -56%;
    .notifications-lists {
        margin: 0;
        margin-top: 2px;
        background: #ffff;
        height: 100%;
        overflow: hidden;
        border: 0;
        padding: 0;
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.1);
        position: relative;
        border-radius: 0.25rem;
        .search-loader-position .serach-loader-wrapper_c {
            background: unset;
        }

        li {
            font-size: 0.8rem;
            color: #504e4e;
            font-family: $SemiBoldFont;
            display: flex;
            border-bottom: 1px solid #eee;
            padding: 0;
            margin-bottom: 0px;
            cursor: pointer;
            &:last-of-type {
                border: 0px;
            }
            .messages-wrapper {
                display: flex;
                flex: 1;
                padding: 4px;
                .user-response {
                    margin-left: 10px;
                    .user-name {
                        margin-bottom: 2px;
                    }
                    .user-msg {
                        font-size: 0.7rem;
                        display: inline-block;
                        color: #7b7878;
                    }
                }
                .user-icon {
                    width: 40px;
                    height: 40px;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    min-width: 40px;
                    background-image: url(../images/user.png);
                    background-position: center;
                    background-size: 40px;
                    background-repeat: no-repeat;
                }
            }
        }
        .no-result {
            font-family: $SemiBoldFont;
            font-size: 0.8rem;
            color: #1c1c1c;
            text-align: center;
            margin: 20px 0;
        }
        .load-more-container {
            display: flex;
            border-top: 1px solid #e8e9ec;
            button {
                width: 100%;
                border: 0;
                background: #fff;
                cursor: pointer;
                color: $ThemeColor;
                font-family: $SemiBoldFont;
                font-size: 0.8rem;
                padding: 5px 0px;
                border: none;
                outline: none;
            }
            .mark-read:hover {
                background-color: #eee;
                color: #1c1c1c;
                transition: all 0.5s ease;
            }
            .view-all:hover {
                background-color: $ThemeColor;
                color: whitesmoke;
                transition: all 0.5s ease;
            }
        }
    }
}
.languageDropdown {
    margin-right: 5px;
    &:focus {
        outline: 0 !important;
        box-shadow: none !important;
    }
    button {
        display: inline-flex;
        background-color: transparent !important;
        border: 0;
        align-items: center;
        &:after {
            content: "";
            border: 5px solid transparent;
            border-top-color: #1c1c1c;
            margin-left: 10px;
            margin-top: 5px;
        }
        &:focus {
            outline: 0 !important;
            box-shadow: none !important;
        }
        .flag-avtar-wrap {
            // height:38px;
            // width: 38px;
            // min-width: 38px;
            .country-flag-label {
                color: #1c1c1c;
                font-family: $SemiBoldFont;
                margin: 0;
                font-size: 1rem;
            }
            .flag-avtar {
                height: 100%;
                min-width: 100%;
                border-radius: 50%;
            }
        }
    }
    .show.dropdown {
        .dropdown-menu {
            margin-top: 17px;
            border: 0;
            box-shadow: 0 3px 27px rgba(0, 0, 0, 0.09);
            padding: 1.1rem 0;
            a {
                color: #1c1c1c;
                font-size: 14px;
                font-family: $SemiBoldFont;
                padding: 0.45rem 1.5rem;
                transition: color 0.3 ease;
                cursor: pointer;
                .user-indication {
                    color: $ThemeColor;
                }
                &:hover {
                    color: $ThemeColor;
                }
                &:active {
                    background-color: inherit;
                }
            }
            .flag-img-wrap {
                display: flex;
                align-items: center;
                .flag_ic {
                    background-size: 100%;
                    height: 18px;
                    width: 18px;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-right: 12px;
                    border-radius: 50%;
                }
                .country-flag-label {
                    margin: 0;
                    cursor: pointer;
                }
            }
            .india-flag {
                background: url(../../assets/images/flag/india-flag.png);
            }
            .japan-flag {
                background: url(../../assets/images/flag/japan-flag.png);
            }
            .uae-flag {
                background: url(../../assets/images/flag/uae-flag.png);
            }
            &:after {
                content: "";
                border: 6px solid transparent;
                border-bottom-color: #fff;
                position: absolute;
                right: 24px;
                top: -12px;
            }
        }
    }
}

.userInfoDropdown .dropdown {
    &:focus {
        outline: 0 !important;
        box-shadow: none !important;
    }
    button {
        display: inline-flex;
        background-color: transparent !important;
        border: 0;
        align-items: center;
        &:after {
            content: "";
            border: 5px solid transparent;
            border-top-color: #1c1c1c;
            margin-left: 10px;
        }
        &:focus {
            outline: 0 !important;
            box-shadow: none !important;
        }
    }
    &.show {
        .dropdown-menu {
            margin-top: 10px;
            border: 0;
            box-shadow: 0 3px 27px rgba(0, 0, 0, 0.09);
            padding: 1.1rem 0;
            a {
                color: #1c1c1c;
                font-size: 14px;
                font-family: $SemiBoldFont;
                padding: 0.45rem 1.5rem;
                transition: color 0.3 ease;
                .user-indication {
                    color: $ThemeColor;
                }
                &:hover {
                    color: $ThemeColor;
                }
                &:active {
                    background-color: inherit;
                }
            }
            &:after {
                content: "";
                border: 6px solid transparent;
                border-bottom-color: #fff;
                position: absolute;
                right: 50px;
                top: -12px;
            }
        }
    }
}

.responsive-menu-wrap {
    display: none;
}
.menu-button {
    box-shadow: none;
    padding: 0;
    background: transparent;
    border: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    .menu-icon {
        background: url(../../assets/images/mobile_menu.svg);
        background-size: 30px;
        height: 40px;
        width: 40px;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
    }
}

@media (max-width: 600px) {
    .menu-wrap {
        justify-content: unset;
        .responsive-menu-wrap {
            display: block;
        }
        .notification-info {
            margin: 0px 10px 0px auto;
            .languageDropdown,
            .user-info {
                display: none;
            }
            .notification {
                margin: 0;
            }
        }
        .CommonDropdown {
            max-width: 160px;
            width: 100%;
            .dropdown button {
                width: 100%;
            }
        }
    }
}
