.side-tab-wrapper {
    display: flex;
    .side-tab {
        width: 100%;
        max-width: 230px;
        border-right: 1px solid #dde0e2;
        .nav-item {
            width: 100%;
            .nav-link {
                background-color: #fff;
                border-radius: 0px;
                position: relative;
                color: #c5c5c5;
                font-size: 0.87rem;
                font-size: $Font;
                &.active {
                    color: #504658;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 5px;
                        background-color: $ThemeColor;
                    }
                    background-color: #f2f5f8;
                }
            }
        }
    }
    .tab-content {
        width: 100%;
        padding: 0;
        .tab-pane {
            .tab-content-header {
                padding: 20px;
                border-bottom: 1px solid #dde0e2;
                .tab-content-header-title {
                    color: #504658;
                    font-family: $SemiBoldFont;
                    font-size: 1rem;
                    display: block;
                }
                .tab-content-header-subtitle {
                    color: #c5c5c5;
                    font-size: 0.77rem;
                    font-family: $Font;
                    display: block;
                }
            }
            .tab-content-body {
                padding: 20px;
            }
        }
    }
}
