@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
@import "../../assets/scss/ezicheckbox";
@import "../../assets/scss/eziradio";
@import "../../assets/scss/ezi_modal";

label.form-heading {
	display: block;
	color: #656565;
}
.modal-title {
	color: $ThemeColor;
	font-size: 20px;
	padding: 0px 15px;
}

.take-action-form {
	padding: 10px 20px;
}
a.Multiple-statements {
	display: block;
	color: #fff;
	border: 1px solid $ThemeColor;
	width: 50%;
	padding: 5px 12px;
	background: $ThemeColor;
	font-weight: 300;
	margin: 15px 0px;
	text-align: center;
}
a.Multiple-statements:hover {
	text-decoration: none;
	color: #fff;
}
div.statement-textarea {
	border: none;
	background: #fef9f9;
	outline: none;
	width: 62%;
	max-height: 62px;
	padding: 10px 15px;
	overflow-y: auto;
}
textarea.statement-textarea {
	border: none;
	background: #fff;
	outline: 1px solid lightgrey;
}
input.text-input {
	border: none;
	background: #e2ebf1;
	outline: none;
	min-width: 60%;
	padding: 5px;
}
.form-grp {
	padding: 10px 0px;
}
.form-grp.date {
	padding-top: 40px;
}

.react-date-picker__wrapper {
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	padding: 5px;
	border: none !important;
}
.react-date-picker__calendar {
	width: 350px;
	max-width: 100vw;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 99999;
}

.modal {
	max-width: 100%;
}
button.Submit-btn {
	background: $ThemeColor;
	border: none;
	border-radius: 3px;
	color: white;
	outline: none;
	padding: 2px 10px;
}
// .owner-action-section .form-grp .theme-error_cu.assigne-error .form-grp.date{
//     padding-top: 0;
// }
// span.submitted-data{
//     padding: 5px 15px;
//     box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
//     border-radius: 5px;
//     // background: #eceaea;
// }

// @media (min-width: 576px) {
//     .modal-dialog {
//         max-width: 50% !important;
//         margin: 1.75rem auto;
//     }
// }

/**
 * Main wrapper
 */
.select-search {
	// width: 300px;
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
}
.owner-action-section .select-search {
	position: absolute;
	z-index: 99999;
	width: 250px;
}

.select-search *,
.select-search *::after,
.select-search *::before {
	box-sizing: inherit;
}

/**
* Value wrapper
*/
.select-search__value {
	position: relative;
	// z-index: 1;
}

.select-search__value::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: calc(50% - 9px);
	right: 19px;
	width: 11px;
	height: 11px;
}

/**
* Input
*/
.select-search__input {
	display: block;
	height: 36px;
	width: 100%;
	padding: 0 60px 0 16px;
	background: #fff;
	border: 1px solid transparent;
	box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	outline: none;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	text-align: left;
	text-overflow: ellipsis;
	line-height: 36px;
	-webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
	cursor: initial;
}

/**
* Options wrapper
*/
.select-search__select {
	background: #fff;
	box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
* Options
*/
.select-search__options {
	list-style: none;
	padding: 0;
}

/**
* Option row
*/
.select-search__row:not(:first-child) {
	border-top: 1px solid #eee;
}

/**
* Option
*/
.select-search__option,
.select-search__not-found {
	display: block;
	min-height: 36px;
	width: 100%;
	padding: 0 16px;
	background: #fff;
	border: none;
	outline: none;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
}

.select-search--multiple .select-search__option {
	height: 48px;
}

.select-search__option.is-selected {
	background: transparent;
	color: $ThemeColor;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
	color: $ThemeColor;
}

/**
* Group
*/
.select-search__group-header {
	font-size: 10px;
	text-transform: uppercase;
	background: #eee;
	padding: 8px 16px;
}

/**
* States
*/
.select-search.is-disabled {
	opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
	background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
	cursor: pointer;
}

/**
* Modifiers
*/
.select-search--multiple {
	border-radius: 3px;
	overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
	transform: rotate(45deg);
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	pointer-events: none;
}

.select-search--multiple .select-search__input {
	cursor: initial;
}

.select-search--multiple .select-search__input {
	border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
	cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
	border: none;
}

.select-search:not(.select-search--multiple) .select-search__select {
	// position: absolute;
	// z-index: 2;
	top: 44px;
	right: 0;
	left: 0;
	border-radius: 3px;
	overflow: auto;
	max-height: 360px;
}

.select-search--multiple .select-search__select {
	position: relative;
	overflow: auto;
	max-height: 260px;
	border-top: 1px solid #eee;
	border-radius: 0 0 3px 3px;
}

.select-search__not-found {
	height: auto;
	padding: 16px;
	text-align: center;
	color: #888;
}
.theme-error_cu {
	color: red;
	clear: both;
	overflow: hidden;
	width: 100%;
	font-size: 0.9rem;
	display: block;
	padding: 5px 0px;
}
.respondant-button {
	border: 0px;
	background: $ThemeColor;
	color: #fff;
	padding: 10px 20px;
	margin: 5px 0px;
}
.view-resonse {
	display: flex;
	padding-top: 10px;
}
button.respondant-button {
	margin-left: auto;
}
label.submitted-form-heading {
	display: block;
	font-size: 16px;
	font-weight: 500;
	padding: 5px 0px;
}
.ezi-right-animated-modal.modal.fade .modal-dialog .modal-content {
	border-radius: 0;
	border: 0;
	height: auto !important;
	min-height: 100%;
}
.sweet-datepicker-custom.start {
	background: #fef9f9;
	// outline: 1px solid lightgrey;
	z-index: unset;
}
input.name-input {
	border: none;
	background: #fef9f9;
	outline: none;
	padding: 5px;
}
.owner-action-wrapper {
	display: flex;
	// justify-content: space-between;
	flex-wrap: wrap;
}
.owner-action-section {
	width: 50%;
	margin-right: 15px;
}
.tab-content {
	padding: 0px 0;
}
.ind-reasons-list-wrapper {
	margin: 0;
	padding: 0 26px;
	position: relative;
	.list-item-que {
		color: #1e1e1e;
		font-size: 0.95rem;
		margin-bottom: 0;
		font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
	}
	.list-item-ans {
		color: #aaa;
		font-size: 0.9rem;
		display: block;
		line-height: 22px;
		margin-bottom: 10px;
	}
}
.tab-left-header .nav-item a {
	padding-bottom: 15px;
}
.response-list {
	padding: 15px;
}
.tab-left-header .nav-item {
	margin-bottom: 0px;
	margin-right: 20px;
}
.actionModalTop {
	.modal-header .close {
		margin: -1rem 0rem 0rem auto;
	}
	.modal-body {
		padding: 0px 15px !important;
		textarea {
			padding: 5px;
		}
	}
	.modal-dialog {
		top: 0 !important;
		max-width: 50%;
	}
	.modal-header {
		padding-bottom: 0px;
	}
}

.actionReplyModalTop {
	.modal-dialog {
		top: 0 !important;
		max-width: 40%;
	}
}

span.theme-error_cu.assigne-error {
	padding-top: 45px;
}
.submit-button {
	padding: 10px 0px;
}

//**** Action Reply modal css****
.actionModalSentiReply {
	.theme-modal-title {
		padding: 0px 0px 2px 10px !important;
		.ezi-modal-close {
			padding: 0;
			background-color: transparent;
			border-radius: unset;
		}
	}
	.modal-dialog {
		max-width: 500px !important;
		margin: 1.75rem auto;
	}
	.theme-field-control {
		margin: 10px 10px 0px 10px;
	}
}
.action_statement_history {
	border-bottom: 1px solid #eee;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	cursor: pointer;
	color: #5b5a5a;
	font-weight: 500;
	&:hover {
		background-color: #f9f9f9;
		box-shadow: 1px 1px 2px #dfddde;
	}
	.descrip {
		.content-css {
			span {
				br {
					content: " ";
					&::after {
						content: " ";
					}
				}
			}
			.show-more-anchor {
				color: $ThemeColor;
				margin-bottom: 2%;
			}
			p {
				text-align: justify;
				margin: 0px;
			}
		}
	}

	.statement_tags {
		// position: relative;
		.view_action_plan {
			align-self: center;
			transition: all 0.3s ease;
			color: #5a4e63;
			margin: 2px 5px 5px 5px;
			cursor: pointer;
			padding: 2px 10px 5px 10px;
			border: 1px solid #707070;
			border-radius: 25px;
			font-size: 0.85rem;
			background-color: transparent;
			line-height: 1.3;
			bottom: -6px;
			// position: absolute;
			&:hover {
				background: #5a4e63;
				color: #fff;
			}
		}
	}
	.mode-tags {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		div {
			display: flex;
			flex-wrap: wrap;
		}
		.mode-right {
			color: #7d7c7c;
			padding-bottom: 3px;
			border-radius: 5px;
			font-size: 0.9rem;
			margin: 0 6px 3px 0;
			background: #f1f1f1;
			padding: 0px 8px 3px 8px;
			.mode-right-date,
			.mode-right-name {
				color: #afa9ab;
				font-weight: 400;
			}
		}
	}

	.action-not-created {
		color: #6d6b6b;
		margin: 0;
		padding: 6px 15px;
		background-color: #f7f1f1;
		font-size: $CeTitle;
	}
	@media (max-width: 600px) {
		.descrip {
			width: 100%;
			.content-css {
				padding-bottom: 10px;
			}
		}
	}
}

//**** Action Reply modal css****

@media (max-width: 576px) {
	.view-resonse {
		margin: 0px 20px;
	}
	textarea.statement-textarea {
		width: 100%;
	}
	button.respondant-button {
		margin-left: 0;
	}
	.select-search {
		width: 100%;
	}
	.actionModalTop .modal-dialog {
		max-width: 75% !important;
		margin: 1.75rem auto;
	}
	.take-action-form .select-search {
		width: 80%;
	}
	div.statement-textarea {
		width: 100%;
	}
}
@media (max-width: 768px) {
	textarea.statement-textarea {
		width: 100%;
	}
}
