@import "../../assets/scss/variable";
.ezi-modal-header-title{
    color: $ThemeColor;
    font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
    font-size: 1.1rem !important;
    padding-right: 12px;
}
.Page-Dashboard {
    padding: 40px 7%;
    background-color: #f2f5f8;
    
    .widgets-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        .widget-wrapper {
            min-height: 107px;
            height: 107px;
            margin: 0 8px;
            flex: 1 1 270px;
            background-color: #ffffff;
            border-radius: $ReportWidgetRadius;
            display: flex;
            border: 1px solid #e8e9ec;
            padding: 15px;
            position: relative;
            margin-bottom: $ReportWidgetMargin;
            -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.05);
            box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.05);
            .score-info {
                position: absolute;
                right: 5px;
                top: 5px;
                width: 20px;
                height: 20px;
                background-image: url(../../assets/images/ezipopover.svg);
                background-size: 80%;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
            .score-left {
                flex: 1 1;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                .score-label,
                .score-count {
                    margin-bottom: 7px;
                    font-family: $SemiBoldFont;
                    white-space: nowrap;
                }
                .score-label {
                    color: #1e1e1e;
                    font-size: 0.9rem;
                }
                .score-count {
                    color: #165888;
                    font-size: 1.7rem;
                }
                .score-indicators {
                    display: inline-flex;
                    align-items: center;
                    .arrow-indicator {
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        background-position: top -2px center;
                        &.arrow-up {
                            background-image: url(../../assets/images/arrow_upward.svg);
                        }
                        &.arrow-down {
                            background-image: url(../../assets/images/arrow_down.svg);
                        }
                    }
                    .since_number {
                        font-family: $Font;
                        font-size: 0.8rem;
                        margin: 0 10px 0 2px;
                        &.positive {
                            color: #5aaf2b;
                        }
                        &.negative {
                            color: red;
                        }
                    }
                    .since_text {
                        font-family: $Font;
                        font-size: 0.8rem;
                        color: #b7b7b7;
                    }
                }
            }
            .score-right {
                background-repeat: no-repeat;
                background-position: center;
                height: 52px;
                width: 52px;
                align-self: center;
                display: inline-flex;
                border-radius: 50%;
                &.positive {
                    background-color: #e2ebf1;
                    background-image: url(../../assets/images/report/speed-blue.svg);
                }
                &.negative {
                    background-color: #ffe4ee;
                    background-image: url(../../assets/images/report/speed.svg);
                }
            }
        }
    }
    .greet-text-section {
        .page-heading {
            font-weight: normal;
            color: #504658;
            font-family: $Font;
            font-size: 1.4rem;
            text-transform: capitalize;
        }
    }
    .widgetinfo .modal-title {
        color: $ThemeColor;
        font-size: 20px;
        padding: 0px 15px;
    }
    @mixin icon-default {
        background: transparent;
        border: 0;
        padding: 0;
        color: #c5c5c5;
        transition: color 0.3s ease;
        font-family: $Font;
        font-size: 0.85rem;
        display: inline-flex;
        align-items: center;
        &:focus {
            outline: 0;
        }
        &:before {
            content: "";
            display: inline-block;
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            margin-right: 2px;
            transition: background-image 0.3 ease;
        }
        &:hover {
            color: $ThemeColor;
        }
    }

    .dashboard-subtitle {
        color: #8d8d8d;
        font-weight: normal;
        font-family: $Font;
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
    .ezi-popover-btn {
        margin-bottom: 1.3rem;
        margin-left: 7px;
    }

    .graph-card-main-wrap {
        display: flex;
        justify-content: space-between;
        width: calc(50% - 10px);
    }
    .graph-card-left-section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .graph-card-right-section {
        width: calc(50% - 10px);
        background-color: #fff;
        height: 304px;
        margin-bottom: 20px;
        border-radius: 9px;
        -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);

        .line-chart-header {
            min-height: 88px;
            border-bottom: 1px solid #e8e9ec;
            padding: 10px 20px;
            display: flex;
            align-items: center;
        }
        .line-people-ic {
            height: 50px;
            width: 50px;
            background: #eeedfc;
            border-radius: 50%;
            margin-right: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 22px;
            background-image: url(../../assets/images/dashboard/line-people-ic.svg);
        }
        .line-chart-body {
            height: calc(100% - 88px);
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            canvas {
                height: 176px !important;
            }
        }
        .total-respondant-wrap {
            margin-right: 25px;
            .title {
                display: block;
                color: #b7b7b7;
                font-size: 0.8rem;
            }
            .subtitle {
                display: block;
                color: #7467f0;
                font-family: $SemiBoldFont;
                font-size: $CeTitle;
            }
        }
        .number-of-survey {
            .title {
                display: block;
                color: #b7b7b7;
                font-size: 0.8rem;
            }
            .subtitle {
                display: block;
                color: #5a4e63;
                font-family: $SemiBoldFont;
                font-size: $CeTitle;
            }
        }
    }

    .donut-card-wrap {
        background-color: #fff;
        width: 100%;
        height: 100%;
        max-height: 304px;
        border-radius: 9px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    }
    .donut-card-header {
        padding: 15px 20px;
        border-bottom: 1px solid #e8e9ec;
        min-height: 60px;
        display: flex;
        align-items: center;
        .title {
            display: block;
            color: #b7b7b7;
            font-size: 0.85rem;
            margin-bottom: 0;
            margin-right: 20px;
        }
        .subtitle {
            display: block;
            color: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1.22rem;
        }
    }

    .survey-info-card-wrap {
        display: flex;
        justify-content: space-between;
        .survey-info-card--common {
            background: #fff;
            padding: 14px 20px;
            margin-bottom: $ReportWidgetMargin;
            -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
            -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
            box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
            border-radius: $ReportWidgetRadius;
            width: calc(50% - 8px);
            display: flex;
            align-items: center;
            &.create-surveys {
                background-color: $ThemeColor;
                cursor: pointer;
                .title_c {
                    color: #ff7aad;
                }
                .subtitle_c {
                    color: #ffffff;
                }
            }
            &.active-surveys {
                cursor: pointer;
            }
        }

        .survey-info-text-wrap {
            display: inline-flex;
            flex-direction: column;
            .title_c {
                color: #b7b7b7;
                font-size: 0.85rem;
                margin-bottom: 2px;
            }
            .subtitle_c {
                color: #5a4e63;
                font-size: 1.22rem;
                font-family: $SemiBoldFont;
            }
        }

        .surveys-icon-wrap--common {
            display: inline-flex;
            height: 60px;
            width: 60px;
            min-width: 60px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .surveys-icon--common {
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            &.total-surveys_ic {
                background-image: url(../../assets/images/template/template.png);
                background-color: #f0decb;
                background-size: 20px;
            }
            &.active-surveys_ic {
                background-image: url(../../assets/images/dashboard/active_survey.svg);
                background-color: #b5ee5f;
                background-size: 24px;
            }
            &.create-surveys_ic {
                background-image: url(../../assets/images/template/plus.png);
                background-color: #ee4586;
                background-size: 32px;
                cursor: pointer;
            }
        }
    }
    .dashboard-col-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .donut-card-body {
        display: flex;
        height: 100%;
        padding: 20px 0;
    }
    .donut-card-body-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        .title {
            color: #b7b7b7;
            font-size: 0.8rem;
            display: block;
            margin: 0 15px;
        }
        .subtitle {
            color: #5a4e63;
            font-size: 1.1rem;
            font-family: $SemiBoldFont;
            display: block;
            margin: 0 15px;
        }
    }
    .donut-card-body-right {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .donut-data-wrap {
        margin-top: auto;
        padding: 0 20px;
        label {
            display: block;
            color: #5a4e63;
            margin-bottom: 0;
            font-size: 0.8rem;
            margin-bottom: 5px;
            white-space: nowrap;
        }
        .data-label {
            min-width: 120px;
            display: inline-block;
            &:before {
                content: "";
                height: 8px;
                width: 8px;
                display: inline-block;
                border-radius: 50%;
                margin-right: 8px;
            }
            &.email:before {
                background-color: #7467f0;
            }
            &.sms:before {
                background-color: #ffa550;
            }
            &.website:before {
                background-color: #ea6061;
            }
        }
        .data-count {
            color: #161616;
            display: inline-flex;
            &:after {
                content: "";
                background-position: center;
                background-repeat: no-repeat;
                background-size: 12px;
                height: 20px;
                width: 20px;
                display: inline-block;
                margin-left: 5px;
            }
            &.up:after {
                background-image: url(../../assets/images/dashboard/arrow-up.svg);
            }
            &.down:after {
                background-image: url(../../assets/images/dashboard/arrow-down.svg);
            }
        }
    }

    .highlight-card-main-wrap {
        width: 100%;
    }
    .highlight-card {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: $ReportWidgetRadius;
        width: 100%;
        -moz-box-shadow: -1px 7px 91px rgba(0, 0, 0, 0.11);
        -webkit-box-shadow: -1px 7px 91px rgba(0, 0, 0, 0.11);
        box-shadow: -1px 7px 91px rgba(0, 0, 0, 0.11);
        min-height: 310px;
        max-height: 310px;
        margin-bottom: 29px;
    }
    .highlight-card-header {
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;
        border-bottom: 1px solid #e8e9ec;
        .highlight-header-heading {
            margin: 0;
            color: #5a4e63;
            font-size: 1rem;
        }
    }
    .highlight-clear-btn {
        padding: 0;
        border: 0;
        background: transparent;
        color: #b7b7b7;
        font-size: 0.8rem;
    }

    .highlight-card-body {
        overflow-y: auto;
        margin: 20px 20px;
        position: relative;
        height: 100%;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b7b7b7;
        }
        &::-webkit-scrollbar-track {
            background-color: #e9e9e9;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: flex;
                align-items: center;
                padding-right: 10px;
                margin-bottom: 15px;
            }
        }
        .highlight-card-msg-icon {
            height: 26px;
            width: 26px;
            min-width: 26px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: #fff;
            text-indent: -9999px;
            background-size: 24px;
            background-position: top 1px center;
            background-repeat: no-repeat;
            margin-right: 15px;
            &.hightlight-success {
                background-image: url(../../assets/images/template/highlight-success.svg);
                background-color: #b5ee5f;
                background-position: top 1px left 1px;
            }
            &.hightlight-info {
                background-image: url(../../assets/images/template/highlight-info.svg);
                background-color: #0086f2;
            }
            &.hightlight-warning {
                background-image: url(../../assets/images/template/highlight-warning.svg);
                background-color: #ffcf46;
            }
            &.hightlight-error {
                background-image: url(../../assets/images/template/highlight-error.svg);
                background-color: #ff5054;
            }
        }
        .highlight-des-wrap {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            .highlight-card-des {
                color: #4d4f5c;
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .highlight-card-time {
                color: #a3a4ab;
                font-size: 0.75rem;
            }
        }
        .no-activity {
            color: #b7b7b7;
            display: block;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.85rem;
        }
    }

    .common-vertical-card-wrap {
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 540px;
        align-items: center;
        margin: 20px 0 0;
    }

    .common-vertical-card {
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        min-height: 120px;
        border-radius: 9px;
        margin-bottom: 30px;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        margin-right: 20px;
        width: 100%;
        &:last-child {
            margin-right: 0;
        }
        &.usersroles {
            .common-vertical-card-icon-wrap {
                background-color: #e9e9e9;
            }
        }

        &.need-help {
            background-color: #504658;
            .common-vertical-card-icon-wrap {
                background-color: #72637e;
            }
        }
    }
    .common-vertical-card-icon-wrap {
        display: inline-flex;
        height: 60px;
        width: 60px;
        min-width: 60px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .common-vertical-card-icon {
        height: 100%;
        width: 100%;
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        &.usersroles_ic {
            background-image: url(../../assets/images/users-roles-50.svg);
            background-size: 35px;
        }
        &.need-help_ic {
            background-image: url(../../assets/images/need-help.svg);
            background-size: 15px;
            background-color: #72637e;
        }
        &.tips-making_ic {
            background-image: url(../../assets/images/tips-making.svg);
            background-size: 20px;
            background-color: #fef8e7;
        }
    }

    .users-roles-text {
        color: #504658;
        font-size: 0.88rem;
    }
    .need-help-text {
        color: #fff;
        font-size: 0.88rem;
    }
    .tips-making-text {
        color: #504658;
        font-size: 0.88rem;
    }

    .tips-making-wrap {
        display: flex;
        align-items: center;
    }

    .recent-highlight-main-wrap {
        width: calc(50% - 10px);
        .recent-surveys-card {
            max-height: 732px;
            min-height: 732px;
        }
    }
    .recent-surveys-report_add {
        .add_participant {
            display: none;
        }
    }

    @media (max-width: 1000px) {
        .dashboard-col-wrap {
            flex-direction: column;
            justify-content: flex-start;
        }
        .recent-highlight-main-wrap,
        .graph-card-main-wrap {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    @media (max-width: 620px) {
        .graph-card-left-section {
            flex-direction: column;
        }
        .survey-info-card-wrap .survey-info-card--common {
            max-width: 100%;
        }
        .donut-card-wrap {
            width: initial;
            margin-left: 0;
        }
        .common-vertical-card-wrap {
            flex-direction: column;
        }
        .common-vertical-card {
            margin-right: 0;
            justify-content: flex-start;
        }

        .donut-card-body-left .subtitle {
            margin-bottom: 30px;
        }
        .survey-info-card-wrap {
            flex-direction: column;
            .survey-info-card--common {
                width: 100%;
            }
        }
        .recent-surveys-card {
            max-height: 400px;
            min-height: 400px;
            margin-bottom: 10px;
        }
        .recent-surveys-card-body .recent-surveys-status {
            padding: 6px 10px 6px 10px;
            min-width: 80px;
        }
        .recent-highlight-main-wrap {
            width: 100%;
        }
        .recent-surveys-card-body {
            ul {
                li {
                    flex-wrap: wrap;
                    .recent-surveys-name {
                        margin-bottom: 10px;
                        &::before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            margin-right: 5px;
                            border-radius: 50%;
                        }
                        &.active::before {
                            background-color: #b5ee5f;
                        }
                        &.inactive::before {
                            background-color: #fbcd49;
                        }
                        &.closed::before {
                            background-color: #ff6161;
                        }
                    }
                    .recent-surveys-report_add {
                        .add_participant {
                            display: inline;
                        }
                    }
                }
            }
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-index {
            display: none;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-status {
            display: none;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-report {
            margin-left: 15px;
            padding: 3px 20px;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-report_add {
            border: 1px solid #e9e9e9;
            border-radius: 25px;
            padding: 3px 10px;
            margin-bottom: 0;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-report_add::before {
            height: 20px;
            width: 20px;
            background-position: left center;
        }
    }
    .recent-highlight-template {
        width: 100%;
        .recent-surveys-card {
            max-height: 303px;
            min-height: 303px;
            margin-bottom: $ReportWidgetMargin;
        }
    }
    .iframe-model-check {
        background-color: transparent;
        border: 1px solid #cc2e6b;
        border-radius: 25px;
        padding: 6px 24px;
        color: #cc2e6b;
        font-size: 0.85rem;
        font-family: "NunitoSans", Helvetica, Arial, sans-serif;
        white-space: nowrap;
        box-shadow: 1px 2px 4px #cc2e6b;
        transition: all 0.3s ease;
         .arrow-span{
             margin-left: 8px;
        }
        &:hover {
            background-color: #cc2e6b;
            color: #fff;
            box-shadow: 1px 2px 3px #cc2e6b;
            box-shadow: none;
            transition: all 0.3s ease;}
    }
    .column-header {
        display: flex;
        justify-content: space-between;
        .column-header-btn{
            align-self: center;
            
        }
    }

}
