@import "../../../assets/scss/variable.scss";
@import "../../../assets/scss/placeholder.scss";
@import "../../../assets/scss/EziAlert.scss";

.Page-SurveyPreview{
    padding: 40px 7%;
    background-color: #F2F5F8;
    
    .preview-header{
        border-bottom: 1px solid #DDE0E2;
        padding-bottom: 20px;
        .survey-preview-wrap {
            display: flex;
            align-items: center;
        }    
        .survey-template-name {
            margin-left: auto;
            color: #B8B5BE;
            font-size: 0.85rem;
        }    
        .survey-head {
            color: #1C1C1C;
            font-size: 1.3rem;
        }    
        .back-builder {
            color: #c5c5c5;
            font-size: 0.87rem;
            margin-bottom: 8px;
            cursor: pointer;
            -webkit-transition: color 0.3s ease;
            transition: color 0.3s ease;
            display: flex;
            align-items: center;
            &:hover{
                color:$ThemeColor;
                &:before{
                    content: '';
                    background-image: url(../../../assets/images/breadcrumb_arrow_prev_active.svg);
                }
            }
            &:before{
                content: '';
                background-image: url(../../../assets/images/breadcrumb_arrow_prev.svg);
                background-size: 7px;
                background-position: right;
                background-repeat: no-repeat;
                height: 20px;
                width: 16px;
                min-width: 16px;
                display: inline-flex;
                -webkit-transform: rotate(180deg);             
                transform: rotate(180deg);             
            }
        }
    }
   

}