@import "../../assets/scss/variable";
.Page-UsersRoles{
    padding: 40px 7%;
.users-roles-heading{
    border-bottom: 1px solid #DDE0E2;
    padding-bottom: 30px;
    .role-heading{
        color:#504658;
        font-family: $SemiBoldFont;
        font-size: 1.1rem;
        text-align: center;
    }
}
.users-roles-content {
    margin: 8% 0 20px;
}
.user-roles-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.role-card {
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    min-height: 210px;
    max-height: 210px;
    min-width: 200px;
    max-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 30px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -moz-box-shadow: 7px 7px 29px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 7px 7px 29px rgba(0, 0, 0, 0.09);
    box-shadow: 7px 7px 29px rgba(0, 0, 0, 0.09); 
    .role-card-label{
        margin: 15px 0 0;
        color:#504658;
        font-family: $SemiBoldFont;
        font-size: 1rem;
    }
    .role-card-icon{
        min-width: 80px;
        background-color: #F2F5F8;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition:  background-color 0.3s ease;
        .role_card_ic{
            height: 50px;
            width: 50px;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &.users_ic{ background-image: url("../../assets/images/UR-users_ic.svg");background-size: 40px;}
            &.profiles_ic{background-image: url("../../assets/images/UR-profiles_ic.svg");background-size: 40px;}
            &.roles_ic{background-image: url("../../assets/images/UR-roles_ic.svg");background-size: 44px;}
        }
    }
    &:hover{
        background-color: #5A4E63;
        .role-card-label{
            color:#fff;
        }
        .role-card-icon{
            background-color: #7A6C85;
            .role_card_ic{
                &.users_ic{ background-image: url("../../assets/images/UR-users-active_ic.svg");}
                &.profiles_ic{background-image: url("../../assets/images/UR-profiles-active_ic.svg");}
                &.roles_ic{background-image: url("../../assets/images/UR-roles-active_ic.svg");}
            }
        }
        
    }
}


} /* Page End */