@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
@import "../../assets/scss/side-tab";

/**
 *  ExpressSurvey.js Page Css Start
 */
.Page-ExpressSurvey {
    padding: 5%;
    .box-content {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.1);
    }
    .side-tab-wrapper {
        .side-tab .nav-item .nav-link.active::before {
            background-image: url(../../assets/images/right-arrow.svg);
            background-color: unset;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            background-size: 70%;
            left: 4px;
            width: 18px;
        }
        .step-indicator.done {
            &::before {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                background-image: url(../../assets/images/green-ok.svg);
                // background-image: url(../../assets/images/right-arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                background-size: 70%;
                left: 4px;
                top: 10px;
            }
        }
        .nav-link {
            padding-left: 25px;
        }
    }
    .info-header {
        display: flex;
        padding: 15px;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
        h2 {
            color: #5a4e63;
            font-family: $SemiBoldFont;
            font-size: 1rem;
            margin: 0;
            display: inline-flex;
        }
        .survey-icon::before {
            content: "";
            width: 20px;
            height: 20px;
            background-image: url(../../assets/images/surveyor.svg);
            display: inline-block;
            background-position: 0px;
            background-repeat: no-repeat;
            background-size: 100%;
            margin-right: 8px;
        }
    }
    .main-content {
        .btn-wrapper {
            display: flex;
            max-width: 300px;
            margin: 0 auto;
            align-items: center;
            margin-top: 20px;
            justify-content: center;
            .burgundy-spinner.spinner-border {
                border-color: unset;
                border-right-color: transparent;
            }
            .prev-btn {
                height: 35px;
                border-radius: 5px;
                font-size: 0.9rem;
                color: #fff;
                font-family: $Font;
                background-color: #5a4e63;
            }
            .next-btn {
                height: 35px;
                border-radius: 5px;
                font-size: 0.9rem;
                color: #fff;
                font-family: $Font;
                background-color: $ThemeColor;
                margin-left: 10px;
            }
            button {
                padding: 5px 15px;
            }
        }
        .startend-date-wrap {
            margin: 20px auto;
            max-width: 100%;
            align-items: center;
            justify-content: center;
            .date-wrapper-icon,
            .end-date-wrap {
                margin: 0;
            }
            .startend-label {
                font-size: 0.8rem;
                font-family: $Font;
                margin-right: 5px;
            }
        }
        .upload-logo-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 300px;
            margin: 0 auto;
            align-items: center;
            .survey_logo {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin-bottom: 10px;
            }
            .remove-logo {
                width: 75px;
                height: 25px;
                border-radius: 5px;
                font-size: 0.8rem;
                background-color: #fff;
                font-family: $Font;
                background-image: url(../../assets/images/table_delete_ic.svg);
                background-position: center right 5px;
                background-repeat: no-repeat;
                background-size: 10px;
                margin: 10px 0;
                text-align: left;
                border: 1px solid #d2cece;
                transition: all 0.2s ease-in-out;
                &:hover,
                &:active,
                &:focus {
                    border-color: $ThemeColor;
                    color: $ThemeColor;
                    background-image: url(../../assets/images/table_delete_active_ic.svg);
                }
            }
            .inputfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            .inputfile + label {
                height: 25px;
                display: inline-flex;
                align-items: center;
                border-radius: 5px;
                font-size: 0.9rem;
                font-family: $SemiBoldFont;
                cursor: pointer;
                justify-content: flex-start;
                padding: 5px 10px;
                border: 1px solid #d2cece;
                transition: all 0.2s ease-in-out;
                background-image: url(../../assets/images/upload-inactive.svg);
                background-position: center right 5px;
                background-repeat: no-repeat;
                background-size: 13px;
                width: 100%;
                max-width: 120px;
            }

            .inputfile:focus + label,
            .inputfile + label:hover {
                color: $ThemeColor;
                border-color: $ThemeColor;
                background-image: url(../../assets/images/upload-active.svg);
            }
        }
        .upload-participant-wrapper {
            .dropzone-wrap .dropzone-area:after {
                width: 100%;
            }
        }
        .communication-wrapper {
            padding: 40px 20px;
            .channel-select-mail {
                -moz-appearance: none;
                -webkit-appearance: none;
                border: 0;
                background-color: transparent;
                border: 1px solid #f3f3f3;
                border-radius: 25px;
                padding: 0 30px;
                height: 40px;
                min-height: 40px;
                background-image: url(../../assets/images/dropdown-arrow_c2.svg);
                background-size: 12px;
                background-position: center right 15px;
                background-repeat: no-repeat;
                width: 100%;
                max-width: 300px;
                margin: 0 auto;
                color: #504658;
                font-size: 0.85rem;
                font-family: $Font;
                text-transform: capitalize;
                display: block;
                &:focus {
                    outline: 0;
                }
            }
            .email-preview-wrap {
                padding: 0;
                border: 1px solid #e9e9e9;
                border-radius: 25px;
                margin: 20px 0;
                position: relative;
                overflow: hidden;
            }
            .email-preview-length {
                position: absolute;
                right: 20px;
                bottom: 10px;
                color: #b7b7b7;
                font-size: 0.65rem;
            }
            .email-preview-header {
                padding: 15px 30px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #e9e9e9;
            }
            .email-preview-heading {
                padding: 0;
                color: #504658;
                font-size: 0.85rem;
                font-family: $SemiBoldFont;
            }
            .email-default-placeholder-wrap {
                display: inline-flex;
                align-items: center;
                margin: 0 20px;
            }
            .email-default-placeholder {
                -moz-appearance: none;
                -webkit-appearance: none;
                background: #f2f5f8;
                border-radius: 9px;
                padding: 0 15px;
                min-height: 40px;
                height: 40px;
                border: 0;
                color: #c2c2c2;
                font-family: "NunitoSans";
                font-size: 0.87rem;
                max-width: 160px;
                width: 100%;
                min-width: 160px;
                background-image: url(../../assets/images/dropdown-arrow_c2.svg);
                background-size: 12px;
                background-position: center right 15px;
                background-repeat: no-repeat;
                &:focus {
                    outline: 0;
                }
            }
            .ezi-editor-wrapper {
                .ezi-editor-inner {
                    padding: 6px 5px 0;
                    border-radius: 2px;
                    border: 1px solid #f1f1f1;
                    background-color: #fff;
                }
            }
            .email-preview-content {
                padding: 0;
                min-height: 250px;
                background-color: #f2f5f8;
                border-radius: 0 0 25px 25px;
                padding: 0 0 35px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                .channel-send-now-btn {
                    padding: 0;
                }
            }
            .placeholder-btn-wrap {
                display: flex;
                padding: 15px 20px;
                background-color: #e9e9e9;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    height: 4px;
                }
                .placeholder-btn-inner {
                    padding: 0 8px;
                    &:last-child {
                        padding-right: 30px;
                    }
                }
                .insert-placeholder-btn {
                    background-color: $ThemeColor;
                    color: #fff;
                    border: 0;
                    min-height: 28px;
                    border-radius: 25px;
                    padding: 0 20px;
                    font-family: "NunitoSans";
                    font-size: 0.8rem;
                    display: inline-flex;
                    align-items: center;
                    white-space: nowrap;
                    &:focus {
                        outline: 0;
                    }
                }
            }

            .schedule-btn-tab-header {
                .nav-item:first-child {
                    margin-right: 15px;
                }
                .channel-schedule-tab-btn {
                    background-color: #f2f5f8;
                    border-radius: 25px;
                    padding: 7px 30px;
                    color: #504658;
                    font-size: 0.85rem;
                    &.active {
                        background-color: $ThemeColor;
                        color: #ffffff;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
            }

            .schedule-main-wrap {
                display: flex;
                align-items: center;
                margin: 40px 0 10px;
                .schedule-label {
                    color: #1c1c1c;
                    font-size: 0.9rem;
                    font-family: $SemiBoldFont;
                    margin-bottom: 0;
                    margin-right: 30px;
                }
                .schedule-date-wrap {
                    margin-left: 15px;
                }
                .schedule-toggle-text {
                    display: inline-flex;
                    align-items: center;
                    color: #504658;
                    font-size: 0.85rem;
                    font-family: $SemiBoldFont;
                    .ezi-switch-toggle {
                        margin: 0 10px;
                    }
                }
                .react-datetime-picker {
                    margin-right: 20px;
                }
                .react-datetime-picker__wrapper {
                    border: 1px solid #dbdbdb;
                    border-radius: 3px !important;
                    padding: 4px 30px 4px 16px;
                    background-image: url(../../assets/images/datepicker_c5.svg);
                    background-size: 16px;
                    background-position: center right 14px;
                    background-repeat: no-repeat;
                    min-width: 170px;
                    .react-datetime-picker__inputGroup {
                        color: #9e9a9a;
                    }
                    input {
                        @include placeholder {
                            color: #d9d9d9;
                        }
                        &:focus {
                            outline: 0;
                            background-color: transparent;
                        }
                        &:invalid {
                            background-color: transparent;
                        }
                    }
                    .react-datetime-picker__inputGroup__amPm {
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        background-image: url(../../assets/images/dropdown-arrow_c2.svg);
                        background-size: 11px;
                        background-position: center right 10px;
                        background-repeat: no-repeat;
                        padding-right: 30px;
                    }
                }
            }

            .schedule-date-wrap {
                .react-datetime-picker {
                    margin-right: 20px;
                }
                .react-date-picker__wrapper {
                    border: 1px solid #dbdbdb;
                    border-radius: 3px !important;
                    padding: 4px 16px;
                    background-image: url(../../assets/images/datepicker_c5.svg);
                    background-size: 16px;
                    background-position: center right 14px;
                    background-repeat: no-repeat;
                    min-width: 170px;
                    .react-date-picker__inputGroup {
                        color: #9e9a9a;
                    }
                    input {
                        @include placeholder {
                            color: #d9d9d9;
                        }
                        &:focus {
                            outline: 0;
                            background-color: transparent;
                        }
                        &:invalid {
                            background-color: transparent;
                        }
                    }
                }
                .react-date-picker__button {
                    display: none;
                }
            }

            .schedule-dropdown {
                &:focus {
                    outline: 0 !important;
                    box-shadow: none;
                }
                .dropdown-toggle.btn-primary {
                    background: transparent;
                    border: 1px solid #dbdbdb;
                    padding: 5px 20px;
                    border-radius: 25px;
                    min-width: 170px;
                    text-align: left;
                    &:after {
                        background-image: url(../../assets/images/dropdown-arrow_c2.svg);
                        background-size: 14px;
                        background-position: center right 0;
                        background-repeat: no-repeat;
                        border: 0;
                        height: 100%;
                        width: 26px;
                        position: absolute;
                        right: 15px;
                        top: 0;
                        border-left: 1px solid #d8d8d8;
                    }
                    &:focus {
                        outline: 0 !important;
                        box-shadow: none;
                    }
                }

                .show.dropdown .dropdown-menu.show {
                    margin-top: 15px;
                    border: 0;
                    -moz-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.09);
                    -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.09);
                    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.09);
                    border-radius: 20px;
                    padding: 15px 20px;
                    min-width: 180px;

                    .item_route_link {
                        padding: 10px 0;
                        border-bottom: 1px solid #e9e9e9;
                        color: #656565;
                        transition: color 0.3s ease;
                        display: block;
                        font-size: 0.9rem;
                        &:hover {
                            color: $ThemeColor;
                            background-color: transparent;
                            text-decoration: none;
                        }
                        &:last-child {
                            border: 0;
                        }
                    }
                    .dropdown-item {
                        padding: 5px 3px;
                    }
                }

                .schedule-dropdown-default {
                    color: #dbdbdb;
                }
            }
            .channel-form-field {
                display: flex;
                align-items: flex-start;
                margin-bottom: 4px;
                .ezi-select-plugin {
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid #dbdbdb;
                    background-color: #e9e9e9;
                    .css-c8odyh-control {
                        background-color: #e9e9e9;
                    }
                    .css-1rhbuit-multiValue {
                        background-color: #ccc;
                    }
                }
                label {
                    color: #504658;
                    max-width: 120px;
                    width: 100%;
                    font-size: 0.85rem;
                    font-family: $SemiBoldFont;
                    padding: 8px 0;
                }
                .email-preview-input {
                    color: #8d8d8d;
                    font-size: 0.85rem;
                    background: transparent;
                    border: 0;
                    width: 100%;
                    resize: none;
                    pointer-events: none;
                    border-radius: 8px;
                    padding: 8px 20px;
                    &:focus {
                        outline: 0;
                    }
                }
                .email-preview-textarea {
                    color: #8d8d8d;
                    font-size: 0.85rem;
                    background: transparent;
                    border: 0;
                    width: 100%;
                    resize: none;
                    overflow: auto;
                    height: auto;
                    line-height: 24px;
                    pointer-events: none;
                    border-radius: 8px;
                    padding: 8px 20px;
                    &:focus {
                        outline: 0;
                    }
                    &::-webkit-scrollbar {
                        width: 4px;
                        background-color: #f5f5f5;
                    }
                }
            }
            .channel-form-wrap {
                padding: 25px 30px 0;
                .email-preview-input-edit.email-preview-input,
                .email-preview-input-edit.email-preview-textarea {
                    pointer-events: initial;
                    border: 1px solid #dbdbdb;
                    background-color: #fff;
                }
            }
            .email-code-formatter {
                padding: 20px 30px;
                color: #8d8d8d;
                font-size: 0.75rem;
                white-space: normal;
            }
            .rdw-link-wrapper {
                .rdw-link-modal {
                    overflow-y: auto;
                }
            }
        }
        .survey-button-tab-header .nav-pills .nav-item {
            .nav-link {
                background-color: #f2f5f8;
                border-radius: 3px;
                padding: 6px 30px;
                color: #504658;
                font-size: 0.85rem;
                position: relative;

                transition: all 0.2s ease;
                &.active-link {
                    padding-left: 15px;
                    .tabpill-info-icon {
                        position: absolute;
                        right: 11px;
                        background-image: url(../../assets/images/ezipopover.svg);
                        content: "";
                        width: 15px;
                        height: 15px;
                        background-size: 15px;
                        background-position: center;
                        background-repeat: no-repeat;
                        top: 8px;
                    }
                }

                &.active {
                    background-color: $ThemeColor;
                    color: #fff;
                    &:after {
                        display: none;
                    }
                }
                &.disabled:hover {
                    cursor: no-drop;
                }
            }
        }
        .survey-type-container {
            width: 100%;
            margin: 20px 0px;
            .nav {
                display: flex;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                align-items: center;
                justify-content: center;
            }
        }

        .frequency-select-wrap {
            display: inline-flex;
            align-items: center;
        }

        .frequency-label {
            color: #504658;
            font-size: 0.85rem;
            margin-right: 5px;
            white-space: nowrap;
        }

        .frequency-select {
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 0;
            background-color: transparent;
            border: 1px solid #f3f3f3;
            border-radius: 3px;
            padding: 0 40px 0 20px;
            height: 36px;
            min-height: 36px;
            background-size: 12px;
            background-position: center right 18px;
            background-repeat: no-repeat;
            background-image: url(../../assets/images/dropdown-arrow_c2.svg);
            color: #504658;
            font-size: 0.85rem;
            font-family: $Font;
            margin: 0;
            &:focus {
                outline: 0;
            }
        }
        .company-logo-main-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px auto;
            .company-logo-heading {
                color: #1c1c1c;
                font-size: 0.8rem;
                font-family: "NunitoSans", Helvetica, Arial, sans-serif;
                margin: 0px;
                max-width: 215px;
                min-width: 200px;
                width: 100%;
                padding-left: 20px;
                &.tab-additional-info {
                    width: 100%;
                    max-width: 100%;
                }
            }
            .company-logo-container {
                display: flex;
                flex-wrap: wrap;
                width: calc(100% - 240px);
            }

            .company-logo-content {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
            }

            .default-registered-image {
                border: 1px solid #e9e9e9;
                border-radius: 6px;
                padding: 8px 30px;
                height: 64px;
                min-width: 210px;
                max-width: 210px;
                position: relative;
                display: block;
                text-align: center;
                .customize-logo {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    border: 0;
                    color: #ff1616;
                    font-family: "NunitoSansBold";
                    font-size: 0.7rem;
                    border-radius: 3px;
                    padding: 0;
                    height: 17px;
                    width: 17px;
                    background: #efefef;
                }
            }

            .default-registered-logo {
                height: 40px;
                width: auto;
            }

            .company-logo-devider {
                color: #504658;
                margin: 0 24px;
                font-size: 1.1rem;
            }
            .color_picker_container {
                display: flex;

                .preview_color {
                    width: 35px;
                }
                button {
                    border-radius: 0px;
                }
            }
        }
    }
    @mixin icon-default {
        background: transparent;
        border: 0;
        padding: 0;
        color: #c5c5c5;
        transition: color 0.3s ease;
        font-family: $Font;
        font-size: 0.85rem;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
        &:before {
            content: "";
            display: inline-block;
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            margin-right: 2px;
            transition: background-image 0.3 ease;
        }
        &:hover {
            color: $ThemeColor;
        }
    }
    .edit_data {
        @include icon-default;
        &:hover {
            &:before {
                background-image: url(../../assets/images/edit-survey-name.svg);
            }
        }
        &:before {
            background-image: url(../../assets/images/edit-survey-name.svg);
            background-size: 11px;
        }
    }
    .survey-name {
        border: 1px solid #f3f3f3;
        padding: 2px 10px;
        border-radius: 5px;
    }
    .customize-setting-main {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 90%;
        margin: 40px auto;
        .survey-dates {
            flex-basis: 100%;
            text-align: center;
            border-right: 2px solid #ddd;
            .react-date-picker__wrapper {
                border-radius: 3px !important;
            }
            .sweet-datepicker-custom {
                z-index: unset;
            }
        }
        .survey-color-settings {
            flex-basis: 100%;
            text-align: left;
            .color_picker_content {
                top: 20%;
                right: 23%;
                left: unset;
            }
        }
        .startend-label,
        .frequency-label {
            width: 150px;
            text-align: left;
        }
    }
}
