@import "../../assets/scss/placeholder";
@import "../../assets/scss/variable";
.Page-ColumnMapping{
    padding: 40px 7%;
    background-color: #F2F5F8;

    .mapping-card {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
        .map-card {
            flex: 1;
            display: inline-flex;
            align-items: center;
            margin: 0 15px 20px;            
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }
        
        .map-card-content {
            display: inline-flex;
            flex-direction: column;
            h1{
                color: #504658;
                font-weight: normal;
                font-family: $Font;
                font-size: 1.4rem;
            }
            label{
                color: #BCBCBC;
                font-weight: normal;
                font-family: $Font;
                font-size: 1rem;
            }
        }

        .map-card-img {
            width: auto;
            height: 46px;
            margin-right: 20px;
            padding: 0 10px;
        }
    }
    
    .mapping-table{
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        margin: 20px 0;
        -moz-box-shadow:-1px 7px 60px rgba(0,0,0,0.08);
        -webkit-box-shadow:-1px 7px 60px rgba(0,0,0,0.08);
        box-shadow:-1px 7px 60px rgba(0,0,0,0.08);
        padding-bottom: 15px;
        .mapping-column{
            // flex:1;
            width:50%;
        }
        .demography-excel-column{
            flex:1;
            display: flex;
            flex-direction: column;
        }
        // .demography-column{
        //     flex:1;
        // }
        // .excel-column{
        //     flex:1;
        // }
        .preview-column{
            background-color: #FBFBFB;
            // flex:1;
            width:50%;
        }
        .col-heading-wrap{
            padding: 25px 0 25px 40px;
            display: flex;
            border-bottom: 1px solid #E9E9E9;
            margin-bottom: 30px;
        }
        .col-heading {
            color: #504658;
            font-family: $SemiBoldFont;
            font-size: 0.9rem;
            flex:1;
            padding-left: 20px;
        }
        .preview-heading {
            color: #504658;
            font-family: $SemiBoldFont;
            font-size: 0.9rem;        
            padding: 25px 0 25px 40px;
            flex:1;
            border-bottom: 1px solid #E9E9E9;
            margin-bottom: 30px;
        }
        
    }


    @import "../../assets/scss/ezicheckbox";



.excel-field-wrap{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 40px 0 20px;
    position: relative;
    .field-label{
        flex:1;
        margin-bottom: 15px;
        color:#504658;
        font-family: $Font;
        font-size: 0.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .excel-field-wrap {
        width: 100%;
    }    
    .field-control {
        width: 100%;
        flex: 1;
        margin-bottom: 15px;
        .map-select{
            -moz-appearance: none;
            -webkit-appearance: none;
            border-radius: 5px;
            height: 36px;
            padding: 0 10px;
            width: 100%;
            border: 0;
            color: #504658;
            font-family: $Font;
            font-size: 0.9rem;
            background-image: url(../../assets/images/map-select.svg);
            background-size: 11px;
            background-position: top 12px right 10px;
            background-repeat: no-repeat;
            &:focus{
                outline:0;
                border:1px solid  #C5C5C5;
            }
        }
    }

}

.mapping-select{
    .css-yk16xz-control{
        border:0;
    }
    .css-1hb7zxy-IndicatorsContainer{
        .css-1okebmr-indicatorSeparator{
            background-color:transparent;
        }
    }
    .css-1wa3eu0-placeholder{
        color:#8D8D8D;
        font-family: $Font;
        font-size: 0.9rem;
    }
}
.new-demography-wrap{
    padding: 0 40px;
}
.new-demography{
    padding: 7px 25px;
    margin: 0.6rem 0 1rem;
    border:0;
    color:$ThemeColor;
    font-family: $Font;
    font-size: 0.9rem;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    background: transparent;
    &:before{
        content:"";
        background-image: url(../../assets/images/add_icon_active.svg);
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-top: -2px;
        margin-right: 4px;
    }
    &:hover{
        opacity: 0.7;
    }
    &:focus{
        outline: 0;
    }
    &.close-demographic{
        margin: 0;
        &:before{
            display: none;
        }
    }
}

.delete-column {
    border: 0;
    background: #efefef;
    color: red;
    border-radius: 4px;
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    right: 10px;
    top: 5px;
    position: absolute;
    span{
        font-size: 0.7rem;
        font-family: $Font;
    }
}

.add-input-wrap{
    padding: 0 20px 0 20px;
    .add-input{
        border: 1px solid #C5C5C5;
        height:36px;
        border-radius: 5px;
        font-family: $Font;
        font-size: 0.85rem;
        color: #504658;
        padding: 0 15px;
        margin: 15px 0px;
        &:focus{
            outline: 0;
        }
        @include placeholder {
            color: #D9D9D9;;
        }
        
    }
}
.preview-table {
    padding: 0  45px;
}
.preview-header{
    display: flex;
    border-bottom:1px solid #E9E9E9;
    padding-bottom: 5px;
    margin-bottom: 10px;
    .preview-header-th{
        color:#8D8D8D;
        font-family: $Font;
        font-size: 0.8rem;
        padding: 10px 20px;
        flex:1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:first-child{
            width: 100%;
            max-width: 90px;
            flex:unset;
        }
    }
}
.preview-body{
    .preview-body-tr{
        display: flex;
        .preview-body-td{
            color:#8D8D8D;
            font-family: $Font;
            font-size: 0.8rem;
            padding: 10px 20px;
            flex:1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &:first-child{
                width: 100%;
                max-width: 90px;
                flex:unset;
            }
        }
      
    }
}

.add-column-btn{
    border: 0;
    background-color: $ThemeColor;
    border-radius: 25px;
    box-shadow: none;
    padding: 0 26px;
    color: #fff;
    height: 32px;
    margin-left: 20px;
    font-size: 0.85rem;
}
.demography-close-btn{
    border: 0;
    background-color: transparent;
    border-radius: 25px;
    box-shadow: none;
    padding: 0 10px;
    color: #B7B7B7;
    height: 32px;
    font-size: 0.85rem;
    margin-left: 10px;
}

@media (max-width:818px) {
    .mapping-table{
        flex-direction: column;
        .mapping-column,.preview-column{
            width:100%;
        }
    }
  
}

}


