@import "../../assets/scss/variable";
@mixin icon-default {
    background: transparent;
    border: 0;
    padding: 0;
    color: #c5c5c5;
    transition: color 0.3s ease;
    font-family: $Font;
    font-size: 0.85rem;
    display: inline-flex;
    align-items: center;
    &:focus {
        outline: 0;
    }
    &:before {
        content: "";
        display: inline-block;
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        margin-right: 2px;
        transition: background-image 0.3 ease;
    }
    &:hover {
        color: $ThemeColor;
    }
}
.addNewParticipantModal{
    .modal-header{  
        padding: 0.7rem 1rem;
    }
}
.recent-highlight-main-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    .recent-surveys-card {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: $ReportWidgetRadius;
        width: 100%;
        height: 100%;
        position: relative;
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        .no-survey {
            color: #b7b7b7;
            display: block;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.85rem;
        }
        .recent-surveys-card-header {
            border-bottom: 1px solid #e8e9ec;
            padding: 10px 20px;
            color: #5a4e63;
        }
        .recent-surveys-card-body {
            overflow-y: auto;
            margin: 20px 20px;
            &::-webkit-scrollbar {
                width: 3px;
                height: 3px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #b7b7b7;
            }
            &::-webkit-scrollbar-track {
                background-color: #e9e9e9;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    padding-right: 10px;
                    float: unset;
                    opacity: initial;
                    font-weight: normal;
                    text-shadow: none;
                    line-height: initial;
                    &.closed:hover {
                        opacity: initial;
                    }
                }
            }
            .recent-surveys-index {
                height: 26px;
                width: 26px;
                min-width: 26px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #1c1c1c;
                background-color: #f2f5f8;
                margin-right: 15px;
                font-size: 0.8rem;
            }
            .recent-surveys-name {
                color: #1c1c1c;
                font-family: $SemiBoldFont;
                font-size: 0.87rem;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: capitalize;
            }
            .recent-surveys-status {
                border-radius: 25px;
                padding: 6px 20px 6px 15px;
                margin: 0 15px;
                font-size: 0.85rem;
                font-family: $Font;
                display: inline-flex;
                align-items: center;
                min-width: 100px;
                text-transform: capitalize;
                float: unset;
                font-weight: normal;
                line-height: initial;
                text-shadow: none;
                opacity: 1;
                color: #8e7d9c;
                &:before {
                    content: "";
                    height: 8px;
                    width: 8px;
                    min-width: 8px;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                &.active {
                    &:before {
                        background: #b5ee5f;
                    }
                }
                &.inactive {
                    &:before {
                        background: #fbcd49;
                    }
                }
                &.closed {
                    &:hover {
                        opacity: initial;
                    }
                    &:before {
                        background: #ff6161;
                    }
                }
                &.draft {
                    &:before {
                        background: #c5c5c5;
                    }
                }
                &.published {
                    // color:#504658;
                    &:before {
                        background: #b5ee5f;
                    }
                }
                &.unpublished {
                    // color:#FF6161;
                    &:before {
                        background: #ff6161;
                    }
                }
            }
            .recent-surveys-report {
                background: transparent;
                border: 1px solid #e9e9e9;
                border-radius: 25px;
                padding: 6px 24px;
                color: #c5c5c5;
                font-size: 0.85rem;
                font-family: $Font;
                white-space: nowrap;
                transition: all 0.3s ease;
                &:focus {
                    outline: 0;
                }
                &:hover {
                    background-color: #e9e9e9;
                    color: #656565;
                }
            }
            .recent-surveys-report_add {
                @include icon-default;
                margin-bottom: 7px;
                margin-left: 8px;
                &:hover {
                    &:before {
                        background-image: url(../../assets/images/participant-pink.svg);
                        background-size: 17px;
                    }
                }
                &:before {
                    background-image: url(../../assets/images/participant-grey.svg);
                    background-size: 17px;
                }
                &[disabled] {
                    opacity: 0.5;
                    &:hover {
                        &:before {
                            background-image: url(../../assets/images/participant-grey.svg);
                        }
                    }
                }
            }
        }
    }


    @media (max-width: 620px) {
        .recent-surveys-card {
            max-height: 400px;
            min-height: 400px;
            margin-bottom: 10px;
        }
        .recent-surveys-card-body .recent-surveys-status {
            padding: 6px 10px 6px 10px;
            min-width: 80px;
        }
        .recent-highlight-main-wrap {
            width: 100%;
        }
        .recent-surveys-card-body {
            ul {
                li {
                    flex-wrap: wrap;
                    .recent-surveys-name {
                        margin-bottom: 10px;
                        &::before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            margin-right: 5px;
                            border-radius: 50%;
                        }
                        &.active::before {
                            background-color: #b5ee5f;
                        }
                        &.inactive::before {
                            background-color: #fbcd49;
                        }
                        &.closed::before {
                            background-color: #ff6161;
                        }
                    }
                    .recent-surveys-report_add {
                        .add_participant {
                            display: inline;
                        }
                    }
                }
            }
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-index {
            display: none;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-status {
            display: none;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-report {
            margin-left: 15px;
            padding: 3px 20px;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-report_add {
            border: 1px solid #e9e9e9;
            border-radius: 25px;
            padding: 3px 10px;
            margin-bottom: 0;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-report_add::before {
            height: 20px;
            width: 20px;
            background-position: left center;
        }
    }
}
