@import "../../assets/scss/variable";
.Page-BulkUpload{
    padding: 40px 7%;
    .bulkUpload-header{
        display: flex;
        align-items: center;     
        border-bottom: 1px solid #DDE0E2;
        padding-bottom: 15px;   
        flex-wrap: wrap;
    }
    .bulk-heading{
        display: flex;
        flex-direction: column;
        h1{
            color: #504658;
            font-size: 1.3rem;
            font-weight: normal;
            font-family: $Font;
        }
        p{
            color:#C5C5C5;
            font-family: $Font;
            font-size: 0.8rem;
        }
    }
    .download-template {
        margin-left: auto;
        padding: 4px 15px;
        border: 0;
        background: #504658;
        color: #fff;
        border-radius: 25px;
        font-size: 0.7rem;
        font-family: $Font;
        transition: background 0.3 ease;
        &:focus{
            outline: 0;
        }
        &:hover{
            background: darken(#504658, 8%)
        }
    }


}


  
