@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
@import "../../assets/scss/ezi_modal";
@import "../../assets/scss/step-indicator";

.Page-RecurringSurvey {
    padding: 40px 7%;
    background-color: #f2f5f8;
    .recurring-dashboard-card-wrap {
        display: flex;
        margin: 0 -15px 20px;
        flex-wrap: wrap;
        .recurring-dashboard-card {
            cursor: pointer;
            background-color: #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 30px;
            margin: 0 15px;
            box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
            transition: transform 0.3s ease;
            border-radius: 5px;
            min-height: 170px;
            position: relative;
            margin-bottom: 30px;
            .recurring-dashboard-card_text_wrap {
                position: relative;
                .recurring-dashboard-card-heading {
                    font-family: $SemiBoldFont;
                    font-size: 2.6rem;
                    color: #1c1c1c;
                    margin: 0 0 5px;
                }
                .recurring-dashboard-card-subheading {
                    color: #b7b7b7;
                    font-size: 0.87rem;
                }
            }
            .category_progress_ring_wrap {
                .category_progress_ring {
                    width: 84px;
                    height: 84px;
                    max-width: 84px;
                    margin: 7px auto 0;
                    .CircularProgressbar.category_progress_circle .CircularProgressbar-trail {
                        stroke: #f2f5f8;
                    }
                    .CircularProgressbar.category_progress_circle .CircularProgressbar-text {
                        fill: $ThemeColor;
                        font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
                        font-size: 1rem;
                    }
                }
                .circular-survey-text {
                    color: $ThemeColor;
                    font-size: 0.7rem;
                    display: block;
                    font-family: $SemiBoldFont;
                    white-space: nowrap;
                    margin-top: 15px;
                    &.active--text {
                        &::before {
                            content: "";
                            width: 7px;
                            height: 7px;
                            background: $ThemeColor;
                            display: inline-block;
                            border-radius: 50%;
                            margin-right: 4px;
                        }
                    }
                }
            }
            &.total {
                justify-content: space-between;
                border-bottom: 4px solid #504658;
                flex: 1;
                .recurring-dashboard-card_text_wrap {
                    margin-right: 30px;
                }
            }
            &.inactive {
                overflow: hidden;
                &::before {
                    content: "";
                    background: #b7b7b7;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 98%;
                    left: 0;
                    transition: all 0.5s ease;
                }
                &:hover {
                    .recurring-dashboard-card_text_wrap .recurring-dashboard-card-heading,
                    .recurring-dashboard-card_text_wrap .recurring-dashboard-card-subheading {
                        color: white;
                    }
                    &::before {
                        top: 0;
                    }
                }
                &.active-status {
                    &::before {
                        top: 0;
                    }
                }
            }
            &.active {
                overflow: hidden;
                &::before {
                    content: "";
                    background: #b5ee5f;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 98%;
                    left: 0;
                    transition: all 0.5s ease;
                }
                &:hover {
                    .recurring-dashboard-card_text_wrap .recurring-dashboard-card-heading,
                    .recurring-dashboard-card_text_wrap .recurring-dashboard-card-subheading {
                        color: white;
                    }
                    &::before {
                        top: 0;
                    }
                }
                &.active-status {
                    &::before {
                        top: 0;
                    }
                }
            }
            &.closed {
                overflow: hidden;
                &::before {
                    content: "";
                    background: #ff1616;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 98%;
                    left: 0;
                    transition: all 0.5s ease;
                }
                &:hover {
                    .recurring-dashboard-card_text_wrap .recurring-dashboard-card-heading,
                    .recurring-dashboard-card_text_wrap .recurring-dashboard-card-subheading {
                        color: white;
                    }
                    &::before {
                        top: 0;
                    }
                }
                &.active-status {
                    &::before {
                        top: 0;
                    }
                }
            }
            &.create-recurring--c {
                background-color: #504658;
                max-width: 180px;
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-self: center;
                .create-recurring--ic {
                    width: 80px;
                    height: 80px;
                    background-color: $ThemeColor;
                    border-radius: 50%;
                    background-image: url(../../assets/images/template/plus.png);
                    background-repeat: no-repeat;
                    background-size: 32px;
                    background-position: center;
                }
                .create-recurring--name {
                    color: #fff;
                    max-width: 100%;
                    text-align: center;
                    font-size: 0.85rem;
                    margin: 0;
                    overflow: hidden;
                }
            }
        }
    }
    .next-btn.ezi-btn[disabled] {
        pointer-events: none;
    }
    .filter-search-wrap {
        margin: 20px 0;
    }
    .recurring-dashboard-table {
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        background-color: #ffff;
        border-radius: 5px;
        width: 100%;
        font-family: $SemiBoldFont;
        .recurring-dashboard-table-row {
            display: table-row;
            .recurring-dashboard-table-cell {
                display: table-cell;
                padding: 20px 15px;
                color: #b7b7b7;
                border-bottom: 1px solid #e9e9e9;
            }
        }
        .recurring-table-heading {
            font-family: $SemiBoldFont;
        }
    }

    .recurring-dashboard-table-header {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        margin-bottom: 15px;
        .recurring-dashboard-table-header-left {
            span {
                color: #1c1c1c;
                font-family: $SemiBoldFont;
                font-size: 1rem;
                text-transform: capitalize;
            }
        }
    }
    .recurring-table-no-result {
        height: 250px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #e9e9e9;
        color: #b7b7b7;
    }
    .recurring-dashboard-table {
        margin: 0;
        border-radius: 5px;
        width: 100%;
        display: table;
        background-color: #ffffff;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        .recurring-dashboard-table-row {
            display: table-row;
            &:last-child {
                .recurring-dashboard-table-cell {
                    border-bottom: 0;
                }
            }
        }
        .recurring-dashboard-table-row.recurring-table-heading {
            font-family: $SemiBoldFont;
            .recurring-dashboard-table-cell {
                padding: 20px 15px;
                color: #b7b7b7;
                font-size: 0.8rem;
                font-family: $SemiBoldFont;
                &:first-child {
                    text-align: left;
                    padding-left: 40px;
                }
                &:last-child {
                    padding-right: 40px;
                }

                .appeared-heading {
                    white-space: nowrap;
                }
            }
        }
        .recurring-dashboard-table-cell {
            padding: 30px 12px;
            display: table-cell;
            text-align: center;
            border-bottom: 1px solid #e9e9e9;
            vertical-align: middle;
            color: #1c1c1c;
            font-size: 0.85rem;
            &:first-child {
                text-align: left;
                padding-left: 40px;
            }
            &:last-child {
                padding-right: 40px;
            }
        }
        .survey-type,
        .owner-name {
            white-space: nowrap;
        }

        @mixin icon-default {
            background: transparent;
            border: 0;
            padding: 0;
            color: #c5c5c5;
            transition: color 0.3s ease;
            font-family: $Font;
            font-size: 0.85rem;
            display: inline-flex;
            align-items: center;
            &:focus {
                outline: 0;
            }
            &:before {
                content: "";
                display: inline-block;
                background-size: 16px;
                background-position: center;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;
                margin-right: 2px;
                transition: background-image 0.3 ease;
            }
            &:hover {
                color: $ThemeColor;
            }
        }
        .delete_data {
            @include icon-default;
            &:hover {
                &:before {
                    background-image: url(../../assets/images/table_delete_active_ic.svg);
                }
            }
            &:before {
                background-image: url(../../assets/images/table_delete_ic.svg);
                background-size: 11px;
            }
        }
        .edit_data {
            @include icon-default;
            &:hover {
                &:before {
                    background-image: url(../../assets/images/table_edit_actives_ic.svg);
                }
            }
            &:before {
                background-image: url(../../assets/images/table_edit_ic.svg);
            }
        }
        .recurring-table-survey-wrap {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .category-survey-logo {
            height: 50px;
            width: 50px;
            min-width: 50px;
            margin-right: 25px;
            border-radius: 4px;
        }
        .recurring-table-survey-name {
            color: #1c1c1c;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
            margin-bottom: 2px;
            text-transform: capitalize;
        }
        .recurring-table-create {
            font-size: 0.75rem;
            color: #b7b7b7;
        }

        .recurring-table-survey-text-wrap {
            display: flex;
            flex-direction: column;
        }
        .table-count {
            height: 24px;
            line-height: 24px;
            min-width: 28px;
            background: #cfcdd2;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 14px;
            font-size: 0.8rem;
            padding: 0 10px;
            color: #504658;
        }

        .dt-status-formatter {
            border: 1px solid #e9e9e9;
            border-radius: 25px;
            min-width: 80px;
            min-height: 25px;
            line-height: 25px;
            display: inline-block;
            color: #1c1c1c;
            font-family: $SemiBoldFont;
            font-size: 0.87rem;
            cursor: pointer;
            padding-left: 10px;
            position: relative;
            text-align: center;
            text-transform: capitalize;
            font-weight: normal;
            text-shadow: none;
            opacity: 1;
            float: unset;
            &:hover {
                color: #fff;
                &:before {
                    background-color: #fff !important;
                }
            }
            &:before {
                content: "";
                height: 7px;
                width: 7px;
                display: inline-block;
                margin-right: 8px;
                border-radius: 50%;
                position: absolute;
                left: 7px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.active {
                &:before {
                    background-color: #b5ee5f;
                }
                &:hover {
                    background-color: #b5ee5f;
                    border-color: #b5ee5f;
                }
            }
            &.inactive {
                &:before {
                    background-color: #fbcd49;
                }
                &:hover {
                    background-color: #fbcd49;
                    border-color: #fbcd49;
                }
            }
            &.closed {
                &:before {
                    background-color: #ff4e4e;
                }
                &:hover {
                    background-color: #ff4e4e;
                    border-color: #ff4e4e;
                }
            }
        }

        .dt-responses-formatter {
            color: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
        }
        .action-wrap {
            display: inline-flex;
        }
        .dt-dropouts-formatter {
            color: #7a6c85;
            font-family: $SemiBoldFont;
            font-size: 1rem;
        }
        .response-devider {
            color: #b7b7b7;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
            margin: 0 5px;
        }
        .dt-analyze-formatter {
            border: 1px solid #8d8d8d;
            color: #8d8d8d;
            background: transparent;
            border-radius: 25px;
            font-size: 0.87rem;
            padding: 0 24px;
            min-height: 32px;
            font-family: $SemiBoldFont;
            transition: all 0.3s ease;
            &:focus {
                outline: 0;
            }
            &:hover {
                background-color: #8d8d8d;
                color: #fff;
            }
            &[disabled] {
                opacity: 0.4;
                &:hover {
                    background-color: transparent;
                    color: #8d8d8d;
                }
            }
        }
    }
}
.Page-SaveRecurringDetails {
    padding: 40px 7%;
    background-color: #f2f5f8;
    .breadcrumb_ezi {
        border: 0;
    }
    .recurring-form-wrapper {
        width: 60%;
        max-width: 450px;
        min-width: 300px;
        margin: 0 auto;

        .recurring-form-field {
            display: flex;
            flex-direction: column;
            margin: 0 0 25px 0;
            justify-content: center;
            align-items: center;
            .field-error {
                color: #ff1616;
                align-self: baseline;
                margin: 5px 0 0 5px;
                font-family: $Font;
                font-size: 0.9rem;
            }
        }
        .recurring-form-header {
            text-align: center;
            margin: 0 0 25px 0;
            font-family: $SemiBoldFont;
            color: #504658;
            font-size: 1.8rem;
        }
        .recurring-form-field-input {
            background-color: #fff;
            border-radius: 25px;
            border: 0;
            width: 100%;
            padding: 14px 30px;
            box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
            font-size: 1rem;
            color: #504658;
            resize: none;
            &:focus {
                outline: none;
            }
            &::-webkit-input-placeholder {
                color: #8d8d8d;
            }

            &:-ms-input-placeholder {
                color: #8d8d8d;
            }

            &::placeholder {
                color: #8d8d8d;
            }
        }
        .recurring-form-field-button {
            background: #504658;
            color: #fff;
            border: 0;
            border-radius: 25px;
            padding: 8px 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 230px;
        }
    }
}
.Page-RecurrenceDetails {
    padding: 40px 7%;
    background-color: #f2f5f8;
    width: 100%;
    .recurrence-wrapper {
        .margin-25 {
            margin-left: 25px;
        }
        background-color: #ffffff;
        box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
        border-radius: 5px;
        .header-details,
        .setting-header {
            font-family: $SemiBoldFont;
            color: #504658;
            font-size: 1.3rem;
            border: 0;
            padding: 15px;
            border-bottom: 1px solid #dde0e2;
            margin: 0px;
        }
        .setting-header {
            padding: 15px;
            border: 0;
        }
        .header-pad5 {
            display: inline-block;
            padding-left: 5px;
            padding-right: 0px;
            font-size: 0.9rem;
        }
        .checkbox-label {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            font-size: 0.87rem;
            font-family: $Font;
        }
        .select-search {
            width: 80%;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 25px;
            .select-search__value .select-search__input {
                border-radius: 25px;
                &:hover {
                    border-color: $ThemeColor;
                }
            }
            .select-search__select {
                .select-search__options {
                    padding: 0;
                    margin-bottom: 0;
                    .select-search__row .select-search__option.is-selected {
                        background: $ThemeColor;
                    }
                }
            }
        }
        span {
            font-size: 0.87rem;
            font-family: $Font;
        }
        .list-data-wrap {
            display: flex;
            flex-direction: column;
            height: 100%;
            max-height: 200px;
            overflow-y: auto;
            position: relative;
            min-height: 100px;
            margin: 15px 0;
            .qaizenx-checkbox-input {
                width: -moz-fit-content;
                width: fit-content;
            }
            &::-webkit-scrollbar {
                width: 5px;
            }
            .no-result {
                min-height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin: 0;
                    font-size: 0.87rem;
                    font-family: $Font;
                    color: #1c1c1c;
                }
            }
        }
        .recurrence-setting-wrapper {
            display: flex;
            .side-tab {
                max-width: 240px;
                width: 100%;
                border-right: 1px solid #dde0e2;
                .side-tab-nav {
                    .nav-item {
                        margin: 5px 0;
                        width: 100%;
                        .nav-link {
                            color: #c5c5c5;
                            background-color: transparent;
                            border-radius: 0;
                            padding: 10px 15px;
                            font-size: 0.87rem;
                            font-family: $Font;
                            position: relative;
                            &.active {
                                background-color: #f2f5f8;
                                color: #504658;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    height: 100%;
                                    width: 5px;
                                    background-color: $ThemeColor;
                                }
                            }
                        }
                        &:first-child {
                            margin: 0;
                        }
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
            .tab-content {
                padding: 0;
                flex-grow: 1;
                .tab-content-item {
                    .navigation-btn-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 15px;
                        .next-btn {
                            margin: 5px;
                            border-radius: 20px;
                            padding: 5px 15px;
                            background-color: $ThemeColor;
                            color: #f2f5f8;
                            transition: all 0.3s ease;

                            &:hover,
                            &:active {
                                background-color: #1c1c1c;
                            }
                        }
                        .prev-btn {
                            margin: 5px;
                            border-radius: 20px;
                            padding: 5px 15px;
                            background-color: #f2f5f8;
                            color: #1c1c1c;
                            transition: all 0.3s ease;
                            &:hover,
                            &:active {
                                color: $ThemeColor;
                            }
                        }
                    }
                    .recurrence-pattern {
                        display: flex;
                        border-bottom: 1px solid #dde0e2;
                        .recurrence-pattern-types {
                            width: 100%;
                            max-width: 150px;
                            padding: 15px;
                            border-right: 1px solid #dde0e2;
                        }
                        .recurrence-pattern-type-setting {
                            padding-right: 0;
                            flex-grow: 1;
                            display: flex;
                            align-items: center;
                            .weekly {
                                width: 100%;
                            }
                            .weekly-checkboxes {
                                padding: 5px;
                            }
                            .monthly {
                                padding: 5px;
                                .monthly-time,
                                .monthly-time-value,
                                .monthly-time-input {
                                    margin: 0px 10px;
                                    font-size: 0.87rem;
                                    padding-left: 5px;
                                    font-family: $Font;
                                    margin-bottom: 5px;
                                    border-radius: 25px;
                                    border-color: #dde0e2;
                                    padding: 2px 15px;
                                    display: inline-block;
                                    height: 34px;
                                    &:active,
                                    &:focus {
                                        outline: none;
                                    }
                                }
                                .monthly-time-text {
                                    color: #504658;
                                    font-size: 0.87rem;
                                    font-family: $Font;
                                    &.add-left {
                                        left: -10px;
                                        font-size: 0.7rem;
                                        font-weight: bold;
                                        top: -15px;
                                    }
                                }
                                .monthly-time-input {
                                    border: 1px solid #dde0e2;
                                }
                            }
                            .yearly {
                                padding: 5px;
                                .yearly-select,
                                .yearly-time-input {
                                    margin: 0px 10px;
                                    margin-bottom: 5px;
                                    border-radius: 25px;
                                    border-color: #dde0e2;
                                    padding: 2px 15px;
                                    font-size: 0.87rem;
                                    padding-left: 10px;
                                    font-family: $Font;
                                    display: inline-block;
                                    height: 34px;
                                    &:active,
                                    &:focus {
                                        outline: none;
                                    }
                                }
                                .yearly-time-input {
                                    border: 1px solid #dde0e2;
                                }
                                sup {
                                    color: #504658;
                                    font-size: 0.87rem;
                                    font-family: $Font;
                                    left: -10px;
                                    font-size: 0.7rem;
                                    font-weight: bold;
                                    top: -15px;
                                }
                                .time-input {
                                    border: 1px solid #dde0e2;
                                }
                            }
                        }
                    }
                    .recurrence-range {
                        padding: 12px;
                        .recurrence-range-types {
                            margin-left: 3px;
                            display: flex;
                            min-height: 40px;
                            align-items: center;
                            margin-bottom: 10px;
                            flex-wrap: wrap;
                            span {
                                font-size: 0.87rem;
                                font-family: $Font;
                                &.note {
                                    width: 100%;
                                    margin-left: 153px;
                                    font-size: 0.75rem;
                                }
                            }
                            .react-time-picker {
                                width: 100%;
                                max-width: 150px;
                                .react-time-picker__wrapper {
                                    border: 1px solid #dde0e2;
                                    border-radius: 25px;
                                    .react-time-picker__inputGroup {
                                        padding-left: 10px;
                                        .react-time-picker__inputGroup__input {
                                            min-width: 20px;
                                            text-align: center;
                                            &:focus,
                                            &:active {
                                                outline: none;
                                                font-size: 0.87rem;
                                                font-family: $Font;
                                            }
                                        }
                                    }
                                }
                            }

                            .checkbox-label {
                                width: 100%;
                                max-width: 150px;
                                margin: 0;
                                &.arrow-icon::before {
                                    content: "";
                                    display: inline-block;
                                    width: 17px;
                                    height: 17px;
                                    //background-color: red;
                                    background-image: url(../../assets/images/right-arrow.svg);
                                    background-size: 80%;
                                    margin-right: 10px;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                }
                            }
                            .react-datetime-picker {
                                max-width: 200px;
                                min-width: 150px;
                                .react-datetime-picker__wrapper {
                                    width: 100%;
                                    border-radius: 25px;
                                    .react-datetime-picker__inputGroup {
                                        min-width: 100%;
                                        span {
                                            font-size: unset;
                                        }
                                    }
                                    .react-datetime-picker__calendar-button {
                                        position: absolute;
                                        right: 3px;
                                    }
                                }
                                .react-datetime-picker__calendar {
                                    .react-calendar {
                                        border: 1px solid #dde0e2;
                                        border-radius: 5px;
                                    }
                                }
                            }
                            .recurrence-count {
                                max-width: 60px;
                                border-radius: 25px;
                                border: 1px solid #dde0e2;
                                text-align: center;
                                margin-right: 5px;
                                height: 30px;
                                &:focus,
                                &:active {
                                    outline: none;
                                }
                            }
                        }
                    }
                    .survey-selection-wrapper {
                        width: 100%;
                        .navigation-btn-wrapper {
                            margin-top: 15px;
                        }
                    }
                    .question-selection-wrapper {
                        padding: 15px;
                        padding-bottom: 0;
                        .setting-header {
                            padding-left: 0;
                        }
                        .question-selection-mode {
                            display: flex;
                            flex-direction: column;
                            .checkbox-label {
                                max-width: 300px;
                            }
                        }
                        .question-list-wrapper {
                            margin: 10px 0;
                            .question-mode-header {
                                width: 100%;
                                background-color: $ThemeColor;
                                color: #f2f5f8;
                                padding: 5px;
                                padding-left: 10px;
                                border-radius: 5px;
                                margin-top: 10px;
                            }
                            .question-lists-details {
                                margin: 15px 0;
                                .statement-detail {
                                    margin: 8px 0;
                                }
                                span {
                                    font-size: 0.87rem;
                                    font-family: $Font;
                                    color: #1c1c1c;
                                    display: inline-block;
                                }
                                .left-detail {
                                    width: 30%;
                                }
                                .right-detail {
                                    background: #dde0e2;
                                    padding: 0px 10px;
                                    border-radius: 10px;
                                    border: 0;
                                    margin-right: 5px;
                                }
                                input {
                                    max-width: 60px;
                                    font-size: 0.87rem;
                                    font-family: $Font;
                                    padding-right: 0;
                                    &:focus {
                                        border: 0;
                                        outline: 0;
                                    }
                                }
                            }
                        }
                    }
                    .participant-selection-wrapper {
                        padding: 0 10px;
                        .setting-header {
                            padding: 15px 0;
                            &.listing-header {
                                display: block;
                                font-size: 0.9rem;
                                background-color: $ThemeColor;
                                border-radius: 5px;
                                color: #f2f5f8;
                                padding: 5px;
                                margin-top: 15px;
                                margin-bottom: 15px;
                            }
                        }
                        .checkbox-label {
                            display: flex;
                            margin-bottom: 5px;
                        }
                        .mode-all,
                        .part-node-random-txt {
                            font-size: 0.9rem;
                            margin-left: 25px;
                            display: inline-block;
                        }
                        .mode-all {
                            color: $ThemeColor;
                        }
                        .part-node-random {
                            display: flex;
                            align-items: center;
                            input {
                                max-width: 60px;
                                max-height: 25px;
                                outline: none;
                                border: 0;
                                border-radius: 25px;
                                margin-left: 10px;
                                padding: 5px 10px;
                                background-color: #e6e2e2;
                                text-align: center;
                                font-size: 0.87rem;
                                font-family: $Font;
                            }
                            span.data-cl {
                                border-radius: 25px;
                                margin-left: 10px;
                                padding: 3px 10px;
                                background-color: #e6e2e2;
                                font-size: 0.87rem;
                                font-family: $Font;
                            }
                        }
                    }

                    .email-setting-wrapper {
                        padding: 0 10px;
                        .selection-tab {
                            display: flex;
                            //justify-content: center;
                            align-items: center;
                            padding: 15px 0;

                            button {
                                border-radius: 5px;
                                padding: 5px 10px;
                                width: 50%;
                                background-color: #f2f5f8;
                                color: #1c1c1c;
                                transition: all 0.3s ease;
                                font-size: 0.8rem;
                                font-family: $SemiBoldFont;

                                &:active,
                                &:hover,
                                &.active {
                                    background-color: $ThemeColor;
                                    color: #f2f5f8;
                                }
                                &.invitation {
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                                &.remainder {
                                    border-top-left-radius: 0;
                                    border-bottom-left-radius: 0;
                                }
                            }
                        }
                        .selection-tab-content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 15px;
                            .select-search {
                                margin-bottom: 25px;
                            }
                            .email-header {
                                font-size: 0.9rem;
                                padding: 0;
                                font-family: $SemiBoldFont;
                            }
                            .schedule-details {
                                width: 100%;
                                display: flex;
                                border-bottom: 1px solid #dde0e2;
                                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
                                border-radius: 5px;
                                .pattern-details,
                                .remainders-list {
                                    padding: 5px;
                                }
                                .pattern-details {
                                    width: 40%;
                                    p {
                                        margin: 5px 0;
                                        font-size: 0.7rem;
                                        font-family: $SemiBoldFont;
                                    }
                                }
                                .remainders-list {
                                    width: 60%;
                                    border-left: 1px solid #dde0e2;
                                    position: relative;
                                    .setting-header {
                                        display: inline-block;
                                    }
                                    .add-remainder {
                                        width: 20px;
                                        height: 20px;
                                        top: 5px;
                                        right: 5px;
                                        position: absolute;
                                        background-image: url(../../assets/images/add_icon.svg);
                                        background-position: center;
                                        background-size: 90%;
                                        background-repeat: no-repeat;
                                        border-radius: 50%;
                                        cursor: pointer;
                                        &:hover {
                                            background-image: url(../../assets/images/add_icon_active.svg);
                                        }
                                    }
                                    .remainders-list-item {
                                        padding: 0;
                                        margin: 0;
                                        display: inline-flex;
                                        flex-direction: column;
                                        width: 100%;
                                        list-style: none;
                                        max-height: 200px;
                                        overflow-y: auto;
                                        margin-top: 10px;
                                        &::-webkit-scrollbar {
                                            width: 5px;
                                        }
                                        li {
                                            font-size: 0.7rem;
                                            font-family: $SemiBoldFont;
                                            align-self: flex-start;
                                            padding: 5px 0;
                                            border-bottom: 1px solid #dde0e2;
                                            width: 100%;
                                            position: relative;
                                            //padding: 0 5px;
                                            &:last-child {
                                                border-bottom: 0;
                                            }

                                            input {
                                                max-width: 60px;
                                                outline: none;
                                                border: 0;
                                                border-radius: 25px;
                                                margin-left: 10px;
                                                padding: 5px 10px;
                                                background-color: #e6e2e2;
                                                text-align: center;
                                                font-family: $Font;
                                            }
                                            .remove-item {
                                                width: 15px;
                                                height: 15px;
                                                top: 25%;
                                                position: absolute;
                                                right: 10px;
                                                background-image: url(../../assets/images/table_delete_ic.svg);
                                                background-position: center;
                                                background-size: 60%;
                                                background-repeat: no-repeat;
                                                cursor: pointer;
                                                &:hover {
                                                    background-image: url(../../assets/images/table_delete_active_ic.svg);
                                                }
                                            }
                                        }
                                        p {
                                            margin: 0;
                                            font-size: 0.7rem;
                                            font-family: $SemiBoldFont;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
