@import "../../assets/scss/placeholder";
@import "../../assets/scss/variable";
.Page-OnlineUpdate{

    // Demographic Filter checkbox Start
    
    @import "../../assets/scss/filtercheckbox";

    // Demographic Filter checkbox End

    padding: 40px 7%;    
    .tab-header-wrap{
        position: relative;
        &:after {
            background-color: #DDE0E2;
            content: '';
            position: absolute;
            bottom: 16px;
            width: 100%;
            height: 1px;
        }
    }
    .tab-left-header .nav-item a{
        padding-bottom: 30px;
    }
    .bulk-update-save{
        padding: 6px 30px;
        border: 0;
        color: #fff;
        background-color: #504658;
        font-family: $Font;
        font-size: 0.9rem;
        border-radius: 25px;
        margin-bottom: 30px;
        margin-left: auto;
        &:focus{
            outline:0;
        }
    }

    .filter-search-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .participant-fiter-wrap{
            margin-right: 30px;
            margin-bottom: 10px;
        }
    }


    .custom-demography-select-dropdown{
        display: none;
        background-color: #fff;
        border-radius: 12px;
        padding: 0;
        max-width: 450px;
        min-width: 450px;
        height:300px;
        max-height:300px;
        width: 100%;
        flex-direction: column;
        // overflow: hidden;
        position: absolute;
        z-index: 9999;
        top: 100%;
        left: 0;
        margin-top: 8px;
        padding: 0;
        -moz-box-shadow:0px 3px 20px rgba(0,0,0,0.09); 
        -webkit-box-shadow:0px 3px 20px rgba(0,0,0,0.09); 
        box-shadow:0px 3px 20px rgba(0,0,0,0.09);
        &.active{
            display: inline-flex;        
        }
       
        ul {
            position: relative;
            padding: 0;
            height: calc(100% - 70px);
            overflow-y: auto;
            margin-right: 5px;
            &::-webkit-scrollbar {
                width: 4px;
            }
            li {
                list-style-type: none;
                padding: 0 10px;
                font-family: $Font;
                color:#B7B7B7;
                transition: color 0.3 ease;
                position: relative;
                font-size: 0.82rem;
                // &:hover{
                //     color:$ThemeColor;
                //     cursor: pointer;
                //     background-color: #FBFBFB;
                //     &:after{
                //         content: '';
                //             width:3px;
                //             height:100%;
                //             position: absolute;
                //             left:0;
                //             top:0;
                //             background-color:$ThemeColor;
                //     }
                    
                // }
                &:last-child{
                    padding-bottom: 20px;
                }

            }
        }
    }

   

    .participant-fiter-wrap{
        position: relative;
        display: inline-block;
        .custom-demography-select-dropdown{
            right: 0;
            left: unset;
        }
        .demograpgy-filter-wrap:before{
            left: unset;
            right: 50px;
        }
    }

    .demography-checkbox-wrap {
        display: flex;
        padding: 6px 0;
        align-items: center;
        font-size: 0.78rem;
    }

    // demograpgy Filter css Start
    .demograpgy-filter-wrap{
        height: 100%;
        position: relative;
        &:before {
            border: 6px solid transparent;
            border-bottom-color: #fff;
            position: absolute;
            left: 170px;
            top: -12px;
            content: '';
            z-index: 99;
        }
        .filter-tab-header{
            background: #FBFBFB;
            max-width: 200px;
            min-width: 200px;
            width: 100%;
            .nav.nav-pills{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                overflow-y: auto;
                height: 100%;
                padding-top: 10px;
                &::-webkit-scrollbar {
                    width: 4px;
                }
            }
            .nav-link{
                color:#C5C5C5;
                font-size: 0.78rem;
                background-color: transparent;
                text-transform: capitalize;
                font-family: $Font;
                padding: 7px 30px 7px 15px;
                display: flex;
                align-items: center;
                .checkbox-count{
                    height: 18px;
                    min-width: 18px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background: #b7b7b7;
                    color: #656565;
                    border-radius: 25px;
                    margin-left: 8px;
                    font-size: 0.7rem;
                    padding: 3px;
                }
            }
            .nav-link.active{
                color:#5A4E63;
                background-image: url(../../assets/images/breadcrumb‭_arrow.svg);
                background-size: 6px;
                background-position: center right 15px;
                background-repeat: no-repeat;
            }
            
            .nav-item:last-child{
                .nav-link{
                    padding-bottom: 20px;
                }
            }
        } 
        .demography-filter-search-wrap {
            display: flex;
            align-items: center;
            margin: 20px 0;
        }

        .check_all_wrapper {
            display: inline-flex;
            overflow: hidden;
            position: relative;
            padding: 0 10px;

            .check_all_checkbox {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                cursor: pointer;
            }
            
             .check_all_txt {
                font-family: "NunitoSansSemiBold";
                font-size: 0.89rem;
                color: #b7b7b7;
                transition: color 0.3s ease;
                &.checkbox-active{
                    color: $ThemeColor;
                }
            }
            &:hover .check_all_txt {
                color: $ThemeColor;
            }
            
        }

        .filter-select-all {
            border: 0;
            background: transparent;
            color: #B7B7B7;
            font-size: 0.8rem;
            padding: 4px 10px;
            display: inline-flex;
            margin-right: 0px;
            &:hover{
                color:$ThemeColor;
            }
            &:focus{
                outline:0;
            }
        }
        .demography-filter-search {
            border-radius: 25px;
            border: 1px solid #F6F6F6;
            padding: 0 10px;
            min-height: 34px;
            margin: 0 10px;
            font-size: 0.8rem;
            color:#5A4E63;
            &:focus {
                background-color: #F2F5F8;
                outline: 0;
            }
            @include placeholder {
                color: #D9D9D9;
            }
        }
        .demography-filter-inner{
            height: calc(100% - 46px);
            display: flex;
        }
        .demography-filter-tab-content{
            width: 100%;
            padding: 0 0 0 10px;
            .tab-pane{
                height: 100%;
            }
        }
        .demograpgy-filter-header {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px solid #F6F6F6;
        }
        .demograpgy-filter-heading{
            margin:0;
            color:$ThemeColor;
            padding-left: 15px;
            font-size: 1rem;
        }
        .filter-btn-wraps {
            margin-left: auto;
        }
        .filter-apply-btn{
            padding: 0 16px;
            min-height: 24px;
            font-size: 0.78rem;
            margin-right: 10px;
        }
        .filter-close-btn{
            padding:0;
            border:0;
            background-color: transparent;
            color:#CECECE;
            font-size: 0.78rem;
            &:focus{
                outline:0;
            }
        }
        

    }
    // demograpgy Filter css End


    


}