@import "../../../assets/scss/variable";
/*
 * PROFILE  PAGE CSS START
 */
.Page-Profiles{
    padding: 40px 7%;

    .profile-card-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
        .profile-card {
            position: relative;
            background-color: #fff;
            border-radius: 5px;
            display: inline-flex;
            flex-direction: column;
            width:calc(25% - 40px);
            min-width: 230px;
            min-height: 200px;
            max-height: 200px;
            padding: 20px;
            margin: 0 20px 40px;
            -moz-box-shadow: -1px 7px 60px rgba(0,0,0,0.08);
            -webkit-box-shadow: -1px 7px 60px rgba(0,0,0,0.08);
            box-shadow: -1px 7px 60px rgba(0,0,0,0.08);
            cursor: pointer;
            &:hover:before{
                content: '';
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                border:1px solid $ThemeColor;
            }
            &:hover .profile-card-delte_ic{
                background-image: url(../../../assets/images/profile-card-delete-active.svg);
                visibility: visible;
            }
        }
        .profile-card-label{
            color:#504658;
            font-family: $SemiBoldFont;
            font-size: 1rem;
            padding-right: 30px;
            margin-bottom: 10px;
        }
        .profile-card-des{
            color:#C5C5C5;
            font-family:$LightFont;
            font-size: 0.9rem;
            line-height: 24px;
            margin: 0;
        }
        .profile-card-delte_ic{
            background-image: url(../../../assets/images/profile-card-delete.svg);
            background-size: 21px;
            background-position: center;
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 15px;
            right: 20px;    
            cursor: pointer; 
            visibility: hidden;
        }
    }

    .card-pagination-wrap {
        display: flex;
        justify-content: center;
        .card-pagination {
            margin: 0;
            padding: 0;
            display: inline-flex;
            align-items: center;
        }
        .card-page-item {
            list-style-type: none;
            &:last-child{
                .card-page-link{
                    margin-right: 0;
                }

            }
        }
        .card-page-link{
            height: 22px;
            width: 22px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #504658;
            font-family: $Font;
            font-size: 0.9rem;
            cursor: pointer;
            border-radius: 2px;
            margin-right: 2px;

        }
    }
    
   

}
/*
 * PROFILE  PAGE CSS END
 */


/*
 * PROFILE PERMISSION PAGE CSS START
 */
.Page-ProfilePermission{
    padding: 40px 7%;

    @import "../../../assets/scss/ezicheckbox";

   .permission-edit {
        background: #5A4E63;
        padding: 7px 36px !important;
        &.active{
            background: $ThemeColor;
        }
    }

    .user-info-action-delete{
        margin-left: 10px;
    }

    .ezi-checkbox {
        height: 18px;
        width: 20px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .checkbox-label-wrap {
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;
        flex-wrap: wrap;
        .checkbox-label {
            color: #5A4E63;
            font-family: $SemiBoldFont;
            font-size: 0.8rem;
        }
        .checkbox-subtitle {
            display: block;
            color: #C5C5C5;
            font-size: 0.75rem;
            margin-left: 30px;
        }
    }

    .permission-header-wrap {
        display: flex;
        flex-wrap: wrap;
        min-height: 200px;
    }
    
    .permission-header-left {
        border-radius: 7px;
        background: #fff;
        padding: 25px;
        flex: 1;
        // margin-right: 30px;
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.016);
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.016);
        box-shadow: 0 3px 6px rgba(0,0,0,0.016);
    }
    
    .permission-header-right {
        border-radius: 7px;
        max-width: 290px;
        background: #fff;
        width: 100%;
        padding: 25px;
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.016);
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.016);
        box-shadow: 0 3px 6px rgba(0,0,0,0.016);
        .info-heading{
            color: #5A4E63;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
            margin-bottom: 20px;
        }
    }

    .permission-header-field {
        display: flex;
        align-items: flex-start;
    }
    
    .permission-header-form-label {
        color: #5A4E63;
        font-family: $SemiBoldFont;
        font-size: 0.9rem;
        margin: 7px 0;
        min-width: 120px;
    }
    .permission-input-wrap {
        width: 100%;
        margin-bottom: 15px;
        .error-message {
            color: #ff0000;
            font-size: 14px;
            margin: 5px 0;
            display: block;
            padding: 0 12px;
            font-family:$SemiBoldFont;
        }
    }
    .permission-header-input {
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 9px 15px;
        background-color: transparent;
     
        width: 100%;       
        font-size: 0.85rem;
        color:$ThemeColor;
        pointer-events: none;
        &:focus{
            outline: 0;
        }
        &.active{
            color:#5A4E63;
            border-color: #E9E9E9;
            pointer-events: initial;
            background-color: #fbfbfb;
        }
    }
    .permission-header-textarea{
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 7px 15px;
        background-color: transparent;
        resize: none;
        width: 100%;
        min-height: 100px;
        color:#C5C5C5;        
        font-size: 0.85rem;
        pointer-events: none;
        &::-webkit-scrollbar {
            width:3px;
        }
        &:focus{
            outline: 0;
        }
        &.active{
            color:#5A4E63;
            border-color: #E9E9E9;
            pointer-events: initial;
            background-color: #fbfbfb;
        }
    }

    .privilege-wrap {
        margin-top: 40px;
    }


    .privilege-heading {
        margin-bottom: 30px;
        color: #504658;
        font-family: $SemiBoldFont;
        font-size: 1.1rem;
        margin-left: 40px;
    }
   
    
     
      .permission-table {
        margin: 0;
        border-radius: 5px;
        width: 100%;
        display: table;
        background-color: #FFFFFF;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);  
      } 

        .permission-table-header {
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            margin-bottom: 15px;
          
        }

        .permission-table-row  {
            display: table-row; 
            &:nth-child(2){
                .permission-table-cell{
                    padding-top: 40px;
                }
            }             
            &:last-child{
                .permission-table-cell{
                    border-bottom: 0;
                    padding-bottom: 50px;
                }
            }
          }
          .permission-table-row.permission-table-heading {
            font-family: $SemiBoldFont;
            .permission-table-cell{
                padding: 20px 15px;
                border-bottom: 1px solid #e9e9e9;
                color: #B7B7B7;
                &:first-child{
                    text-align:left;
                    padding-left: 40px;
                }    
                &:last-child{
                    padding-right: 40px;
                }        
            }
          }
          .permission-table-cell {
            padding: 15px 12px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;    
            color: #5A4E63;
            font-size: 0.85rem;
            &:first-child{
                text-align:left;
                padding-left: 40px;
            }
            &:last-child{
                padding-right: 40px;
            }
          }

          @media screen and (max-width: 850px) {
            .permission-table {
                display: block;
                background: transparent;
                box-shadow: none;
                .permission-table-row  {
                    padding: 20px 10px 20px;
                    display: block;
                    margin-bottom: 20px;
                    background-color: #fff;
                    border-radius: 5px 5px 0 0;
                    box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
                    &:first-child{
                        margin-bottom: 0;
                    }
                  }
              }
           
            .permission-table-row.permission-table-heading {
                display: none;
            }
            
            .permission-table-row .permission-table-cell {
                padding: 20px 16px;
                display: flex;
                align-items: center;
                text-align: left;
                &:first-child {
                    padding: 20px 16px;
                }
              &:before {
                margin-bottom: 3px;
                content: attr(data-title);
                min-width: 100px;
                font-size: 11px;
                line-height: 10px;
                font-family: $BoldFont;
                text-transform: uppercase;
                color: #5A4E63;
                display: block;
              }
            }
            
            
          }

        @media screen and (max-width: 767px) {
            .permission-header-wrap{
                flex-direction: column;
            }
            .permission-header-left{
                margin-bottom: 35px;
                margin-right: 0;
            }
            .permission-header-right{
                max-width: 100%;
            }
        }

        
        @media screen and (max-width: 480px) {
            .permission-header-field{
                flex-direction: column;
            }
        }
        



}
/*
 * PROFILE PERMISSION PAGE CSS END
 */