@import "../../assets/scss/placeholder";
@import "../../assets/scss/variable";
.Page-AddSingle{
    padding: 40px 7%;
    background-color: #F2F5F8;
    .tab-header-wrap{
        border-bottom: 1px solid #E9E9E9;
    }
    .tab-left-header .nav-item {
        margin-bottom: 10px;
        a{
            padding-bottom: 15px;
        }
    }
  
    .tab-left-header .nav-pills .nav-link.active:after, .tab-left-header .nav-pills .show > .nav-link:after{
        bottom: -11px;
    }
    .add-single-card {
        background-color: #fff;
        border-radius: 10px;
        padding: 40px 40px;
        margin-bottom: 30px;
        margin-top: 50px;
        box-shadow: 0 3px 2px rgba(0,0,0,.1);
    }
    .single-card-header{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    .card-user-info{

        .name{
            font-family: $Font;
            color:#8D8D8D;
            font-size: 1.4rem;
            margin: 6px 0 10px;
        }
        .role{
            color: #B7B7B7;
            font-family: $Font;
            font-size: 0.8rem;
            margin: 6px 0;
        }
    }
    .single-card-btn{
        margin-left: auto;
        display: inline-flex;
        align-items: center;
        .single-clear {
            padding: 5px 10px;
            border: 0;
            color: #BFBFBF;
            background-color: transparent;
            margin-right: 20px;
            font-family: $Font;
            font-size: 0.9rem;
            transition: color 0.3s ease;
            &:hover{
                color: $ThemeColor;
            }
            &:focus{
                outline:0;
            }
        }
        .single-save{
            padding: 6px 30px;
            border: 0;
            color: #fff;
            background-color: $ThemeColor;
            font-family: $Font;
            font-size: 0.9rem;
            border-radius: 25px;
            &:focus{
                outline:0;
            }
        }
    }
    .personal-form{
        .tab-content{
            padding: 40px 0;
        }
        .add-single-field-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        label{
            display: flex;
            flex-direction: column;
            color: #C5C5C5;
            font-family: $Font;
            margin-bottom: 5px;
            padding: 0 ;
            border:1px solid #ccc;
            font-size: 0.85rem;
            text-transform: capitalize;
            width: 50%;
            border-radius: 6px;
            margin-bottom: 20px;
            width: calc(50% - 10px);
            border-radius: 6px;
            margin-bottom: 30px;
            &:focus-within {
                background: #FBFBFB;
                border:1px solid #E9E9E9;
                border-radius: 6px;
            }
            input,select{
                border: 0;
                padding: 10px 20px;
                background-color: transparent;
                color:#1C1C1C;
                font-family: $Font;
                font-size: 1rem;
                border-radius: 6px;
                &:focus{
                    outline:0;
                }
                @include placeholder {
                    color: #ccc;
                    font-size: 0.9rem;
                }
                
            }
            select{
                -webkit-appearance: none;
                cursor: default;
                background: url(../../assets/images/select_arrow.svg);
                background-size: 10px;
                background-position: right 20px center;
                background-repeat: no-repeat;
                padding-right: 30px;
            }
            .error_cu{
                color:#ff0000;
                font-family: $SemiBoldFont;
                font-size: 0.9rem;
                margin-bottom: 10px;
            }
        }

        .save-btn{
            background-color: $ThemeColor;
            color: #fff;
            border: 0;
            height: 50px;
            padding: 0 56px;
            border-radius: 25px;
            font-family: $Font;
            font-size: 1.1rem;
            text-transform: uppercase;
            cursor:pointer;
            &:focus{
                outline: 0;
            }
        }
    }

    .radio-wrap{
        display: flex;
        padding: 0 20px;
        height: 44px;
        line-height: 44px;
        .radio-inner-wrap {
            margin-right: 20px;
            margin-bottom: 0;
            width: auto;
            height: 100%;
            .ezi-checkmark{
                top:13px
            }
        }
    }




    /* The container */
.ezi-radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    font-family: $Font;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .ezi-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    padding: 0;
    left: 3px;
    top: 2px;
    z-index: 999;
    width:100%;
    height:100%;
  }
  
  /* Create a custom radio button */
  .ezi-checkmark {
      position: absolute;
      top: 2px;
      left: 0;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border:1px solid #b4b4b4;
  }
  
  /* On mouse-over, add a grey background color */
  .ezi-radio:hover input ~ .ezi-checkmark {
    background-color: #eee;
  }
  
  /* When the radio button is checked, add a blue background */
  .ezi-radio input:checked ~ .ezi-checkmark {
       border: 1px solid $ThemeColor;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .ezi-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .ezi-radio input:checked ~ .ezi-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .ezi-radio .ezi-checkmark:after {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $ThemeColor;
  }

  .datepicker-wrap{
    padding: 0 20px;
    .react-date-picker{
        display: flex;
        height: 44px;
        .react-date-picker__wrapper{
            width:100%;
            .react-date-picker__calendar-button{
                background-image: url(../../assets/images/datepicker_c5.svg);
                background-size: 19px;
                background-position: center;
                background-repeat: no-repeat;
                width: 30px;
                min-width: 30px;
                height: 30px;
                margin-top: 5px;
                margin-right: -6px;
                svg{
                    display: none;
                }
            }
            input{
                padding: 0;
            }
        }
    }
  }

    .react-date-picker__wrapper{
        border:0;
    }
  .react-date-picker__button{
    &:focus{
        outline:0;
    }
  }
    .react-date-picker__clear-button{
        display: none;
    }


    .single-select{
        .css-yk16xz-control {
            border: 0;
        }
        .css-1okebmr-indicatorSeparator {
            background-color: transparent;
        }
        .css-1hwfws3{
            padding: 10px 0;
        }
        .css-1wa3eu0-placeholder{
                color: #e9e9e9;            
        }
    } 

    .phone-input-wrap {
        border: 1px solid #ccc;
        border-radius: 6px;
        width: calc(50% - 10px);
        &:focus-within {
            background: #FBFBFB;
            border: 1px solid #E9E9E9;
            border-radius: 8px;
        }
        .error_cu{
            color:#ff0000;
            font-family: $SemiBoldFont;
            font-size: 0.9rem;
            margin-bottom: 10px;
            margin-left: 20px;
        }
        .react-tel-input .flag-dropdown:hover .selected-flag, .react-tel-input .flag-dropdown:focus .selected-flag{
            background-color: transparent;
        }
        .phone-input-label{
            display: flex;
            flex-direction: column;
            color: #C5C5C5;
            font-family: "NunitoSans";
            margin-bottom: 5px;
            padding: 14px 20px 0;
            border: 1px solid transparent;
            font-size: 0.85rem;
            text-transform: capitalize;
        }
        .react-tel-input {
            padding: 4px 0;
            .form-control {
                border: 0;
                padding-left: 70px;
                color:#1C1C1C;
                font-family: $Font;
                font-size: 1rem;
                background: transparent;
                width: 100%;
                height: 36px;
                &:focus{
                    box-shadow: none;
                }
                &.open{
                }
                @include placeholder {
                    color: #e9e9e9;
                }
            }
            .flag-dropdown {
                border: 0;
                margin-left: 20px;
                background-color: transparent;
                &.open{
                    background: transparent;
                }
            }
            
        }
    }


    

}