@import "../../../../assets/scss/variable";
@import "../../../../assets/scss/placeholder";
@import "../../../../assets/scss/ezicheckbox";
@import "../../../../assets/scss/eziradio";
@import "../../../../assets/scss/ezi_modal";

// .page-responseRate{
//     padding: 40px 7%;
//     background-color: #f2f5f8;
//     .st_heading {
//         color: #504658;
//         font-size: 1.4rem;
//         font-family: "NunitoSansSemiBold",Helvetica,Arial,sans-serif;
//     }
.inner-response {
	margin: 0;
	border-radius: 5px;
	width: 100%;
	display: block;
	// background-color: #fff;
	box-shadow: -1px 7px 60px #f2f5f8;
	.st_heading {
		color: #676666;
		font-size: $CeTitle;
		margin-bottom: 20px;
		font-weight: 500;
		font-family: "NunitoSans", Helvetica, Arial, sans-serif;
	}

	.demographic-panel {
		padding: 12px 20px 0px;
		border-bottom: 1px solid #ebe5e5;
		background-color: #fff;
		margin-bottom: 15px;
		.demography {
			display: flex;
			align-items: center;
			.select-div {
				min-width: 225px;
				.select-demography {
					.css-yk16xz-control {
						cursor: pointer;
					}
				}
			}
			.control-label-demo {
				display: inline-block;
				margin-bottom: 0;
				white-space: nowrap;
				font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
				font-size: 0.9rem;
				color: #323232;
				margin-right: 20px;
			}
		}
		.selected-div {
			.selected-demography {
				margin: 15px 0 5px;
				.slected-elements {
					display: table-cell;
					width: 50%;
					div {
						cursor: -webkit-grab;
						float: left;
						margin: 3px 5px 2px 0 !important;
						background: url("../../../../assets/images/drag-back.jpg") 0 0 no-repeat;
						padding-left: 15px;
						height: 28px;
						padding: 10px;
						transition: opacity 0.4s ease-in-out;
						-webkit-transition: opacity 0.4s ease-in-out;
						span {
							background: url("../../../../assets/images/drag-front.jpg") right 0 no-repeat #dce0e2;
							padding-right: 20px;
							display: inline-block;
							vertical-align: top;
							position: relative;
							top: -10px;
							height: 27px;
							padding: 2px 10px 0 5px;
						}
						button {
							border: 0;
							background: none;
						}
					}
				}
			}
		}
		.select-div {
			.css-1pahdxg-control {
				border-color: unset;
				box-shadow: none;
				&:hover {
					border-color: unset;
				}
			}
		}
	}
	.demography-tree-section {
		position: relative;
	}
	.demo-tree-wrapper {
		overflow-x: scroll;
		background-color: #fff;
		.demography-tree-section.response-tree {
			margin: 20px auto;
			min-width: 510px;
			width: 80%;
			.res-coun-per-flex {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: 40px;
			}
			.response-title {
				font-size: 12px;
				font-weight: 700;
				margin-bottom: 10px;
				color: $ThemeColor;
				text-transform: uppercase;
				width: 100px;
				margin-left: 5px;
				text-align: center;
			}
			.main-tree {
				margin-left: 5px;
				position: relative;
				padding: 0;
				list-style: none;
				font-weight: bold;
				ul {
					&::before {
						border-left: 2px solid;
						bottom: 0;
						content: "";
						display: block;
						left: 0;
						position: absolute;
						top: 0;
						width: 0;
						border-color: #bac9d0;
					}
					li {
						padding-right: 0 !important;
						.respo-score {
							right: -25px;
							width: 92%;
						}

						&::before {
							border-top: 2px solid;
							content: "";
							display: block;
							height: 0;
							left: 0;
							margin-top: -1px;
							position: absolute;
							top: 20px;
							width: 15px;
							border-color: #bac9d0;
						}
						&:last-child {
							&::before {
								background: #fff none repeat scroll 0 0;
								bottom: 0;
								height: auto;
								top: 20px;
							}
						}
					}
				}

				li {
					color: $ThemeColor;
					font-size: 14px;
					font-weight: normal;
					line-height: 40px;
					margin: 0;
					padding: 0 0 0 25px;
					position: relative;
					&::before {
						border-top: 2px solid #bac9d0;
						content: "";
						display: block;
						height: 0;
						left: 0;
						margin-top: -1px;
						position: absolute;
						top: 18px;
						width: 12px;
					}

					.indicator {
						margin-right: 5px;
						cursor: pointer;
						font-size: 1.1rem;
					}
					a {
						text-decoration: none;
						color: $ThemeColor;
						font-weight: bold;
					}
					.repo-score {
						border-bottom: 1px solid #f9eaf0;
						height: 40px;
						position: absolute;
						right: 0;
						text-align: right;
						top: -5px;
						width: 90%;
						.r-score {
							// background: #878485 none repeat scroll 0 0;
							border-bottom: 1px solid #d8f2f1;
							// background-image: linear-gradient(#7a6c85, #8e8c8f, #7a6c85);
							color: #fff;
							display: inline-block !important;
							height: 40px;
							padding: 0 5px;
							position: relative;
							z-index: 9;
							font-size: 15px;
							font-weight: bold;
							text-align: center;
							width: 100px;
							margin-left: 5px;
						}
						.r-score1 {
							background-color: #9f9b9c;
						}
						.r-score2 {
							background-color: #858182;
						}
						.r-score3 {
							background-color: #676666;
						}
						.repo-scoreflex {
							display: flex;
						}
					}
				}
				// trial collapsible using css
				.nested {
					// display: none;
					transition: all 0.3s ease;
				}
				.nested.active {
					// display: list-item;
					transition: all 0.3s ease;
				}
				// End trial collapsible using css
			}
			ul.first-item {
				&::before {
					border-left: 2px solid;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					top: 0;
					width: 0;
					border-color: #bac9d0;
				}
			}
			.response-tracker-fetch {
				cursor: pointer;
			}
		}
	}
	.demo_all {
		display: block;
		content: attr(data-label);
		height: 100%;
		width: 70px;
		border-radius: 25px;
		font-size: 0.75rem;
		background-color: $ThemeColor;
		transition: all 0.6s;
		transition-delay: 0s;
		transition-delay: 0.01s;
		color: #fff;
		text-align: center;
		line-height: 32px;
		font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
		z-index: 1;
		margin-left: 10px;
		border: 1px solid $ThemeColor;
	}
	.excel-response-rate {
		cursor: pointer;
	}
	@media (max-width: 320px) {
		.demographic-panel .demography .select-div {
			min-width: 170px !important;
		}
	}
	@media (max-width: 600px) {
		.demographic-panel .demography .select-div {
			min-width: 200px;
		}
	}
}

// }
