@import "../../../assets/scss/variable";
@import "../../../assets/scss/placeholder";

.Page-TemplateAdd {
    height: 100%;
    overflow-y: auto;
    padding: 40px 7%;
    .template-add-beadcrumb {
        border-bottom: 0;
    }
    .error-message {
        color: #ff0000;
        font-size: 14px;
        margin: 5px 0;
        display: block;
        padding-left: 30px;
        font-family: $SemiBoldFont;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .template-category-wrap {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 100%;
        .category_label {
            color: #504658;
            font-size: 1.8rem;
            font-family: $Font;
            text-align: center;
            margin: 0 0 40px;
        }
        .category-field-control {
            margin-bottom: 30px;
        }
        .create-category-input {
            width: 100%;
            background-color: #fff;
            border-radius: 25px;
            border: 0;
            padding: 14px 30px;
            box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
            font-size: 1rem;
            color: #504658;
            resize: none;
            &:focus {
                outline: 0;
            }
            @include placeholder {
                color: #b7b7b7;
            }
            &::-webkit-scrollbar {
                width: 4px;
                background-color: #f5f5f5;
            }
        }
        .category_add_btn_wrap {
            display: flex;
            justify-content: center;
        }
        .category_add_btn {
            background: #504658;
            color: #fff;
            border: 0;
            border-radius: 25px;
            padding: 8px 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:focus {
                outline: 0;
            }
            .spinner-grow {
                margin-left: 10px;
            }
        }
    }

    .category-field-control .ezi-select-plugin {
        background-color: #fff;
        border-radius: 25px;
        border: 0;
        width: 100%;
        padding: 7px 0px;
        box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
        font-size: 1rem;
        color: #504658;
        resize: none;
        &.css-14jk2my-container {
            pointer-events: initial;
            &:hover {
                cursor: not-allowed;
                pointer-events: initial;
                .css-1ht9tev-control {
                    pointer-events: none;
                    cursor: not-allowed;
                }
                .css-1hwfws3 {
                    pointer-events: none;
                    cursor: not-allowed;
                }
            }
        }
        .css-c8odyh-control,
        .css-1l3nnzh-control {
            border-radius: 25px;
            padding: 0 20px;
        }
        .css-26l3qy-menu {
            border-radius: 12px;
            padding: 10px 0;
        }
        .css-1ht9tev-control {
            padding: 0 20px;
        }
    }
}
