@import "../../../assets/scss/variable.scss";
.Page-TemplateDashboard {
    padding: 40px 7%;
    background-color: #f2f5f8;
    @import "../../../assets/scss/surveyTemplateDashboard";

    @media (max-width: 620px) {
        .recent-st_card {
            max-height: 400px;
            min-height: 400px;
            margin-bottom: 10px;
        }
        .recent-st_card-body {
            ul {
                li {
                    flex-wrap: wrap;
                    .recent-st_name {
                        margin-bottom: 10px;
                        &::before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            margin-right: 5px;
                            border-radius: 50%;
                        }
                        &.active::before {
                            background-color: #b5ee5f;
                        }
                        &.inactive::before {
                            background-color: #fbcd49;
                        }
                        &.closed::before {
                            background-color: #ff6161;
                        }
                    }
                }
            }
        }
        .recent-st_card-body .recent-st_index {
            display: none;
        }
        .recent-st_card-body .recent-st_status {
            display: none;
        }
        .recent-st_card-body .recent-st_report {
            margin-left: 15px;
            padding: 3px 20px;
        }
        .recent-st_card-body .recent-st_report::before {
            height: 20px;
            width: 20px;
            background-position: left center;
        }
    }
}
