@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
.Page-SurveyCreator {
	@import "../../assets/scss/htmleditor";
	@import "../../assets/scss/survey_builder";
	.svd-logic-tab {
		height: 100%;
	}

	.svd-simulator-main {
		@import "../../assets/scss/survey_builder_preview";
	}

	#surveyPreview {
		@import "../../assets/scss/survey_builder_preview";

		.pretty .state label:before,
		.pretty .state label:after {
			border-radius: 3px;
			margin-top: 3px;
		}
	}
	.ezi-editor-inner {
		background-color: #ffffff;
		border-radius: 8px;
	}
	div[itemid="survey-builder-wrapper"] {
		position: relative;
		.custom-survey-save {
			position: absolute;
			right: 5px;
			top: 0px;
			font-size: 0.85rem;
			font-family: $Font;
			z-index: 1;
			height: 39px;
			background-color: $ThemeColor;
			color: #fff;
			border-radius: 5px;
			transition: all 2ms ease-in-out;
			padding: 0 15px;
			&:hover {
				background-color: #1c1c1c;
			}
		}
	}
	.disabled {
		pointer-events: none;
	}
	.setting_msg {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 150px;
		color: #b7b7b7;
	}
	.survey_access-wrap {
		display: flex;
		align-items: flex-start;
	}
	.survey_access-heading {
		color: #1c1c1c;
		font-size: 1rem;
		font-family: $SemiBoldFont;
		max-width: 400px;
		line-height: 24px;
		margin-bottom: 20px;
	}

	.survey-type-container {
		width: calc(100% - 190px);
	}

	.frequency-select-wrap {
		display: inline-flex;
		align-items: center;
	}

	.frequency-label {
		color: #504658;
		font-size: 0.85rem;
		margin-right: 4px;
		align-self: end;
		white-space: nowrap;
	}

	.frequency-select {
		-moz-appearance: none;
		-webkit-appearance: none;
		border: 0;
		background-color: transparent;
		border: 1px solid #f3f3f3;
		border-radius: 25px;
		padding: 0 35px 0 15px;
		height: 36px;
		min-height: 36px;
		background-size: 12px;
		background-position: center right 12px;
		background-repeat: no-repeat;
		background-image: url(../../assets/images/dropdown-arrow_c2.svg);
		width: 100%;
		color: #504658;
		font-size: 0.85rem;
		font-family: $Font;
		margin: 0;
		&:focus {
			outline: 0;
		}
	}

	.participant_action {
		display: block;
		text-align: center;
	}
	.participant_table_ic-wrap {
		display: flex;
		justify-content: center;
	}
	.participant-count-search-wrap {
		margin-left: auto;
		display: inline-flex;
		align-items: center;
		.sweet-search-table-header {
			margin: 10px 0;
			margin-left: 20px;
		}
	}

	.participant_table_ic {
		border: 0;
		background-color: transparent;
		color: #c5c5c5;
		padding: 5px 2px;
		font-family: $Font;
		font-size: 0.87rem;
		transition: color 0.3 ease;
		display: inline-flex;
		align-items: center;
		text-indent: -9999px;
		cursor: pointer;
		&:hover {
			color: $ThemeColor;
		}
		&:focus {
			outline: 0;
		}
		&:after {
			content: "";
			display: inline-block;
			background-size: 16px;
			background-position: center;
			background-repeat: no-repeat;
			height: 24px;
			width: 24px;
			margin-right: 2px;
			transition: background-image 0.3 ease;
		}
		&.tab_delete_ic {
			&:hover {
				&:before {
					background-image: url(../../assets/images/table_delete_active_ic.svg);
				}
			}
			&:after {
				background-image: url(../../assets/images/table_delete_ic.svg);
				background-size: 12px;
			}
		}
		&.tab_reset_ic {
			&:hover {
				&:before {
					background-image: url(../../assets/images/reset-pink.svg);
				}
			}
			&:after {
				background-image: url(../../assets/images/reset-grey.svg);
			}
		}
	}

	.languageDropdown {
		display: flex;
		background-color: #fff;
		justify-content: flex-end;
		margin: 0;
		padding: 10px 20px;
		.lang-text {
			color: #1c1c1c;
			font-size: 0.85rem;
			margin: 6px 10px 6px 0;
			font-family: $SemiBoldFont;
		}
		button {
			background-color: transparent !important;
			border: 1px solid #e1e1e1;
			padding: 3px 30px 3px 15px;
			border-radius: 5px;
			color: #504658;
			min-width: 110px;
			background-image: url(../../assets/images/dropdown-arrow_c2.svg);
			background-size: 12px;
			background-position: center right 10px;
			background-repeat: no-repeat;
			.flag-avtar-wrap .country-flag-label {
				font-size: 0.85rem;
				font-family: $Font;
				text-transform: capitalize;
			}
			&:after {
				display: none;
			}
		}
		.btn-primary:not(:disabled):not(.disabled).active,
		.btn-primary:not(:disabled):not(.disabled):active,
		.show > .btn-primary.dropdown-toggle {
			box-shadow: none;
			border-color: #e1e1e1;
		}
		.dropdown-item:active {
			color: #504658;
			background-color: transparent;
		}
	}

	.select2-container--classic {
		.select2-selection--single {
			background: transparent;
			border: 1px solid #e9e9e9;
			min-height: 44px;
			border-radius: 5px;
		}

		.select2-selection--single .select2-selection__arrow {
			height: 100%;
			background-color: transparent !important;
			border-left: 1px solid #e9e9e9;
			width: 40px;
			background-image: url(../../assets/images/dropdown-arrow_c2.svg) !important;
			background-size: 12px !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			b {
				display: none;
			}
		}
	}
	.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
		background: transparent;
	}

	.select2-container--classic.select2-container--open .select2-selection--single {
		border: 1px solid #e9e9e9;
	}
	.select2-container--classic .select2-selection--single:focus {
		border-color: #e9e9e9;
	}
	.select2-container--classic .select2-selection--single .select2-selection__rendered {
		line-height: 44px;
		padding-left: 20px;
	}

	padding: 40px 5%;
	background-color: #f2f5f8;
	.sjs-cb-container {
		&:hover {
			input:checked ~ .checkmark {
				background-color: $ThemeColor !important;
			}
		}
		.svd_editor_control:focus {
			outline: 0;
			+ span.checkmark {
				outline: 0 !important;
			}
		}
		.checkmark {
			position: absolute;
			left: 0;
			height: 18px;
			width: 19px;
			border-radius: 3px;
			-webkit-transform: unset;
			transform: unset;
			top: 3px;
			&.svd-main-background-color {
				border-color: $ThemeColor;
				background-color: $ThemeColor;
			}
			&.svd-light-background-color {
				border-color: #c5c5c5;
			}
			&:focus,
			&:active {
				outline: 0 !important;
				border: 0 !important;
			}
			&:after {
				position: absolute;
				left: 6px;
				top: 1px;
				width: 6px;
				height: 11px;
				border: solid #fff;
				border-width: 0 2px 2px 0;
			}
		}
	}

	.svd_container.sv_default_css label {
		font-family: $Font;
		font-weight: normal;
		font-size: 0.85rem;
	}

	.survey-creator-header {
		display: flex;
		align-items: flex-start;
		.survey-theme-name {
			color: #b8b5be;
			font-size: 0.89rem;
			margin: 0 0 8px;
			text-transform: capitalize;
		}
		.survey-template-wrap {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
		}
		.status-wrap {
			display: inline-flex;
			flex-direction: column;
			margin-left: auto;
		}
		.survey-status {
			color: #504658;
			font-size: 0.85rem;
			font-family: $SemiBoldFont;
			cursor: pointer;
			margin-left: 5px;
			text-transform: capitalize;
			float: unset;
			font-weight: normal;
			text-shadow: none;
			opacity: initial;
			line-height: initial;
			&:before {
				content: "";
				height: 8px;
				width: 8px;
				min-width: 8px;
				display: inline-block;
				margin-right: 7px;
				border-radius: 50%;
			}
			&.active:before {
				background-color: #b5ee5f;
			}
			&.inactive:before {
				background-color: #fbcd49;
			}
			&.draft:before {
				background-color: #b7b7b7;
			}
			&.close:before {
				background-color: #ff1616;
			}
		}
		.template-name-wrap {
			display: inline-flex;
			.survey-template-name {
				color: #504658;
				font-size: $CeTitle;
				font-family: $SemiBoldFont;
				text-transform: capitalize;
				border: 0;
				background: transparent;
				pointer-events: none;
				border-bottom: 1px solid transparent;
				min-width: 100px;
				max-width: 700px;
				padding-right: 25px;
				margin-bottom: 0;
				&.editable {
					pointer-events: initial;
					&:focus {
						outline: 0;
						border-color: #b8b5be;
					}
					&:hover {
						background-image: url(../../assets/images/edit-icon_5A.svg);
						background-size: 15px;
						background-position: top 5px right;
						background-repeat: no-repeat;
					}
				}
			}
			.edit-template-name {
				background-image: url(../../assets/images/edit-survey-name.svg);
				background-size: 20px;
				background-position: center;
				background-repeat: no-repeat;
				border: 0;
				height: 25px;
				width: 25px;
				background-color: transparent;
				margin-left: 15px;
				&:focus {
					outline: 0;
				}
			}
		}
		.survey_rollback {
			border: 0;
			background: transparent;
			padding: 0;
			color: #b8b5be;
			font-size: 0.89rem;
			font-family: $Font;
			display: inline-flex;
			align-items: center;
			margin-bottom: 10px;
			&:focus {
				outline: 0;
			}
			&:before {
				content: "";
				background-image: url(../../assets/images/breadcrumb_arrow_prev.svg);
				background-size: 7px;
				background-position: center;
				background-repeat: no-repeat;
				height: 14px;
				width: 14px;
				display: inline-block;
				transform: rotate(180deg);
				margin-right: 5px;
			}
		}
		.status-wrap {
			.survey-status-name {
				color: #b7b7b7;
				font-size: 0.8rem;
				.survey-status-color {
					height: 8px;
					width: 8px;
					background-color: #fbcd49;
					border-radius: 50%;
					display: inline-block;
					margin-right: 8px;
				}
			}
		}
	}

	#surveyCreatorContainer {
		overflow-x: hidden;
		.svd_container {
			background-color: transparent;
			height: initial !important;
			&:focus {
				outline: 0;
			}
		}
		// .svd-vertical-container__cell-content{
		//     position: initial;
		// }
	}
	.svd_survey_header {
		.svda-title-actions {
			display: none;
		}
	}

	.editor-tabs {
		border-radius: 0;
		border: 0;
		background: #f2f5f8;
		padding: 0 !important;
		display: flex;
		margin-bottom: 30px !important;
		border-bottom: 1px solid #e9e9e9;
		.nav-item {
			margin: 0;
			border: 0;
			position: relative;
			padding: 2px 20px;
			display: flex;
			justify-content: center;
			background-color: #f9f9f9;
			padding-right: 50px;
			border-radius: 5px 0 0 0;
			&.active {
				background-color: #fff;
			}
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				border-style: solid;
				border-width: 0 30px 40px 0;
				border-color: transparent #f2f5f8 transparent transparent;
			}
			.nav-link {
				color: #b7b7b7;
				border: 0;
				font-family: $SemiBoldFont;
				font-size: 0.85rem;
				display: inline-flex;
				position: relative;
				background: transparent;
				line-height: unset;
				height: 36px;
				display: inline-flex;
				align-items: center;
				&:hover {
					border: 0;
					background: none;
				}
				&:focus {
					outline: 0;
					border: 0;
					background: none;
				}
			}
			&.active {
				.nav-link {
					color: $ThemeColor;
					border: 0;
					font-family: $SemiBoldFont;
					font-size: 0.85rem;
					&:after {
						content: "";
						// height: 2px;
						// width: 100%;
						// background-color: $ThemeColor;
						// position: absolute;
						// bottom: -8px;
						// left: 0;
					}
				}
			}
		}
	}

	.tablist_ezi.survey-tab-container {
		.survey-tab-header-wrap {
			background-color: #fff;
			border-radius: 5px;
			-moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
			-webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
			box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
			.tab-left-header {
				display: flex;
				width: 100%;
				.nav {
					display: flex;
					width: inherit;
				}
				.nav-item {
					margin: 0;
					flex: 1;
					display: flex;
					justify-content: center;
					.nav-link {
						display: inline-flex;
						padding: 12px 24px;
						color: #b7b7b7;
						font-size: 0.89rem;
						&.active {
							color: #1c1c1c;
							&:after {
								background-color: #504658;
							}
						}
					}
				}
				.survey-preview-btn-wrap {
					flex: unset;
					.nav-link {
						padding: 0;
					}
					.survey-preview-btn {
						border: 0;
						background-color: $ThemeColor;
						color: #fff;
						border-radius: 5px;
						padding: 0 30px;
						&:focus {
							outline: 0;
						}
					}
				}
			}
		}

		.survey-tab-content {
			padding: 0;
			margin: 30px 0 20px;
		}
	}

	//tab css for participant , survey setting and launch survey
	.tablist_ezi.survey-inner-tab-container {
		background-color: #fff;
		border-radius: 5px;
		-moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.16);
		-webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.16);
		box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.16);
		.tab-left-header {
			.nav-item {
				margin: 0 10px 0 0;
				.nav-link {
					padding: 20px 12px;
					font-size: 0.89rem;
				}
			}
		}

		.survey-inner-tab-header-wrap {
			display: flex;
			border-bottom: 1px solid #e9e9e9;
			padding: 0 40px;
		}
		.tab-right-header {
			.nav-item {
				.nav-link {
					background-color: transparent;
					padding: 0;
				}
			}
			.inner_save_btn {
				margin-right: 10px;
				padding: 0 30px;
				&:focus {
					outline: 0;
				}
			}
			.inner_reset_btn {
				border: 0;
				background-color: transparent;
				color: #b7b7b7;
				&:focus {
					outline: 0;
				}
			}
		}

		.survey-inner-tab-content {
			padding: 40px 40px;
			min-height: 250px;
		}

		.saved_participants_table {
			overflow: hidden;
			.history_status {
				text-transform: capitalize;
				&:before {
					content: "";
					min-width: 8px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					display: inline-block;
					margin-right: 6px;
				}
				&.appeared_c {
					color: #504658;
					&:before {
						background: #b5ee5f;
					}
				}
				&.non-appeared_c {
					color: #504658;
					&:before {
						background: #ff6161;
					}
				}
				&.progress_c {
					color: #504658;
					&:before {
						background: #fbcd49;
					}
				}
			}

			.react-bootstrap-table {
				box-shadow: none;
				border: 1px solid #e9e9e9;
			}
		}

		// participant source TAB css Start

		.participant-source-datatable {
			.react-bootstrap-table {
				box-shadow: none;
				border: 1px solid #e9e9e9;
			}
		}

		.participant-source-wrap,
		.participant-list-wrap {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			.participant-source-heading,
			.participant-list-heading {
				color: #1c1c1c;
				font-size: 1rem;
				font-family: $SemiBoldFont;
				margin: 0 40px 0 0;
				padding: 9px 0;
				max-width: 150px;
				width: 100%;
			}
		}
		.participant-list-wrap {
			margin-top: 20px;
		}
		.sampled-select-wrap {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;
			align-items: flex-start;
			.survey-button-tab-select {
				flex: 1;
				margin: 20px 15px 0;
			}
		}
		.dropzone-wrap.survey-dropzone-wrap {
			.dropzone-area {
				margin: 14px 0 10px;
				&:after {
					width: calc(100% - 10px);
				}
			}
		}

		.custom-demography-select-wrap {
			position: relative;
			margin: 10px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.bulk-update {
			padding: 0 15px;

			.invitees-length-badge {
				background-color: #f12675;
				color: #fff;
			}
		}
		.invitees-length-btn {
			border: 1px solid #b7b7b7;
			background: transparent;
			border-radius: 25px;
			color: #b7b7b7;
			font-family: $Font;
			font-size: 0.87rem;
			min-height: 32px;
			padding: 0 20px;

			transition: all 0.3s ease;
			&:focus {
				outline: 0;
			}
			&:hover {
				background: $ThemeColor;
				border-color: $ThemeColor;
				color: #fff;
				.invitees-length-badge {
					background-color: #f12675;
					color: #fff;
				}
			}
			&.no-hover {
				border-color: #b7b7b7;
				background: transparent;
				color: #b7b7b7;
				.invitees-length-badge {
					color: #656565;
					background-color: #b7b7b7;
				}
			}
			&[disabled] {
				border-color: #b7b7b7;
				background: transparent;
				color: #b7b7b7;
				.invitees-length-badge {
					color: #656565;
					background-color: #b7b7b7;
				}
			}
		}
		.invitees-length-badge {
			color: #656565;
			height: 22px;
			line-height: 23px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-width: 22px;
			background-color: #b7b7b7;
			border-radius: 25px;
			font-size: 0.7rem;
			font-family: "NunitoSansSemiBold";
			padding: 0 5px;
			margin-left: 10px;
			transition: all 0.3s ease;
		}
		.custom-demography-select {
			border: 0;
			color: #d9d9d9;
			font-family: $Font;
			font-size: 0.85rem;
			background-color: transparent;
			background-image: url(../../assets/images/dropdown-arrow_c2.svg);
			background-size: 12px;
			background-position: center right 15px;
			background-repeat: no-repeat;
			background-color: transparent;
			border: 1px solid #f3f3f3;
			border-radius: 25px;
			max-width: 200px;
			width: 100%;
			min-height: 36px;
			text-align: left;
			padding: 0 35px 0 25px;
			margin: 10px 0;

			&:focus {
				outline: 0;
			}
			&.selected {
				color: $ThemeColor;
				background-image: url(../../assets/images/show-entry_ic.svg);
			}
		}
		.custom-demography-select-dropdown {
			display: none;
			background-color: #fff;
			border-radius: 12px;
			padding: 0;
			max-width: 450px;
			min-width: 450px;
			height: 300px;
			max-height: 300px;
			width: 100%;
			flex-direction: column;
			// overflow: hidden;
			position: absolute;
			z-index: 9999;
			top: 100%;
			left: 0;
			margin-top: 8px;
			padding: 0;
			-moz-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.09);
			-webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.09);
			box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.09);
			&.active {
				display: inline-flex;
				p{
					align-self: center;
					margin: auto 0;
					color: #b7b7b7;
				}
			}

			ul {
				position: relative;
				padding: 0;
				height: calc(100% - 70px);
				overflow-y: auto;
				margin-right: 5px;
				&::-webkit-scrollbar {
					width: 4px;
				}
				li {
					list-style-type: none;
					padding: 0 10px;
					font-family: $Font;
					color: #b7b7b7;
					transition: color 0.3 ease;
					position: relative;
					font-size: 0.82rem;
					// &:hover{
					//     color:$ThemeColor;
					//     cursor: pointer;
					//     background-color: #FBFBFB;
					//     &:after{
					//         content: '';
					//             width:3px;
					//             height:100%;
					//             position: absolute;
					//             left:0;
					//             top:0;
					//             background-color:$ThemeColor;
					//     }

					// }
					&:last-child {
						padding-bottom: 20px;
					}
				}
			}
		}

		.demography-checkbox-wrap {
			display: flex;
			padding: 6px 0;
			align-items: center;
			font-size: 0.78rem;
		}

		.participant-source-container,
		.participant-list-container {
			width: calc(100% - 190px);
		}

		.react-bootstrap-table {
			margin-top: 30px;
			.table tbody tr td:hover:after {
				display: none;
			}
		}
		.survey-button-tab-select,
		.survey-button-tab-input {
			-moz-appearance: none;
			-webkit-appearance: none;
			border: 0;
			background-color: transparent;
			border: 1px solid #f3f3f3;
			border-radius: 25px;
			padding: 0 30px;
			height: 36px;
			min-height: 36px;
			background-image: url(../../assets/images/dropdown-arrow_c2.svg);
			background-size: 12px;
			background-position: center right 15px;
			background-repeat: no-repeat;
			max-width: 200px;
			width: 100%;
			color: #504658;
			font-size: 0.85rem;
			font-family: $Font;
			margin: 20px 0;
			&:focus {
				outline: 0;
				// background-color: #F2F5F8;
				// border: 1px solid #D9D9D9;
			}
		}
		.survey-button-tab-input {
			background-image: none;
		}
		.sampling-apply-btn {
			margin-left: 20px;
			display: inline-flex;
			margin-top: 20px;
			background-color: #504658;
			padding: 7px 30px;
		}

		.survey-button-tab-header .nav-pills .nav-item {
			.nav-link {
				background-color: #f2f5f8;
				border-radius: 25px;
				padding: 6px 30px;
				color: #504658;
				font-size: 0.85rem;
				position: relative;

				transition: all 0.2s ease;
				&.active-link {
					padding-left: 15px;
					.tabpill-info-icon {
						position: absolute;
						right: 11px;
						background-image: url(../../assets/images/ezipopover.svg);
						content: "";
						width: 15px;
						height: 15px;
						background-size: 15px;
						background-position: center;
						background-repeat: no-repeat;
						top: 8px;
					}
				}

				&.active {
					background-color: $ThemeColor;
					color: #fff;
					&:after {
						display: none;
					}
				}
				&.disabled:hover {
					cursor: no-drop;
				}
			}
		}

		.survey-button-tab-content {
			padding: 0;
		}

		// Button TAB css End

		// demograpgy Filter css Start
		.demograpgy-filter-wrap {
			height: 100%;
			position: relative;
			&:before {
				border: 6px solid transparent;
				border-bottom-color: #fff;
				position: absolute;
				left: 170px;
				top: -12px;
				content: "";
				z-index: 99;
			}
			.filter-apply-btn {
				padding: 0 16px;
				min-height: 24px;
				font-size: 0.78rem;
				margin-right: 10px;
				&.clear-btn {
					background-color: #5a4e63;
				}
			}
			.filter-clear-btn {
				padding: 0 16px;
				min-height: 24px;
				font-size: 0.78rem;
				margin-right: 10px;
				background: #e9e9e9;
				color: #656565 !important;
			}
			.filter-tab-header {
				background: #fbfbfb;
				max-width: 200px;
				min-width: 200px;
				width: 100%;
				.nav.nav-pills {
					display: flex;
					flex-wrap: nowrap;
					flex-direction: column;
					overflow-y: auto;
					height: 100%;
					padding-top: 10px;
					&::-webkit-scrollbar {
						width: 4px;
					}
				}
				.nav-link {
					color: #c5c5c5;
					font-size: 0.78rem;
					background-color: transparent;
					text-transform: capitalize;
					font-family: $Font;
					padding: 7px 30px 7px 15px;
					display: flex;
					align-items: center;
					.checkbox-count {
						height: 18px;
						min-width: 18px;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						background: #b7b7b7;
						color: #656565;
						border-radius: 25px;
						margin-left: 8px;
						font-size: 0.7rem;
						padding: 3px;
					}
				}
				.nav-link.active {
					color: #5a4e63;
					background-image: url(../../assets/images/breadcrumb‭_arrow.svg);
					background-size: 6px;
					background-position: center right 15px;
					background-repeat: no-repeat;
				}

				.nav-item:last-child {
					.nav-link {
						padding-bottom: 20px;
					}
				}
			}
			.demography-filter-search-wrap {
				display: flex;
				align-items: center;
				margin: 20px 0;
			}

			.check_all_wrapper {
				display: inline-flex;
				overflow: hidden;
				position: relative;
				padding: 0 10px;

				.check_all_checkbox {
					position: absolute;
					opacity: 0;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 1;
					cursor: pointer;
				}

				.check_all_txt {
					font-family: "NunitoSansSemiBold";
					font-size: 0.89rem;
					color: #b7b7b7;
					transition: color 0.3s ease;
					&.checkbox-active {
						color: $ThemeColor;
					}
				}
				&:hover .check_all_txt {
					color: $ThemeColor;
				}
			}

			.filter-select-all {
				border: 0;
				background: transparent;
				color: #b7b7b7;
				font-size: 0.8rem;
				padding: 4px 10px;
				display: inline-flex;
				margin-right: 0px;
				&:hover {
					color: $ThemeColor;
				}
				&:focus {
					outline: 0;
				}
			}
			.demography-filter-search {
				border-radius: 25px;
				border: 1px solid #f6f6f6;
				padding: 0 10px;
				min-height: 34px;
				margin: 0 10px;
				font-size: 0.8rem;
				color: #5a4e63;
				&:focus {
					background-color: #f2f5f8;
					outline: 0;
				}
				@include placeholder {
					color: #d9d9d9;
				}
			}
			.demography-filter-inner {
				height: calc(100% - 46px);
				display: flex;
			}
			.demography-filter-tab-content {
				width: 100%;
				padding: 0 0 0 10px;
				.tab-pane {
					height: 100%;
				}
			}
			.demograpgy-filter-header {
				display: flex;
				align-items: center;
				padding: 10px 20px;
				border-bottom: 1px solid #f6f6f6;
			}
			.demograpgy-filter-heading {
				margin: 0;
				color: $ThemeColor;
				padding-left: 15px;
				font-size: 1rem;
			}
			.filter-btn-wraps {
				margin-left: auto;
			}
			.filter-apply-btn {
				padding: 0 16px;
				min-height: 24px;
				font-size: 0.78rem;
				margin-right: 10px;
			}
			.filter-close-btn {
				padding: 0;
				border: 0;
				background-color: transparent;
				color: #cecece;
				font-size: 0.78rem;
				&:focus {
					outline: 0;
				}
			}
		}
		// demograpgy Filter css End
	}

	// Right Edit Modal css start

	#surveyCreatorContainer {
		.svd_container #surveyquestioneditorwindow {
			top: 70px;
			svd-accordion {
				.svd-accordion-tab-header {
					min-height: 40px;
					line-height: 40px;
					background-color: #f2f5f8;
					border-radius: 5px;
					padding: 0;
					> span {
						width: 100%;
						display: inline-block;
						color: #656565;
						border-radius: 5px;
						padding-left: 15px;
						background-image: url(../../assets/images/dropdown-arrow_c2.svg);
						background-size: 14px;
						background-position: right 10px center;
						background-repeat: no-repeat;
					}
					.icon-toolbox-arrow {
						display: none;
					}
					.svd-main-color {
						background-color: #504658;
						width: 100%;
						display: inline-block;
						color: #fff;
						border-radius: 5px;
						padding-left: 15px;
						background-image: url(../../assets/images/dropdown_icon.svg);
						background-size: 14px;
						background-position: right 10px center;
						background-repeat: no-repeat;
					}
				}
				.sjs-cb-wrapper {
					margin: 0 0 7px;
				}
				.sjs-cb-container {
					.svd-main-background-color {
						background-color: $ThemeColor;

						border: 0;
					}
					.checkmark {
						border-radius: 3px;
						transform: unset;
						&:after {
							left: 8px;
							top: 4px;
							width: 6px;
							height: 11px;
							border: solid white;
							border-width: 0 3px 3px 0;
							transform: rotate(45deg);
						}
						&:focus {
							outline: 0;
						}
					}
				}
				.svd-accordion-tab-content {
					.form-group label {
						color: #504658;
						font-family: $SemiBoldFont;
						font-weight: normal;
						font-size: 0.86rem;
						margin-bottom: 10px;
					}
					.svd-popup-editor-tab-choices {
						.btn-primary {
							border-radius: 25px;
							padding: 7px 17px;
							color: #fff;
							font-size: 0.76rem;
							font-family: $Font;
							font-weight: normal;
							margin: 10px 0;
							border: 0;
						}
						.btn-link {
							border-radius: 25px;
							padding: 7px 17px;
							color: #656565;
							font-size: 0.76rem;
							font-family: $Font;
							font-weight: normal;
							background-color: #e9e9e9;
							border: 0;
							margin: 10px 5px;
							&:hover {
								text-decoration: none;
							}
						}
						.svd_items_table {
							tbody {
								tr {
									.svd-itemvalue-actions-container {
										.svd-drag-handle {
											background-image: url(../../assets/images/drag_field_ic.svg);
											background-size: 18px;
											background-position: center;
											background-repeat: no-repeat;
											text-indent: -9999px;
											height: 40px;
											width: 40px;
											min-width: 40px;
										}
										.svd-textitems-edit {
											background-color: #e9e9e9;
											color: #656565;
										}
									}
									.svd-textitems-column {
										.btn-danger {
											background-color: transparent;
											border: 1px solid #e9e9e9;
											border-radius: 5px;
											text-indent: -9999px;
											height: 40px;
											width: 40px;
											min-width: 40px;
											background-image: url(../../assets/images/table_delete_ic.svg);
											background-size: 13px;
											background-position: center;
											background-repeat: no-repeat;
											text-indent: -9999px;
										}
									}
								}
							}
						}
						.svd-items-control-footer {
							.btn-danger {
								margin: 10px 5px;
								border-radius: 25px;
								padding: 7px 17px;
								color: #656565;
								font-size: 0.76rem;
								font-family: $Font;
								font-weight: normal;
								background-color: #e9e9e9;
								border: 0;
							}
						}
					}
					.propertyeditor-condition {
						padding: 10px 0;
						.form-control {
							margin: 0 0 10px 0;
						}
						.svd_custom_select {
							margin: 0 15px 10px 0;
						}
						.form-control.btn-primary {
							font-family: $Font;
							border-radius: 25px;
							padding: 7px 20px;
							color: #fff;
							font-size: 0.76rem;
							font-weight: normal;
							margin: 10px 0;
							border: 0;
							background-color: $ThemeColor;
							min-height: initial;
							height: initial;
						}
					}
					.propertyeditor-validators {
						.input-group {
							.input-group-addon.first-addon {
								width: 44px;
								height: 40px;
								min-width: 44px;
								padding: 0;
								background-color: transparent;
								border: 1px solid #e9e9e9;
								border-radius: 5px;
								.glyphicon.glyphicon-plus::before {
									font-weight: normal;
									font-size: 23px;
									content: "+";
									color: #656565;
								}
								+ .form-control.svd_custom_select {
									border: 1px solid #e9e9e9;
									border-radius: 5px;
									min-height: 40px;
									line-height: initial;
									width: calc(100% - 30px);
									margin: 0 15px;
								}
							}

							.input-group-addon.btn-danger {
								width: 44px;
								height: 40px;
								min-width: 44px;
								padding: 0;
								background-color: transparent;
								border: 1px solid #e9e9e9;
								border-radius: 5px;
								background-image: url(../../assets/images/table_delete_ic.svg);
								background-size: 13px;
								background-position: center;
								background-repeat: no-repeat;
								text-indent: -9999px;
							}
						}
						// .svd_custom_select{
						//     margin: 0 15px;
						// }
					}
				}
			}
			.modal-dialog {
				margin: 0 0 0 auto;
				height: calc(100% - 70px);
				.modal-content {
					box-shadow: none;
					border-radius: 0;
					height: 100%;
					border: 0;
					border-top: 1px solid #f2f5f8;
					.modal-header {
						justify-content: flex-start;
						position: relative;
						border-bottom: 1px solid #f2f5f8;
						padding: 26px 30px;
						.close {
							position: absolute;
							right: 30px;
							font-size: 1.5rem;
							color: #cecece;
							opacity: 1;
							font-weight: normal;
							float: unset;
							font-family: $Font;
							margin: 0;
							padding: 5px;
							top: 50%;
							transform: translateY(-50%);
						}
						.modal-title {
							color: $ThemeColor;
							font-size: 1.1rem;
							font-family: $Font;
						}
					}
					.modal-body {
						background-color: #fbfbfb;
						padding: 30px;
						::-webkit-scrollbar {
							width: 6px;
						}
						.form-control {
							border: 1px solid #e9e9e9;
							border-radius: 5px;
							min-height: 40px;
							line-height: initial;
						}
						textarea {
							resize: none;
						}
						.svd_custom_select {
							&:before {
								background-color: #e9e9e9;
								color: #656565;
								border-radius: 0 5px 5px 0;
								height: 100%;
								background-image: url(../../assets/images/dropdown-arrow_c2.svg);
								background-size: 12px;
							}
						}
					}
					.modal-footer {
						padding: 15px 30px;
						border-top: 1px solid #f2f5f8;
						.btn-secondary {
							background-color: $ThemeColor;
							border-radius: 25px;
							padding: 8px 32px;
							font-size: 0.8rem;
							font-weight: normal;
							font-family: $Font;
							width: initial !important;
							margin: 0 5px 0 0;
						}
						.btn-primary {
							background-color: transparent;
							border-radius: 25px;
							padding: 8px 14px;
							color: #cecece;
							font-family: $Font;
							font-size: 0.8rem;
							width: initial !important;
							margin: 0;
						}
					}
				}
			}
		}
	}
	// Right Edit Modal css End

	// page theme ma[pping css start
	.Page-ThemeMapping {
		.questions-header {
			display: flex;
			align-items: center;
			padding: 20px 30px;
			border-bottom: 1px solid #e9e9e9;
			margin-bottom: 20px;
		}
		.question-heading {
			color: $ThemeColor;
			font-family: $SemiBoldFont;
			font-size: 1rem;
			display: inline-flex;
		}
		.question-theme-select-wrap {
			margin-left: auto;
			display: flex;
			align-items: center;
		}
		.question-theme-select {
			margin-right: 10px;
		}
		.question-theme-select,
		.question-subtheme-select {
			-moz-appearance: none;
			-webkit-appearance: none;
			background: transparent;
			border-radius: 9px;
			padding: 0 35px 0 15px;
			min-height: 40px;
			height: 40px;
			border: 1px solid #c2c2c2;
			color: #5a4e63;
			font-family: $Font;
			font-size: 0.87rem;
			max-width: 160px;
			width: 100%;
			min-width: 160px;
			text-transform: capitalize;
			background-image: url(../../assets/images/dropdown-arrow_c2.svg);
			background-size: 12px;
			background-position: center right 15px;
			background-repeat: no-repeat;
			&:focus {
				outline: 0;
			}
		}
		.question-save-wrap {
			margin-left: auto;
			.question-save {
				padding: 0 30px;
				margin-right: 12px;
			}
			.question-reset {
				background-color: transparent;
				border: 0;
				color: #b7b7b7;
				font-family: $Font;
				font-size: 0.8rem;
			}
		}
		.question-wrapper-section {
			background-color: #fff;
			border-radius: 5px;
			-moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.16);
			-webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.16);
			box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.16);
			padding-bottom: 30px;
		}
		.question-wrapper {
			display: flex;
			align-items: center;
			padding: 10px 30px;
		}
		.question-list {
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: 20px;
			color: #5a4e63;
			width: 100%;
			font-family: $Font;
			font-size: 1rem;
		}
	}
	// page theme mapping css End

	// Surevy tab inner tab css Start

	.survey-type-wrap,
	.statement-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		.survey-type-heading {
			color: #1c1c1c;
			font-size: 1rem;
			font-family: $SemiBoldFont;
			margin: 0 13px 0 0;
			padding: 9px 0;
			max-width: 150px;
			width: 100%;
		}
		.statement-heading {
			color: #1c1c1c;
			font-size: 1rem;
			font-family: $SemiBoldFont;
			margin: 0 40px 0 0;
			padding: 9px 0;
			max-width: 150px;
			width: 100%;
		}
	}

	.survey-type-wrap {
		.startend-date-wrap {
			display: flex;
			align-items: center;
			margin: 30px 0 20px;
			width: 100%;
			flex-flow: wrap;
			.startend-label {
				color: #504658;
				font-size: 0.85rem;
				margin-right: 5px;
			}
			.end-date-wrap {
				margin: 0 5px !important;
			}
			.date-wrapper-icon {
				background-image: url(../../assets/images/start-end-date.svg);
				background-size: 18px;
				background-position: center;
				background-repeat: no-repeat;
				height: 40px;
				width: 40px;
				margin-left: 0px !important;
			}
			.react-date-picker--disabled {
				border-radius: 25px;
			}
			.react-date-picker__wrapper {
				-moz-appearance: none;
				-webkit-appearance: none;
				border: 0;
				background-color: transparent;
				border: 1px solid #f3f3f3;
				border-radius: 25px;
				padding: 0 20px 0 35px;
				height: 36px;
				min-height: 36px;
				background-image: url(../../assets/images/datepicker_c5.svg);
				background-size: 18px;
				background-position: center left 12px;
				background-repeat: no-repeat;
				width: 100%;
				color: #504658;
				font-size: 0.85rem;
				font-family: "NunitoSans";
				margin: 0;
				.react-date-picker__inputGroup {
					input {
						color: #504658;
						&:focus {
							outline: 0;
						}
					}
				}
				.react-date-picker__button {
					display: none;
				}
			}
			.react-date-picker{
				z-index: 1;
			}
		}
	}

	.statement-wrap {
		.statement-select-wrap {
			display: flex;
			select {
				margin-right: 15px !important;
			}
		}
	}
	.map-identifier-btn-wrap {
		display: flex;
		justify-content: center;
	}
	.map_identifier_btn {
		border: 1px solid #8d8d8d;
		color: #8d8d8d;
		background: transparent;
		border-radius: 25px;
		font-size: 0.87rem;
		padding: 0 24px;
		min-height: 32px;
		font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
		transition: all 0.3s ease;
		&:hover:not([disabled]) {
			background-color: $ThemeColor;
			color: #fff;
			border-color: $ThemeColor;
		}
		&:hover[disabled] {
			background-color: #8d8d8d;
			color: #fff;
			cursor: not-allowed;
		}
	}

	.saved-demographic-filter-wrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.participant-fiter-wrap {
			position: relative;
			display: inline-flex;
			align-items: center;
			button {
				margin-left: 15px;
			}
			.sweet-search-table-header {
				margin-bottom: 0;
			}
			.custom-demography-select-dropdown {
				right: 0;
				left: unset;
			}
			
			.demograpgy-filter-wrap:before {
				left: 80%;
			}
			.saved-participant-download {
				height: 30px;
				width: 30px;
				min-width: 30px;
				background-image: url(../../assets/images/report/survey-analysis.svg);
				background-color: transparent;
				background-size: 26px;
				background-position: center;
				background-repeat: no-repeat;
				border: 0;
			}
		}
		.ezi-filter-btn {
			margin: 0;
			border-color: #8d8d8d;
			color: #8d8d8d;
		}
		.ezi-sweet-search-wrap .sweet-search-input {
			margin-right: 10px;
		}
	}

	.channel-main-wrap {
		display: flex;
		align-items: flex-start;
		margin-right: 10%;
		.channel-checkbox-wrap {
			display: inline-flex;
			align-items: center;
			max-width: 230px;
			width: 100%;
			margin-bottom: 25px;
		}
		.channel-heading {
			color: #1c1c1c;
			font-size: 1rem;
			font-family: $SemiBoldFont;
			margin: 0 40px 0 0;
			max-width: 200px;
			min-width: 200px;
			width: 100%;
			padding-left: 20px;
		}
		.channel-name {
			margin: 0;
			color: #b7b7b7;
			font-size: 0.87rem;
		}
		.channel-content {
			display: flex;
			flex-wrap: wrap;
			// flex: 1;
			width: calc(100% - 200px);
		}
	}

	.main-channel-tab-wrap {
		border: 1px solid #e9e9e9;
		border-radius: 25px;
		margin: 30px 0;
		width: 100%;
		&.border-none {
			border: 0;
			.survey-channel-tab-header {
				border: 0;
			}
		}
		.survey-channel-tab-header {
			border-bottom: 1px solid #e9e9e9;
			padding: 0 10px;
			.tab-left-header {
				.nav-item {
					margin: 0 20px;
					.nav-link {
						padding: 20px 10px;
						font-size: 0.77rem;
					}
				}
			}
		}

		.channel-tab-content {
			padding: 40px 20px;
		}

		.channel-select-mail {
			-moz-appearance: none;
			-webkit-appearance: none;
			border: 0;
			background-color: transparent;
			border: 1px solid #f3f3f3;
			border-radius: 25px;
			padding: 0 30px;
			height: 40px;
			min-height: 40px;
			background-image: url(../../assets/images/dropdown-arrow_c2.svg);
			background-size: 12px;
			background-position: center right 15px;
			background-repeat: no-repeat;
			width: 100%;
			color: #504658;
			font-size: 0.85rem;
			font-family: $Font;
			margin: 0;
			text-transform: capitalize;
			&:focus {
				outline: 0;
			}
		}
		.qr-preview-wrap {
			position: relative;
			.dynamic-participant-download {
				right: -5px;
				top: -25px;
			}

			.qr-preview-content {
				display: flex;
				align-items: flex-start;
				justify-content: center;
			}

			.qr-box {
				display: inline-flex;
				flex-direction: column;
				max-width: 360px;
				width: 100%;
			}

			.qr-input {
				border: 1px solid #e9e9e9;
				background: #f2f5f8;
				border-radius: 5px;
				height: 38px;
				padding: 0 10px;
				&:focus {
					outline: 0;
				}
			}

			.qr-inner-box {
				//max-height: 180px;
				min-height: 180px;
				border: 1px solid #e9e9e9;
				margin: 10px auto;
				border-radius: 5px;
				overflow-x: hidden;
				padding: 10px;
				overflow-y: auto;
				&::-webkit-scrollbar {
					width: 5px;
					height: 5px;
					background-color: #f5f5f5;
				}
				&::-webkit-scrollbar-thumb {
					background-color: #ddd;
					border-radius: 10px;
				}
				div > img {
					margin-top: 25px;
				}
				div > p {
					// margin: 10px 0 10px 0;
					&:nth-child(2){
						color: #4f4c4c;
						font-weight: bold;
						margin: 10px 0px 5px 0px;
					}
				}
				
			}
		}

		.email-preview-wrap {
			padding: 0;
			border: 1px solid #e9e9e9;
			border-radius: 25px;
			margin: 20px 0;
			position: relative;
			overflow: hidden;
		}
		.email-preview-length {
			position: absolute;
			right: 20px;
			bottom: 10px;
			color: #b7b7b7;
			font-size: 0.65rem;
		}
		.email-preview-header {
			padding: 15px 30px;
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid #e9e9e9;
		}
		.email-preview-heading {
			padding: 0;
			color: #504658;
			font-size: 0.85rem;
			font-family: $SemiBoldFont;
		}
		.email-default-placeholder-wrap {
			display: inline-flex;
			align-items: center;
			margin: 0 20px;
		}
		.email-default-placeholder {
			-moz-appearance: none;
			-webkit-appearance: none;
			background: #f2f5f8;
			border-radius: 9px;
			padding: 0 15px;
			min-height: 40px;
			height: 40px;
			border: 0;
			color: #c2c2c2;
			font-family: "NunitoSans";
			font-size: 0.87rem;
			max-width: 160px;
			width: 100%;
			min-width: 160px;
			background-image: url(../../assets/images/dropdown-arrow_c2.svg);
			background-size: 12px;
			background-position: center right 15px;
			background-repeat: no-repeat;
			&:focus {
				outline: 0;
			}
		}
		.email-preview-right-header {
			display: inline-flex;
			align-items: center;
			.email-preview-save {
				background: $ThemeColor;
				border: 0;
				color: #fff;
				border-radius: 25px;
				padding: 4px 20px;
				font-size: 0.8rem;
				margin-left: 15px;
				transition: all 0.3s ease;
				&:hover {
					background-color: #ad275b;
				}
			}
		}
		.email-preview-edit {
			padding: 0;
			background-image: url(../../assets/images/email-preview-edit.svg);
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			text-indent: -9999px;
			height: 20px;
			width: 20px;
			background-color: transparent;
			box-shadow: none;
			border: 0;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-left: 20px;
			&:focus {
				outline: 0;
			}
		}
		.email-bookmark {
			padding: 0;
			background-image: url(../../assets/images/star-bookmark.svg);
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			text-indent: -9999px;
			height: 20px;
			width: 20px;
			background-color: transparent;
			box-shadow: none;
			border: 0;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-left: 20px;
			&:focus {
				outline: 0;
			}
			&.bookmarked {
				background-image: url(../../assets/images/star-bookmark-active.svg) !important;
			}
		}
		.thank-email-bookmark {
			padding: 0;
			background-image: url(../../assets/images/email.png);
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			text-indent: -9999px;
			height: 20px;
			width: 20px;
			background-color: transparent;
			box-shadow: none;
			border: 0;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-left: 20px;
			&:focus {
				outline: 0;
			}
			&.bookmarked {
				background-image: url(../../assets/images/email-active.png) !important;
			}
		}
		.email-preview-copy {
			padding: 0 25px 0 44px;
			background-image: url(../../assets/images/email-copy-icon.svg);
			background-size: 16px;
			background-position: left 20px center;
			background-repeat: no-repeat;
			background-color: #f2f5f8;
			box-shadow: none;
			border: 0;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 25px;
			min-height: 30px;
			color: #504658;
			font-size: 0.85rem;
			&:focus {
				outline: 0;
			}
		}
		.email-preview-content {
			padding: 0;
			min-height: 250px;
			background-color: #f2f5f8;
			border-radius: 0 0 25px 25px;
			padding: 0 0 35px;
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 4px;
			}
			.channel-send-now-btn {
				padding: 0;
			}
		}
		.placeholder-btn-wrap {
			display: flex;
			padding: 15px 20px;
			background-color: #e9e9e9;
			overflow-x: auto;
			&::-webkit-scrollbar {
				height: 4px;
			}
			.placeholder-btn-inner {
				padding: 0 8px;
				&:last-child {
					padding-right: 30px;
				}
			}
			.insert-placeholder-btn {
				background-color: $ThemeColor;
				color: #fff;
				border: 0;
				min-height: 28px;
				border-radius: 25px;
				padding: 0 20px;
				font-family: "NunitoSans";
				font-size: 0.8rem;
				display: inline-flex;
				align-items: center;
				white-space: nowrap;
				&:focus {
					outline: 0;
				}
			}
		}

		.schedule-btn-tab-header {
			.nav-item:first-child {
				margin-right: 15px;
			}
			.channel-schedule-tab-btn {
				background-color: #f2f5f8;
				border-radius: 25px;
				padding: 7px 30px;
				color: #504658;
				font-size: 0.85rem;
				&.active {
					background-color: $ThemeColor;
					color: #ffffff;
				}
				&:focus {
					outline: 0;
				}
			}
		}

		.schedule-main-wrap {
			display: flex;
			align-items: center;
			margin: 40px 0 10px;
			.communicate_btn {
				margin-left: 30px;
			}
			.schedule-label {
				color: #1c1c1c;
				font-size: 0.9rem;
				font-family: $SemiBoldFont;
				margin-bottom: 0;
				margin-right: 30px;
			}
			.schedule-date-wrap {
				margin-left: 15px;
			}
			.schedule-toggle-date {
				// margin-bottom: 25px;
			}
			.schedule-toggle-text {
				display: inline-flex;
				align-items: center;
				color: #504658;
				font-size: 0.85rem;
				font-family: $SemiBoldFont;
				.ezi-switch-toggle {
					margin: 0 10px;
				}
			}
			.react-datetime-picker {
				margin-right: 20px;
			}
			.react-datetime-picker__wrapper {
				border: 1px solid #dbdbdb;
				border-radius: 25px;
				padding: 4px 30px 4px 16px;
				background-image: url(../../assets/images/datepicker_c5.svg);
				background-size: 16px;
				background-position: center right 14px;
				background-repeat: no-repeat;
				min-width: 170px;
				.react-datetime-picker__inputGroup {
					color: #9e9a9a;
				}
				input {
					@include placeholder {
						color: #d9d9d9;
					}
					&:focus {
						outline: 0;
						background-color: transparent;
					}
					&:invalid {
						background-color: transparent;
					}
				}
				.react-datetime-picker__inputGroup__amPm {
					-moz-appearance: none;
					-webkit-appearance: none;
					appearance: none;
					background-image: url(../../assets/images/dropdown-arrow_c2.svg);
					background-size: 11px;
					background-position: center right 10px;
					background-repeat: no-repeat;
					padding-right: 30px;
				}
			}
		}

		.schedule-date-wrap {
			.react-datetime-picker {
				margin-right: 20px;
			}
			.react-date-picker__wrapper {
				border: 1px solid #dbdbdb;
				border-radius: 25px;
				padding: 4px 16px;
				background-image: url(../../assets/images/datepicker_c5.svg);
				background-size: 16px;
				background-position: center right 14px;
				background-repeat: no-repeat;
				min-width: 170px;
				.react-date-picker__inputGroup {
					color: #9e9a9a;
				}
				input {
					@include placeholder {
						color: #d9d9d9;
					}
					&:focus {
						outline: 0;
						background-color: transparent;
					}
					&:invalid {
						background-color: transparent;
					}
				}
			}
			.react-date-picker__button {
				display: none;
			}
		}

		.schedule-dropdown {
			&:focus {
				outline: 0 !important;
				box-shadow: none;
			}
			.dropdown-toggle.btn-primary {
				background: transparent;
				border: 1px solid #dbdbdb;
				padding: 5px 20px;
				border-radius: 25px;
				min-width: 170px;
				text-align: left;
				&:after {
					background-image: url(../../assets/images/dropdown-arrow_c2.svg);
					background-size: 14px;
					background-position: center right 0;
					background-repeat: no-repeat;
					border: 0;
					height: 100%;
					width: 26px;
					position: absolute;
					right: 15px;
					top: 0;
					border-left: 1px solid #d8d8d8;
				}
				&:focus {
					outline: 0 !important;
					box-shadow: none;
				}
			}

			.show.dropdown .dropdown-menu.show {
				margin-top: 15px;
				border: 0;
				-moz-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.09);
				-webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.09);
				box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.09);
				border-radius: 20px;
				padding: 15px 20px;
				min-width: 180px;

				.item_route_link {
					padding: 10px 0;
					border-bottom: 1px solid #e9e9e9;
					color: #656565;
					transition: color 0.3s ease;
					display: block;
					font-size: 0.9rem;
					&:hover {
						color: $ThemeColor;
						background-color: transparent;
						text-decoration: none;
					}
					&:last-child {
						border: 0;
					}
				}
				.dropdown-item {
					padding: 5px 3px;
				}
			}

			.schedule-dropdown-default {
				color: #dbdbdb;
			}
		}

		.channel-form-field {
			display: flex;
			align-items: flex-start;
			margin-bottom: 4px;
			.ezi-select-plugin {
				width: 100%;
				border-radius: 5px;
				border: 1px solid #dbdbdb;
				background-color: #fff;
				.css-c8odyh-control {
					background-color: #fff;
				}
				.css-1rhbuit-multiValue {
					background-color: #fff;
				}
			}
			.disabled-cls {
				background-color: #e9e9e9;
				.css-c8odyh-control {
					background-color: #e9e9e9;
				}
				.css-1rhbuit-multiValue {
					background-color: #ccc;
				}
			}
			label {
				color: #504658;
				max-width: 120px;
				width: 100%;
				font-size: 0.85rem;
				font-family: $SemiBoldFont;
				padding: 8px 0;
			}
			.email-preview-input {
				color: #8d8d8d;
				font-size: 0.85rem;
				background: transparent;
				border: 0;
				width: 100%;
				resize: none;
				pointer-events: none;
				border-radius: 8px;
				padding: 8px 20px;
				&:focus {
					outline: 0;
				}
			}
			.email-preview-textarea {
				color: #8d8d8d;
				font-size: 0.85rem;
				background: transparent;
				border: 0;
				width: 100%;
				resize: none;
				overflow: auto;
				height: auto;
				line-height: 24px;
				pointer-events: none;
				border-radius: 8px;
				padding: 8px 20px;
				&:focus {
					outline: 0;
				}
				&::-webkit-scrollbar {
					width: 4px;
					background-color: #f5f5f5;
				}
			}
		}
		.channel-form-wrap {
			padding: 25px 30px 0;
			.email-preview-input-edit.email-preview-input,
			.email-preview-input-edit.email-preview-textarea {
				pointer-events: initial;
				border: 1px solid #dbdbdb;
				background-color: #fff;
				&[disabled] {
					background-color: #e9e9e9;
				}
			}
		}
		.channel-form-wrap {
			.email-preview-input-edit {
				background-color: #fff;
			}
		}
		.email-code-formatter {
			padding: 20px 30px;
			color: #8d8d8d;
			font-size: 0.75rem;
			white-space: normal;
		}
		.rdw-link-wrapper {
			.rdw-link-modal {
				overflow-y: auto;
			}
		}
	}

	// Surevy tab inner tab css End

	// Demographic Filter checkbox Start

	@import "../../assets/scss/filtercheckbox";

	// Demographic Filter checkbox End

	/* * *
     preview css start
    */

	.preview-survey-header {
		background-color: #5a4e63;
		border-radius: 5px 5px 0 0;
		padding: 10px 5%;
		display: flex;
		.initial-letter-block {
			height: 50px;
			width: 100%;
			max-width: 50px;
			min-width: 50px;
			border-radius: 50%;
			background: #7a6c85;
			color: #fff;
			align-items: center;
			display: inline-flex;
			justify-content: center;
			font-size: 1.5rem;
		}
		.preview-survey- {
			&header-left {
				display: inline-flex;
				align-items: center;
			}
			&header-right {
				display: inline-flex;
				align-items: center;
			}
			&logo-wrap {
				margin-right: 15px;
				display: inline-flex;
				align-items: flex-start;
			}
			&company-name {
				color: #b7b7b7;
				font-size: 0.8rem;
				text-transform: capitalize;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			&logo {
				height: 50px;
				width: auto;
				min-width: 50px;
				border-radius: 50%;
			}
			&name {
				color: #fff;
				font-size: 1.1rem;
				font-family: $SemiBoldFont;
				text-transform: capitalize;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.preview-text-wrap {
			display: flex;
			flex-direction: column;
		}
	}

	.preview-survey-feedback-wrap {
		background-color: #fff;
		border-radius: 5px;
		-moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		-webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		padding: 50px 20px;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		.preview-survey- {
			&feedback-heading {
				color: $ThemeColor;
				font-size: 1.12rem;
				text-align: center;
				margin-bottom: 15px;
			}
			&feedback-para {
				color: #1c1c1c;
				font-size: 0.95rem;
				line-height: 30px;
				text-align: center;
			}
			&text-wrap {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				max-width: 550px;
			}
		}
	}

	.preview-survey-thank-wrap {
		background-color: #fff;
		border-radius: 5px;
		-moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		-webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		padding: 50px 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border-top: 1px solid #e1e1e1;
		.preview-survey-complete-ic {
			height: 56px;
			width: 56px;
			display: inline-block;
			background-image: url(../../assets/images/widget/survey-complete-check.svg);
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 20px;
		}
		.preview-survey-feedback-para {
			color: $ThemeColor;
			font-size: 1.3rem;
			text-align: center;
			max-width: 240px;
			line-height: 32px;
		}
	}

	.preview-survey-poweredby- {
		&wrap {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			background: #e1e1e1;
			justify-content: flex-end;
			padding: 5px 20px;
		}
		&heading {
			color: #504658;
			font-size: 0.75rem;
			font-family: $SemiBoldFont;
			margin-right: 15px;
		}
		&logo {
			width: 100%;
			max-width: 100px;
			margin-bottom: 7px;
		}
		&text {
			color: #b8b8b8;
			font-size: 0.7rem;
			font-family: $LightFont;
			max-width: 220px;
			text-align: center;
			line-height: 24px;
		}
	}

	.preview-survey-wrap {
		background-color: #fff;
		min-height: 300px;
		overflow: hidden;
		padding: 30px 15%;
		position: relative;

		.sv_cw_pretty_checkbox_checkbox {
			color: #504658;
			margin-bottom: 20px;
			.pretty input:checked ~ .state.p-success label:after,
			.pretty.p-toggle .state.p-success label:after {
				background-color: $ThemeColor !important;
				background-image: url(../../assets/images/chechbox-check.png);
				background-size: 13px;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		.sv_cw_pretty_checkbox_radiogroup {
			margin-bottom: 20px;
			.pretty {
				width: 100%;
				margin: 0;
				padding: 0 10px;
			}
			.pretty input:checked ~ .state.p-success label:after,
			.pretty.p-toggle .state.p-success label:after {
				background-color: $ThemeColor !important;
				transform: scale(0.7);
			}
		}
		.pretty .state label {
			text-indent: 1.1em;
			font-size: 0.85rem;
			font-family: $Font;
			&::first-letter {
				text-transform: uppercase;
			}
		}
		.pretty .state label:before {
			border-color: #b7b7b7;
		}
		.pretty .state label:before,
		.pretty .state label:after {
			border-radius: 3px;
			// margin-top: 3px;
		}
		.pretty.p-default .state label:after {
			transform: scale(1);
		}
	}

	// preview css end

	.company-logo-main-wrap {
		display: flex;
		align-items: center;
		.company-logo-heading {
			color: #1c1c1c;
			font-size: 1rem;
			font-family: "NunitoSansSemiBold";
			margin: 0 40px 30px 0;
			max-width: 200px;
			min-width: 200px;
			width: 100%;
			padding-left: 20px;
			&.tab-additional-info {
				width: 100%;
				max-width: 100%;
			}
		}
		.company-logo-container {
			display: flex;
			flex-wrap: wrap;
			width: calc(100% - 240px);
		}

		.company-logo-content {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
		}

		.default-registered-image {
			border: 1px solid #e9e9e9;
			border-radius: 6px;
			padding: 8px 30px;
			height: 64px;
			min-width: 210px;
			max-width: 210px;
			position: relative;
			display: block;
			text-align: center;
			.customize-logo {
				position: absolute;
				top: 0px;
				right: 0px;
				border: 0;
				color: #ff1616;
				font-family: "NunitoSansBold";
				font-size: 0.7rem;
				border-radius: 3px;
				padding: 0;
				height: 17px;
				width: 17px;
				background: #efefef;
			}
		}

		.default-registered-logo {
			height: 40px;
			width: auto;
		}

		.company-logo-devider {
			color: #504658;
			margin: 0 24px;
			font-size: 1.1rem;
		}
		.color_picker_container {
			display: flex;
			align-self: baseline;

			.preview_color {
				width: 35px;
			}
			button {
				border-radius: 0px;
			}
		}
	}

	/*
 *  Survey Builder Scroll Css Start 
 */
	.svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor {
		height: 1080px;
		&::-webkit-scrollbar {
			width: 5px;
			height: 10px;
			background-color: #f5f5f5;
		}
	}
	.svd-vertical-container__cell-content-holder {
		overflow-y: auto;
		overflow-x: hidden;
		.svd-vertical-container__cell-content--scrollable {
			&::-webkit-scrollbar {
				width: 5px;
				height: 10px;
				background-color: #f5f5f5;
			}
		}
	}

	#surveyCreatorContainer {
		.svd_properties .svd-vertical-container__cell-content {
			position: absolute;
		}
	}

	.svd_editors .svd-vertical-container__cell-content-holder {
		overflow-y: hidden;
	}
	#surveyCreatorContainer .svd_container {
		height: 1270px !important;
		overflow: hidden;
	}
	.svd_container .svd_content .svd-designer-container--right-side .svd-icon-container--right-open {
		height: 40px;
		width: 40px;
		background: rgb(255, 255, 255);
		left: -60px;
		text-align: center;
		line-height: 40px;
		border-radius: 3px;
		background-image: url(../../assets/images/properties-right-panel1.svg);
		background-size: 30px;
		background-position: center;
		background-repeat: no-repeat;
		use {
			display: none;
		}
	}
	.svd_container .svd_content .svd-designer-container--right-side .svd-icon-container--right-close {
		height: 40px;
		width: 40px;
		background: rgb(255, 255, 255);
		left: -40px;
		text-align: center;
		line-height: 40px;
		border-radius: 0 3px 3px 0;
		background-image: url(../../assets/images/properties-right-panel1.svg);
		background-size: 30px;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		use {
			display: none;
		}
	}
	.svd-splitter {
		background-color: transparent;
	}
	.svd-designer-container--top {
		.svd-designer-h-container {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
		}
	}
	.svd_container .svd_content .svd_survey_designer .svd_editors .svd_toolbar {
		top: 0;
	}
	#surveyCreatorContainer .svd_editors .svd-vertical-container__cell-content {
		overflow-y: hidden;
	}
	// Survey Builder scroll Css End

	.copy_clipboard {
		display: inline-block;
		background-size: 20px;
		background-position: center;
		background-repeat: no-repeat;
		height: 24px;
		width: 24px;
		background-image: url(../../assets/images/copy.svg);
		text-indent: -9999px;
		border: 0;
		background-color: transparent;
	}
	.copy-alert-msg {
		font-size: 0.9em;
		color: #22a14a;
		margin-bottom: 6px;
		padding: 0 15px;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.qr_download_section {
		display: flex;
		flex-direction: column;
		padding: 0 5px;
		select {
			-webkit-appearance: none;
			appearance: none;
			border: 1px solid #e9e9e9;
			padding: 10px 35px 10px 10px;
			border-radius: 5px;
			color: #504658;
			width: 100%;
			margin-bottom: 15px;
			background-size: 14px;
			background-position: center right 12px;
			background-repeat: no-repeat;
			background-image: url(../../assets/images/dropdown-arrow-5A.svg);
			&:focus {
				outline: 0;
			}
		}
		button {
			background-color: #504658;
			color: #fff !important;
			border: 0;
			min-height: 32px;
			border-radius: 25px;
			padding: 0 20px;
			margin: 0;
			font-family: $Font;
			font-size: 0.8rem;
			display: inline-flex;
			align-items: center;
			margin-left: auto;
		}
	}
	.api_code_viewer {
		padding: 12px;
		background: #f2f5f8;
		border-radius: 10px;
		margin: 20px 0;
		.code_field_viewer {
			border-bottom: 2px solid #fff;
			label {
				display: flex;
				font-size: 15px;
				font-weight: 500;
				span {
					font-weight: normal;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
		p {
			font-size: 18px;
			font-weight: 500;
		}
		.code_field_viewer_note {
			span {
				font-size: 12px;
				font-weight: 500;
			}
			ol {
				padding-left: 15px;
				li {
					font-size: 12px;
				}
			}
		}
	}

	.user-search-container {
		max-width: 700px;
		min-width: 350px;
		margin-left: 30px;
		.ezi-select-plugin {
			border: 1px solid #eef1f4;
			border-radius: 3px;
		}
	}
	.company-logo-main-wrap .ezi-checkbox {
		display: inline-flex;
		align-items: center;
		position: relative;
		height: 16px;
		width: 17px;
		cursor: pointer;
		align-self: baseline;
		font-size: 22px;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		margin: 0 15px 0 0;
	}

	@media (max-width: 767px) {
		.svd_container #surveyjsExample .svd-simulator-content {
			padding: 30px 0px;
		}
	}
	.copy_survey_link {
		display: flex;
	}
	.qr-code-download-button {
		text-align: center;
		a {
			text-decoration: none;
		}
	}
}
@media (min-width: 320px) and (max-width: 600px) {
	.Page-SurveyCreator {
		.survey-type-wrap {
			.survey-type-heading {
				max-width: 50px;
			}
		}
		.start-date-wrap .react-date-picker__inputGroup,
		.end-date-wrap .react-date-picker__inputGroup {
			min-width: calc((6px * 3) + 0.54em * 8 + 0.217em * 2);
		}
		.frequency-select-wrap {
			flex-flow: wrap;
		}
	}
}
