@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
.Page-SurveyDashboard {
    padding: 40px 7%;
    background-color: #f2f5f8;
    .recent-surveys-card {
        max-height: 326px;
        min-height: 326px;
    }
    @import "../../assets/scss/surveyTemplateDashboard";

    @mixin icon-default {
        background: transparent;
        border: 0;
        padding: 0;
        color: #c5c5c5;
        transition: color 0.3s ease;
        font-family: $Font;
        font-size: 0.85rem;
        display: inline-flex;
        align-items: center;
        &:focus {
            outline: 0;
        }
        &:before {
            content: "";
            display: inline-block;
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            margin-right: 2px;
            transition: background-image 0.3 ease;
        }
        &:hover {
            color: $ThemeColor;
        }
    }

    .recent-surveys-report_add {
        @include icon-default;
        margin-bottom: 7px;
        margin-left: 8px;
        &:hover {
            &:before {
                background-image: url(../../assets/images/participant-pink.svg);
                background-size: 17px;
            }
        }
        &:before {
            background-image: url(../../assets/images/participant-grey.svg);
            background-size: 17px;
        }
        &[disabled] {
            opacity: 0.5;
            &:hover {
                &:before {
                    background-image: url(../../assets/images/participant-grey.svg);
                }
            }
        }
    }

    .survey-dashboard-heading {
        font-family: $SemiBoldFont;
        font-size: 1.3rem;
        color: #504658;
        margin-bottom: 40px;
        padding: 0 15px;
    }
    .survey_progress_ring_wrap {
        .published-surveys {
            color: $ThemeColor;
            font-size: 0.7rem;
            display: block;
            margin-top: 15px;
            &:before {
                content: "";
                display: inline-block;
                height: 6px;
                width: 6px;
                background-color: $ThemeColor;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
    .survey_progress_ring {
        height: 84px;
        width: 84px;
        min-width: 84px;
        margin: 0 auto;
    }
    .CircularProgressbar.survey_progress_circle {
        .CircularProgressbar-trail {
            stroke: #f2f5f8;
        }
        .CircularProgressbar-path {
            stroke: $ThemeColor;
            stroke-linecap: square;
        }
        .CircularProgressbar-text {
            fill: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1rem;
        }
    }
    .survey-dashboard-card-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .survey-dashboard-card {
        background: #fff;
        border-radius: 5px;
        display: inline-flex;
        min-height: 200px;
        align-items: center;
        margin: 0 15px;
        padding: 0 40px;
        margin-bottom: 30px;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
        position: relative;
        overflow: hidden;
        &:hover {
            .survey_heading,
            .survey_subheading {
                color: #fff;
            }
            &.total_survey {
                .survey_heading {
                    color: #1c1c1c;
                }
                .survey_subheading {
                    color: #b7b7b7;
                }
            }
            &.publish_survey {
                &:before {
                    top: 0;
                }
            }
            &.unpublish_survey {
                &:before {
                    top: 0;
                }
            }
            &.active_survey {
                &:before {
                    top: 0;
                }
            }
        }

        .survey_heading {
            color: #1c1c1c;
            font-family: $SemiBoldFont;
            font-size: 2.6em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0 0 5px;
        }
        .survey_subheading {
            color: #b7b7b7;
            font-size: 1rem;
            font-family: $Font;
        }
        .survey_text_wrap {
            position: relative;
            overflow: hidden;
        }
        .survey_add_wrap {
            height: 90px;
            width: 90px;
            min-width: 90px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            position: relative;
            overflow: hidden;
            .survey_add_circle {
                height: 100%;
                width: 100%;
                opacity: 0.16;
            }
        }
        .survey_create_text {
            color: #1c1c1c;
            font-size: 1.1rem;
            margin: 0;
        }
        &.total_survey {
            flex: 1;
            display: flex;
            justify-content: space-between;
            border-bottom: 4px solid #504658;
            .survey_text_wrap {
                margin-right: 30px;
                max-width: 220px;
            }
        }
        &.create_new_survey {
            cursor: pointer;
            .survey_add_circle {
                background: #c3def1;
            }
            .survey_add_ic {
                background-image: url(../../assets/images/create_survey_plus.svg);
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                display: inline-flex;
                align-items: center;
                height: 40px;
                width: 40px;
                min-width: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        &.publish_survey {
            cursor: pointer;
            max-width: 240px;
            width: 100%;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                background-color: $ThemeColor;
                transition: all 0.5s ease;
            }
        }
        &.unpublish_survey {
            cursor: pointer;
            max-width: 240px;
            width: 100%;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                background-color: #b7b7b7;
                transition: all 0.5s ease;
            }
        }
        &.edit_existing_survey {
            cursor: pointer;
            .survey_add_circle {
                background: #f0decb;
            }
            .existing_survey_ic {
                background-image: url(../../assets/images/existing_survey_ic.svg);
                background-size: 33px;
                background-position: center;
                background-repeat: no-repeat;
                display: inline-flex;
                align-items: center;
                height: 50px;
                width: 50px;
                min-width: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &.create_new_survey,
        &.edit_existing_survey {
            flex: 1;
            border-radius: 18px;
        }
        &.active_survey {
            cursor: pointer;
            max-width: 240px;
            width: 100%;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                background-color: #aad86d;
                transition: all 0.5s ease;
            }
        }
    }
    .add_participant {
        display: none;
    }
    @media (max-width: 620px) {
        .recent-surveys-card {
            max-height: 400px;
            min-height: 400px;
            margin-bottom: 10px;
        }
        .recent-surveys-card-body .recent-surveys-status {
            padding: 6px 10px 6px 10px;
            min-width: 80px;
        }
        .recent-highlight-main-wrap {
            width: 100%;
        }

        .recent-surveys-card-body {
            ul {
                li {
                    flex-wrap: wrap;
                    .recent-surveys-name {
                        margin-bottom: 10px;
                        &::before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            margin-right: 5px;
                            border-radius: 50%;
                        }
                        &.active::before {
                            background-color: #b5ee5f;
                        }
                        &.inactive::before {
                            background-color: #fbcd49;
                        }
                        &.closed::before {
                            background-color: #ff6161;
                        }
                    }
                }
            }
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-index {
            display: none;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-status {
            display: none;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-report {
            margin-left: 15px;
            padding: 3px 20px;
        }
        .span.recent-surveys-report_add {
            border: 1px solid #e9e9e9;
            border-radius: 25px;
            padding: 3px 10px;
            margin-bottom: 0;
        }
        .recent-highlight-main-wrap .recent-surveys-card .recent-surveys-card-body .recent-surveys-report_add::before {
            height: 20px;
            width: 20px;
            background-position: left center;
        }
    }
    @media (max-width: 550px) {
        .survey-dashboard-card {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}

.Page-SurveyCategory {
    padding: 40px 7%;
    background-color: #f2f5f8;
    &.no-result-formatter {
        // height: 100%;
        .survey_card_c-wrap {
            height: calc(100% - 112px);
            flex-wrap: nowrap;
        }
        
    }
    .survey_card_c-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
        .survey_card_c {
            position: relative;
            background-color: #fff;
            border-radius: $ReportWidgetRadius;
            display: inline-flex;
            flex-direction: column;
            width: calc(20% - 16px);
            min-width: 200px;
            padding: 30px;
            margin: 0 8px 40px;
            -moz-box-shadow: -1px 7px 91px rgba(0, 0, 0, 0.08);
            -webkit-box-shadow: -1px 7px 91px rgba(0, 0, 0, 0.08);
            box-shadow: -1px 7px 91px rgba(0, 0, 0, 0.08);
            max-height: 180px;
            min-height: 180px;
            overflow: hidden;
            cursor: pointer;
            background-image: url(../../assets/images/report/cat-bg.png);
            background-position: top -18px right -1px;
            background-size: 100%;
            background-repeat: no-repeat;
            &.no-bg{
                background: #fff;
            }
            // &:hover:before {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     border-radius: $ReportWidgetRadius;
            //     border: 1px solid $ThemeColor;
            // }
            .survey_card_c_info{
                position: absolute;
                display: block;
                overflow: hidden;
                z-index: 20;
                padding: 15px 20px;
                bottom: 0px;
                left: 0;
            }
            &:hover .survey_card_c_info p{
                opacity: 1;
                max-height: 200px;
            }
            .category-icon-wrapper {
                position: absolute;
                right: -60px;
                top: 5px;
                -moz-transition: all .5s ease;
                -webkit-transition: all .5s ease;
                transition: all .5s ease;
            }
            &:hover  .category-icon-wrapper{
                right: 6px;
            }
            @mixin icon-default {
                background-position: center;
                background-repeat: no-repeat;
                height: 30px;
                width: 30px;
                cursor: pointer;
                display: inline-block;
            }

            &:hover .category-delte_ic {
                &:hover {
                    background-image: url(../../assets/images/table_delete_active_ic.svg);
                }
            }
            &:hover .category-edit_ic {
                &:hover {
                    background-image: url(../../assets/images/table_edit_actives_ic.svg);
                }
            }
            .category-delte_ic {
                @include icon-default;
                background-image: url(../../assets/images/table_delete_ic.svg);
                background-size: 13px;
                
            }
            .category-edit_ic {
                @include icon-default;
                background-image: url(../../assets/images/table_edit_ic.svg);
                background-size: 19px;
            }
            .survey_card_add_ic {
                background-image: url(../../assets/images/create_new_survey_ic.svg);
                background-size: 33px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $ThemeColor;
                display: inline-flex;
                align-items: center;
                height: 60px;
                min-height: 60px;
                width: 60px;
                min-width: 60px;
                border-radius: 50%;
                justify-content: center;
                margin: 0 auto 10px;
            }
            .survey_card_add-label {
                color: $ThemeColor;
                font-family: $SemiBoldFont;
                font-size: 1rem;
                text-align: center;
                margin: 0;
            }
        }
        .survey_card_c-label {
            color: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1rem;
            text-align: left;
            margin: 0 0 5px;
            text-transform: capitalize;
        }
        .survey_card_c-des {
            color: #8a8787;
            font-family: $Font;
            font-size: 0.85rem;
            line-height: 24px;
            margin: 0;
            text-align: left;
            overflow: hidden;
            opacity: 0;
            max-height: 0;
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            &.txt-center{
                opacity: 1;
                max-height: initial;
                text-align: center;
            }
        }
    }

    @media (max-width: 768px) {
        .survey_card_c-wrap {
            justify-content: center;
            .survey_card_c{
                width: 100%;
                padding: 20px;
                background-size: 80%;
                .survey_card_c_info{
                    padding: 0;
                    position: static;
                }
                .category-icon-wrapper{
                    right: 10px;
                }
            }
            .survey_card_c-des{
                opacity: 1;
                max-height: initial;
            }
        }
    }
}

.Page-CategoryAdd {
    height: 100%;
    overflow-y: auto;
    padding: 40px 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    .error-message {
        color: #ff0000;
        font-size: 14px;
        margin: 5px 0;
        display: block;
        padding-left: 30px;
        font-family: $SemiBoldFont;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .survey-category-wrap {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 100%;
        margin-top: 2%;
        .category_label {
            color: #504658;
            font-size: 1.8rem;
            font-family: $Font;
            text-align: center;
            margin: 0 0 40px;
        }
        .category-field-control {
            margin-bottom: 30px;
        }
        .create-category-input {
            width: 100%;
            background-color: #fff;
            border-radius: 25px;
            border: 0;
            padding: 14px 30px;
            box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
            font-size: 1rem;
            color: #504658;
            resize: none;
            &:focus {
                outline: 0;
            }
            @include placeholder {
                color: #b7b7b7;
            }
        }
        .category_add_btn_wrap {
            display: flex;
            justify-content: center;
        }
        .category_add_btn {
            background: #504658;
            color: #fff;
            border: 0;
            border-radius: 25px;
            padding: 8px 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:focus {
                outline: 0;
            }
        }
    }
}

.Page-SurveyAdd {
    height: 100%;
    overflow-y: auto;
    padding: 40px 7%;
    .survey-add-beadcrumb {
        border-bottom: 0;
    }
    .error-message {
        color: rgb(233, 22, 22);
    }
    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .survey-category-wrap {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 100%;
        margin-top: 2%;
        .category_label {
            color: #504658;
            font-size: 1.8rem;
            font-family: $Font;
            text-align: center;
            margin: 0 0 40px;
        }
        .category-field-control {
            margin-bottom: 30px;
        }
        .create-category-input {
            background-color: #fff;
            border-radius: 25px;
            border: 0;
            width: 100%;
            padding: 14px 30px;
            box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
            font-size: 1rem;
            color: #504658;
            resize: none;
            &:focus {
                outline: 0;
            }
            @include placeholder {
                color: #b7b7b7;
            }
            &::-webkit-scrollbar {
                width: 4px;
            }
        }
        .category_add_btn_wrap {
            display: flex;
            justify-content: center;
        }
        .category_add_btn {
            background: #504658;
            color: #fff;
            border: 0;
            border-radius: 25px;
            padding: 8px 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:focus {
                outline: 0;
            }
        }
    }

    .des-count {
        color: #b7b7b7;
        font-size: 0.75rem;
        display: flex;
        justify-content: flex-end;
        padding: 5px 15px;
    }
    .category-field-control .ezi-select-plugin {
        background-color: #fff;
        border-radius: 25px;
        border: 0;
        width: 100%;
        padding: 7px 0px;
        box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
        font-size: 1rem;
        color: #504658;
        resize: none;
        &.css-14jk2my-container {
            pointer-events: initial;
            &:hover {
                cursor: not-allowed;
                pointer-events: initial;
                .css-1ht9tev-control {
                    pointer-events: none;
                    cursor: not-allowed;
                }
                .css-1hwfws3 {
                    pointer-events: none;
                    cursor: not-allowed;
                }
            }
        }
        .css-c8odyh-control,
        .css-1l3nnzh-control {
            border-radius: 25px;
            padding: 0 20px;
        }
        .css-26l3qy-menu {
            border-radius: 12px;
            padding: 10px 0;
        }
        .css-1ht9tev-control {
            padding: 0 20px;
        }
    }
    .css-4ljt47-MenuList .css-1n7v3ny-option,
    .css-4ljt47-MenuList .css-yt9ioa-option,
    .css-4ljt47-MenuList .css-9gakcf-option {
        position: relative;
        padding: 6px 20px;
        &:hover {
            color: $ThemeColor;
            cursor: pointer;
            background-color: #fbfbfb;
            &:before {
                content: "";
                width: 3px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $ThemeColor;
            }
        }
    }
}
