.TreeView{
    .parent-list {
        margin: 0;
        padding: 0;
    }
    .caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
        color: #1c1c1c;
        position: relative;
        display: inline-flex;
        align-items: center;
    }
    .caret::before {
        content: '';
        color: black;
        display: inline-block;
        margin-right: 12px;
        margin-left: 7px;
        border-radius: 2px;
        border: 6px solid transparent;
        border-left-color: #fff;
        position: relative;
        z-index: 99;
        transition: all 0.3s ease;
    }
    .caret-down::before {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);  
        border: 6px solid transparent;
        border-left-color: #fff;
        margin-left: 4px;
        margin-bottom: -7px;
        margin-right: 15px;
    }
    .caret::after {
        content: '';
        display: inline-block;
        margin-right: 6px;
        background: #5A4E63;
        transition: all 0.5s ease;
        height: 20px;
        width: 20px;
        position: absolute;
        left: 0;
        top: 2px;
    }
    .nested {
        display: none;
        margin: 10px 0;
        input{
            margin-right: 8px;
        }
    }
    .active {
        display: block;
    }
    .search_user_list {
        background: transparent;
        border: 1px solid #b7b7b7;
        border-radius: 5px;
        padding: 6px 12px;
        max-width: 230px;
        width: 100%;
        margin-bottom: 15px;
        margin-right: 10px;
        &:focus{
            outline:0;            
            background-color: #F2F5F8;
        }
    }
    #parent-list{
        padding: 0;
        margin: 0;

        li{
            list-style: none;
        }
    }
}