@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";

/**
 *  Users.js Page Css Start
 */
.Page-Notifications {
    padding: 40px 7%;
    .current_account {
        background: transparent;
        border: 0;
        padding: 0;
        margin-right: 15px;
        color: #c5c5c5;
        transition: color 0.3s ease;
        font-family: "NunitoSans";
        font-size: 0.8rem;
        display: inline-flex;
        align-items: center;
    }
    .react-bootstrap-table .table {
        table-layout: fixed;
        .action-heading-name {
            text-align: center;
            margin-right: 30px;
        }
        tbody tr td:hover:after {
            display: none;
        }

        .ezi-datatable-row {
            .dt-bootstrap-edit-delte-wrap {
                //visibility: hidden;
                margin-right: 30px;
            }
            &:hover {
                .dt-bootstrap-edit-delte-wrap {
                    //visibility: visible;
                }
            }
        }
    }

    .user-status_c {
        text-transform: capitalize;
        display: inline-flex;
        align-items: center;
        color: #1c1c1c;
        font-family: $SemiBoldFont;
        font-size: 0.88rem;
        white-space: nowrap;
        margin-right: 20px;
        cursor: pointer;
        &:before {
            content: "";
            height: 8px;
            width: 8px;
            min-width: 8px;
            display: inline-flex;
            align-items: center;
            border-radius: 50%;
            margin-right: 6px;
        }
        &.active:before {
            background: #b5ee5f;
        }
        &.offline:before {
            background: #ff1616;
        }
    }
    .saved_participants_table {
        overflow: hidden;
    }
}
/**
 *  Users.js Page Css End
 */

/**
 *  UsersView.js Page Css Start
 */

@mixin user-header {
    .user-info-header {
        background: #fff;
        border-radius: 10px;
        padding: 20px 30px;
        -moz-box-shadow: 7px 4px 28px rgba(0, 0, 0, 0.06);
        -webkit-box-shadow: 7px 4px 28px rgba(0, 0, 0, 0.06);
        box-shadow: 7px 4px 28px rgba(0, 0, 0, 0.06);
        display: flex;
        align-items: center;
    }
    .user-header-col {
        flex: 1;
    }
    .user-info-text {
        display: flex;
        flex-direction: column;
        .title_c {
            color: $ThemeColor;
            font-size: 1.15rem;
            margin-bottom: 3px;
            font-family: $Font;
        }
        .subtitle_c {
            color: #bcbcbc;
            font-size: 0.8rem;
        }
    }
    .user-info-role-text {
        display: flex;
        flex-direction: column;
        .user-role-title {
            color: #504658;
            font-size: 1rem;
            margin-bottom: 3px;
            font-family: $SemiBoldFont;
        }
        .user-role-subtitle {
            color: #bcbcbc;
            font-size: 0.8rem;
            font-family: $Font;
        }
    }
    .user-info-role {
        display: flex;
        align-items: center;
        .user-info-role_ic {
            background-image: url(../../assets/images/user-role-icon.svg);
            background-size: 45px;
            background-position: center;
            background-repeat: no-repeat;
            height: 60px;
            width: 60px;
            min-width: 60px;
            display: inline-block;
            margin-right: 10px;
        }
    }
    .user-info-action {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        .user-info-action-edit {
            background-color: #5a4e63;
            color: #fff;
            border: 0;
            min-height: 30px;
            border-radius: 25px;
            padding: 0 30px;
            margin: 10px 0;
            font-family: $Font;
            font-size: 0.8rem;
            display: inline-flex;
            align-items: center;
            margin-right: 10px;
        }
        .user-info-action-save {
            background-color: $ThemeColor;
            color: #fff;
            border: 0;
            min-height: 30px;
            border-radius: 25px;
            padding: 0 30px;
            // margin: 10px 0;
            font-family: $Font;
            font-size: 0.8rem;
            display: inline-flex;
            align-items: center;
            margin-right: 10px;
        }
        .user-info-action-delete {
            background: transparent;
            color: #b7b7b7;
            border: 0;
            font-size: 0.8rem;
            font-family: $Font;
        }
    }

    .user-info-profile-status {
        display: flex;
        align-items: center;
        .profile-status-progress-wrap {
            margin-right: 15px;
        }
        .profile-status-progress {
            height: 60px;
            width: 60px;
            min-width: 60px;
            margin: 0 auto;
        }
    }
    .CircularProgressbar.profile-status-progress {
        .CircularProgressbar-trail {
            stroke: #f2f5f8;
        }
        .CircularProgressbar-path {
            stroke: #504658;
            stroke-linecap: square;
        }
        .CircularProgressbar-text {
            fill: #504658;
            font-family: $SemiBoldFont;
            font-size: $CeTitle;
        }
    }
}
