@import "../../assets/scss/variable";
.Page-ValidateData{
    padding: 40px 7%;
    background-color: #F2F5F8;
    .ezi-datatable-tab{
        .ezi-datatable-left-header{
            .nav{
                margin: 0 -15px;
            }
            .nav-item{
                padding: 0 15px;
                margin-bottom: 15px;
                a{                    
                    background-color: #fff;
                    border-radius: 12px;
                    padding: 14px 18px;
                    color:#5A4E63;
                    font-family: $SemiBoldFont;
                    font-size:0.9rem;
                    .show-entry{
                        color:$ThemeColor;
                        span{
                            color:#5A4E63;
                            margin-right: 15px;
                        }
                        &:after{
                            content:'';
                            background-image: url(../../assets/images/show-entry_ic.svg);
                            background-size: 16px;
                            background-position: center;
                            background-repeat: no-repeat;
                            transition: transform 0.3s ease;
                            margin-left: 12px;
                            height:30px;
                            width:30px;
                        }
                      }
                    p{
                        margin:0;  
                        display: flex;
                        align-items: center;                    
                        .all_count,.valid_count,.invalid_count{
                            height: 30px;
                            width: 40px;
                            display: block;
                            text-align: center;
                            border-radius: 5px;
                            font-size: 0.8rem;
                            margin-right: 15px;
                            line-height: 30px;
                        }
                        .all_count{
                            background: #E9E9E9;
                            color:#A5A5A5;
                        }
                        .valid_count{
                            background: #D0CBD4;
                            color:#7a7272;
                        }
                        .invalid_count{
                            background: #F5C1C1;
                            color:#FF6A6A;
                        }
                    }
                    &.active{
                       position: relative;
                       color:$ThemeColor;
                       &:after{
                        content: '';
                        height: 100%;
                        width: 100%;
                        border: 1px solid $ThemeColor;
                        border-radius: 12px;
                        top: 0;
                        left: 0;
                        position: absolute;
                       }
                    }
                }
            }
        }

    }

    .ezi-datatable-content{
        padding: 30px 0;
    }

    

    .entry-dropdown{
        .dropdown button {
            border: 0;
            background: 0;
            padding: 0;
            line-height: normal;
            display: inline-flex;
            &:focus{
                box-shadow: none;
                outline:0;
            }
            &:after{
                display: none;
            }
        }    
        .show.dropdown{
            .dropdown-menu.show{
                margin-top: 25px;
                border: 0;
                box-shadow: 0 3px 6px rgba(0,0,0,0.1);
                border-radius: 20px;
                padding: 15px 20px;
                a{
                    padding:0;
                    padding: 8px 10px;
                    color:#5A4E63;
                    transition: color .3s ease;
                    &:hover{
                        color:$ThemeColor;
                    }
                }
            }
        }

        .btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus{
            box-shadow: none;
        }
        .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle{
            background-color: transparent;
            border-color: transparent;
        }
    }

    .react-bootstrap-table .table tbody  tr{
       td:last-child{
            visibility: hidden;
        }
        &:hover{
            td:last-child{
                visibility: visible;
            }
        }

    } 

    .download-excel-btn-wrap{
        display: flex;
        .download-excel-btn{
            display: inline-flex;
            align-items: center;
            background: #504658;
            border: 0;
            height: 100%;
            color: #fff;
            border-radius: 25px;
            padding: 5px 30px;
            font-family: $Font;
            font-size:0.8rem;
            margin: 15px 0 0 auto;
        }
    }

}