@import "../../../assets/scss/variable";
@import "../../../assets/scss/placeholder";

.Page-TemplateCategory {
    padding: 40px 7%;
    background-color: #f2f5f8;
    &.no-result-formatter {
        height: 100%;
        .template_card_c-wrap {
            height: calc(100% - 112px);
        }
    }
    .template_card_c-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
        .template_card_c {
            position: relative;
            background-color: #fff;
            border-radius: 18px;
            display: inline-flex;
            flex-direction: column;
            width: calc(25% - 60px);
            min-width: 230px;
            padding: 30px;
            margin: 0 20px 40px;
            -moz-box-shadow: -1px 7px 91px rgba(0, 0, 0, 0.08);
            -webkit-box-shadow: -1px 7px 91px rgba(0, 0, 0, 0.08);
            box-shadow: -1px 7px 91px rgba(0, 0, 0, 0.08);
            max-height: 180px;
            min-height: 180px;
            overflow: hidden;
            cursor: pointer;
            &:hover:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 18px;
                border: 1px solid $ThemeColor;
            }
            .category-icon-wrapper {
                position: absolute;
                right: 7px;
                top: 5px;
            }
            @mixin icon-default {
                background-position: center;
                background-repeat: no-repeat;
                height: 30px;
                width: 30px;
                cursor: pointer;
                display: none;
            }

            &:hover .category-delte_ic {
                background-image: url(../../../assets/images/table_delete_ic.svg);
                background-size: 13px;
                display: inline-block;
                &:hover {
                    background-image: url(../../../assets/images/table_delete_active_ic.svg);
                }
            }
            &:hover .category-edit_ic {
                background-image: url(../../../assets/images/table_edit_ic.svg);
                background-size: 19px;
                display: inline-block;
                &:hover {
                    background-image: url(../../../assets/images/table_edit_actives_ic.svg);
                }
            }
            .category-delte_ic {
                @include icon-default;
            }
            .category-edit_ic {
                @include icon-default;
            }
            .template_card_add_ic {
                background-image: url(../../../assets/images/create_new_survey_ic.svg);
                background-size: 33px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $ThemeColor;
                display: inline-flex;
                align-items: center;
                height: 60px;
                min-height: 60px;
                width: 60px;
                min-width: 60px;
                border-radius: 50%;
                justify-content: center;
                margin: 0 auto 10px;
            }
            .template_card_add-label {
                color: $ThemeColor;
                font-family: $SemiBoldFont;
                font-size: 1rem;
                text-align: center;
                margin: 0;
            }
        }
        .template_card_c-label {
            color: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1rem;
            text-align: center;
            margin: 0 0 5px;
            text-transform: capitalize;
        }
        .template_card_c-des {
            color: #c5c5c5;
            font-family: $LightFont;
            font-size: 0.85rem;
            line-height: 24px;
            margin: 0;
            text-align: center;
            overflow: hidden;
        }
    }

    @media (max-width: 600px) {
        .template_card_c-wrap {
            justify-content: center;
        }
    }
}
