@import "../../../assets/scss/variable";
.Page-SurveyReport{
    padding: 40px 7%;
    background-color: #F2F5F8;

    header{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .report-header-text-wrap{
        .title{
            display: block;
            color:#504658;
            font-size: 1.5rem;
            margin-bottom: 2px;
        }
        .subtitle{
            display: block;
            color:#8D8D8D;
            font-size: 0.8rem;
        }
    }

    .report-header-right{
        margin-left: auto;
        display: inline-flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .common-dropdown{
        padding: 0 10px;
        margin: 10px 0;
        &:last-child{
            padding-right: 0;
        }
        .dropdown{
            button{
                border-radius: 25px;
                padding: 0 50px 0 25px;
                height: 32px;
                border:0;
                color: #fff;
                font-size: 0.8rem;
                font-family: $SemiBoldFont;
                &:after{
                    height: 32px;
                    width: 32px;
                    background: #3a4f65;
                    border-radius: 50%;
                    margin: 0;
                    border: 0;
                    position: absolute;
                    right:0;
                    top:0;
                    background-image: url(../../../assets/images/dropdown_icon.svg);
                    background-size: 14px;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: transform 0.3s ease;
                }
                &:focus{
                    box-shadow: none !important;
                }
            }
            &.show{
                button{
                    &:after{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }


    .menu-dropdown {
        display: inline-block;
        .dropdown{
            button{
                background-color: $ThemeColor !important;
                &:after{
                    background-color: #AB2257;
                }
                &:hover{
                    background-color: darken($ThemeColor, 8%) !important;              
                }
                &:hover:after{
                    background-color: darken(#AB2257, 8%) !important;
                }
            }
        }
    }

    .common-dropdown .show.dropdown .dropdown-menu.show {
        margin-top: 15px;
        border: 0;
        -moz-box-shadow: 2px 6px 10px  rgba(0,0,0,0.09);
        -webkit-box-shadow: 2px 6px 10px  rgba(0,0,0,0.09);
        box-shadow: 2px 6px 10px  rgba(0,0,0,0.09);
        border-radius: 20px;
        padding: 15px 20px;
        .item_route_link {
            padding: 10px 0;
            border-bottom: 1px solid #E9E9E9;
            color: #656565;
            transition: color 0.3s ease;
            display: block;
            font-size: 0.9rem;
            &:hover{
                color:$ThemeColor;
                background-color: transparent;
                text-decoration: none;
            }
            &:last-child {
                border: 0;
            }
        }
    }


    .download-report{
        background-color:#5A4E63;
        color: #fff;
        border: 0;
        min-height: 32px;
        border-radius: 25px;
        padding: 0 20px;
        margin: 10px 0;
        font-family: $Font;
        font-size: 0.8rem;
        display: inline-flex;
        align-items: center;
        &:focus{
            outline: 0;
        }
    }

  

    .report-top-card-wrapper{
        display: flex;
        align-items: flex-start;
        margin: 30px -10px 0;
    }

    @mixin card-shadow{
        -moz-box-shadow:0 3px 10px  rgba(0,0,0,0.08);
        -webkit-box-shadow:0 3px 10px  rgba(0,0,0,0.08);
        box-shadow:0 3px 10px  rgba(0,0,0,0.08);
        background-color: #fff;
        margin: 0 10px;
        border-radius: 9px;
    }
    .statistic-card{
        @include card-shadow;
        width: 100%;
        max-width: 30%;
    }
    .channel-effectiveness-card{
        @include card-shadow;
        width: 100%;
        max-width: 45%;
    }
    .average-lateness-card{
        @include card-shadow;
        width: 100%;
        max-width: 25%;
    }


    .report-bottom-card-wrapper{
        display: flex;
        align-items: flex-start;
        margin: 30px -10px 0;
    }
    .question-statistics-card{
        @include card-shadow;
        width: 100%;
        max-width: 30%;
    }
    .trending-themes-card{
        @include card-shadow;
        width: 100%;
        max-width: 25%;
    }
    .report-alert-card{
        @include card-shadow;
        width: 100%;
        max-width: 40%;
    }
    .report-trend-card{
        @include card-shadow;
        width: 100%;
        max-width: 70%;
    }


    @mixin card-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        border-bottom: 1px solid #E8E9EC;
        color: #5A4E63;
        font-size: 1rem;
        font-family: $SemiBoldFont;
    }

    .statistic-card-header {
        @include card-header;
        padding: 12px 20px;
        .view-trend-btn {
            margin-left: auto;
            background: transparent;
            border: 1px solid #E9E9E9;
            border-radius: 25px;
            color: #504658;
            font-size: 0.8rem;
            padding: 5px 14px;
            display: inline-flex;
            align-items: center;
            &:after{
                content: '';
                background-image: url(../../../assets/images/breadcrumb‭_arrow.svg);
                background-size: 6px;
                background-position: top center;
                background-repeat: no-repeat;
                height: 13px;
                width: 13px;
                display: inline-block;
                margin-left: 3px;
            }
        }
    }

    .report-card-body {
        padding:20px;
        
        
    }


/**
 * Statistics component Css Start 
 */
 
    .statistic-card{
        min-height: 260px;
        max-height: 260px;
    }

    .statistic-card-body{
        display: flex;
        .statistic-text-wrap{
            width: 50%;
        }

        .invited-respondant-text-wrap,.nonrespondant-dropout-text-wrap {
            display: flex;
            margin-bottom: 15px;
        }
        .invited-text-wrap {
            display: inline-flex;
            flex-direction: column;
            margin-right: 20px;
            .title {
                color: #B7B7B7;
                font-size: 0.75rem;
            }
            .subtitle {
                color: $ThemeColor;
                font-family: $SemiBoldFont;
                font-size: 1.3rem;
                margin: 4px 0;
            }
            .rate-count {
                color: $ThemeColor;
                font-family: $SemiBoldFont;
                font-size: 0.7rem;
            }
        }
        .respondant-text-wrap {
            display: inline-flex;
            flex-direction: column;
            .title {
                color: #B7B7B7;
                font-size: 0.75rem;
            }
            .subtitle {
                color: #5A4E63;
                font-family: $SemiBoldFont;
                font-size: 1.3rem;
                margin: 4px 0;
            }
            .rate-count {
                color: #5A4E63;
                font-family: $SemiBoldFont;
                font-size: 0.7rem;
            }
        }

        .dropout-text-wrap {
            display: inline-flex;
            flex-direction: column;
            &:first-child{
                margin-right: 20px;
            }
            .title {
                color: #B7B7B7;
                font-size: 0.75rem;
            }
            .subtitle {
                color: #5A4E63;
                font-family: $SemiBoldFont;
                font-size: 1.3rem;
            }
        }
        .statistic-donut-wrap{
            display: flex;
            justify-content: center;
            width: 50%;
        }

    }
/**
 * Statistics component Css End 
 */




/**
 * Question Statistics component Css Start 
 */

    .question-statistics-card{
        min-height: 400px;
        max-height: 400px;
        overflow: hidden;
    }
    .question-statistics-card-header{
        @include card-header;
      
        
    }
    .question-statistics-card-body{
        padding: 0;
    }
    .question-line-chart-wrap{
        // margin: 0 -15px;
    }

    .question-statistics-inner-header {
        display: flex;
        padding: 20px 20px 33px;
        margin-top: 30px;
        .question-text-wrap {
            display: flex;
            flex-direction: column;
            .title{
                color:$ThemeColor;
                font-family: $SemiBoldFont;
                font-size: 1.1rem;
            }
            .subtitle{
                color:#B7B7B7;
                font-size: 0.75rem;
            }
        }
    }

/**
 * Question Statistics component Css End 
 */




/**
 * Alert component Css Start 
 */

    .report-alert-card{
        display:flex;
        flex-direction: column;
        min-height: 400px;
        max-height: 400px;
    }
    .report-alert-card-header {
        @include card-header;
        .report-alert-header-heading {
            margin: 0;
            color: #5A4E63;
            font-size: 1rem;
        }
    }
    .report-alert-clear-btn {
        padding: 0;
        border: 0;
        background: transparent;
        color: #B7B7B7;
        font-size: 0.8rem;
    }

    .report-alert-card-body {
        overflow-y: auto;
        margin: 20px 20px;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b7b7b7;
        }
        &::-webkit-scrollbar-track {
            background-color: #E9E9E9;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: flex;
                align-items: center;
                padding-right: 10px;
                margin-bottom: 15px;
            }
        }
        .report-alert-card-msg-icon {
            height: 26px;
            width: 26px;
            min-width: 26px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: #fff;
            text-indent: -9999px;
            background-size:24px;
            background-position: top 1px center;
            background-repeat: no-repeat;
            margin-right: 15px;
            &.report-alert-success{
                    background-image: url(../../../assets/images/template/highlight-success.svg);
                    background-color: #B5EE5F;                
                    background-position: top 1px left 1px;           
            }
            &.report-alert-info{               
                    background-image: url(../../../assets/images/template/highlight-info.svg);                
                    background-color: #0086F2;
            }
            &.report-alert-warning{             
                    background-image: url(../../../assets/images/template/highlight-warning.svg);
                    background-color: #FFCF46;        }
            &.report-alert-error{              
                    background-image: url(../../../assets/images/template/highlight-error.svg);
                    background-color: #FF5054;
            }
        }
        .report-alert-des-wrap{
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            .report-alert-card-des {
                color: #4D4F5C;
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }        
            .report-alert-card-time {
                color: #A3A4AB;
                font-size: 0.75rem;
            }
        }
    }

/**
 * Alert component Css End 
 */



 /**
 * Trending Themes component Css Start 
 */

    .trending-themes-card{
        min-height: 400px;
        max-height: 400px;
        display: flex;
        flex-direction: column;
    }
    .trending-themes-card-header{
        @include card-header;
    }
    .trending-themes-card-body{
        padding: 0 10px;
        overflow-y: auto;
        margin: 20px 10px;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b7b7b7;
        }
        &::-webkit-scrollbar-track {
            background-color: #E9E9E9;
        }
    }

    .statistic-card-header {
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
    }
    
    .trending-themes-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
        padding-right: 10px;
        .themes-label {
            color: #4D4F5C;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 10px;
            font-size: 0.9rem;
        }
        
        .themes-count {
            font-family: "NunitoSansSemiBold";
            font-size: 0.9rem;
            display: inline-flex;
            @mixin trend-image {
                content: '';
                background-size:100%;
                background-position:center;
                background-repeat: no-repeat;
                height: 18px;
                width: 18px;
                display: inline-block;
                margin-left: 5px;
            }
            &.trend-up{
                color: #1FB56F;
                &:after{
                    @include trend-image;
                    background-image: url(../../../assets/images/dashboard/trend-up.svg);
                }
            }
            &.trend-down{
                color: #FF4E4E;
                &:after{
                    @include trend-image;
                    background-image: url(../../../assets/images/dashboard/trend-down.svg);
                }
            }
        }

    }
    
  



/**
 * Trending Themes component Css End 
 */




/**
 * Chanel effectiveness  component Css Start 
 */
    .channel-effectiveness-card{        
        min-height: 260px;
        max-height: 260px;
    }
    .channel-effectiveness-card-header{
        @include card-header;
    }


/**
 *  Chanel effectiveness component Css End 
 */



/**
 * Average Lateness component Css Start 
 */

    .average-lateness-card{
        min-height: 260px;
        max-height: 260px;
    }
    .average-lateness-card-header{
        @include card-header;
    }

    .progress-label{
        color:#504658;
        margin-bottom: 0;
        font-size: 0.9rem;
    }
    .progress-wrap {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
      
        .average-progess-bar {
            height: 7px;
            border-radius: 25px;
            width: 100%;
            .progress-bar{
                border-radius: 25px;
            }
        }
        .average-pink{
            &.progress{
                background-color: #F9E4EC;
            }
            .progress-bar{

                background-color: $ThemeColor;
            }
            + .progres-bar-count{
                color:$ThemeColor;
                font-family: $SemiBoldFont;
                font-size: 0.85rem;
                margin-left: 10px;
            }
        }
        .average-blue{
            &.progress{
                background-color: #E0E9F0;
            }
            .progress-bar{
                background-color: #165888;
            }
            + .progres-bar-count{
                color:#165888;
                font-family: $SemiBoldFont;
                font-size: 0.85rem;
                margin-left: 10px;
            }
        }
        .average-red{
            &.progress{
                background-color: #FFE8E8;
            }
            .progress-bar{
                background-color: #FF4E4E;
            }
            + .progres-bar-count{
                color:#FF4E4E;
                font-family: $SemiBoldFont;
                font-size: 0.85rem;
                margin-left: 10px;
            }
        }
        
    }



/**
 *  Average Lateness component Css End 
 */


 
/**
 *  Trend component Css Start 
 */

    .report-trend-card{
        min-height: 260px;
        max-height: 260px;
    }
    .report-trend-card-header{
        @include card-header;
    }
    .report-trend-card-body{
       padding: 20px;
    }

 
/**
 *  Trend component Css End 
 */


 @media (max-width:1000px) {

        .report-top-card-wrapper,.report-bottom-card-wrapper{
            flex-wrap: wrap;
        }
        .statistic-card,.channel-effectiveness-card,.question-statistics-card,.trending-themes-card{
            max-width: calc(50% - 20px);
            margin-bottom: 20px;

        }
        .average-lateness-card , .report-alert-card{
            max-width: 100%;
        }

 }

 @media (max-width:767px) {

    // .report-top-card-wrapper,.report-bottom-card-wrapper{
    //     flex-wrap: wrap;
    // }
    .statistic-card,.channel-effectiveness-card,.question-statistics-card,.trending-themes-card{
        max-width: calc(100% - 20px);
        margin-bottom: 20px;

    }
    .statistic-card{
        max-height: 100%;
    }
    .average-lateness-card , .report-alert-card{
        max-width: 100%;
    }
    .statistic-card-body{
        flex-wrap: wrap;
        .statistic-text-wrap,.statistic-donut-wrap{
            width:100%;
            .invited-text-wrap,.respondant-text-wrap,.dropout-text-wrap{
                flex:1;
            }
        }
    }
    

}





}