body {
    text-align: center;
    padding: 150px;
    background-color: #504658;
}

h1 {
    font-size: 40px;
}

body {
    font: 20px Helvetica, sans-serif;
    color: #333;
}

#article {
    display: block;
    text-align: center;
    width: 650px;
    margin: 10px auto;
    
}

a {
    color: #dc8100;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 16px;
    padding: 15px;
    border-style: groove;
    border-color: $ThemeColor;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
img{
    width: 99px;
    display: flex;
    justify-content: flex-start;
}