
@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";

.Page-PeopleDirectory{

    @import "../../assets/scss/demography_filter";

    padding: 40px 7%;
    background-color: #F2F5F8;

    .people-directory-breadcrumb{
        margin-bottom: 30px;
    }
    .delete-peoples {
        border:1px solid #5A4E63;
        background-color:transparent;
        color: #5A4E63;
        min-height: 32px;
        border-radius: 25px;
        padding: 0 30px 0 20px;
        margin: 10px 5px 0 6px;
        font-family: $SemiBoldFont;
        font-size: 0.8rem;
        display: inline-flex;
        align-items: center;
        &:focus{
            outline: 0;
        }
        &:before{
            content: '';
            background-size: 14px;
            background-position: center;
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
        }
        &:hover{
            background-color: $ThemeColor;
            color: #ffff;
        }
    }
    
    .bulk-update-save {
        padding: 6px 30px;
        border: 0;
        color: #fff;
        background-color: #504658;
        font-family: "NunitoSans";
        font-size: 0.9rem;
        border-radius: 25px;
        margin-bottom: 30px;
        margin-left: auto;
    }
    .CommonDropdown{
        padding: 0 10px;
        margin: 0 0 15px;
        &:last-child{
            padding-right: 0;
        }
        .dropdown{
            button{
                border-radius: 25px;
                padding: 0 50px 0 25px;
                height: 32px;
                border:0;
                color: #fff;
                font-size: 0.8rem;
                font-family: $SemiBoldFont;
                &:after{
                    height: 32px;
                    width: 32px;
                    background: #3a4f65;
                    border-radius: 50%;
                    margin: 0;
                    border: 0;
                    position: absolute;
                    right:0;
                    top:0;
                    background-image: url(../../assets/images/dropdown_icon.svg);
                    background-size: 14px;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: transform 0.3s ease;
                }
                &:focus{
                    box-shadow: none !important;
                }
            }
            &.show{
                button{
                    &:after{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    
    
    .deleteDropdown{
        .dropdown{
            button{
                background-color: #f44336 !important;
                &:after{
                    background-color: #d32f2f !important;
                }
                &:hover{
                    background-color: darken(#f44336, 8%) !important;              
                }
                &:hover:after{
                    background-color: darken(#d32f2f, 8%) !important;
                }
            }
        }
    }
    .updateDropdown {
        .dropdown{
            button{
                background-color: #504658 !important;
                &:after{
                    background-color: #362C3E;
                }
                &:hover{
                    background-color: darken(#504658, 8%) !important;              
                }
                &:hover:after{
                    background-color: darken(#362C3E, 8%) !important;
                }
            }
        }
    }
    .addNewDropdown {
        .dropdown{
            button{
                background-color: $ThemeColor !important;
                &:after{
                    background-color: #AB2257;
                }
                &:hover{
                    background-color: darken($ThemeColor, 8%) !important;              
                }
                &:hover:after{
                    background-color: darken(#AB2257, 8%) !important;
                }
            }
        }
    }
    .identifierDropdown {
        .identifier{
            color:#656565 !important;
            &:hover{
                text-decoration: none;
            }
        }
        .dropdown{
            button{
                background-color: #E9E9E9 !important;
                color:#656565 !important;
                padding: 0 20px 0 20px ;
                li{
                    list-style-type: none;
                }
                &:after{
                    display:none;
                }
                &:hover{
                    background-color: darken(#E9E9E9, 8%) !important;            
                }
                &:focus{
                    background-color: inherit;  
                }
            }
        }
    }
    
    
    
    .CommonDropdown .show.dropdown .dropdown-menu.show {
        margin-top: 15px;
        border: 0;
        -moz-box-shadow: 2px 6px 10px  rgba(0,0,0,0.09);
        -webkit-box-shadow: 2px 6px 10px  rgba(0,0,0,0.09);
        box-shadow: 2px 6px 10px  rgba(0,0,0,0.09);
        border-radius: 20px;
        padding: 15px 20px;
        .item_route_link {
            cursor: pointer;
            padding: 10px 0;
            border-bottom: 1px solid #E9E9E9;
            color: #656565;
            transition: color 0.3s ease;
            display: block;
            font-size: 0.9rem;
            &:hover{
                color:$ThemeColor;
                background-color: transparent;
                text-decoration: none;
            }
            &:last-child {
                border: 0;
            }
        }
    }


    .filter-search-wrap{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .participant-filter-wrap{
        position: relative;
        margin-bottom: 10px;
        margin-right: 25px;
    }




    



}


.Page-PeopleDirectory{

    .react-bootstrap-table .table tbody tr td:hover:after{
        display: none;
    }

    .people-directory-table-header {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        margin-bottom: 10px;
        .people-directory-table-header-left span {
            font-family: $SemiBoldFont;
            font-size: 0.9rem;
            color: #1c1c1c;
        }
    }
    .react-bootstrap-table .table thead tr th:last-child {
        text-align: center;
    }
    .react-bootstrap-table .table tbody tr td:last-child {
        text-align: center;
    }


}




.tab-left-header{
    .nav-item{
        margin-bottom: 15px;
        margin-right: 40px;
        &:last-child{
            margin-right: 0;
        }
        a{
            color: #B7B7B7;
            padding-bottom: 20px;
            position: relative;
            transition: color 0.3s ease;
            font-family: $SemiBoldFont;
            &:hover{
                color:$ThemeColor;
            }
            &:focus{
                outline: 0;
            }
            
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background-color: transparent;
        border-color:transparent;
        color:$ThemeColor;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom:0;
            height:2px;
            width: 100%;
            background-color:$ThemeColor;

        }
    }
}

.tab-header-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tab-content {
    padding: 40px 0;
}

.tab-right-header {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

}
