@import "./assets/scss/variable.scss";
@import "./assets/scss/placeholder.scss";
@import "./assets/scss/EziAlert.scss";

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body,
#root,
.App {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f2f5f8;
    font-family: $Font;
    letter-spacing: 0.2px;
}

a:hover {
    color: inherit;
    text-decoration: none;
}
.CircularProgressbar-text {
    fill: $ThemeColor;
    font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    dominant-baseline: middle !important;
    text-anchor: middle !important;
}
::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
}

button:focus,
a:focus {
    outline: 0 !important;
}

.app_loading {
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.app_loading span {
    font-size: 50px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.app_loading span:nth-child(2) {
    animation-delay: 0.2s;
}

.app_loading span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.ezi-loading-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.ezi-spinner {
    width: 75px;
    height: 75px;
    margin: 0;
    background: transparent;
    border-top: 4px solid $ThemeColor;
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 1s ezi-spin linear infinite;
    animation: 1s ezi-spin linear infinite;
}

@-webkit-keyframes ezi-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ezi-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.burgundy-spinner.spinner-border {
    border-color: $ThemeColor;
    border-right-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 5px;
}

/**
   * Loader Css  Start  
   */

.loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}
.ezi-loader-check {
    background-image: url(./assets/images/ezi-loader-check.svg);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 11px;
    left: 14px;
}
#ezi-loader {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}
#ezi-loader:before,
#ezi-loader:after {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #d12c6d;
}

#ezi-loader:before {
    z-index: 100;
    animation: ezi-spin 0.6s infinite linear;
}

#ezi-loader:after {
    border: 7px solid #c5c5c5;
}
.ezi-loader-text {
    color: #d12c6d;
    font-size: 0.86rem;
    font-family: "NunitoSansSemiBold";
    margin: 4px 0;
}

@keyframes ezi-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Loader Css  End  */

.ezi-btn {
    box-shadow: none;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: $Font;
}
.ezi-btn:hover,
.ezi-btn:focus {
    outline: 0;
    box-shadow: none;
}

.dropzone-wrap .dropzone_text {
    color: #b7b7b7;
    font-family: "NunitoSansSemiBold";
    font-size: 0.9rem;
    margin-top: 19px;
}

.btn-ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
.btn-ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
}
.btn-ripple:active:after {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
}

.react-confirm-alert {
    .react-confirm-alert-body > h1 {
        text-align: center;
        font-size: 23px;
    }
    .react-confirm-alert-body {
        text-align: center;
    }
    .react-confirm-alert-button-group {
        justify-content: center !important;
        align-items: center !important;
    }
}
.access_lock {
    opacity: 0.5;
}
.ezi-grey-btn {
    background-color: #e9e9e9;
    color: #656565 !important;
}
.ezi-pink-btn {
    background-color: $ThemeColor;
    color: #fff !important;
    border: 0;
    min-height: 32px;
    border-radius: 25px;
    padding: 0 20px;
    margin: 0;
    font-family: $Font;
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    &:focus {
        outline: 0;
    }
    .add_ic {
        display: inline-flex;
        align-items: center;
        height: 18px;
        width: 18px;
        background-image: url(./assets/images/adds.svg);
        background-size: 12px;
        background-position: top 3px right;
        background-repeat: no-repeat;
        margin-left: 2px;
    }
}
.spinner-custom {
    border-width: 0.15em !important;
    margin-left: 3px;
}
.ezi-search-btn {
    background-color: $ThemeColor;
    color: #fff !important;
    border: 0;
    min-height: 38px;
    border-radius: 5px;
    padding: 0 20px;
    margin: 0;
    font-family: $Font;
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    &:focus {
        outline: 0;
    }
}

.ezi-filter-btn {
    border: 1px solid #5a4e63;
    background-color: transparent;
    color: #5a4e63;
    min-height: 32px;
    border-radius: 25px;
    padding: 0 30px 0 20px;
    margin: 10px 0;
    font-family: $SemiBoldFont;
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    &:focus {
        outline: 0;
    }
    &:before {
        content: "";
        background-image: url(./assets/images/filter-icon.svg);
        background-size: 14px;
        background-position: center;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
}
.page-not-found-component {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Toastify__toast {
    font-family: $Font;
    border-radius: 60px;
    color: #504658;
    align-items: center;
    background-color: #fff;
    &:before {
        content: "";
        height: 40px;
        width: 40px;
        background-size: 35px;
        background-position: top 3px right;
        background-repeat: no-repeat;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px 0 10px;
    }
    .Toastify__close-button {
        &:focus {
            outline: 0;
        }
    }
    &.Toastify__toast--success:before {
        background-image: url(./assets/images/toast/success_toast_ic.svg);
    }
    &.Toastify__toast--error:before {
        background-image: url(./assets/images/toast/error_toast_ic.svg);
    }
    &.Toastify__toast--warning:before {
        background-image: url(./assets/images/toast/warning_toast_ic.svg);
    }
    &.Toastify__toast--info:before {
        background-image: url(./assets/images/toast/info_toast_ic.svg);
    }
}

.popover.ezi-popover-box {
    border: 0;
    -moz-box-shadow: 6px 4px 14px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 6px 4px 14px rgba(0, 0, 0, 0.11);
    box-shadow: 6px 4px 14px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    .arrow {
        &:before {
            border: 0;
        }
    }
    .popover-body {
        padding: 25px 15px;
        color: #3b3b3b;
        font-family: $LightFont;
        font-size: 0.85rem;
        line-height: 24px;
        min-width: 200px;
    }
}

.ezi-popover-btn {
    height: 34px;
    width: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    background-image: url(./assets/images/ezipopover.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    padding: 0;

    &:focus {
        outline: 0;
    }
}

.checklist-modal {
    z-index: 99999 !important;
    &.theme-modal-wrapper .ezi-modal-header {
        padding: 1rem 25px;
    }

    .checklist-label {
        font-size: 0.85rem;
        min-width: 160px;
        color: #b7b7b7;
        margin-bottom: 10px;
    }

    .checklist-info {
        color: #504658;
        font-size: 0.8rem;
        margin-bottom: 10px;
        font-family: $Font;
    }
    .survey-name {
        font-family: $SemiBoldFont;
    }
    .channel-name-wrap {
        width: calc(100% - 160px);
        display: inline-block;
    }
    .channel-name {
        font-family: $SemiBoldFont;
        display: block;
    }

    .checklist-label-wrap {
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;
    }
    .modal-body {
        padding: 1rem 25px;
    }
    .checklist-modal-close {
        background: transparent;
        border: 0;
        padding: 4px 10px;
        margin: 0;
        margin-right: 10px;
        color: #1c1c1c;
        font-family: $SemiBoldFont;
        font-size: 0.8rem;
    }
    .checklist-modal-submit {
        padding: 6px 30px;
        font-family: $SemiBoldFont;
        font-size: 0.8rem;
    }
    .modal-footer {
        border-top: 1px solid #e9e9e9;
    }
}
.popover-close-btn {
    height: 20px;
    width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    background-image: url(./assets/images/modal_close_ic.svg);
    background-size: 9px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 8px;
    &:focus {
        outline: 0;
    }
}

.main-wrapper {
    height: 100%;
    background-color: #f2f5f8;
}
.inner-wrapper {
    height: calc(100% - 70px);
    overflow-y: auto;
}

.breadcrumb_ezi {
    border-bottom: 1px solid #dde0e2;
    padding-bottom: 12px;
    margin-bottom: 40px;
    .breadcrumb {
        background-color: transparent;
        margin-bottom: 0.5rem;
        margin: 0 -15px;
        .breadcrumb-item {
            display: inline-flex;
            align-items: center;
            a {
                color: #c5c5c5;
                font-family: $SemiBoldFont;
                font-size: 0.85rem;
                text-transform: capitalize;
                &:hover {
                    text-decoration: none;
                }
            }

            &:after {
                content: "";
                background-image: url(./assets/images/breadcrumb_arrow_prev.svg);
                background-size: 6px;
                background-position: center;
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
                display: inline-block;
                margin-left: 7px;
            }
            + .breadcrumb-item {
                &:after {
                    content: "";
                    background-image: url(./assets/images/breadcrumb_arrow_prev.svg);
                    background-size: 6px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 20px;
                    width: 20px;
                    display: inline-block;
                    margin-left: 7px;
                }
                &:before {
                    display: none;
                }
                &:last-child {
                    a {
                        color: #504658;
                        font-family: $SemiBoldFont;
                        font-size: 0.85rem;
                    }
                    &:after {
                        background-image: url("./assets/images/breadcrumb‭_arrow.svg");
                    }
                }
            }
        }
    }

    .column-header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .page-heading {
            color: #504658;
            font-family: $Font;
            font-size: 1.5rem;
            font-weight: normal;
            margin-bottom: $CeTitle;
            text-transform: capitalize;
            display: flex;
            align-items: center;
        }
        .column-header-btn {
            margin-left: auto;
            button {
                padding: 7px 25px;
                margin-bottom: 1.3rem;
                border: 0;
                color: #fff;
                font-family: $Font;
                font-size: 0.8rem;
                border-radius: 25px;
                display: inline-flex;
                align-items: center;
                &:focus {
                    outline: 0;
                }
            }
            .add-new {
                background: $ThemeColor;
                margin-right: 10px;
                .add_ic {
                    display: inline-flex;
                    align-items: center;
                    height: 18px;
                    width: 18px;
                    background-image: url(./assets/images/adds.svg);
                    background-size: 12px;
                    background-position: top 2px right;
                    background-repeat: no-repeat;
                    margin-left: 2px;
                }
            }
            .next {
                background: #5a4e63;
                .next_ic {
                    display: inline-flex;
                    align-items: center;
                    height: 18px;
                    width: 18px;
                    background-image: url(./assets/images/map_next_btn.svg);
                    background-size: 6px;
                    background-position: top 3px right;
                    background-repeat: no-repeat;
                }
            }
            .back {
                background-color: transparent;
                color: #c5c5c5;
                margin-right: 15px;
            }
        }
    }
    .header-info-btn {
        border: 0;
        background: transparent;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 3px;
        background-image: url(./assets/images/ezipopover.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        min-width: 20px;
        margin-left: 8px;
        margin-bottom: 1rem;
    }
}

// upload btn css start
.common-img-upload-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;

    .common-upload-btn-formatter {
        border: 0;
        color: #504658;
        background-color: #f2f5f8;
        padding: 0 32px;
        border-radius: 25px;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        min-height: 38px;
        &:before {
            content: "";
            background-image: url(./assets/images/upload-file-icon.svg);
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
            height: 20px;
            width: 20px;
            margin-right: 16px;
        }
    }

    .common-upload-input {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}
// upload btn css End

// Datatable Css start

.react-bootstrap-table {
    background-color: #fff;
    border-radius: 9px;
    padding: 0 0 20px;
    -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
    box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
    overflow-x: auto;
    // &:active{
    //     cursor: grabbing;
    //     cursor: -webkit-grabbing;
    // }
    &::-webkit-scrollbar {
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
    }
    .table {
        table-layout: auto;
        border: 0;
        thead {
            border-bottom: 1px solid #e9e9e9;
            tr th {
                &:first-child {
                    padding-left: 40px;
                }
                color: #b7b7b7;
                font-family: $SemiBoldFont;
                font-size: 0.8rem;
                padding: 22px 10px;
                white-space: nowrap;
                text-transform: capitalize;
                //     overflow: hidden;
                //    text-overflow: ellipsis;
                vertical-align: middle;
                font-weight: normal;
                &:focus {
                    outline: 0;
                }
            }
        }
        tbody {
            tr {
                &:hover {
                    td {
                        background-color: #f9f9f9;
                        &:first-child {
                            position: relative;
                            &:after {
                                content: "";
                                height: 100%;
                                width: 4px;
                                background: $ThemeColor;
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }
                    }

                    .react-bs-table-no-data {
                        background-color: transparent;
                        &:after {
                            display: none;
                        }
                    }
                }

                &:first-child {
                    padding-top: 20px;
                }
                td {
                    &:first-child {
                        padding-left: 40px;
                    }
                    color: #1c1c1c;
                    font-family: $Font;
                    font-size: 0.85rem;
                    padding: 18px 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // white-space: nowrap;
                    vertical-align: middle;
                    position: relative;
                    white-space: nowrap;
                    &:hover:after {
                        content: "";
                        display: inline-block;
                        background-image: url(./assets/images/datatable_edit_ic.svg);
                        background-size: 10px;
                        background-position: top right;
                        background-repeat: no-repeat;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        top: 8px;
                        right: 10px;
                        // right: 4px;
                        // top: 15px;
                    }
                    &:last-child:hover:after {
                        display: none;
                    }
                }
                td.react-bootstrap-table-editing-cell {
                    // .form-control.editor.edit-text -- uncontrol input
                    .form-control {
                        border-radius: 8px;
                        border: 1px solid #e9e9e9;
                        background-color: #fbfbfb;
                        box-shadow: none;
                        &:focus {
                            box-shadow: none;
                            outline: 0;
                        }
                    }
                }

                .react-bs-table-no-data {
                    padding: 30px 20px !important;
                    height: 150px;
                    line-height: 150px;
                    color: #a5a5a5 !important;
                }
            }
        }
    }
    .table thead th {
        border: 0;
    }
    .table td,
    .table th {
        border: 0;
    }

    .dt-bootstrap-search-wrap {
        width: 150px;
    }
    .dt-bootstrap-search-input {
        border: 0;
        background: transparent;
        background-image: url(./assets/images/people-search.svg);
        background-size: 13px;
        background-position: top 11px right;
        background-repeat: no-repeat;
        transition: all 0.5s ease;
        min-height: 36px;
        padding-right: 20px;
        margin-right: 20px;
        width: 80px;
        &:focus {
            outline: 0;
            width: 150px;
            border-bottom: 1px solid #c5c5c5;
        }
        @include placeholder {
            color: #8d8d8d;
            font-size: 0.9rem;
        }
    }

    .dt-bootstrap-edit-delte-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dt-bootstrap-edit_ic {
        background: transparent;
        border: 0;
        padding: 0;
        margin-right: 15px;
        color: #c5c5c5;
        transition: color 0.3s ease;
        font-family: $Font;
        font-size: 0.8rem;
        display: inline-flex;
        align-items: center;
        &:focus {
            outline: 0;
        }
        &:hover {
            color: $ThemeColor;
            &:before {
                background-image: url(./assets/images/table_edit_actives_ic.svg);
            }
        }
        &:before {
            content: "";
            display: inline-block;
            background-image: url(./assets/images/table_edit_ic.svg);
            background-size: 14px;
            background-position: center;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            margin-right: 2px;
            transition: background-image 0.3 ease;
        }
    }

    .dt-bootstrap-delete_ic {
        background: transparent;
        border: 0;
        padding: 0;
        color: #c5c5c5;
        transition: color 0.3s ease;
        font-family: $Font;
        font-size: 0.8rem;
        display: inline-flex;
        align-items: center;
        &:focus {
            outline: 0;
        }
        &:hover {
            color: $ThemeColor;
            &:before {
                background-image: url(./assets/images/table_delete_active_ic.svg);
            }
        }
        &:before {
            content: "";
            display: inline-block;
            background-image: url(./assets/images/table_delete_ic.svg);
            background-size: 9px;
            background-position: center;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            margin-right: 2px;
            transition: background-image 0.3 ease;
        }
    }

    .table_delete_ic {
        border: 0;
        background-color: transparent;
        color: #c5c5c5;
        padding: 5px 10px;
        font-family: $Font;
        font-size: 0.87rem;
        transition: color 0.3 ease;
        display: inline-flex;
        align-items: center;
        &:hover {
            color: $ThemeColor;
            &:before {
                background-image: url(./assets/images/table_delete_active_ic.svg);
            }
        }
        &:focus {
            outline: 0;
        }
        &:before {
            content: "";
            display: inline-block;
            background-image: url(./assets/images/table_delete_ic.svg);
            background-size: 10px;
            background-position: center;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            margin-right: 2px;
            transition: background-image 0.3 ease;
        }
    }
}

.react-bootstrap-table-pagination {
    margin: 30px 0;
    .pagination {
        display: flex;
        align-items: center;
        padding-top: 4px;
    }
    .page-item {
        .page-link {
            background-color: transparent !important;
            border-color: transparent !important;
            color: #cbcbcb;
            font-family: $Font;
            font-size: 1rem;
            padding: 5px 4px;
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
        &.active {
            .page-link {
                color: #8d8d8d;
                font-family: $Font;
                font-size: 1rem;
            }
        }
        &[title="next page"] {
            .page-link {
                background-image: url(./assets/images/datatable_pagination_ic.svg);
                background-size: 10px;
                background-position: center;
                background-repeat: no-repeat;
                height: 30px;
                width: 30px;
                text-indent: -9999px;
            }
        }
        &[title="previous page"] {
            .page-link {
                background-image: url(./assets/images/datatable_pagination_ic.svg);
                background-size: 10px;
                background-position: center;
                background-repeat: no-repeat;
                height: 30px;
                width: 30px;
                text-indent: -9999px;
                transform: rotate(180deg);
            }
        }
    }
}

.dt-table-search-wrap {
    display: flex;
    .dt-table-search {
        border: 1px solid #d9d9d9;
        background: #fff;
        padding: 10px 20px;
        margin-bottom: 15px;
        border-radius: 25px;
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        font-family: $Font;
        font-size: 1rem;
        color: #504658;
        transition: background 0.5s ease-in-out;
        @include placeholder {
            color: #d9d9d9;
        }
        &:focus {
            outline: 0;
        }
    }
}

// Datatable Css End

// react-select start

.react-select-wrapper {
    max-width: 400px;
    width: 100%;
    .css-2b097c-container .css-yk16xz-control {
        background-color: transparent;
        border: 1px solid #f3f3f3;
        border-radius: 25px;
        padding: 0 30px;
        min-height: 36px;
        background-image: url(./assets/images/select_arrow_ic.svg);
        background-size: 12px;
        background-position: center right 15px;
        background-repeat: no-repeat;
        // max-width: 200px;
        width: 100%;
        color: #504658;
        font-size: 0.85rem;
        font-family: "NunitoSans";
        margin: 20px 0;
        &:focus {
            outline: 0;
            box-sizing: none;
        }
        .css-1hwfws3 {
            padding: 0;
            .css-1wa3eu0-placeholder {
                color: #d9d9d9;
                margin: 0;
            }
        }
        .css-1hb7zxy-IndicatorsContainer {
            display: none;
        }
    }
}
// react-select End

/**
   * Loader Css  Start  
   */

.search-loader-position {
    position: absolute;
    top: 40px;
    height: calc(100% - 40px);
    width: 100%;
}

.serach-loader-wrapper_c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.search-loader-inner_c {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto 1rem;
}
.search-loader-inner_c:before,
.search-loader-inner_c:after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 3px solid transparent;
    border-top-color: #d12c6d;
}

.search-loader-inner_c:before {
    z-index: 100;
    animation: ezi-spin 0.6s infinite linear;
}

.search-loader-inner_c:after {
    border: 3px solid #c5c5c5;
}

@keyframes ezi-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

// Loader Css  End

/**
 * Custom pagination css
 */

.pagination-wrap {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    .pagination {
        margin: 0;
        padding: 0;
        display: inline-flex;
        align-items: center;
    }
    .page-item {
        list-style-type: none;
        &:last-child {
            .question-page-link {
                margin-right: 0;
            }
        }
        &.active {
            .question-page-link {
                color: #504658;
            }
        }
    }
    .page-link {
        height: 22px;
        width: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #c2c2c2;
        font-family: $Font;
        font-size: 0.9rem;
        cursor: pointer;
        border-radius: 2px;
        margin-right: 2px;
    }
}
/**
 * Custom pagination End
 */

/**
 * search comp0nent css start 
 */

.sweet-search-table-header {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 10px;
    .sweet-search-table-left span {
        font-family: $SemiBoldFont;
        font-size: 0.9rem;
        color: #1c1c1c;
    }
}

.ezi-sweet-search-wrap {
    .sweet-search-input {
        border: 0;
        background: transparent;
        background-image: url(./assets/images/people-search.svg);
        background-size: 13px;
        background-position: top 11px right;
        background-repeat: no-repeat;
        width: 90px;
        transition: all 0.5s ease;
        min-height: 36px;
        padding-right: 20px;
        margin-right: 20px;
        &:focus {
            outline: 0;
            width: 200px;
            border-bottom: 1px solid #c5c5c5;
        }
        @include placeholder {
            color: #8d8d8d;
            font-size: 0.9rem;
            font-family: $ItalicFont;
        }
    }
    .sweet-search-spinner {
        width: 24px;
        height: 24px;
        border: 3px solid $ThemeColor;
        border-right-color: #b7b7b7;
    }
}

/**
 * search comp0nent css End 
 */

/**
 * No Result svg wrap Start 
 */

.no-result-svg-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    img {
        max-width: 370px;
    }
    .common-no-result-text {
        color: $ThemeColor;
        font-size: 1.4rem;
        margin: 15px 0;
    }
    .unauthorised-result-text {
        color: $ThemeColor;
        font-size: 1.1rem;
        margin: 15px 0;
        max-width: 260px;
        text-align: center;
    }
}

/**
 * No Result svg wrap End 
 */

/**
 * react-confirm-alert Start 
 */

#react-confirm-alert {
    .react-confirm-alert {
        max-width: 410px;
        width: 100%;
        .react-confirm-alert-body {
            border: 0;
            background: #fff;
            border-radius: 24px;
            padding: 40px 25px;
            box-shadow: -3px 0 32px rgba(0, 0, 0, 0.1);
            font-family: $Font;
            font-weight: normal;
            font-size: 0.9rem;
            color: #1c1c1c;
            > h1 {
                color: $ThemeColor;
                font-family: $Font;
                font-weight: normal;
                font-size: 1.4rem;
                margin-bottom: 20px;
            }
            .react-confirm-alert-button-group {
                margin-top: 30px;
                button {
                    border: 0;
                    border-radius: 25px;
                    min-height: 32px;
                    height: 32px;
                    padding: 0 20px;
                    font-size: 0.85rem;
                    letter-spacing: 0.5px;
                    min-width: 80px;
                    &:first-child {
                        color: #fff !important;
                        background-color: $ThemeColor !important;
                    }
                    &:last-child {
                        background: transparent;
                        color: #b7b7b7;
                        margin-left: 10px;
                        padding: 0 10px;
                        min-width: unset;
                    }
                }
            }
        }
    }
}

/**
 * react-confirm-alert End 
 */

/**
 * pagination plugin  css start
 */

.pagination-plugin-wrap {
    display: flex;
    justify-content: center;
    .pagination {
        display: flex;
        margin-bottom: 25px;
        margin-top: 10px;
        .next-text-ic {
            background-image: url(./assets/images/breadcrumb‭_arrow.svg);
            background-size: 7px;
            background-position: top 7px center;
            background-repeat: no-repeat;
            display: inline-flex;
            height: 20px;
            min-width: 20px;
            justify-content: center;
            align-items: center;
        }
        .prev-text-ic {
            background-image: url(./assets/images/breadcrumb‭_arrow.svg);
            background-size: 7px;
            background-position: top 1px center;
            background-repeat: no-repeat;
            display: inline-flex;
            height: 20px;
            min-width: 20px;
            justify-content: center;
            align-items: center;
            transform: rotate(180deg);
        }
        .prev-page-text-ic {
            background-image: url(./assets/images/group_arrow.svg);
            background-size: 10px;
            background-position: top 1px center;
            background-repeat: no-repeat;
            display: inline-flex;
            height: 20px;
            min-width: 20px;
            justify-content: center;
            align-items: center;
            transform: rotate(180deg);
        }
        .next-page-text-ic {
            background-image: url(./assets/images/group_arrow.svg);
            background-size: 10px;
            background-position: top 7px center;
            background-repeat: no-repeat;
            display: inline-flex;
            height: 20px;
            min-width: 20px;
            justify-content: center;
            align-items: center;
        }
        li {
            list-style: none;
            padding: 0px 5px;
            border: 1px solid #504658;
            margin: 0 4px;
            border-radius: 3px;
            min-width: 26px;
            height: 26px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: #504658;
                .prev-text-ic {
                    background-image: url(./assets/images/breadcrumb‭_arrow_white.svg);
                }
                .next-text-ic {
                    background-image: url(./assets/images/breadcrumb‭_arrow_white.svg);
                }
                .prev-page-text-ic {
                    background-image: url(./assets/images/group_arrow_white.svg);
                }
                .next-page-text-ic {
                    background-image: url(./assets/images/group_arrow_white.svg);
                }
                a {
                    color: #fff;
                }
            }
            a {
                color: #504658;
                font-size: 0.95rem;
                font-family: $SemiBoldFont;
                &:hover {
                    text-decoration: none;
                }
            }
            &.active {
                background-color: #504658;
                a {
                    color: #fff;
                }
            }
        }
    }
}

/**
 * pagination plugin  css End
 */

.ezi-right-modal-backdrop.modal-backdrop.show {
    background-color: #000;
    opacity: 0.3;
}
.ezi-right-animated-modal.modal.fade {
    .modal-dialog {
        -moz-box-shadow: -3px 0 32px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: -3px 0 32px rgba(0, 0, 0, 0.1);
        box-shadow: -3px 0 32px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-out;
        transform: translateX(100%);
        margin: 0 0 0 auto;
        height: 100%;
        .modal-content {
            border-radius: 0;
            border: 0;
            height: 100%;
        }
    }
    &.show .modal-dialog {
        transform: none;
    }
}

/*
* React Select plugin Css Start
*/

.ezi-select-plugin {
    .css-1wa3eu0-placeholder {
        color: #b7b7b7;
    }

    .css-1ht9tev-control {
        background-color: transparent;
        .css-109onse-indicatorSeparator {
            display: none;
        }
    }

    .css-1okebmr-indicatorSeparator {
        display: none;
    }

    .css-yk16xz-control {
        border: 1px solid #e9e9e9;
        background-color: transparent;
        .css-1hwfws3:focus {
            outline: 0;
            box-shadow: none;
        }
    }

    .css-26l3qy-menu {
        box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.09);
        border-radius: 5px;
        z-index: 9999;
    }

    .css-4ljt47-MenuList {
        font-size: 0.85rem;
        font-family: $Font;
        .css-1n7v3ny-option,
        .css-yt9ioa-option,
        .css-9gakcf-option {
            background: transparent;
            color: #1c1c1c;
            &:hover {
                color: $ThemeColor;
                cursor: pointer;
                background-color: #fbfbfb;
            }
        }
    }
}

/*
* React Select plugin Css End
*/

/*
* Html Editor placeholder Css Start
*/

.ezi-editor-wrapper {
    .rdw-dropdown-wrapper {
        &:hover,
        &:active {
            box-shadow: none !important;
        }

        .rdw-dropdown-selectedtext {
            color: #1c1c1c;
            font-size: 0.85rem;
        }

        .rdw-dropdown-carettoopen {
            border-top: 5px solid #b7b7b7;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }

        .rdw-dropdown-carettoclose {
            border-bottom: 5px solid #b7b7b7;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }

        .rdw-dropdown-optionwrapper {
            width: 100%;
            border-color: transparent;
            transition: max-height 0.3s ease;
            &:hover {
                box-shadow: none;
                background-color: #fff;
            }
            &::-webkit-scrollbar {
                width: 3px;
            }
            &.close-placeholder-ul {
                max-height: 140px;
            }
            &.placeholder-ul {
                max-height: 0;
            }
        }
        .rdw-dropdownoption-default {
            color: #b7b7b7;
            font-size: 0.78rem;
            padding: 0 7px;
            margin: 0;
            &:hover {
                color: $ThemeColor;
                cursor: pointer;
                background-color: #fbfbfb;
            }
        }
    }
    .rdw-option-wrapper {
        height: 22px;
        min-width: 28px;
        border: 0;
        background: transparent;
        img {
            -webkit-filter: grayscale(100%) brightness(19%) contrast(1)
                invert(0.6);
            filter: grayscale(100%) brightness(19%) contrast(1) invert(0.6);
        }
    }
}

/*
* Html Editor placeholder Css End
*/

.tab-working-tooltip {
    display: block;
}

// page theme ma[pping css start
.ezi-right-animated-modal.theme-mapping-right-modal {
    //   overflow-y: hidden !important;
    .modal-body {
        padding: 0;
        height: calc(100% - 61px);
    }
    .Page-ThemeMappingModal {
        height: 100%;
    }
    .question-wrapper-section {
        height: 100%;
    }
}

.Page-ThemeMappingModal {
    .question_map_loader {
        color: #b7b7b7;
        font-size: $CeTitle;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .questions-header {
        display: flex;
        align-items: center;
        padding: 20px 30px;
        border-bottom: 1px solid #e9e9e9;
        max-height: 71px;
    }
    .que-mapping-body {
        height: calc(100% - 61px);
        overflow-y: auto;
        padding-top: 20px;
        position: relative;
        &::-webkit-scrollbar {
            height: 8px;
            width: 3px;
        }
    }
    .question-heading {
        color: $ThemeColor;
        font-family: $SemiBoldFont;
        font-size: 1rem;
        display: inline-flex;
    }
    .question-theme-select-wrap {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .question-theme-select {
        margin-right: 10px;
    }
    .question-theme-select,
    .question-subtheme-select {
        -moz-appearance: none;
        -webkit-appearance: none;
        background: transparent;
        border-radius: 6px;
        padding: 0 35px 0 15px;
        min-height: 34px;
        height: 34px;
        border: 1px solid #c2c2c2;
        color: #5a4e63;
        font-family: "NunitoSans";
        font-size: 0.8rem;
        max-width: 160px;
        width: 100%;
        min-width: 110px;
        background-image: url(./assets/images/dropdown-arrow_c2.svg);
        background-size: 12px;
        background-position: center right 15px;
        background-repeat: no-repeat;
        &:focus {
            outline: 0;
        }
    }
    .question-save-wrap {
        margin-left: auto;
        .question-save {
            padding: 0 30px;
            margin-right: 12px;
        }
        .question-reset {
            background-color: transparent;
            border: 0;
            color: #b7b7b7;
            font-family: $Font;
            font-size: 0.8rem;
        }
    }
    .question-wrapper-section {
        background-color: #fff;
        border-radius: 5px;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.16);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.16);
        padding-bottom: 30px;
    }
    .question-wrapper {
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }
    .question-list {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 20px;
        color: #5a4e63;
        width: 100%;
        font-family: $Font;
        font-size: 1rem;
    }
}
// page theme mapping css End

/*
*  Sweet ezi tab Css Start 
*/

.ezi-sweet-tab {
    .nav.nav-pills {
        .nav-item {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                border-style: solid;
                border-width: 0 30px 40px 0;
                border-color: transparent #f2f5f8 transparent transparent;
            }
        }
        .nav-link {
            background: #f9f9f9;
            color: #b7b7b7;
            padding: 12px 80px 12px 50px;
            font-family: $SemiBoldFont;
            font-size: 0.85rem;
            border-radius: 8px 0 0 0;
            &.active {
                background: #fff;
                color: $ThemeColor;
            }
        }
    }
    .react-bootstrap-table {
        box-shadow: none;
    }
}

.global-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    user-select: none;
    color: #dbdbdb;
    font-size: 13px;
}
.global-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.global-checkbox .checkmark {
    position: absolute;
    top: 48%;
    left: 3px;
    height: 18px;
    width: 19px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    transform: translateY(-50%);
}

.global-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.global-checkbox input:checked ~ .checkmark:after {
    background: url(./assets/images/check.png);
    background-size: 21px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.global-checkbox .checkmark:after {
    left: -2px;
    top: -16px;
    width: 30px;
    height: 30px;
}

// Sweet ezi tab Css End

/*
 * Sweet Date Range Picker Css Start 
 */

.sweet-date-picker {
    // z-index: 9999;
    .react-calendar {
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        margin-top: 10px;
        padding: 0 10px;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.09);
        z-index: 9999;
        button:enabled:hover {
            cursor: pointer;
            border-radius: 4px;
        }
    }
    .react-calendar__navigation {
        .react-calendar__navigation__label {
            color: #504658;
            font-family: $SemiBoldFont;
            font-size: 0.95rem;
        }
    }
    .react-calendar__tile--hasActive {
        background: rgba(206, 46, 108, 0.2);
    }
    .react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--hasActive:enabled:focus {
        background: rgba(206, 46, 108, 0.2);
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
        background: rgba(206, 46, 108, 0.2);
        color: #212529;
    }
    .react-calendar__tile--hasActive.react-calendar__tile--rangeEnd {
        background: rgba(206, 46, 108, 0.2);
        border-radius: 0 25px 25px 0;
    }
    .react-calendar__tile--rangeEnd.react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--rangeEnd.react-calendar__tile--hasActive:enabled:focus {
        background: rgba(206, 46, 108, 0.2);
        border-radius: 0 25px 25px 0;
    }
    .react-calendar__tile--hasActive.react-calendar__tile--rangeStart {
        border-radius: 25px 0 0 25px;
    }
    .react-calendar__month-view__weekdays {
        .react-calendar__month-view__weekdays__weekday {
            color: #504658;
            font-family: $BoldFont;
            font-weight: normal;
            font-size: 0.75rem;
            abbr {
                text-decoration: none;
            }
        }
    }
    .react-calendar__month-view__days {
        font-family: $Font;
        font-weight: normal;
        font-size: 0.85rem;
    }
    .react-calendar__tile {
        margin-bottom: 3px;
    }

    .react-calendar__tile--active {
        background: $ThemeColor;
        color: #fff;
        &.react-calendar__tile--rangeStart {
            border-radius: 25px 0 0 25px;
            background: rgba(206, 46, 108, 0.2);
            color: #212529;
        }
        &.react-calendar__tile--rangeEnd {
            border-radius: 0 25px 25px 0;
            background: rgba(206, 46, 108, 0.2);
            color: #212529;
        }
        &.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
            border-radius: 30px;
        }
    }
}

// Sweet Date Range Picker Css End

// Sweet Datepicker Css Start
.sweet-datepicker-custom {
    z-index: 999;
    .react-calendar {
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        margin-top: 10px;
        padding: 0 10px;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.09);
    }
    .react-calendar__navigation {
        .react-calendar__navigation__label {
            color: #504658;
            font-family: $SemiBoldFont;
            font-size: 0.95rem;
        }
    }
    .react-calendar__tile--hasActive {
        background: rgba(206, 46, 108, 0.2);
    }
    .react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--hasActive:enabled:focus {
        background: rgba(206, 46, 108, 0.2);
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
        background: rgba(206, 46, 108, 0.2);
        color: #212529;
    }
    .react-calendar__tile--hasActive.react-calendar__tile--rangeEnd {
        background: rgba(206, 46, 108, 0.2);
        border-radius: 0 25px 25px 0;
    }
    .react-calendar__tile--rangeEnd.react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--rangeEnd.react-calendar__tile--hasActive:enabled:focus {
        background: rgba(206, 46, 108, 0.2);
        border-radius: 0 25px 25px 0;
    }
    .react-calendar__tile--hasActive.react-calendar__tile--rangeStart {
        border-radius: 25px 0 0 25px;
    }
    .react-calendar__month-view__weekdays {
        .react-calendar__month-view__weekdays__weekday {
            color: #504658;
            font-family: $BoldFont;
            font-weight: normal;
            font-size: 0.75rem;
            abbr {
                text-decoration: none;
            }
        }
    }
    .react-calendar__month-view__days {
        font-family: $Font;
        font-weight: normal;
        font-size: 0.85rem;
    }
    .react-calendar__tile {
        margin-bottom: 3px;
    }

    .react-calendar__tile--active {
        background: $ThemeColor;
        color: #fff;
        &.react-calendar__tile--rangeStart {
            border-radius: 25px 0 0 25px;
            background: rgba(206, 46, 108, 0.2);
            color: #212529;
        }
        &.react-calendar__tile--rangeEnd {
            border-radius: 0 25px 25px 0;
            background: $ThemeColor;
            color: #fff;
        }
        &.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
            border-radius: 4px;
        }
    }
}
// Sweet Datepicker Css End

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #e9e9e9 !important;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #e1e1e1 !important;
    border-radius: 5px !important;
}

.ezi-survey-header {
    display: block;
    text-align: center;
    color: #e54885;
    background-color: #ffe4ee;
    padding: 4px 20px;
    font-family: $SemiBoldFont;
    font-size: $CeTitle;
    border-radius: 3px;
    margin-bottom: 20px;
}

.prompt-alert {
    .ezi-prompt-input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #b7b7b7;
        margin-bottom: 30px;
        font-size: 1rem;
        color: #504658;
        &:focus {
            outline: 0;
        }
    }
}

// ezi switch toggle Start
.ezi-switch-toggle {
    position: relative;
    display: inline-block;
    width: 66px;
    height: 32px;
    border: 1px solid #e9e9e9;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    &.on {
        background-color: $ThemeColor;
        border-color: $ThemeColor;
    }
    &.off,
    &.on {
        border-radius: 25px;
        padding: 5px;
        cursor: pointer;
    }
    &.off:before,
    &.off:after {
        -webkit-transition: 0.6s;
        transition: all 0.6s;
    }
    &.on:before,
    &.on:after {
        -webkit-transition: 0.6s;
        transition: all 0.6s;
    }

    &.off:before,
    &.on:before {
        display: block;
        position: absolute;
        content: "";
        height: 23px;
        width: 23px;
        left: 4px;
        top: 3px;
        background-color: #dbdbdb;
        -webkit-transition: 0.6s;
        transition: all 0.6s;
        -webkit-transition-delay: 0.01s;
        transition-delay: 0.01s;
        -moz-box-shadow: inset -8px -8px 6px -6px #dbdbdb;
        -webkit-box-shadow: inset -8px -8px 6px -6px #dbdbdb;
        border-radius: 50%;
        box-shadow: inset -8px -8px 6px -6px #dbdbdb;
    }

    &.off:after {
        display: block;
        position: absolute;
        content: "";
        -o-transform: rotate(-270deg);
        -webkit-transform: rotate(-270deg);
        -ms-transform: rotate(-270deg);
        transform: rotate(-270deg);
        left: 17px;
        top: 15px;
    }

    &.on:before {
        -webkit-transform: translateX(32px);
        -ms-transform: translateX(32px);
        transform: translateX(32px);
        background-color: #fff;
        -moz-box-shadow: inset -8px -8px 6px -6px #fff;
        -webkit-box-shadow: inset -8px -8px 6px -6px #fff;
        box-shadow: inset -8px -8px 6px -6px #fff;
    }

    &.on:after {
        position: absolute;
        content: "";
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        left: 56px;
        top: 15px;
    }
}
// ezi switch toggle end

.partner_url {
    position: relative;
    right: -301px;
    top: -24px;
    background: #eee;
}

// Report Toggle Start
.ezi-tabular-toggle {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 32px;
    -webkit-transition: all 0.6s;
    background-color: #bcbcbc;
    transition: all 0.6s;
    // &.on{
    //     background-color: $ThemeColor;
    //     border-color:$ThemeColor; ;
    // }
    &.off,
    &.on {
        border-radius: 25px;
        padding: 5px;
        cursor: pointer;
    }
    &.off:before,
    &.off:after {
        -webkit-transition: 0.6s;
        transition: all 0.6s;
    }
    &.on:before,
    &.on:after {
        -webkit-transition: 0.6s;
        transition: all 0.6s;
    }
    .partner_url {
        position: relative;
        right: -326px;
        top: -24px;
        background: #eee;
    }

    &.off:before,
    &.on:before {
        display: block;
        position: absolute;
        content: attr(data-label);
        height: 100%;
        width: 70px;
        left: 0;
        border-radius: 25px;
        top: 0;
        font-size: 0.75rem;
        background-color: $ThemeColor;
        -webkit-transition: 0.6s;
        transition: all 0.6s;
        -webkit-transition-delay: 0.01s;
        transition-delay: 0.01s;
        color: #fff;
        text-align: center;
        line-height: 32px;
        font-family: $SemiBoldFont;
        z-index: 1;
    }

    &.off:after {
        display: block;
        position: absolute;
        content: attr(data-placeholder);
        width: 70px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 0.75rem;
        color: #fff;
        font-family: $SemiBoldFont;
    }

    &.on:before {
        -webkit-transform: translateX(70px);
        -ms-transform: translateX(70px);
        transform: translateX(70px);
    }

    &.on:after {
        position: absolute;
        content: attr(data-placeholder);
        width: 70px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 0.75rem;
        color: #fff;
        font-family: $SemiBoldFont;
    }
}
// Report Toggle End

.map_identifier_question {
    border: 1px solid #8d8d8d;
    color: #8d8d8d;
    background: transparent;
    border-radius: 25px;
    font-size: 0.87rem;
    padding: 0 24px;
    min-height: 30px;
    font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
    transition: all 0.3s ease;
    margin-left: auto;
    &:hover {
        background-color: #8d8d8d;
        color: #fff;
    }
}

.active-survey-datepicker {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.survey_extend_date_err {
    font-size: 0.9em;
    color: red;
    text-align: center;
    margin-bottom: 6px;
}
.participant_src_err {
    font-size: 0.9em;
    color: red;
    margin-bottom: 10px;
    padding: 0 15px;
}
.add_participant_btn {
    background: #504658;
    display: inline-flex;
    width: 80px;
    padding: 6px 10px;
    justify-content: center;
    color: #fff;
    font-size: 0.85rem;
    border-radius: 5px;
    margin-left: 10px;
}
.dynamic_participant_loading {
    margin-left: 10px;
}
.dynamic-participant-download {
    height: 30px;
    width: 30px;
    min-width: 30px;
    background-image: url(./assets/images/report/survey-analysis.svg);
    background-color: transparent;
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    position: absolute;
    right: 30px;
    top: 28px;
    z-index: 999;
    text-indent: -999px;
    cursor: pointer;
}
.response-participant-download {
    height: 30px;
    width: 30px;
    min-width: 30px;
    background-image: url(./assets/images/report/survey-analysis.svg);
    background-color: transparent;
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    position: absolute;
    right: 152px;
    top: 11px;
    z-index: 999;
    text-indent: -999px;
    cursor: pointer;
}
.dropzone-wrap.survey-dropzone-wrap {
    position: relative;
}

.react-bootstrap-table-pagination {
    .dropdown-menu {
        border: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        min-width: 9rem;
        padding: 10px 0;
        li {
            padding: 2px 20px;
            &:hover {
                a {
                    color: $ThemeColor;
                }
            }
            a {
                color: #212529;
                font-family: $SemiBoldFont;
                font-size: 0.85rem;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .react-bs-table-sizePerPage-dropdown {
        .dropdown-toggle {
            background-color: transparent;
            border-color: #8d8d8d;
            color: #8d8d8d;
            &:focus,
            &:active {
                box-shadow: none !important;
                background-color: transparent !important;
                border-color: #8d8d8d !important;
                color: #8d8d8d !important;
            }
        }
    }
}

/*
 *  React Select Search Css Start 
 */

.react-select-search_c {
    .select-search {
        width: 220px;
    }
    .select-search__input {
        box-shadow: none;
        border: 1px solid #e9e9e9;
        padding-right: 30px;
    }
    .select-search:not(.select-search--multiple) .select-search__input:hover {
        border-color: #e9e9e9;
    }
    .select-search__value::after {
        content: "";
        right: 15px;
        width: 9px;
        height: 9px;
        border-color: #5a4e63 !important;
    }
    .select-search__options {
        padding: 0;
        margin: 0;
    }
    button.select-search__option {
        height: initial;
        padding: 10px 15px;
    }
    .select-search__option.is-highlighted,
    .select-search__option:not(.is-selected):hover {
        background: #f2f5f8;
    }
    .select-search__option.is-selected {
        background: $ThemeColor;
        color: #fff;
    }
    .select-search__option.is-highlighted.is-selected,
    .select-search__option.is-selected:hover {
        background: $ThemeColor;
        color: #fff;
    }
}

/*
 *  React Select Search Css End 
 */

/* Editor type custom widget hide*/
.svd_container .svd_content .svd_survey_designer .svd_toolbox {
    .svd_toolbox_item.svd_toolbox_item_icon-editor_custom {
        display: none !important;
    }
}
.add_participant_notes {
    p {
        padding: 0px 12px 0px 12px;
        font-size: 14px;
        font-weight: 500;
    }
}
.startend-date-wrap {
    display: flex;
    margin: 20px 0;
    .end-date-wrap {
        margin: 0 20px;
    }
    .date-wrapper-icon {
        background-image: url(./assets/images/start-end-date.svg);
        background-size: 18px;
        background-position: center;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        margin-left: 20px;
    }
    .react-date-picker__wrapper {
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 0;
        background-color: transparent;
        border: 1px solid #f3f3f3;
        border-radius: 25px;
        padding: 0 20px 0 50px;
        height: 36px;
        min-height: 36px;
        background-image: url(./assets/images/datepicker_c5.svg);
        background-size: 18px;
        background-position: center left 18px;
        background-repeat: no-repeat;
        width: 100%;
        color: #504658;
        font-size: 0.85rem;
        font-family: "NunitoSans";
        margin: 0;
        .react-date-picker__inputGroup {
            input {
                color: #504658;
                &:focus {
                    outline: 0;
                }
            }
        }
        .react-date-picker__button {
            display: none;
        }
    }
}
.delete-data {
    border: 1px solid #b7b7b7;
    background: transparent;
    border-radius: 25px;
    color: #b7b7b7;
    font-family: $Font;
    font-size: 0.87rem;
    min-height: 36px;
    padding: 0 20px;
    margin: 10px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    &:focus {
        outline: 0;
    }
    &:before {
        content: "";
        display: inline-block;
        height: 18px;
    }
    &:hover {
        background: $ThemeColor;
        border-color: $ThemeColor;
        color: #fff;
        .delete-data-badge {
            background-color: #f12675;
            color: #fff;
        }
    }
    &.no-hover {
        border-color: #b7b7b7;
        background: transparent;
        color: #b7b7b7;
        .delete-data-badge {
            color: #656565;
            background-color: #b7b7b7;
        }
    }
    &[disabled] {
        border-color: #b7b7b7;
        background: transparent;
        color: #b7b7b7;
        .delete-data-badge {
            color: #656565;
            background-color: #b7b7b7;
        }
    }
}
.delete-data-badge {
    color: #656565;
    height: 22px;
    line-height: 23px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    background-color: #b7b7b7;
    border-radius: 25px;
    font-size: 0.7rem;
    font-family: "NunitoSansSemiBold";
    padding: 0 5px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.delete-data-icon {
    border: 0;
    background: transparent;
    transition: color 0.3 ease;
    transition: all 0.3s ease;
    display: inline-flex;

    &:focus {
        outline: 0;
    }
    &:before {
        content: "";
        display: inline-block;
        background-image: url(./assets/images/table_delete_ic.svg);
        background-size: 10px;
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        margin-right: 2px;
        transition: background-image 0.3 ease;

        height: 18px;
    }
    &[disabled] {
        border-color: #b7b7b7;
        background: transparent;
        color: #b7b7b7;
        .delete-data-badge {
            color: #656565;
            background-color: #b7b7b7;
        }
    }
}

/*
     * Thank you page Css
     */
.thank-you-container {
    .thank-you-wrapper {
        position: relative;
        box-sizing: border-box;
        max-width: 640px;
        padding: 20px 30px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: -6px;
            width: 100%;
            height: 6px;
            background-color: $ThemeColor;
        }
    }
    .thanks-company-logo {
        height: 60px;
        width: auto;
        margin-bottom: 20px;
    }
    .thanks-feedback-text {
        font-size: 16px;
        color: $ThemeColor;
        text-align: center;
        margin: 10px 0 20px;
    }
    .social-feedback-text {
        font-size: 16px;
        color: #504658;
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
        line-height: 28px;
    }
    .social-head {
        font-size: 16px;
        color: #504658;
        text-align: left;
        font-weight: 600;
        margin: 10px 0;
    }
    .social-feedback-offer {
        font-size: 16px;
        color: #b7b7b7;
        text-align: center;
        margin: 2px 0;
    }
    .thank-social-link {
        text-decoration: none;
        display: inline-flex;
        margin: 0 5px;
    }
    .thank-social-img {
        height: 30px;
        width: auto;
    }
}
.color_picker_content {
    position: fixed;
    top: 30%;
    z-index: 1000;
    left: 34%;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0.15) 0px 8px 16px;
    .sketch-picker {
        background: inherit;
        border-radius: unset;
        box-shadow: unset;
    }
}
.btn_gray {
    background-color: #f2f5f8;
    padding: 6px 30px;
    color: #504658;
    font-size: 0.85rem;
    border: 0;
    min-height: 32px;
    padding: 0 20px;
    margin: 0;
    border-radius: 25px;
    font-family: "NunitoSans", Helvetica, Arial, sans-serif;
    align-items: center;
}
.confirm_color_pick {
    width: 100%;
    background-color: #504658;
    color: #ffffff;
    border-radius: 0px;
    border: 2px solid #504658;
}

//////////// ---------- Common Tab Css Start ------////////////////////
.tab-left-header {
    .nav-item {
        margin-bottom: 15px;
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        a {
            color: #b7b7b7;
            padding-bottom: 20px;
            position: relative;
            transition: color 0.3s ease;
            font-family: $SemiBoldFont;
            &:hover {
                color: $ThemeColor;
            }
            &:focus {
                outline: 0;
            }
        }
    }
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        background-color: transparent;
        border-color: transparent;
        color: $ThemeColor;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-color: $ThemeColor;
        }
    }
}

.tab-header-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tab-content {
    padding: 40px 0;
}

.tab-right-header {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
//////////// ---------- Common Tab Css End ------////////////////////

//////////// ---------- Common Modal Css Start ------////////////////////

.add-theme-form {
    display: flex;
    flex-direction: column;
    .close-theme-btn {
        background: transparent;
        border: 0;
        padding: 4px 10px;
        margin: 0;
        margin-right: 10px;
        color: #1c1c1c;
        font-family: $SemiBoldFont;
        font-size: 0.8rem;
        &:focus {
            outline: 0;
        }
    }
    .add-theme-btn {
        padding: 6px 30px;
        font-family: $SemiBoldFont;
        font-size: 0.8rem;
    }
    .theme-modal-footer {
        display: inline-flex;
        align-items: center;
        margin-left: auto;
        margin-bottom: 12px;
    }
}

.theme-modal-title {
    color: $ThemeColor;
    font-family: $SemiBoldFont;
    font-size: 1.1rem !important;
}
.theme-field-wrapper {
    padding: 0px;
}
.theme-modal-wrapper {
    .theme-field-control {
        flex: 1;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #b7b7b7;
        margin: 0 10px 20px;
        min-height: 38px;
        padding: 0 10px;
        color: #707070;
        font-family: $Font;
        font-size: 0.88rem;
        resize: none;
        &:focus {
            outline: 0;
        }
        &.custom-css-input {
            margin: 0 10px 10px;
            font-size: 13px;
        }
        @include placeholder {
            color: #d9d9d9;
        }
    }

    .theme-field {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .theme-field-50 {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .theme-field label {
        flex: 1;
        padding: 0 10px;
        color: #b7b7b7;
        font-family: $Font;
        font-size: 0.9rem;
    }

    .theme-error_cu {
        color: #ff0000;
        font-family: $SemiBoldFont;
        font-size: 0.9rem;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .ezi-modal-header {
        border-bottom: 1px solid #e9e9e9;
        .ezi-modal-header-title {
            display: flex;
            width: 100%;
        }
        .ezi-modal-close {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            background: #f2f5f8;
            border-radius: 50%;
            margin-left: auto;
            background-image: url(./assets/images/modal_close_ic.svg);
            background-size: 11px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
}
//////////// ---------- Common Modal Css End ------////////////////////

//////////// ---------- dropzone section Css start ------//////////////
.dropzone-wrap {
    .dropzone-area {
        background: #fff;
        margin-top: 40px;
        min-height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 10px;
        &:focus {
            outline: 0;
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            border: 1px dashed #707070;
            height: calc(100% - 40px);
            width: calc(100% - 40px);
            transform: translate(-50%, -50%);
            border-radius: 10px;
        }
        .dropzone-content {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            .drag-text {
                color: #b7b7b7;
                font-family: $SemiBoldFont;
                font-size: 1.1rem;
                padding: 0 30px;
                &.active {
                    color: #1c1c1c;
                    font-family: $Font;
                }
            }
        }
        .dropzone-icon {
            background-image: url(./assets/images/dropzone_icon.svg);
            background-size: 26px;
            background-position: center;
            background-repeat: no-repeat;
            height: 50px;
            width: 50px;
            display: inline-block;
        }
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    .drag-btn {
        border: 0;

        background-color: $ThemeColor;
        padding: 8px 20px;
        border-radius: 25px;
        font-size: 1rem;
        color: #fff;
        font-family: $Font;
        display: inline-flex;
        align-items: center;
    }
}
.dropzone-supported-file {
    color: #b7b7b7;
    font-size: 0.7rem;
    font-family: "NunitoSans";
    display: block;
    text-align: center;
    margin: 10px 0;
}
.dropzone-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px 0 0;
    .dropzone-area {
        display: inline-flex;
        align-items: center;
        background-color: transparent;
        border-radius: 25px;
        font-size: 1rem;
        color: #fff;
        font-family: $Font;
        position: relative;
        padding: 8px 30px;
        min-width: 180px;
        max-width: 180px;
        .drag-text {
            display: block;
            text-indent: -9999px;
        }
        &:focus {
            outline: 0;
        }
    }
    .upload-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $ThemeColor;
        border-radius: 25px;
        font-size: 0.9rem;
        color: #fff;
        height: 40px;
        padding: 0 30px;
        font-family: $Font;
        border: 0;
        &:after {
            content: "";
            background-image: url(./assets/images/dropzone_btn_icon.png);
            background-size: 14px;
            background-position: right top 6px;
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
            display: inline-block;
        }
        &:focus {
            outline: 0;
        }
    }
}
.qaizenx-radio-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    outline: none;
    padding: 3px !important;
    &:checked {
        background-color: $ThemeColor;
        outline: none;
    }
}
.checkbox-label {
    width: 100%;
    max-width: 150px;
    margin: 0;
}
.qaizenx-checkbox-input {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin: 5px;
    cursor: pointer;
    font-size: 0.87rem;
    font-family: $Font;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: $ThemeColor;
            &::after {
                display: block;
            }
        }
    }
    .checkmark.disabled_checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 2px;
        background-color: #d3cece;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 2px;
            width: 6px;
            height: 11px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 2px;
        background-color: #eee;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 2px;
            width: 6px;
            height: 11px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        }
    }
    &:hover .checkmark {
        background-color: #eee;
    }
    &:hover .checkmark.disabled_checkmark{
        background-color: #d3cece;
    }
}
.no-margin {
    margin: 0 !important;
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    .toggle-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;

        &:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 6px;
            bottom: 3px;
            background-color: white;
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
        &.active {
            background-color: $ThemeColor;

            &::before {
                -webkit-transform: translateX(14px);
                -ms-transform: translateX(14px);
                transform: translateX(14px);
            }
        }
    }
}
.theme-modal-wrapper {
    .theme-field.communication-checkboxes {
        display: flex;
        flex-direction: row;
        margin-left: 5px;
        .qaizenx-checkbox-input {
            display: inline-flex;
            padding-left: 21px;
        }
    }
}
.add-theme-form .theme-modal-footer {
    margin-top: 12px;
}
