@import "../../../assets/scss/variable";
@import "../../../assets/scss/placeholder";

.Page-Roles{

    padding: 40px 7%;



    .react-bootstrap-table .table{
        table-layout: fixed;
        tbody tr td:hover:after{
            display: none;
        }
        thead tr{
           
                th:last-child{
                    padding-left: 50px;
                }
            
        }

        .action-heading-name{
            text-align: center;
            margin-right: 30px;
        }
      
        .ezi-datatable-row{
            .dt-bootstrap-edit-delte-wrap{
                visibility: hidden;
                margin-right: 30px;
            }
            &:hover{
                .dt-bootstrap-edit-delte-wrap{
                    visibility: visible;
                }
            }                     
        }


    } 

    .roles-status_c {
        text-transform: capitalize;
        display: inline-flex;
        align-items: center;
        color: #1C1C1C;
        font-family: $SemiBoldFont;
        font-size: 0.88rem;
        white-space: nowrap;
        margin-right: 20px;
        &:before {
            content: '';
            height: 8px;
            width: 8px;
            min-width: 8px;
            display: inline-flex;
            align-items: center;
            border-radius: 50%;
            margin-right: 6px;
        }
        &.active:before {            
            background: #B5EE5F;
        }
        &.offline:before {
            background: #FF1616;
        }
    }

}


.Page-RolesEdit{

    @import "../../../assets/scss/eziradio";
    padding: 40px 7%;
    .breadcrumb_ezi{
        border-bottom: 0;
        margin-bottom: 15px;
    }
    .role-edit{
        background-color : #5A4E63;
        padding : 6px 34px !important;
        margin-right: 10px;
        &.active{
            background-color : $ThemeColor;
        }
    }
    .role-cancel{
        background-color : transparent;
        color: #B7B7B7  !important;
        padding: 6px 12px !important;

    }
    .roles-edit-card{
        padding: 25px 30px;
        background-color: #fff;
        border-radius: 9px;
        -moz-box-shadow: 7px 4px 28px rgba(0,0,0,0.06);
        -webkit-box-shadow: 7px 4px 28px rgba(0,0,0,0.06);
        box-shadow: 7px 4px 28px rgba(0,0,0,0.06);
    }
    .role-edit-form-field{
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .role-edit-form-label{
        min-width: 180px;
        color: #B7B7B7;
        margin: 7px 0;
        font-size: 0.85rem;
    }
    .role-edit-right-field{
        width: 100%;
        .ezi-select-plugin {
            .css-c8odyh-control{
                color: #5A4E63;
                background-color: #fbfbfb;
                border: 1px solid #E9E9E9;
            }
            .css-1l3nnzh-control{
                color: #5A4E63;
                background-color: #fbfbfb;
                border: 1px solid #E9E9E9;
                &:hover,&:focus{
                    color: #5A4E63;
                background-color: #fbfbfb;
                border: 1px solid #E9E9E9;
                }

            }
        }
    }
    .role-edit-form-input {
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 9px 15px;
        background-color: transparent;
        width: 100%;       
        font-size: 0.85rem;
        color:#1C1C1C;
        pointer-events: none;
        &:focus{
            outline: 0;
        }
        &.active{
            color:#5A4E63;
            border-color: #E9E9E9;
            pointer-events: initial;
            background-color: #fbfbfb;
        }
    }

    .role-edit-form-select{
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 9px 15px;
        background-color: transparent;
        width: 100%;       
        font-size: 0.85rem;
        color:#1C1C1C;
        padding-right:35px;
        pointer-events: none;      
        background-size: 14px;
        background-position: center right 10px;
        background-repeat: no-repeat;
        &:focus{
            outline: 0;
        }
        &.active{
            color:#5A4E63;
            border-color: #E9E9E9;
            pointer-events: initial;
            background-color: #fbfbfb;
            background-image: url(../../../assets/images/dropdown-arrow-5A.svg);
        }
    }

    .role-radio-wrap{
        display: inline-flex;
        align-items: flex-start;
        margin: 7px 20px 7px 0;
    }
    .role-radio-label{
        color:#504658;
        font-size: 0.85rem;
        font-family: $SemiBoldFont;
    }

    .role-multiselect-wrap {
        margin: 40px 0 10px;
    }

    @media (max-width:600px){

        .role-edit-form-field{
            flex-direction: column;
        }

    }


}