@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
@import "../../assets/scss/ezi_modal";

.Page-KPISettings {
    padding: 40px 7%;
    background-color: #f2f5f8;
    .breadcrumb_ezi {
        border-bottom: none;
        padding-bottom: 0px;
    }
    .option_not_found {
        color: #b7b7b7;
        font-size: 0.8rem;
        text-align: center;
        display: block;
        margin-top: 30px;
    }
    .category_progress_ring_wrap {
        .circular-survey-text {
            font-size: 0.7rem;
            white-space: nowrap;
            font-family: $SemiBoldFont;
            display: block;
            &:before {
                content: "";
                display: inline-block;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                margin-right: 5px;
            }
            &.active--text {
                margin-top: 15px;
                color: $ThemeColor;
                &:before {
                    background-color: $ThemeColor;
                }
            }
            &.inactive--text {
                color: #b7b7b7;
                &:before {
                    background-color: #b7b7b7;
                }
            }
        }
    }
    .category_progress_ring {
        height: 84px;
        width: 84px;
        min-width: 84px;
        margin: 7px auto 0;
    }
    .CircularProgressbar.category_progress_circle {
        .CircularProgressbar-trail {
            stroke: #f2f5f8;
        }
        .CircularProgressbar-path {
            stroke: $ThemeColor;
            stroke-linecap: square;
        }
        .CircularProgressbar-text {
            fill: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1rem;
        }
    }
    .workflow-dashboard-card-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px 20px;
    }
    .workflow-dashboard-card {
        background: #fff;
        border-radius: 5px;
        display: inline-flex;
        min-height: 170px;
        align-items: center;
        margin: 0 15px;
        padding: 0 30px;
        margin-bottom: 30px;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
        .workflow-dashboard-card_text_wrap {
            position: relative;
        }
        .workflow-dashboard-card-heading {
            color: #1c1c1c;
            font-family: $SemiBoldFont;
            font-size: 2.6em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0 0 5px;
        }
        .workflow-dashboard-card-subheading {
            color: #b7b7b7;
            font-size: 0.87rem;
        }
        &.total {
            flex: 1;
            display: flex;
            justify-content: space-between;
            border-bottom: 4px solid #504658;
            .workflow-dashboard-card_text_wrap {
                margin-right: 30px;
                max-width: 220px;
            }
        }

        &.active-k {
            cursor: pointer;
            max-width: 180px;
            width: 100%;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                background: #b5ee5f;
                transition: all 0.5s ease;
            }
            &:hover {
                &:before {
                    top: 0;
                }
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
            &.active {
                background: #b5ee5f;
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
        }
        &.inactive {
            cursor: pointer;
            max-width: 180px;
            width: 100%;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                background: #b7b7b7;
                transition: all 0.5s ease;
            }
            &:hover {
                &:before {
                    top: 0;
                }
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
            &.active {
                background: #b7b7b7;
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
        }
        &.closed_workflow {
            cursor: pointer;
            max-width: 180px;
            width: 100%;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                background: #ff1616;
                transition: all 0.5s ease;
            }
            &:hover {
                &:before {
                    top: 0;
                }
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
            &.active {
                background: #ff1616;
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
        }
        &.create-workflow--c {
            background-color: #504658;
            cursor: pointer;
            max-width: 180px;
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .create-workflow--ic {
                height: 60px;
                width: 60px;
                min-width: 60px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-image: url(../../assets/images/template/plus.png);
                background-size: 32px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $ThemeColor;
                border-radius: 50%;
                margin-bottom: 15px;
            }
            .create-workflow--name {
                color: #fff;
                max-width: 100%;
                text-align: center;
                font-size: 0.85rem;
                margin: 0;
                overflow: hidden;
            }
        }
    }

    @media (max-width: 550px) {
        .survey-dashboard-card {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    .workflow-dashboard-table-header {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        margin-bottom: 15px;
        .workflow-dashboard-table-header-left {
            span {
                color: #1c1c1c;
                font-family: $SemiBoldFont;
                font-size: 1rem;
                text-transform: capitalize;
            }
        }
    }

    .workflow-dashboard-table {
        margin: 0;
        border-radius: 5px;
        width: 100%;
        display: table;
        background-color: #ffffff;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        .workflow-dashboard-table-row {
            display: table-row;
            &:last-child {
                .workflow-dashboard-table-cell {
                    border-bottom: 0;
                }
            }
        }
        .workflow-dashboard-table-row.workflow-table-heading {
            font-family: $SemiBoldFont;
            .workflow-dashboard-table-cell {
                padding: 20px 15px;
                color: #b7b7b7;
                font-size: 0.8rem;
                font-family: $SemiBoldFont;
                &:first-child {
                    text-align: left;
                    padding-left: 40px;
                }
                &:last-child {
                    padding-right: 40px;
                }

                .appeared-heading {
                    white-space: nowrap;
                }
            }
        }
        .workflow-dashboard-table-cell {
            padding: 30px 12px;
            display: table-cell;
            text-align: center;
            border-bottom: 1px solid #e9e9e9;
            vertical-align: middle;
            color: #1c1c1c;
            font-size: 0.85rem;
            &:first-child {
                text-align: left;
                padding-left: 40px;
            }
            &:last-child {
                padding-right: 40px;
            }
        }
        .survey-type,
        .owner-name {
            white-space: nowrap;
        }

        @mixin icon-default {
            background: transparent;
            border: 0;
            padding: 0;
            color: #c5c5c5;
            transition: color 0.3s ease;
            font-family: $Font;
            font-size: 0.85rem;
            display: inline-flex;
            align-items: center;
            &:focus {
                outline: 0;
            }
            &:before {
                content: "";
                display: inline-block;
                background-size: 16px;
                background-position: center;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;
                margin-right: 2px;
                transition: background-image 0.3 ease;
            }
            &:hover {
                color: $ThemeColor;
            }
        }
        .delete_data {
            @include icon-default;
            &:hover {
                &:before {
                    background-image: url(../../assets/images/table_delete_active_ic.svg);
                }
            }
            &:before {
                background-image: url(../../assets/images/table_delete_ic.svg);
                background-size: 11px;
            }
        }
        .edit_data {
            @include icon-default;
            &:hover {
                &:before {
                    background-image: url(../../assets/images/table_edit_actives_ic.svg);
                }
            }
            &:before {
                background-image: url(../../assets/images/table_edit_ic.svg);
            }
        }
        .workflow-table-survey-wrap {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .category-survey-logo {
            height: 50px;
            width: 50px;
            min-width: 50px;
            margin-right: 25px;
            border-radius: 4px;
        }
        .workflow-table-survey-name {
            color: #1c1c1c;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
            margin-bottom: 2px;
            text-transform: capitalize;
        }
        .workflow-table-create {
            font-size: 0.75rem;
            color: #b7b7b7;
        }

        .workflow-table-survey-text-wrap {
            display: flex;
            flex-direction: column;
        }
        .table-count {
            height: 24px;
            line-height: 24px;
            min-width: 28px;
            background: #cfcdd2;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 14px;
            font-size: 0.8rem;
            padding: 0 10px;
            color: #504658;
        }

        .dt-status-formatter {
            border: 1px solid #e9e9e9;
            border-radius: 25px;
            min-width: 80px;
            min-height: 25px;
            line-height: 25px;
            display: inline-block;
            color: #1c1c1c;
            font-family: $SemiBoldFont;
            font-size: 0.87rem;
            cursor: pointer;
            padding-left: 10px;
            position: relative;
            text-align: center;
            text-transform: capitalize;
            font-weight: normal;
            text-shadow: none;
            opacity: 1;
            float: unset;
            &:hover {
                color: #fff;
                &:before {
                    background-color: #fff !important;
                }
            }
            &:before {
                content: "";
                height: 7px;
                width: 7px;
                display: inline-block;
                margin-right: 8px;
                border-radius: 50%;
                position: absolute;
                left: 7px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.active {
                &:before {
                    background-color: #b5ee5f;
                }
                &:hover {
                    background-color: #b5ee5f;
                    border-color: #b5ee5f;
                }
            }
            &.inactive {
                &:before {
                    background-color: #fbcd49;
                }
                &:hover {
                    background-color: #fbcd49;
                    border-color: #fbcd49;
                }
            }
            &.closed {
                &:before {
                    background-color: #ff4e4e;
                }
                &:hover {
                    background-color: #ff4e4e;
                    border-color: #ff4e4e;
                }
            }
        }

        .dt-responses-formatter {
            color: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
        }
        .action-wrap {
            display: inline-flex;
        }
        .dt-dropouts-formatter {
            color: #7a6c85;
            font-family: $SemiBoldFont;
            font-size: 1rem;
        }
        .response-devider {
            color: #b7b7b7;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
            margin: 0 5px;
        }
        .dt-analyze-formatter {
            border: 1px solid #8d8d8d;
            color: #8d8d8d;
            background: transparent;
            border-radius: 25px;
            font-size: 0.87rem;
            padding: 0 24px;
            min-height: 32px;
            font-family: $SemiBoldFont;
            transition: all 0.3s ease;
            &:focus {
                outline: 0;
            }
            &:hover {
                background-color: #8d8d8d;
                color: #fff;
            }
            &[disabled] {
                opacity: 0.4;
                &:hover {
                    background-color: transparent;
                    color: #8d8d8d;
                }
            }
        }
    }
    .workflow-table-no-result {
        height: 250px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #e9e9e9;
        color: #b7b7b7;
        font-size: 1rem;
    }
    .category-pagination-formatter {
        background-color: #fff;
    }

    @media screen and (max-width: 850px) {
        .workflow-dashboard-table {
            display: block;
            background: transparent;
            box-shadow: none;
            .workflow-dashboard-table-row {
                padding: 14px 0 0;
                display: block;
                margin-bottom: 20px;
                background-color: #fff;
                border-radius: 5px 5px 0 0;
                box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }

        .workflow-dashboard-table-row.workflow-table-heading {
            padding: 0;
            height: 6px;
            background: $ThemeColor;
            .workflow-dashboard-table-cell {
                display: none;
            }
        }

        .workflow-dashboard-table-row .workflow-dashboard-table-cell {
            padding: 20px 16px;
            display: flex;
            align-items: center;
            text-align: left;
            &:first-child {
                padding: 20px 16px;
            }
            &:before {
                margin-bottom: 3px;
                content: attr(data-title);
                min-width: 98px;
                font-size: 10px;
                line-height: 10px;
                font-weight: bold;
                text-transform: uppercase;
                color: #969696;
                display: block;
            }
        }
    }

    @media (max-width: 463px) {
        .workflow-dashboard-card {
            &.active,
            &.closed_workflow,
            &.inactive,
            &.create-workflow--c {
                max-width: 100%;
            }
        }
    }

    @media (min-width: 320px) and (max-width: 480px) {
        .breadcrumb_ezi {
            margin-bottom: 15px;
        }
        .filter-search-wrap {
            justify-content: flex-start;
            margin-bottom: 30px;
        }
        .workflow-dashboard-table .workflow-table-survey-name {
            word-break: break-all;
        }
        .custom-demography-select-dropdown.right {
            left: 0;
            right: unset;
        }
        .custom-demography-select-dropdown.right .demograpgy-filter-wrap:before {
            content: "";
            left: 50px;
            right: unset;
        }
    }
}

.Page-SaveKPISetting {
    height: 100%;
    overflow-y: auto;
    padding: 40px 7%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .template-add-beadcrumb {
        border-bottom: 0;
    }
    .error-message {
        color: #ff0000;
        font-size: 14px;
        margin: 5px 0;
        display: block;
        padding-left: 5px;
        font-family: $SemiBoldFont;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .survey-category-wrap {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 100%;
        .category_label {
            color: #504658;
            font-size: 1.8rem;
            font-family: $Font;
            text-align: center;
            margin: 0 0 20px;
        }
        .category-field-control {
            margin-bottom: 20px;
            .react-select-search_c {
                .select-search {
                    width: 100%;
                    .select-search__value {
                        background-color: #fff;
                        padding: 8px 30px;
                        border-radius: 8px;
                        box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
                        .select-search__input {
                            border: 0;
                            outline: none;
                            padding: 0;
                            font-size: 1rem;
                            color: #504658;
                            &:hover,
                            &:active,
                            &:focus {
                                border: 0;
                                outline: none;
                            }
                        }
                    }
                    .select-search__select {
                        top: 60px;
                    }
                }
            }
            .qaizenx-checkbox-input {
                .checkmark {
                    background-color: #ccc;
                }
                input[type="checkbox"] {
                    &:checked ~ .checkmark {
                        background-color: $ThemeColor;
                    }
                }
            }
        }
        .create-category-input {
            width: 100%;
            background-color: #fff;
            border-radius: 8px;
            border: 0;
            padding: 14px 30px;
            box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
            font-size: 1rem;
            color: #504658;
            resize: none;
            &:focus {
                outline: 0;
            }
            @include placeholder {
                color: #b7b7b7;
            }
            &::-webkit-scrollbar {
                width: 4px;
                background-color: #f5f5f5;
            }
        }
        .category_add_btn_wrap {
            display: flex;
            justify-content: center;
        }
        .category_add_btn {
            background: #504658;
            color: #fff;
            border: 0;
            border-radius: 8px;
            padding: 8px 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:focus {
                outline: 0;
            }
            .spinner-grow {
                margin-left: 10px;
            }
        }
    }
}
