@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";

.Page-ParticipantLogin {
    height: 100%;
    .bg-wrapper {
        background: url(../../assets/images/login-bg.png);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        // height: 100vh;
        height: 100%;
        width: 100%;
        padding: 50px 10%;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .captcha_input_wrapper{
        width: 100%;
    }
    .login {
        height: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        position: relative;
        border-radius: 45px;
        // overflow: hidden;
        box-shadow: -1px 7px 91px #00000012;
        width: 100%;
    }
    .login-inner {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 30px 0;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: calc(100% - 20%);
            width: 2px;
            background-color: #f1f1f1;
        }
    }
    
    .login-bg {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .login-form {
        padding: 0 7%;
    }
    .login-bg,
    .login-form {
        /*flex:1;*/
        width: 50%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // padding: 0 30px;
    }
    .login-img {
        max-width: 400px;
        height: auto;
        width: 100%;
    }
    .login-logo {
        display: flex;
        justify-content: center;
        img {
            // max-width: 200px;
            height: 50px;
            width: auto;
            max-width: 100%;
        }
    }
    .participant-in {
        color: #1c1c1c;
        font-weight: 600;
        text-align: center;
        margin: 26px 0;
    }
    .login-input-control {
        box-shadow: none;
        border: 1px solid #d9d9d9;
        height: 46px;
        min-height: 46px;
        background: transparent;
        border-radius: 25px;
        padding: 0 50px 0 20px;
        width: 100%;
        font-size: 15px;
        font-family: "NunitoSans", sans-serif;
        background-size: 14px;
        background-position: right 15px center;
        background-repeat: no-repeat;
        color: #504658;
        transition: background 0.5s ease-in-out;
        &:focus {
            background-color: #f2f5f8;
            outline: 0;
        }
        &.user-input {
            background-image: url(../../assets/images/user_icon.png);
        }
        @include placeholder {
            color: #d9d9d9;
        }
    }
    .input-wrap {
        margin-bottom: 20px;
        position: relative;
    }
    .otp-btn-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 220px;
        margin: 0 auto;
    }
   .error-message{
    color: #ff0000;
    font-size: 14px;
    margin: 5px 0;
    display: block;
    padding: 0 12px;
    font-family: "NunitoSansSemiBold",Helvetica,Arial,sans-serif;
   }
    .company-login-btn {
        background-color: #504658;
        color: #fff;
        padding: 0 15px;
        border-radius: 25px;
        font-size: 14px;
        font-family: "NunitoSansSemiBold", sans-serif;
        letter-spacing: 0.2px;
        height: 44px;
        margin: 15px 0;
        cursor: pointer;
        flex: 1;
        white-space: nowrap;
        // margin-right: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease;
        &:hover {
            background-color: $ThemeColor;
        }
        .spinner-grow {
            margin-left: 10px;
        }
    }
    
}


//********** media-query start
@media (min-width: 320px) and (max-width: 768px) {
    .Page-ParticipantLogin{
        .login-inner {
            flex-direction: column;
            padding: 0;
            &:after {
                display: none;
            }
        }
        .login-wrapper,
        .bg-wrapper {
            // height: unset;
            padding: 0;
        }
        .login {
            padding-bottom: 40px;
            border-radius: 0;
            align-items: unset;
        }
        .login-bg,
        .login-form {
            width: 100%;
            padding: 0 30px;
            max-width: 450px;
            height: unset;
        }
        .login-bg {
            padding: 50px 0;
        }
        .login-img {
            max-width: 250px;
            height: auto;
            width: 100%;
        }
    }
}
// @media (max-width:600px){
//     .Page-ParticipantLogin{

//     } .bg-wrapper {
//         height: unset;
//         padding: 0;
//     }
// }
@media (min-width: 320px) and (max-width: 480px) {
    .login-form {
        padding: 0 30px;
        }
   
}

@media (max-height: 700px) {
    .bg-wrapper {
        display: block;
    }
 }