@import "../../../assets/scss/variable";
@import "../../../assets/scss/placeholder";
@import "../../../assets/scss/ezi_modal";
.Page-CategorySurveyDashboard {
	padding: 40px 7%;
	background-color: #f2f5f8;

	@import "../../../assets/scss/demography_filter";

	.response_range {
		display: block;
		text-align: center;
		color: #5a4e63;
		margin-bottom: 40px;
		font-size: 0.85rem;
	}
	// .react-calendar{
	//     width: 237px !important;
	//     box-shadow: 0px 0px 5px 2px #b5a7b5;
	//     height: 219px;
	//     border-radius: 5px;
	//     font-family: inherit !important;
	//     position: relative;
	//     top: 3px;

	// }

	// .react-calendar__tile{
	//     font-size: 12px;
	// }
	// .input-range{
	//     width: 219px !important;
	//     top: 50px;
	// }
	// .input-range__slider{
	//     background: $ThemeColor !important;
	//     border: 1px solid $ThemeColor !important;
	// }
	// .input-range__track--active{
	//     background: $ThemeColor !important;
	// }
	.filter-search-wrap {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.custom-demography-button-wrap {
		position: relative;
		margin-bottom: 10px;
		margin-right: 25px;
	}

	.input-range-wrap {
		margin: 40px 0 0;
		padding: 0 25px 0 15px;
		.input-range__track--active {
			background: $ThemeColor;
		}
		.input-range__slider {
			background: $ThemeColor;
			border: 1px solid $ThemeColor;
			&:active {
				transform: scale(1.2);
			}
		}
		.input-range__label {
			font-size: 0.75rem;
			font-family: $Font;
		}
		.input-range__label--value {
			color: #1c1c1c;
			font-family: $SemiBoldFont;
			margin-top: -5px;
			margin-left: 3px;
		}
		.input-range__label--min {
			left: 6px;
		}
		.input-range__label--max {
			right: 6px;
		}
	}

	.survey-date-range-wrapper {
		margin: 40px 0 0;
	}
	.option_not_found {
		color: #b7b7b7;
		font-size: 0.8rem;
		text-align: center;
		display: block;
		margin-top: 30px;
	}

	.select-date {
		color: #5a4e63;
		font-size: 0.85rem;
		font-family: $SemiBoldFont;
		margin-bottom: 20px;
		display: block;
		text-align: center;
	}

	.survey-date-range-picker {
		.react-daterange-picker__wrapper {
			border: 1px solid #dbdbdb;
			border-radius: 25px;
			padding: 4px 34px 4px 16px;
			background-image: url(../../../assets/images/datepicker_c5.svg);
			background-size: 16px;
			background-position: center right 15px;
			background-repeat: no-repeat;
			min-width: 170px;
			width: 100%;
			.react-daterange-picker__inputGroup {
				color: #9e9a9a;
				min-width: 75px;
				justify-content: center;
			}
			.react-daterange-picker__range-divider {
				margin: 0 5px;
			}
			input {
				font-size: 0.8rem;
				color: #1c1c1c;
				@include placeholder {
					color: #d9d9d9;
				}
				&:focus {
					outline: 0;
					background-color: transparent;
				}
				&:invalid {
					background-color: transparent;
				}
			}
			.react-daterange-picker__inputGroup__leadingZero {
				font-size: 0.8rem;
				color: #1c1c1c;
			}
		}
		.react-daterange-picker__button {
			display: none;
		}
	}

	.template-category-subtitle {
		color: #b7b7b7;
		font-family: $Font;
		font-size: 0.9rem;
		margin: 10px 0;
		display: block;
	}
	.template-category-dropdown {
		position: relative;
		margin: 10px 0;
	}
	.template-category-dropdown-btn {
		border: 0;
		color: #504658;
		font-family: $Font;
		font-size: 1.3rem;
		background-color: transparent;
		background-image: url(../../../assets/images/themes-dropdown.svg);
		background-size: 16px;
		background-position: right;
		background-repeat: no-repeat;
		padding: 0 35px 0 0;

		&:focus {
			outline: 0;
		}
		&.selected {
			color: $ThemeColor;
			background-image: url(../../../assets/images/show-entry_ic.svg);
		}
	}
	.template-category-inner-dropdown {
		display: none;
		background-color: #fff;
		border-radius: 20px;
		padding: 0;
		max-width: 275px;
		width: 100%;
		min-height: 280px;
		flex-direction: column;
		overflow: hidden;
		position: absolute;
		z-index: 9999;
		top: 100%;
		left: 0;
		margin-top: 8px;
		-moz-box-shadow: 4px 7px 23px rgba(0, 0, 0, 0.11);
		-webkit-box-shadow: 4px 7px 23px rgba(0, 0, 0, 0.11);
		box-shadow: 4px 7px 23px rgba(0, 0, 0, 0.11);
		&.active {
			display: inline-flex;
		}
		.template-category-dropdown-header {
			position: relative;
			border-bottom: 1px solid #e9e9e9;
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
			label {
				margin: 0;
				font-family: $SemiBoldFont;
				color: #e9e9e9;
				font-size: 0.8rem;
				min-height: 40px;
				line-height: 40px;
				padding-left: 30px;
				white-space: nowrap;
				width: 150px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.template-category-dropdown-search {
			border: 0;
			font-family: $Font;
			color: #1c1c1c;
			font-size: 0.8rem;
			background-image: url(../../../assets/images/theme-drop-search.svg);
			background-size: 12px;
			background-position: top 13px right 30px;
			background-repeat: no-repeat;
			padding: 0 55px 0 0;
			width: 100%;
			max-width: 100px;
			margin-left: auto;
			min-height: 40px;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: max-width 0.3s ease;

			@include placeholder {
				color: #e9e9e9;
				font-family: $ItalicFont;
			}
			&:focus {
				outline: 0;
				background-color: #fbfbfb;
				max-width: 100%;
				padding-left: 30px;
				+ label {
					display: none;
				}
			}
		}
		ul {
			padding: 12px 0 15px;
			max-height: 270px;
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 4px;
			}
			li {
				list-style-type: none;
				padding: 6px 30px;
				font-family: $Font;
				color: #b7b7b7;
				transition: color 0.3 ease;
				position: relative;
				font-size: 0.82rem;
				text-transform: capitalize;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&:hover {
					color: $ThemeColor;
					cursor: pointer;
					background-color: #fbfbfb;
					&:after {
						content: "";
						width: 3px;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						background-color: $ThemeColor;
					}
				}
			}
		}
	}

	.category_progress_ring_wrap {
		.circular-survey-text {
			font-size: 0.7rem;
			white-space: nowrap;
			font-family: $SemiBoldFont;
			display: block;
			&:before {
				content: "";
				display: inline-block;
				height: 6px;
				width: 6px;
				border-radius: 50%;
				margin-right: 5px;
			}
			&.active--text {
				margin-top: 15px;
				color: $ThemeColor;
				&:before {
					background-color: $ThemeColor;
				}
			}
			&.inactive--text {
				color: #b7b7b7;
				&:before {
					background-color: #b7b7b7;
				}
			}
		}
	}
	.category_progress_ring {
		height: 84px;
		width: 84px;
		min-width: 84px;
		margin: 7px auto 0;
	}
	.CircularProgressbar.category_progress_circle {
		.CircularProgressbar-trail {
			stroke: #f2f5f8;
		}
		.CircularProgressbar-path {
			stroke: $ThemeColor;
			stroke-linecap: square;
		}
		.CircularProgressbar-text {
			fill: $ThemeColor;
			font-family: $SemiBoldFont;
			font-size: 1rem;
		}
	}
	.category-dashboard-card-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px 20px;
	}
	.category-dashboard-card {
		background: #fff;
		border-radius: 5px;
		display: inline-flex;
		min-height: 170px;
		align-items: center;
		margin: 0 15px;
		padding: 0 30px;
		margin-bottom: 30px;
		-moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		-webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		-webkit-transition: transform 0.3s ease;
		transition: transform 0.3s ease;
		.category-dashboard-card_text_wrap {
			position: relative;
		}
		.category-dashboard-card-heading {
			color: #1c1c1c;
			font-family: $SemiBoldFont;
			font-size: 2.6em;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin: 0 0 5px;
		}
		.category-dashboard-card-subheading {
			color: #b7b7b7;
			font-size: 0.87rem;
		}
		&.total_survey {
			flex: 1;
			display: flex;
			justify-content: space-between;
			border-bottom: 4px solid #504658;
			.category-dashboard-card_text_wrap {
				margin-right: 30px;
				max-width: 220px;
			}
		}

		&.active_survey {
			cursor: pointer;
			max-width: 180px;
			width: 100%;
			position: relative;
			overflow: hidden;
			&:before {
				content: "";
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 98%;
				background: #b5ee5f;
				transition: all 0.5s ease;
			}
			&:hover {
				&:before {
					top: 0;
				}
				.category-dashboard-card-heading,
				.category-dashboard-card-subheading {
					color: #fff;
				}
			}
			&.active {
				background: #b5ee5f;
				.category-dashboard-card-heading,
				.category-dashboard-card-subheading {
					color: #fff;
				}
			}
		}
		&.unpublish_survey {
			cursor: pointer;
			max-width: 180px;
			width: 100%;
			position: relative;
			overflow: hidden;
			&:before {
				content: "";
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 98%;
				background: #b7b7b7;
				transition: all 0.5s ease;
			}
			&:hover {
				&:before {
					top: 0;
				}
				.category-dashboard-card-heading,
				.category-dashboard-card-subheading {
					color: #fff;
				}
			}
			&.active {
				background: #b7b7b7;
				.category-dashboard-card-heading,
				.category-dashboard-card-subheading {
					color: #fff;
				}
			}
		}
		&.closed_survey {
			cursor: pointer;
			max-width: 180px;
			width: 100%;
			position: relative;
			overflow: hidden;
			&:before {
				content: "";
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 98%;
				background: #ff1616;
				transition: all 0.5s ease;
			}
			&:hover {
				&:before {
					top: 0;
				}
				.category-dashboard-card-heading,
				.category-dashboard-card-subheading {
					color: #fff;
				}
			}
			&.active {
				background: #ff1616;
				.category-dashboard-card-heading,
				.category-dashboard-card-subheading {
					color: #fff;
				}
			}
		}
		&.create-survey--c {
			background-color: #504658;
			cursor: pointer;
			max-width: 180px;
			width: 100%;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.create-survey--ic {
				height: 60px;
				width: 60px;
				min-width: 60px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background-image: url(../../../assets/images/template/plus.png);
				background-size: 32px;
				background-position: center;
				background-repeat: no-repeat;
				background-color: $ThemeColor;
				border-radius: 50%;
				margin-bottom: 15px;
			}
			.create-survey--name {
				color: #fff;
				max-width: 100%;
				text-align: center;
				font-size: 0.85rem;
				margin: 0;
				overflow: hidden;
			}
		}
	}

	@media (max-width: 550px) {
		.survey-dashboard-card {
			width: 100% !important;
			max-width: 100% !important;
		}
	}

	.category-dashboard-table-header {
		display: flex;
		justify-content: space-between;
		padding: 0 40px;
		margin-bottom: 15px;
		.category-dashboard-table-header-left {
			span {
				color: #1c1c1c;
				font-family: $SemiBoldFont;
				font-size: 1rem;
				text-transform: capitalize;
			}
		}
		// .category-dashboard-table-header-right {

		// }
	}

	.category-dashboard-table {
		margin: 0;
		border-radius: 5px;
		width: 100%;
		display: table;
		background-color: #ffffff;
		-moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		-webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
		// padding-bottom: 20px;

		.category-dashboard-table-row {
			display: table-row;
			&:last-child {
				.category-dashboard-table-cell {
					border-bottom: 0;
				}
			}
		}
		.category-dashboard-table-row.category-table-heading {
			font-family: $SemiBoldFont;
			.category-dashboard-table-cell {
				padding: 20px 15px;
				color: #b7b7b7;
				font-size: 0.8rem;
				font-family: $SemiBoldFont;
				&:first-child {
					text-align: left;
					padding-left: 40px;
				}
				&:last-child {
					padding-right: 40px;
				}

				.appeared-heading {
					white-space: nowrap;
				}
			}
		}
		.category-dashboard-table-cell {
			padding: 30px 12px;
			display: table-cell;
			text-align: center;
			border-bottom: 1px solid #e9e9e9;
			vertical-align: middle;
			color: #1c1c1c;
			font-size: 0.85rem;
			&:first-child {
				text-align: left;
				padding-left: 40px;
			}
			&:last-child {
				padding-right: 40px;
			}
		}
		.survey-type,
		.owner-name {
			white-space: nowrap;
		}

		@mixin icon-default {
			background: transparent;
			border: 0;
			padding: 0;
			color: #c5c5c5;
			transition: color 0.3s ease;
			font-family: $Font;
			font-size: 0.85rem;
			display: inline-flex;
			align-items: center;
			&:focus {
				outline: 0;
			}
			&:before {
				content: "";
				display: inline-block;
				background-size: 16px;
				background-position: center;
				background-repeat: no-repeat;
				height: 24px;
				width: 24px;
				margin-right: 2px;
				transition: background-image 0.3 ease;
			}
			&:hover {
				color: $ThemeColor;
			}
		}
		.delete_data {
			@include icon-default;
			&:hover {
				&:before {
					background-image: url(../../../assets/images/table_delete_active_ic.svg);
				}
			}
			&:before {
				background-image: url(../../../assets/images/table_delete_ic.svg);
				background-size: 11px;
			}
		}
		.add_data {
			@include icon-default;
			&:hover {
				&:before {
					background-image: url(../../../assets/images/participant-pink.svg);
				}
			}
			&:before {
				background-image: url(../../../assets/images/participant-grey.svg);
				background-size: 15px;
			}
			&[disabled] {
				&:hover {
					&:before {
						background-image: url(../../../assets/images/participant-grey.svg);
					}
				}
			}
		}
		.add_data_bulk {
			@include icon-default;
			&:hover {
				&:before {
					background-image: url(../../../assets/images/upload-active.svg);
				}
			}
			&:before {
				background-image: url(../../../assets/images/upload-active.svg);
				background-size: 15px;
			}
			&[disabled] {
				&:hover {
					&:before {
						background-image: url(../../../assets/images/upload-active.svg);
					}
				}
			}
		}
		.add_data_bulk_inactive {
			@include icon-default;
			&:hover {
				&:before {
					background-image: url(../../../assets/images/upload-inactive.svg);
				}
			}
			&:before {
				background-image: url(../../../assets/images/upload-inactive.svg);
				background-size: 15px;
			}
			&[disabled] {
				&:hover {
					&:before {
						background-image: url(../../../assets/images/upload-inactive.svg);
					}
				}
			}
		}

		.edit_data {
			@include icon-default;
			&:hover {
				&:before {
					background-image: url(../../../assets/images/calendar_pink.svg);
				}
			}
			&:before {
				background-image: url(../../../assets/images/datepicker_c5.svg);
			}
		}
		.clone_survey {
			@include icon-default;
			&:hover {
				&:before {
					background-image: url(../../../assets/images/copy-active.svg);
				}
			}
			&:before {
				background-image: url(../../../assets/images/copy.svg);
			}
		}

		.category-table-survey-wrap {
			display: flex;
			align-items: center;
			cursor: pointer;
		}
		.category-survey-logo {
			height: 50px;
			width: 50px;
			min-width: 50px;
			margin-right: 25px;
			border-radius: 4px;
		}
		.category-table-survey-name {
			color: #1c1c1c;
			font-family: $SemiBoldFont;
			font-size: $SurveyName;
			margin-bottom: 2px;
			text-transform: capitalize;
		}
		.category-table-create {
			font-size: 0.75rem;
			color: #b7b7b7;
		}

		.category-table-survey-text-wrap {
			display: flex;
			flex-direction: column;
		}
		.table-count {
			height: 24px;
			line-height: 24px;
			min-width: 28px;
			background: #cfcdd2;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 14px;
			font-size: 0.8rem;
			padding: 0 10px;
			color: #504658;
		}

		.dt-status-formatter {
			border: 1px solid #e9e9e9;
			border-radius: 25px;
			min-width: 110px;
			min-height: 32px;
			line-height: 32px;
			display: inline-block;
			color: #1c1c1c;
			font-family: $SemiBoldFont;
			font-size: 0.87rem;
			cursor: pointer;
			padding-left: 10px;
			position: relative;
			text-align: center;
			text-transform: capitalize;
			font-weight: normal;
			text-shadow: none;
			opacity: 1;
			float: unset;
			&:hover {
				color: #fff;
				&:before {
					background-color: #fff !important;
				}
			}
			&:before {
				content: "";
				height: 7px;
				width: 7px;
				display: inline-block;
				margin-right: 8px;
				border-radius: 50%;
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
			&.active {
				&:before {
					background-color: #b5ee5f;
				}
				&:hover {
					background-color: #b5ee5f;
					border-color: #b5ee5f;
				}
			}
			&.inactive {
				&:before {
					background-color: #fbcd49;
				}
				&:hover {
					background-color: #fbcd49;
					border-color: #fbcd49;
				}
			}
			&.closed {
				&:before {
					background-color: #ff4e4e;
				}
				&:hover {
					background-color: #ff4e4e;
					border-color: #ff4e4e;
				}
			}
			&.draft {
				&:before {
					background-color: #8d8d8d;
				}
				&:hover {
					background-color: #8d8d8d;
					border-color: #8d8d8d;
				}
			}
		}

		.dt-responses-formatter {
			color: $ThemeColor;
			font-family: $SemiBoldFont;
			font-size: 1.05rem;
		}
		.action-wrap {
			display: inline-flex;
		}
		.dt-dropouts-formatter {
			color: #7a6c85;
			font-family: $SemiBoldFont;
			font-size: 1rem;
			white-space: nowrap;
		}
		.response-devider {
			color: #b7b7b7;
			font-family: $SemiBoldFont;
			font-size: 1.05rem;
			margin: 0 5px;
		}
		.dt-analyze-formatter {
			border: 1px solid #8d8d8d;
			color: #8d8d8d;
			background: transparent;
			border-radius: 25px;
			font-size: 0.87rem;
			padding: 0 24px;
			min-height: 32px;
			font-family: $SemiBoldFont;
			transition: all 0.3s ease;
			&:focus {
				outline: 0;
			}
			&:hover {
				background-color: #8d8d8d;
				color: #fff;
			}
			&[disabled] {
				opacity: 0.4;
				&:hover {
					background-color: transparent;
					color: #8d8d8d;
				}
			}
		}
	}
	.category-table-no-result {
		height: 250px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #e9e9e9;
		color: #b7b7b7;
		font-size: 1rem;
	}
	.category-pagination-formatter {
		background-color: #fff;
	}

	@media screen and (max-width: 850px) {
		.category-dashboard-table {
			display: block;
			background: transparent;
			box-shadow: none;
			.category-dashboard-table-row {
				padding: 14px 0 0;
				display: block;
				margin-bottom: 20px;
				background-color: #fff;
				border-radius: 5px 5px 0 0;
				box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
				&:first-child {
					margin-bottom: 0;
				}
			}
		}

		.category-dashboard-table-row.category-table-heading {
			padding: 0;
			height: 6px;
			background: $ThemeColor;
			.category-dashboard-table-cell {
				display: none;
			}
		}

		.category-dashboard-table-row .category-dashboard-table-cell {
			padding: 20px 16px;
			display: flex;
			align-items: center;
			text-align: left;
			&:first-child {
				padding: 20px 16px;
			}
			&:before {
				margin-bottom: 3px;
				content: attr(data-title);
				min-width: 98px;
				font-size: 10px;
				line-height: 10px;
				font-weight: bold;
				text-transform: uppercase;
				color: #969696;
				display: block;
			}
		}
	}

	@media (max-width: 463px) {
		.category-dashboard-card {
			&.active_survey,
			&.closed_survey,
			&.unpublish_survey,
			&.create-survey--c {
				max-width: 100%;
			}
		}
	}

	.st_heading {
		color: #504658;
		font-size: 1.4rem;
		font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
	}
}
.Action-plan {
	.category-dashboard-table {
		.category-table-survey-wrap,
		.dt-status-formatter {
			cursor: unset;
		}
	}
}
