@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
@import "../../assets/scss/ezicheckbox";
@import "../../assets/scss/eziradio";
@import "../../assets/scss/ezi_modal";
.actionPlanCreateModalCustom {
	.modal-header {
		border-bottom: 1px solid #dee2e6;
	}
	.modal-dialog {
		top: 0 !important;
	}
	.error {
		color: #ff0000;
		font-size: 14px;
		display: block;
		padding-left: 8px;
		font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
	}
	.modal-title {
		color: $ThemeColor;
		font-size: 1.1rem;
		font-family: $Font;
		h4 {
			margin-bottom: 0;
		}
	}
	.theme-field-wrapper,
	.owner-action-create,
	.date {
		margin-bottom: 25px;
	}
	.theme-field-control-create {
		width: 100%;
		border: 1px solid #c9c6c6;
	}
	.react-date-picker__clear-button {
		display: none;
	}
	.form-grp.date {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
	}
	// .select-search {
	// 	width: 60%;
	// }
	.sweet-datepicker-custom.start {
		background: #fef9f9;
		z-index: unset;
		margin-left: 5px;
	}
	.react-date-picker__wrapper {
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		padding: 5px;
		border: none !important;
		.react-date-picker__calendar-button {
			svg {
				stroke: #8e8a8a;
			}
		}
		.react-date-picker__button:enabled:hover .react-date-picker__button__icon {
			stroke: #575555;
		}
	}
	.owner-action-section {
		display: flex;
		// justify-content: space-evenly;
		label {
			margin-bottom: 0;
			// align-self: center;
		}
		.form-heading {
			margin: 0 10px;
		}
	}

	.select-search {
		margin: 0 10px;
		.select-search__select {
			max-height: 130px !important;
		}
		.select-search__options {
			li {
				.select-search__row {
					padding: 5px;
				}
			}
		}
		.select-search__option.is-selected {
			background: transparent;
			color: $ThemeColor;
		}
		.select-search__option,
		.select-search__not-found {
			display: block;
			height: 36px;
			width: 100%;
			padding: 0 16px;
			background: #fff;
			border: none;
			outline: none;
			font-family: "Noto Sans", sans-serif;
			font-size: 14px;
			text-align: left;
			cursor: pointer;
			&:hover {
				color: $ThemeColor;
			}
		}
		.select-search__input {
			border: none;
			margin-bottom: 5px;
		}
	}

	.select-search__option.is-selected:hover {
		background: transparent;
		color: black;
	}
	.create-action-modal-section {
		textarea {
			padding: 10px;
			background-color: transparent;
			color: #1c1c1c;
			font-family: "NunitoSans", Helvetica, Arial, sans-serif;
			font-size: 1rem;
			border-radius: 6px;
			margin-bottom: 5px;
		}
	}
}
