@import "../../assets/scss/variable.scss";
@import "../../assets/scss/placeholder.scss";
@import "../../assets/scss/EziAlert.scss";

.Page-ActionPlan {
	padding: 40px 7%;
	background-color: #f2f5f8;
	.st_heading {
		color: #504658;
		font-size: 1.4rem;
		font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
		margin-bottom: 30px;
	}
	.react-trello-board {
		background: transparent;
		margin: 0 auto;
		width: 100%;
		overflow-y: unset;
		justify-content: center;
		.cards p {
			width: 200px;
			white-space: pre-line;
		}
	}
	.react-date-picker__button {
		// display: none;
		background-image: url(../../assets/images/datepicker_c5.svg);
		background-size: 19px;
		background-position: center;
		background-repeat: no-repeat;
		width: 30px;
		min-width: 30px;
		height: 30px;
		svg {
			display: none;
		}
	}
	.sweet-datepicker-custom {
		z-index: unset;
	}
	.react-date-picker__wrapper input {
		font-size: 0.8rem;
		color: #1c1c1c;
	}
	.react-date-picker__inputGroup__leadingZero {
		font-size: 0.8rem;
		color: #1c1c1c;
	}
	.comment-data div {
		color: #b7b7b7;
		font-size: 0.85rem;
		min-width: 200px;
	}
	.actionplan-header {
		// display: flex;`
		box-shadow: 1px 1px 7px #f1f1f1;
		padding: 10px;
		margin: 0px;
		background: #fff;
		border-radius: 3px;
		align-items: center;
		label {
			width: 100%;
			// border-bottom: 1px solid #f1f1f1;
			// padding: 0px 10px;
			// margin-bottom: 10px;
		}
		.header-item {
			width: 15%;
		}
		.header-start-item {
			// width: 18%;
			display: flex;
			// align-self: flex-end;
			padding-top: 5px;
			.date-start {
				margin-bottom: 0;
				// padding-top: 5px;
			}
			.date-selection-start {
				margin-bottom: 10px;
			}
		}
		.submit-filter {
			align-self: center;
			padding-top: 25px;
		}
		.select-search__option,
		.select-search__not-found {
			display: block;
			height: 36px;
			width: 100%;
			padding: 0 16px;
			background: #fff;
			border: none;
			outline: none;
			font-family: "Noto Sans", sans-serif;
			font-size: 14px;
			text-align: left;
			cursor: pointer;
		}

		.select-search--multiple .select-search__option {
			height: 48px;
		}

		.select-search__option.is-selected {
			background: transparent;
			color: black;
		}

		.select-search:not(.select-search--multiple) .select-search__input:hover {
			border: none;
		}
		button.select-search__option:hover {
			color: $ThemeColor;
		}
		.select-search__option.is-highlighted.is-selected,
		.select-search__option.is-selected:hover {
			background: transparent;
			color: $ThemeColor;
		}
		.react-date-picker__wrapper {
			padding: 5px;
			background: #f4eef1;
			border: 1px solid transparent;
			box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
			border-radius: 3px;
			font-size: 14px;
		}
		.react-date-picker.react-date-picker--closed.react-date-picker--enabled.sweet-datepicker-custom,
		.react-date-picker.react-date-picker--open.react-date-picker--enabled.sweet-datepicker-custom {
			width: 100%;
		}
		.react-date-picker__inputGroup {
			align-self: center;
		}
	}

	.actionPlanCreation{
		display: flex;
		justify-content: flex-end;
		padding: 0;
		margin-bottom: 10px;
		.actionPlanBtn{
			border: 1px solid #8D8D8D;
			color: #8D8D8D;
			background: transparent;
			border-radius: 25px;
			font-size: 0.87rem;
			padding: 0 24px;
			min-height: 32px;
			&:hover{
				background-color: #8D8D8D;
    			color: #fff;
			}
		}
	}

}
.actionplan-cards-wrapper .react-trello-board div {
	width: 100%;
}
.react-trello-lane {
	width: 25%;
	padding: 5px;
}

.actionplan-cards-wrapper {
	margin: 20px -8px 0;
	display: flex;
	flex-wrap: wrap;
}
.card-section {
	align-items: center;
	padding: 15px 10px;
	background: #e6e5e8;
	border-radius: 5px;
	margin: 0 8px 15px;
	flex: 1 1;
}

.cards {
	padding: 20px;
	border: 1px solid #ddd;
	background-color: white;
	margin: 0 8px 15px 0px;
	cursor: pointer;
}
.header-btn {
	margin-right: 15px;
	border-radius: 4px;
	border: 1px solid #e6e5e8;
	background: #e6e5e8;
	padding: 5px 10px;
	outline: none;
}
span.heading-number {
	padding: 25px;
}
.section-heading {
	margin: 2px 25px 15px;
	font-size: 14px;
}
span.cancel {
	color: #234e23;
	font-weight: 500;
	padding: 2px;
	background: #cff9cf;
}
span.open {
	background: #e7e7ec;
	padding: 2px;
	color: gray;
	font-weight: 500;
}
span.inprogress {
	background: #adadef;
	padding: 2px;
	color: #141496;
	font-weight: 500;
}
span.rejected {
	color: #234e23;
	font-weight: 500;
	padding: 2px;
	background: #cff9cf;
}
span.heading-number {
	color: grey;
}
span.heading-number {
	color: #948e8e;
	font-weight: 500;
}
input.header-btn.search {
	background-image: url("../../assets/images/search-icon.png");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: right;
}
.date-section {
	display: flex;
	justify-content: space-between;
	color: #9e9c9c;
}
.start-date-selection {
	padding-right: 40px;
}
label {
	// display: block;
	margin-bottom: 0.5rem;
}
.create {
	padding: 0px 8px;
}
span.create-text {
	font-size: 16px;
	font-weight: 500;
	color: #9e9c9c;
}
span.plus-icon {
	padding: 0px 12px;
	background-image: url("../../assets/images/plus-icon.png");
	background-size: 22px;
	background-repeat: no-repeat;
}
.cards.OPEN {
	border-top: 15px solid #2d55e7;
	.due-date {
		font-size: 10px;
		color: #2d55e7;
	}
}
.cards.IN-PROGRESS {
	border-top: 15px solid #ffd700;
	.due-date {
		font-size: 10px;
		color: #ffd700;
	}
}
.cards.COMPLETE {
	border-top: 15px solid #64c709;

	.due-date {
		font-size: 10px;
		color: #64c709;
	}
}
.cards.CANCELLED {
	border-top: 15px solid #ff6c00;
	.due-date {
		font-size: 10px;
		color: #ff6c00;
	}
}
.assigned-user {
	width: 200px;
	white-space: pre-line;
	font-size: 14px;
}
.assigned-user label {
	color: gray;
	font-size: 14px;
}

.react-trello-lane {
	border: 1px solid #f1f1f1;
	background: #fff !important;
	border-radius: 3px !important;
	header {
		padding: 0px 10px !important;
	}
}
.react-date-picker__wrapper {
	border: 0px !important;
}

.smooth-dnd-container.horizontal {
	display: flex;
}
// .date-filter {
//     display: flex;
// }
/**
 * Main wrapper
 */
.select-search {
	position: relative;
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
	box-sizing: inherit;
}

/**
* Value wrapper
*/
.select-search__value {
	position: relative;
}

.select-search__value::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: calc(50% - 9px);
	right: 19px;
	width: 11px;
	height: 11px;
}

/**
* Input
*/
.select-search__input {
	display: block;
	height: 36px;
	width: 100%;
	padding: 0 40px 0 16px;
	background: #fff;
	border: 1px solid transparent;
	box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	outline: none;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	text-align: left;
	text-overflow: ellipsis;
	line-height: 36px;
	-webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
	cursor: initial;
}

/**
* Options wrapper
*/
.select-search__select {
	background: #fff;
	box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
* Options
*/
.select-search__options {
	list-style: none;
	padding: 0;
}

/**
* Option row
*/
.select-search__row:not(:first-child) {
	border-top: 1px solid #eee;
}

/**
* Option
*/
// .select-search__option,
// .select-search__not-found {
//     display: block;
//     height: 36px;
//     width: 100%;
//     padding: 0 16px;
//     background: #fff;
//     border: none;
//     outline: none;
//     font-family: "Noto Sans", sans-serif;
//     font-size: 14px;
//     text-align: left;
//     cursor: pointer;
// }

// .select-search--multiple .select-search__option {
//     height: 48px;
// }

// .select-search__option.is-selected {
//     background: transparent;
//     color: black;
// }

// .select-search:not(.select-search--multiple) .select-search__input:hover {
//     border: none;
// }
// button.select-search__option:hover {
//     color: $ThemeColor;
// }
// .select-search__option.is-highlighted.is-selected,
// .select-search__option.is-selected:hover {
//     background: transparent;
//     color: $ThemeColor;
// }

/**
* Group
*/
.select-search__group-header {
	font-size: 10px;
	text-transform: uppercase;
	background: #eee;
	padding: 8px 16px;
}

/**
* States
*/
.select-search.is-disabled {
	opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
	background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
	cursor: pointer;
}

/**
* Modifiers
*/
.select-search--multiple {
	border-radius: 3px;
	overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
	transform: rotate(45deg);
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	pointer-events: none;
}

.select-search--multiple .select-search__input {
	cursor: initial;
}

.select-search--multiple .select-search__input {
	border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
	cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
	border: none;
}

.select-search:not(.select-search--multiple) .select-search__select {
	position: absolute;
	z-index: 2;
	top: 44px;
	right: 0;
	left: 0;
	border-radius: 3px;
	overflow: auto;
	max-height: 360px;
}

.select-search--multiple .select-search__select {
	position: relative;
	overflow: auto;
	max-height: 260px;
	border-top: 1px solid #eee;
	border-radius: 0 0 3px 3px;
}

.select-search__not-found {
	height: auto;
	padding: 16px;
	text-align: center;
	color: #888;
}
.filter-action-plan {
	border: 0px;
	background: $ThemeColor;
	color: #fff;
	padding: 5px 20px;
	margin: 5px 0px;
	font-size: 18px;
	border-radius: 3px;
}

.smooth-dnd-container.vertical {
	height: 100%;
}
//  header css updated
.date-search {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

// .date-selection {
//     display: flex;
// }
.submit-filter {
	align-self: flex-end;
}
.react-date-picker__inputGroup__input {
	height: 50% !important;
}
.react-date-picker__button:enabled {
	cursor: pointer;
	margin: -2px;
}

.actionModalTop .react-date-picker__button svg {
	stroke: #948e8e;
}

@media (max-width: 320px) {
	.Page-ActionPlan {
		.actionplan-header {
			.header-item {
				width: 100%;
			}
			.header-start-item {
				width: 100%;
			}
		}
	}

	.date-filter {
		display: block;
	}
	.start-date-selection {
		padding-bottom: 10px;
	}
}

@media (max-width: 576px) {
	.Page-ActionPlan {
		.actionplan-header {
			.header-item {
				width: 100%;
			}
			.header-start-item {
				width: 100%;
			}
		}
	}

	input.header-btn.search {
		display: block;
		width: 50%;
	}
	.react-trello-lane {
		width: 100%;
	}
	button.header-btn {
		display: block;
		width: 50%;
		margin: 10px 0px;
	}
	.eckDVx {
		overflow-y: auto;
	}
	.react-trello-board {
		overflow-y: auto !important;
	}
	.header-item {
		display: block;
		padding-right: 0px;
		padding-bottom: 20px;
	}
	.start-date-selection {
		padding-right: 25px;
	}
	.actionplan-header label {
		border-bottom: none;
	}
	.react-trello-lane {
		width: 100%;
	}
	.select-search.assigne {
		width: 80%;
	}
}
@media (max-width: 768px) {
	.Page-ActionPlan {
		.actionplan-header {
			.header-item {
				width: 100%;
			}
			.header-start-item {
				width: 100%;
			}
			// label {
			//     width: 25%;
			// }
		}
	}
	.react-trello-lane {
		width: 48%;
	}
	.header-item {
		display: block;
		padding-right: 0px;
		padding-bottom: 20px;
	}
}

@media (min-width: 769px) and (max-width: 950px) {
	.Page-ActionPlan {
		.actionplan-header {
			display: block;
			.header-item {
				width: 100%;
				padding-bottom: 20px;
			}
			.header-start-item {
				width: unset;
				align-self: unset;
			}
			.submit-filter {
				align-self: center;
				padding-top: 10px;
			}
		}
	}
	.smooth-dnd-container.horizontal {
		white-space: nowrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.react-trello-lane {
		width: 48%;
	}
}
@media (min-width: 951px) and (max-width: 1024px) {
	.Page-ActionPlan {
		.actionplan-header {
			display: block;
			.header-start-item {
				width: unset;
				align-self: unset;
			}
			.submit-filter {
				align-self: center;
				padding-top: 25px;
			}
		}
	}
	.smooth-dnd-container.horizontal {
		white-space: nowrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.react-trello-lane {
		width: 48%;
	}
}

@media (min-width: 1025px) and (max-width: 1139.98px) {
	.react-trello-lane {
		width: 25%;
		padding: 5px;
	}
	.date-search {
		flex-wrap: nowrap;
	}
	.submit-filter {
		align-self: center;
		padding-bottom: 12px;
	}
}
