@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
@import "../../assets/scss/ezicheckbox";
@import "../../assets/scss/eziradio";
@import "../../assets/scss/ezi_modal";

.modal.show .modal-dialog {
	top: 10%;
}

.modal-header {
	border-bottom: none;
}
// h4.heading {
// 	font-size: 18px;
// }
label.modal-form-heading {
	display: block;
}
textarea.descp-textarea {
	outline: none;
	border: 1px solid #e6e5e8;
	margin-bottom: 10px;
	width: 90%;
}
.assining-survey-section {
	overflow-y: auto;
	padding: 0px 15px;
	height: 420px;
	overflow-y: scroll;
	width: 75%;
	.heading {
		color: rgb(23, 43, 77);
	}
}
.gathering-section {
	margin: 0px 20px;
}
.action-modal-section {
	display: flex;
	// flex-wrap: wrap;
}
.save-btn {
	color: white;
	background: #007bff;
	padding: 2px 12px 5px;
	border-radius: 3px;
	border: 0px;
}
.save-btn:hover {
	text-decoration: none;
}
.cancel-btn {
	color: black;
	padding: 2px 12px 5px;
	border-radius: 3px;
	background: transparent;
	border: 0;
	margin-left: 5px;
	border: 1px solid #ddd;
}
.cancel-btn:hover {
	text-decoration: none;
	background: #f1f1f1;
}
button#dropdown-basic {
	background: #e6e5e8;
	border: #e6e5e8;
	color: black;
	outline: none;
}
.form-btn {
	padding-bottom: 15px;
	border-bottom: 1px solid #e6e5e8;
}
label.comment-heading {
	background: #3eb9b3;
	color: white;
	border-radius: 35px;
	padding: 5px 8px;
	margin: 5px 15px 10px 0px;
	height: 35px;
	width: 35px;
	text-align: center;
}
input.add-comment {
	border: 1px solid #e6e5e8;
	outline: none;
	width: 85%;
	padding: 5px 15px;
}
.comment-hint {
	margin: 0px 50px;
	font-size: 12px;
	color: gray;
	.enter {
		background: #f1f1f1;
		border-radius: 3px;
		font-weight: 700;
		padding: 2px;
	}
}
.details-table {
	border: 1px solid #e6e5e8;
	margin: 20px 0px;
	width: 350px;
	border-radius: 3px;
}
.gathering-section .table-heading {
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #172b4d;
	background: #f1f1f1;
	border-bottom: 2px solid #ce2e6b;
}
.table-data {
	display: flex;
	border-top: 1px solid #e6e5e8;
	justify-content: space-between;
	padding: 10px;
}
.data {
	margin-bottom: 0;
}
span.data-text {
	word-break: break-all;
}
.description-section-wrapper {
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-between;
	.description-section {
		width: 50%;
	}
}

.owner-data-section {
	padding: 0px 10px;
	width: 50%;
	height: 100%;
	border: 1px solid #fff;
}
.owner-data-section:hover {
	border: 1px solid #e6e5e8;
}
.owner-data {
	padding: 5px 0px;
	display: flex;
}

span.data-text-heading {
	font-weight: 500;
	padding-right: 5px;
	white-space: nowrap;
}
sapn.M {
	background: #e6e5e8;
	padding: 0px 2px;
	border-radius: 4px;
}
.action-modal-description-preview {
	// width: 500px;
	height: auto;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 3px;
	&:hover {
		background-color: #f1f1f1;
	}
	.modal-form-heading {
		font-size: 15px;
		color: rgb(23, 43, 77);
	}
}
.status-field {
	display: flex;
	.status-slect-box {
		width: 100%;
	}
	span {
		margin-right: 10px;
		font-weight: 600;
		color: rgb(23, 43, 77);
	}
}
.action-plan-inner-tab-content.tab-content {
	padding: 10px 0px;
}

.comment-item {
	margin: 25px auto;
	display: flex;
	.comment-user {
		background: #3eb9b3;
		color: white;
		border-radius: 100%;
		padding: 5px 5px;
		margin: 0px 15px 10px 0px;
		height: 35px;
		width: 35px;
		text-align: center;
	}
	.content {
		font-size: 14px;
		color: gray;
	}
}
.action-plan-activity {
	padding: 10px;
	.title {
		padding: 5px 0px;
		font-weight: 600;
		border-bottom: 1px solid #f1f1f1;
	}
	.tab-left-header {
		.nav-item {
			margin-bottom: 15px;
			margin-right: 15px;
			margin-top: 10px;
			.nav-link {
				background: #f1f1f1;
				color: #333;
				padding: 5px 10px !important;
				border-radius: 25px;
				&::after {
					content: unset !important;
				}
				&.active {
					background-color: #ce2e6b;
					border-radius: 25px;
					color: #fff;
				}
			}
		}
	}
}
.history-not-found {
	color: red;
}
.history-content del {
	color: red;
	margin-right: 10px;
}
.comment-created-date {
	font-size: 13px;
	color: gray;
	margin-left: 5px;
}
.comment-item .comment-data {
	width: 100%;
}
.comment-create {
	display: flex;
}
.add-comment {
	width: 100%;
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 5px;
}
.comment-section {
	width: 100%;
}
.save-btn.disabled {
	background: gray;
}
.actionPlanModalCustom {
	.modal-dialog {
		top: 0 !important;
	}
	.modal-header {
		justify-content: right;
		align-items: center;
		.close {
			margin: 0;
		}
		.eye-dropdown {
			.dropdown-toggle::after {
				content: unset;
			}
			.eye-btn {
				margin-right: 5px;
			}
			button#dropdown-basic {
				// background: transparent;
				// padding: 16px 10px 0px 0px;
				margin-top: 5px;
			}
			.btn:focus {
				box-shadow: unset;
			}
			.dropdown-menu-right {
				right: 0 !important;
				// left: auto !important;
			}
			.dropdown-menu {
				min-width: 20rem;
				padding: 0px;
			}
			.eye-ico {
				width: 24px;
			}
			.watchflex {
				display: flex;
				background-color: #f1f1f1;
				align-items: center;
				padding: 5px 15px;
				justify-content: space-between;
				.watchimg {
					display: flex;
					align-items: center;
				}
				.watchHeading {
					padding: 0.25rem 1.5rem;
					font-weight: 500;
					color: #212529;
					margin: 0;
				}
				.divW {
					padding: 0px;
					height: 25px;
					width: 25px;
					font-weight: bold;
					border-radius: 3px;
					text-align: center;
					background-color: #c9c5c5;
				}
				&.watch_hide_show {
					cursor: pointer;
				}
			}
			.watchIssue {
				border-bottom: 1px solid #ddd;
				p {
					margin: 0;
					padding: 5px 20px;
					color: #172b4d;
					font-size: 12px;
					background: #f1f1f1;
					font-weight: 700;
					border-bottom: 2px solid #ce2e6b;
				}
			}
			.dropdown-item {
				padding: 0.55rem 1.5rem;
				&:active {
					color: #000;
					background-color: #f1f1f1;
				}
			}
			.dropMenu {
				max-height: 140px;
				overflow: auto;
				.dropMenudiv {
					display: flex;
					align-items: center;
					.divInitial {
						background-color: #ffa500;
						height: 30px;
						width: 30px;
						font-weight: 600;
						text-align: center;
						border-radius: 25px;
						padding-top: 3px;
						font-size: 15px;
					}
					.name {
						margin: 0;
						padding-left: 10px;
						font-size: 15px;
					}
				}
			}
		}
	}
	.cancel-btn,
	.save-btn {
		border: 1px solid #8d8d8d;
		color: #8d8d8d;
		background: transparent;
		border-radius: 25px;
		font-size: 0.87rem;
		padding: 0px 12px;
		min-height: 28px;
		font-family: "NunitoSansSemiBold", Helvetica, Arial, sans-serif;
		transition: all 0.3s ease;
		&:hover {
			color: #fff;
			background: gray;
		}
	}
	.save-btn.disabled {
		color: #fff;
		background: gray;
	}
	.customActModal {
		.css-yt9ioa-option {
			background-color: transparent;
			color: #000;
			cursor: default;
			display: block;
			font-size: inherit;
			padding: 8px 12px;
			width: 100%;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			box-sizing: border-box;
		}
		.css-9gakcf-option {
			background-color: #fff;
			color: #ce2e6b;
			padding: 8px 12px;
		}
		.css-1n7v3ny-option {
			background-color: unset;
			color: #ce2e6b;
		}
		&.remove_border {
			&.css-2b097c-container {
				.css-yk16xz-control {
					border: 0px !important;
					cursor: pointer;
					div {
						width: auto !important;
					}
				}
			}
		}
	}
	.details-table {
		.Assignee-table-data {
			.theme-edit {
				background: transparent;
				border: 0;
				padding: 0 0 0 5px;
				color: #c5c5c5;
				transition: color 0.3s ease;
				font-size: 0.8rem;
				display: inline-flex;
				align-items: center;

				&::before {
					content: "";
					display: inline-block;
					background-image: url(/static/media/table_edit_ic.c3ce3fee.svg);
					background-size: 14px;
					background-position: 50%;
					background-repeat: no-repeat;
					height: 24px;
					width: 24px;
					margin-right: 2px;
					transition: background-image 0.3 ease;
				}
			}
			.theme-delete {
				background: transparent;
				border: 0;
				padding: 0 0 0 5px;
				color: #c5c5c5;
				transition: color 0.3s ease;
				font-size: 0.8rem;
				display: inline-flex;
				align-items: center;
			}
			.editflex {
				display: flex;
				justify-content: space-between;
				p {
					margin: 0 7px;
				}
				.select-edit-flex {
					display: inline-flex;
					width: 100%;
					.assigneeActModal {
						width: 170px;
						.css-1pahdxg-control {
							min-height: 30px;
							height: 30px;
							box-shadow: none;
							align-items: unset;
							border-color: #cccccc !important;
							&:hover {
								border-color: #cccccc;
							}
							.css-g1d714-ValueContainer {
								height: 30px;
								// .css-1uccc91-singleValue{
								// 	margin-bottom: 5px;
								// }
							}
							.css-1hb7zxy-IndicatorsContainer {
								height: 30px;
							}
						}
						.css-yk16xz-control {
							min-height: 30px;
							height: 30px;
							.css-g1d714-ValueContainer {
								position: unset;
							}
							.css-1hb7zxy-IndicatorsContainer {
								.css-1okebmr-indicatorSeparator {
									margin-bottom: 12px;
									margin-top: 3px;
								}
								.css-tlfecz-indicatorContainer {
									padding: 1px 8px 8px 8px;
								}
							}
						}
						.css-yt9ioa-option {
							background-color: transparent;
							color: #000;
							cursor: default;
							display: block;
							font-size: inherit;
							padding: 8px 12px;
							width: 100%;
							-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
							-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
							box-sizing: border-box;
						}
						.css-9gakcf-option {
							background-color: #fff;
							color: #ce2e6b;
							padding: 8px 12px;
						}
						.css-1n7v3ny-option {
							background-color: unset;
							color: #ce2e6b;
						}
						.css-2b097c-container {
							.css-yk16xz-control {
								border: 0px !important;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 320px) {
		.modal-header {
			.eye-dropdown {
				.dropdown-menu {
					transform: translate3d(24px, 45px, 0px) !important;
				}
			}
		}
	}
	@media (min-width: 320px) and (max-width: 430px) {
		.modal-header {
			.eye-dropdown {
				.dropdown-menu {
					min-width: 10rem;
					transform: translate3d(0px, 45px, 0px);
				}
			}
		}
	}
}
@media (min-width: 576px) {
	.actionPlanModalCustom {
		.modal-dialog {
			max-width: 90% !important;
			margin: 1.75rem auto;
		}
	}
}
@media (max-width: 576px) {
	.comment-hint {
		margin: 5px;
		font-size: 14px;
	}
	.assining-survey-section {
		width: 100%;
	}
	.action-modal-section {
		display: flex;
		flex-wrap: wrap;
	}
	.description-section-wrapper .description-section {
		width: 100%;
	}
	.gathering-section {
		margin: 20px 0px;
		width: 100%;
	}
	.details-table {
		width: auto;
	}
	.table-data {
		flex-wrap: wrap;
	}
	.actionplan-header {
		display: flex;
		box-shadow: 1px 1px 7px #f1f1f1;
		padding: 10px;
		margin: 0px;
		background: #fff;
		flex-wrap: wrap;
		border-radius: 3px;
		align-items: center;
		display: block;
	}
	.smooth-dnd-container.horizontal {
		white-space: nowrap;
		flex-wrap: wrap;
	}
	.react-trello-lane {
		width: 100%;
	}
	.react-trello-lane header {
		padding: 0px 10px 0px 20px !important;
		justify-content: space-around;
	}
	.assining-survey-section .heading {
		font-size: 17px;
	}
	textarea.descp-textarea {
		width: 100%;
	}
	.owner-data-section {
		margin: 10px 0px;
		width: 100%;
	}
}
