@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
@import "../../assets/scss/ezi_modal";
@import "../../assets/scss/step-indicator";

@mixin date-range-pick {
    .startend-date-wrap {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 25px;
        border: 0;
        width: 100%;
        padding: 14px 30px;
        box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
        margin: 0;
        .end-date-wrap {
            z-index: 0;
        }
        .react-date-picker {
            z-index: 1;
        }
        .startend-label {
            color: #504658;
            font-size: 0.85rem;
            margin-right: 16px;
            margin-bottom: 4px;
        }
        .react-date-picker__inputGroup {
            align-self: center;
        }
        .date-wrapper-icon {
            background-image: url(../../assets/images/start-end-date.svg);
            background-size: 18px;
            background-position: center;
            background-repeat: no-repeat;
            height: 40px;
            width: 40px;
        }
        .react-date-picker--disabled {
            border-radius: 25px;
        }
        .react-date-picker__wrapper {
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 0;
            background-color: transparent;
            border: 1px solid #f3f3f3;
            border-radius: 25px;
            padding: 0 10px 0 29px;
            height: 36px;
            min-height: 36px;
            background-image: url(../../assets/images/datepicker_c5.svg);
            background-size: 16px;
            background-position: center left 10px;
            background-repeat: no-repeat;
            width: 100%;
            color: #504658;
            font-size: 0.85rem;
            font-family: "NunitoSans";
            margin: 0;
            .react-date-picker__inputGroup {
                input {
                    color: #504658;
                    &:focus {
                        outline: 0;
                    }
                }
            }
            .react-date-picker__button {
                display: none;
            }
        }
    }
}
.Page-SurveyWorkflow {
    padding: 40px 7%;
    background-color: #f2f5f8;
    .breadcrumb_ezi {
        border-bottom: none;
        padding-bottom: 0px;
    }
    .option_not_found {
        color: #b7b7b7;
        font-size: 0.8rem;
        text-align: center;
        display: block;
        margin-top: 30px;
    }
    .category_progress_ring_wrap {
        .circular-survey-text {
            font-size: 0.7rem;
            white-space: nowrap;
            font-family: $SemiBoldFont;
            display: block;
            &:before {
                content: "";
                display: inline-block;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                margin-right: 5px;
            }
            &.active--text {
                margin-top: 15px;
                color: $ThemeColor;
                &:before {
                    background-color: $ThemeColor;
                }
            }
            &.inactive--text {
                color: #b7b7b7;
                &:before {
                    background-color: #b7b7b7;
                }
            }
        }
    }
    .category_progress_ring {
        height: 84px;
        width: 84px;
        min-width: 84px;
        margin: 7px auto 0;
    }
    .CircularProgressbar.category_progress_circle {
        .CircularProgressbar-trail {
            stroke: #f2f5f8;
        }
        .CircularProgressbar-path {
            stroke: $ThemeColor;
            stroke-linecap: square;
        }
        .CircularProgressbar-text {
            fill: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1rem;
        }
    }
    .workflow-dashboard-card-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px 20px;
    }
    .workflow-dashboard-card {
        background: #fff;
        border-radius: 5px;
        display: inline-flex;
        min-height: 170px;
        align-items: center;
        margin: 0 15px;
        padding: 0 30px;
        margin-bottom: 30px;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
        .workflow-dashboard-card_text_wrap {
            position: relative;
        }
        .workflow-dashboard-card-heading {
            color: #1c1c1c;
            font-family: $SemiBoldFont;
            font-size: 2.6em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0 0 5px;
        }
        .workflow-dashboard-card-subheading {
            color: #b7b7b7;
            font-size: 0.87rem;
        }
        &.total_workflow {
            flex: 1;
            display: flex;
            justify-content: space-between;
            border-bottom: 4px solid #504658;
            .workflow-dashboard-card_text_wrap {
                margin-right: 30px;
                max-width: 220px;
            }
        }

        &.active_workflow {
            cursor: pointer;
            max-width: 180px;
            width: 100%;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                background: #b5ee5f;
                transition: all 0.5s ease;
            }
            &:hover {
                &:before {
                    top: 0;
                }
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
            &.active {
                background: #b5ee5f;
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
        }
        &.inactive_workflow {
            cursor: pointer;
            max-width: 180px;
            width: 100%;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                background: #b7b7b7;
                transition: all 0.5s ease;
            }
            &:hover {
                &:before {
                    top: 0;
                }
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
            &.active {
                background: #b7b7b7;
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
        }
        &.closed_workflow {
            cursor: pointer;
            max-width: 180px;
            width: 100%;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                background: #ff1616;
                transition: all 0.5s ease;
            }
            &:hover {
                &:before {
                    top: 0;
                }
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
            &.active {
                background: #ff1616;
                .workflow-dashboard-card-heading,
                .workflow-dashboard-card-subheading {
                    color: #fff;
                }
            }
        }
        &.create-workflow--c {
            background-color: #504658;
            cursor: pointer;
            max-width: 180px;
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .create-workflow--ic {
                height: 60px;
                width: 60px;
                min-width: 60px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-image: url(../../assets/images/template/plus.png);
                background-size: 32px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $ThemeColor;
                border-radius: 50%;
                margin-bottom: 15px;
            }
            .create-workflow--name {
                color: #fff;
                max-width: 100%;
                text-align: center;
                font-size: 0.85rem;
                margin: 0;
                overflow: hidden;
            }
        }
    }

    @media (max-width: 550px) {
        .survey-dashboard-card {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    .workflow-dashboard-table-header {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        margin-bottom: 15px;
        .workflow-dashboard-table-header-left {
            span {
                color: #1c1c1c;
                font-family: $SemiBoldFont;
                font-size: 1rem;
                text-transform: capitalize;
            }
        }
    }

    .workflow-dashboard-table {
        margin: 0;
        border-radius: 5px;
        width: 100%;
        display: table;
        background-color: #ffffff;
        -moz-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
        .workflow-dashboard-table-row {
            display: table-row;
            &:last-child {
                .workflow-dashboard-table-cell {
                    border-bottom: 0;
                }
            }
        }
        .workflow-dashboard-table-row.workflow-table-heading {
            font-family: $SemiBoldFont;
            .workflow-dashboard-table-cell {
                padding: 20px 15px;
                color: #b7b7b7;
                font-size: 0.8rem;
                font-family: $SemiBoldFont;
                &:first-child {
                    text-align: left;
                    padding-left: 40px;
                }
                &:last-child {
                    padding-right: 40px;
                }

                .appeared-heading {
                    white-space: nowrap;
                }
            }
        }
        .workflow-dashboard-table-cell {
            padding: 30px 12px;
            display: table-cell;
            text-align: center;
            border-bottom: 1px solid #e9e9e9;
            vertical-align: middle;
            color: #1c1c1c;
            font-size: 0.85rem;
            &:first-child {
                text-align: left;
                padding-left: 40px;
            }
            &:last-child {
                padding-right: 40px;
            }
        }
        .survey-type,
        .owner-name {
            white-space: nowrap;
        }

        @mixin icon-default {
            background: transparent;
            border: 0;
            padding: 0;
            color: #c5c5c5;
            transition: color 0.3s ease;
            font-family: $Font;
            font-size: 0.85rem;
            display: inline-flex;
            align-items: center;
            &:focus {
                outline: 0;
            }
            &:before {
                content: "";
                display: inline-block;
                background-size: 16px;
                background-position: center;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;
                margin-right: 2px;
                transition: background-image 0.3 ease;
            }
            &:hover {
                color: $ThemeColor;
            }
        }
        .delete_data {
            @include icon-default;
            &:hover {
                &:before {
                    background-image: url(../../assets/images/table_delete_active_ic.svg);
                }
            }
            &:before {
                background-image: url(../../assets/images/table_delete_ic.svg);
                background-size: 11px;
            }
        }
        .edit_data {
            @include icon-default;
            &:hover {
                &:before {
                    background-image: url(../../assets/images/table_edit_actives_ic.svg);
                }
            }
            &:before {
                background-image: url(../../assets/images/table_edit_ic.svg);
            }
        }
        .workflow-table-survey-wrap {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .category-survey-logo {
            height: 50px;
            width: 50px;
            min-width: 50px;
            margin-right: 25px;
            border-radius: 4px;
        }
        .workflow-table-survey-name {
            color: #1c1c1c;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
            margin-bottom: 2px;
            text-transform: capitalize;
        }
        .workflow-table-create {
            font-size: 0.75rem;
            color: #b7b7b7;
        }

        .workflow-table-survey-text-wrap {
            display: flex;
            flex-direction: column;
        }
        .table-count {
            height: 24px;
            line-height: 24px;
            min-width: 28px;
            background: #cfcdd2;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 14px;
            font-size: 0.8rem;
            padding: 0 10px;
            color: #504658;
        }

        .dt-status-formatter {
            border: 1px solid #e9e9e9;
            border-radius: 25px;
            min-width: 80px;
            min-height: 25px;
            line-height: 25px;
            display: inline-block;
            color: #1c1c1c;
            font-family: $SemiBoldFont;
            font-size: 0.87rem;
            cursor: pointer;
            padding-left: 10px;
            position: relative;
            text-align: center;
            text-transform: capitalize;
            font-weight: normal;
            text-shadow: none;
            opacity: 1;
            float: unset;
            &:hover {
                color: #fff;
                &:before {
                    background-color: #fff !important;
                }
            }
            &:before {
                content: "";
                height: 7px;
                width: 7px;
                display: inline-block;
                margin-right: 8px;
                border-radius: 50%;
                position: absolute;
                left: 7px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.active {
                &:before {
                    background-color: #b5ee5f;
                }
                &:hover {
                    background-color: #b5ee5f;
                    border-color: #b5ee5f;
                }
            }
            &.inactive {
                &:before {
                    background-color: #fbcd49;
                }
                &:hover {
                    background-color: #fbcd49;
                    border-color: #fbcd49;
                }
            }
            &.closed {
                &:before {
                    background-color: #ff4e4e;
                }
                &:hover {
                    background-color: #ff4e4e;
                    border-color: #ff4e4e;
                }
            }
        }

        .dt-responses-formatter {
            color: $ThemeColor;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
        }
        .action-wrap {
            display: inline-flex;
        }
        .dt-dropouts-formatter {
            color: #7a6c85;
            font-family: $SemiBoldFont;
            font-size: 1rem;
        }
        .response-devider {
            color: #b7b7b7;
            font-family: $SemiBoldFont;
            font-size: 1.05rem;
            margin: 0 5px;
        }
        .dt-analyze-formatter {
            border: 1px solid #8d8d8d;
            color: #8d8d8d;
            background: transparent;
            border-radius: 25px;
            font-size: 0.87rem;
            padding: 0 24px;
            min-height: 32px;
            font-family: $SemiBoldFont;
            transition: all 0.3s ease;
            &:focus {
                outline: 0;
            }
            &:hover {
                background-color: #8d8d8d;
                color: #fff;
            }
            &[disabled] {
                opacity: 0.4;
                &:hover {
                    background-color: transparent;
                    color: #8d8d8d;
                }
            }
        }
    }
    .workflow-table-no-result {
        height: 250px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #e9e9e9;
        color: #b7b7b7;
        font-size: 1rem;
    }
    .category-pagination-formatter {
        background-color: #fff;
    }

    @media screen and (max-width: 850px) {
        .workflow-dashboard-table {
            display: block;
            background: transparent;
            box-shadow: none;
            .workflow-dashboard-table-row {
                padding: 14px 0 0;
                display: block;
                margin-bottom: 20px;
                background-color: #fff;
                border-radius: 5px 5px 0 0;
                box-shadow: -1px 7px 60px rgba(0, 0, 0, 0.08);
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }

        .workflow-dashboard-table-row.workflow-table-heading {
            padding: 0;
            height: 6px;
            background: $ThemeColor;
            .workflow-dashboard-table-cell {
                display: none;
            }
        }

        .workflow-dashboard-table-row .workflow-dashboard-table-cell {
            padding: 20px 16px;
            display: flex;
            align-items: center;
            text-align: left;
            &:first-child {
                padding: 20px 16px;
            }
            &:before {
                margin-bottom: 3px;
                content: attr(data-title);
                min-width: 98px;
                font-size: 10px;
                line-height: 10px;
                font-weight: bold;
                text-transform: uppercase;
                color: #969696;
                display: block;
            }
        }
    }

    @media (max-width: 463px) {
        .workflow-dashboard-card {
            &.active_workflow,
            &.closed_workflow,
            &.inactive_workflow,
            &.create-workflow--c {
                max-width: 100%;
            }
        }
    }

    @media (min-width: 320px) and (max-width: 480px) {
        .breadcrumb_ezi {
            margin-bottom: 15px;
        }
        .filter-search-wrap {
            justify-content: flex-start;
            margin-bottom: 30px;
        }
        .workflow-dashboard-table .workflow-table-survey-name {
            word-break: break-all;
        }
        .custom-demography-select-dropdown.right {
            left: 0;
            right: unset;
        }
        .custom-demography-select-dropdown.right .demograpgy-filter-wrap:before {
            content: "";
            left: 50px;
            right: unset;
        }
    }
}

.Page-SaveSurveyWorkflow {
    height: 100%;
    overflow-y: auto;
    padding: 40px 7%;
    .breadcrumb_ezi {
        padding: 0;
        margin: 0;
    }
    .error-message {
        color: red;
        padding: 5px 15px;
    }
    .save-workflow-beadcrumb {
        border-bottom: 0;
    }
    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .save-workflow-wrap {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        margin-top: 2%;
        .workflow-label {
            color: #504658;
            font-size: 1.8rem;
            font-family: $Font;
            text-align: center;
            margin: 0 0 40px;
        }
        .workflow-field-control {
            margin-bottom: 30px;
        }
        .create-workflow-input {
            background-color: #fff;
            border-radius: 25px;
            border: 0;
            width: 100%;
            padding: 14px 30px;
            -moz-box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
            -webkit-box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
            box-shadow: -1px 7px 39px rgba(0, 0, 0, 0.11);
            font-size: 1rem;
            color: #504658;
            resize: none;
            &:focus {
                outline: 0;
            }
            @include placeholder {
                color: #b7b7b7;
            }
            &::-webkit-scrollbar {
                width: 4px;
            }
        }
        .workflow_add_btn_wrap {
            display: flex;
            justify-content: center;
        }
        .workflow_add_btn {
            background: #504658;
            color: #fff;
            border: 0;
            border-radius: 25px;
            padding: 8px 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:focus {
                outline: 0;
            }
        }
    }
    .des-count {
        color: #b7b7b7;
        font-size: 0.75rem;
        display: flex;
        justify-content: flex-end;
        padding: 5px 15px;
    }
    @include date-range-pick;
}

.Page-WorkFlowSetting {
    padding: 40px 7%;
    @include date-range-pick;
    .step-form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .async-select-container {
        border: 1px solid #b7b7b7;
        border-radius: 5px;
        margin: 0 auto 40px;
        max-width: 400px;
    }
    .navigation_btn_wrapper {
        display: flex;
        justify-content: center;
    }
    .stepper-btn {
        display: block;
        margin: 0 5px;
        border: 0;
        padding: 6px 20px;
        border-radius: 5px;
        background-color: #7a6c85;
        color: #fff;
        &:hover {
            background-color: darken(#7a6c85, 10%);
        }
    }

    .workflow_setting {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        width: 100%;
        background: #fbfbfb;
        -webkit-box-shadow: 0px 0px 2px 1px rgba(251, 251, 251, 0.78);
        -moz-box-shadow: 0px 0px 2px 1px rgba(251, 251, 251, 0.78);
        box-shadow: 0px 0px 2px 1px rgba(251, 251, 251, 0.78);
        margin: 0 auto 40px;
        padding: 30px 20px;
        border-radius: 5px;
        h3 {
            color: #504658;
            font-family: $SemiBoldFont;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .trigger_content {
        display: flex;
        align-items: center;
        margin: 10px 0 10px;
        .identifier_name {
            margin-right: 15px;
        }
        .identifier_subtitle {
            color: #504658;
            font-family: $SemiBoldFont;
            font-size: 0.9rem;
            margin-left: 7px;
        }
    }
    .workflow_fields_date_action,
    .workflow_fields_date_time {
        display: flex;
        align-items: center;
    }
    .trigger_content {
        max-width: 382px;
    }
    .navigation_btn_wrapper_setting {
        width: 100%;
        max-width: 382px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
    }
    .trigger_setting {
        select {
            border: 1px solid #b7b7b7;
            border-radius: 5px;
            height: 38px;
            padding: 0 8px;
            width: 100%;
            font-size: 13px;
            &:focus {
                outline: 0;
            }
        }
        .workflow_fields_date_action {
            padding: 10px;
            label {
                margin: 0;
            }
            .workflow_fields_datetype {
                display: inline-block;
                div {
                    margin: 0 5px;
                    max-width: 115px;
                }
                .datetype_action_input_value {
                    width: 170px;
                    border: 1px solid #b7b7b7;
                    border-radius: 5px;
                    height: 38px;
                    padding: 0 3px;
                    background-color: #b7b7b7;
                    input {
                        width: calc(100% - 40px);
                        border: none;
                        height: 100%;
                        text-align: center;
                        &:focus {
                            outline: none;
                        }
                    }
                    span {
                        vertical-align: text-bottom;
                        font-size: 14px;
                        margin-left: 5px;
                    }
                }
                .datetype_action_input_value,
                .datetype_action {
                    display: inline-block;
                }
            }
        }
        .workflow_fields_date_time {
            padding: 10px;
            label {
                white-space: nowrap;
            }
            .react-time-picker {
                margin-left: 16px;
                border: 1px solid #b7b7b7;
                border-radius: 5px;
                .react-time-picker__wrapper {
                    border: none;
                    .react-time-picker__inputGroup {
                        background-color: #fff;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        select {
                            width: 50px;
                            border: 0;
                        }
                        input {
                            border: 0;
                            width: 30px !important;
                            margin: 0 15px;
                            text-align: center;
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .startend-date-wrap {
        border-radius: 0px;
        box-shadow: unset;
        padding: 0;
    }
    .end-date-wrap .react-date-picker__inputGroup {
        align-self: center;
    }
    .end-date-wrap,
    .start-date-wrap {
        display: flex;
        align-items: center;
    }
    .workflow-info-desc {
        max-width: 500px;
        width: 100%;
    }
    .date-text {
        display: inline-flex;
        position: relative;
        background-color: transparent;
        border: 1px solid #f3f3f3;
        border-radius: 25px;
        padding: 0 20px 0 50px;
        height: 36px;
        min-height: 36px;
        background-image: url(../../assets/images/datepicker_c5.svg);
        background-size: 18px;
        background-position: center left 18px;
        background-repeat: no-repeat;
        width: 100%;
        color: #504658;
        font-size: 0.85rem;
        font-family: "NunitoSans";
        margin: 0;
        align-items: center;
        min-width: 188px;
    }
    .workflow-info-header {
        background: #fff;
        border-radius: 5px;
        padding: 20px 30px;
        -moz-box-shadow: 7px 4px 28px rgba(0, 0, 0, 0.06);
        -webkit-box-shadow: 7px 4px 28px rgba(0, 0, 0, 0.06);
        box-shadow: 7px 4px 28px rgba(0, 0, 0, 0.06);
        display: flex;
        align-items: center;
    }
    .workflow-header-col {
        flex: 1;
    }
    .workflow-info-text {
        display: flex;
        flex-direction: column;
        max-width: 610px;
        .title_c {
            color: $ThemeColor;
            font-size: 1.15rem;
            margin-bottom: 3px;
            font-family: $Font;
        }
        .subtitle_c {
            color: #bcbcbc;
            font-size: 0.8rem;
        }
    }
    .workflow-info-role-text {
        display: flex;
        flex-direction: column;
        .workflow-role-title {
            color: #504658;
            font-size: 1rem;
            margin-bottom: 3px;
            font-family: $SemiBoldFont;
        }
        .workflow-role-subtitle {
            color: #bcbcbc;
            font-size: 0.8rem;
            font-family: $Font;
        }
    }
    .workflow-info-role {
        display: flex;
        align-items: center;
        .workflow-info-role_ic {
            background-image: url(../../assets/images/user-role-icon.svg);
            background-size: 45px;
            background-position: center;
            background-repeat: no-repeat;
            height: 60px;
            width: 60px;
            min-width: 60px;
            display: inline-block;
            margin-right: 10px;
        }
    }
    .workflow-info-action {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        .workflow-info-action-edit {
            background-color: #5a4e63;
            color: #fff;
            border: 0;
            min-height: 30px;
            border-radius: 25px;
            padding: 0 30px;
            margin: 10px 0;
            font-family: $Font;
            font-size: 0.8rem;
            display: inline-flex;
            align-items: center;
            margin-right: 10px;
        }
        .workflow-info-action-save {
            background-color: $ThemeColor;
            color: #fff;
            border: 0;
            min-height: 30px;
            border-radius: 25px;
            padding: 0 30px;
            // margin: 10px 0;
            font-family: $Font;
            font-size: 0.8rem;
            display: inline-flex;
            align-items: center;
            margin-right: 10px;
        }
        .workflow-info-action-delete {
            background: transparent;
            color: #b7b7b7;
            border: 0;
            font-size: 0.8rem;
            font-family: $Font;
        }
    }

    .workflow-info-profile-status {
        display: flex;
        align-items: center;
        .profile-status-progress-wrap {
            margin-right: 15px;
        }
        .profile-status-progress {
            height: 60px;
            width: 60px;
            min-width: 60px;
            margin: 0 auto;
        }
    }
    .CircularProgressbar.profile-status-progress {
        .CircularProgressbar-trail {
            stroke: #f2f5f8;
        }
        .CircularProgressbar-path {
            stroke: #504658;
            stroke-linecap: square;
        }
        .CircularProgressbar-text {
            fill: #504658;
            font-family: $SemiBoldFont;
            font-size: $CeTitle;
        }
    }
    .breadcrumb_ezi {
        border: 0;
        margin-bottom: 10px;
    }
    .CircularProgressbar.profile-status-progress {
        .CircularProgressbar-trail {
            stroke: #f2f5f8;
        }
        .CircularProgressbar-path {
            stroke: #504658;
            stroke-linecap: square;
        }
        .CircularProgressbar-text {
            fill: #504658;
            font-family: $SemiBoldFont;
            font-size: $CeTitle;
        }
    }

    main.workflow-info-content {
        background: #fff;
        border-radius: 5px;
        box-shadow: 7px 4px 28px rgba(0, 0, 0, 0.06);
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        min-height: 400px;
        overflow: hidden;
        .workflow-view-side-tab {
            background-color: #fbfbfb;
            padding: 30px 0;
            border-right: 1px solid #e9e9e9;
            max-width: 280px;
            width: 100%;
        }
        .workflow-side-tab-nav {
            display: flex;
            flex-direction: column;
            min-height: 400px;
            .nav-item {
                margin: 5px 0;
            }
            .nav-link {
                color: #c5c5c5;
                background-color: transparent;
                border-radius: 0;
                padding: 10px 30px;
                font-size: 0.87rem;
                font-family: $Font;
                position: relative;
                &:hover {
                    background-color: #f2f5f8;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 3px;
                        background-color: $ThemeColor;
                    }
                }
                &.active {
                    background-color: #f2f5f8;
                    color: #504658;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 3px;
                        background-color: $ThemeColor;
                    }
                }
            }
        }
        .workflow-view-tab-content {
            padding: 0;
            width: calc(100% - 280px);
            .info-tab-header {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #e9e9e9;
                width: 100%;
                padding: 20px 40px;
            }
            .info-tab-header-title {
                color: #504658;
                font-size: $CeTitle;
                margin-bottom: 2px;
                font-family: $SemiBoldFont;
            }
            .info-tab-header-subtitle {
                color: #c5c5c5;
                font-size: 0.77rem;
            }
            .form-view-data {
                width: 100%;
                padding: 50px 40px 20px;
                .form-view-field-wrap {
                    width: 50%;
                    margin-bottom: 30px;
                    display: inline-flex;
                }
                .form-view-label {
                    color: #b7b7b7;
                    font-size: 0.87rem;
                    max-width: 130px;
                    width: 100%;
                    display: inline-block;
                    margin-right: 10px;
                }
                .form-view-value {
                    color: #504658;
                    font-size: 0.87rem;
                    display: inline-block;
                    width: calc(100% - 180px);
                    white-space: normal;
                    word-break: break-all;
                }
            }
        }
        .workflow-steps {
            width: 100%;
        }
    }
    @media (max-width: 991px) {
        main.workflow-info-content .workflow-view-tab-content .form-view-data .form-view-field-wrap {
            width: 100%;
        }
    }
    @media (max-width: 950px) {
        .workflow-info-header {
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .workflow-header-col {
            flex-basis: 50%;
            margin-bottom: 20px;
        }
        .workflow-info-action {
            justify-content: flex-start;
        }
    }
    @media (max-width: 767px) {
        main.workflow-info-content {
            flex-direction: column;
            .workflow-view-side-tab {
                max-width: 100%;
            }
            .workflow-side-tab-nav {
                min-height: initial;
            }
            .workflow-view-tab-content {
                width: 100%;
                .form-view-data .form-view-field-wrap {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    @media (max-width: 600px) {
        .workflow-header-col {
            flex-basis: 100%;
            margin-bottom: 40px;
        }
    }
}
