@import "../../assets/scss/variable";
@import "../../assets/scss/placeholder";
.Page-SMTPsetting {
	padding: 40px 7%;
	background-color: #f2f5f8;

	.column-header {
		.column-header-btn {
			.clear_all {
				background: transparent;
				color: #bfbfbf;
			}
		}
	}

	.domain-adress-wrap {
		display: flex;
		align-items: center;
	}

	.domain-adress-wrap input {
		width: 100%;
	}

	.domain-adress-wrap span.domain {
		padding-right: 20px;
	}

	.tab-header-wrap {
		border-bottom: 1px solid #e9e9e9;
	}
	.tab-left-header .nav-item {
		margin-bottom: 10px;
		a {
			padding-bottom: 15px;
		}
	}

	.tab-left-header .nav-pills .nav-link.active:after,
	.tab-left-header .nav-pills .show > .nav-link:after {
		bottom: -11px;
	}
	.add-single-card {
		background-color: #fff;
		border-radius: 10px;
		padding: 40px 40px;
		margin-bottom: 30px;
		margin-top: 50px;
		box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
	}
	.single-card-header {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}
	.card-user-info {
		.name {
			font-family: $Font;
			color: #8d8d8d;
			font-size: 1.4rem;
			margin: 6px 0 10px;
		}
		.role {
			color: #b7b7b7;
			font-family: $Font;
			font-size: 0.8rem;
			margin: 6px 0;
		}
	}
	.single-card-btn {
		margin-left: auto;
		display: inline-flex;
		align-items: center;
		.single-clear {
			padding: 5px 10px;
			border: 0;
			color: #bfbfbf;
			background-color: transparent;
			margin-right: 20px;
			font-family: $Font;
			font-size: 0.9rem;
			transition: color 0.3s ease;
			&:hover {
				color: $ThemeColor;
			}
			&:focus {
				outline: 0;
			}
		}
		.single-save {
			padding: 6px 30px;
			border: 0;
			color: #fff;
			background-color: $ThemeColor;
			font-family: $Font;
			font-size: 0.9rem;
			border-radius: 25px;
			&:focus {
				outline: 0;
			}
		}
	}

	.tab-content {
		padding: 40px 0;
	}
	.add-company-field-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	label {
		display: flex;
		flex-direction: column;
		color: #c5c5c5;
		font-family: $Font;
		padding: 0;
		font-size: 0.85rem;
		width: 50%;
		border-radius: 6px;
		width: calc(50% - 10px);
		border-radius: 6px;
		margin-bottom: 30px;

		input,
		select {
			border: 0;
			padding: 10px 20px;
			background-color: transparent;
			color: #1c1c1c;
			font-family: $Font;
			font-size: 1rem;
			border-radius: 6px;
			border: 1px solid #ccc;
			&:focus {
				outline: 0;
			}
			@include placeholder {
				color: #ccc;
				font-size: 0.9rem;
			}
			&:focus-within {
				background: #fbfbfb;
				border-radius: 6px;
			}
		}
		select {
			-webkit-appearance: none;
			cursor: default;
			background: url(../../assets/images/select_arrow.svg);
			background-size: 10px;
			background-position: right 15px center;
			background-repeat: no-repeat;
			padding-right: 30px;
		}
		.error_cu {
			color: #ff0000;
			font-family: $SemiBoldFont;
			font-size: 0.9rem;
			margin-bottom: 10px;
		}
	}
	label.encryption {
		margin-bottom: 5px;
	}

	h3.email-heading {
		color: #b7b7b7;
		font-size: 0.85rem;
		padding: 5px 0px;
		font-weight: 400;
	}
	.email-field-wrapper {
		.email-field-section {
			display: flex;
			.send-button {
				padding: 6px 25px;
			}
			button.send-btn {
				background: $ThemeColor;
				border: none;
				color: white;
				border-radius: 20px;
				padding: 5px 20px;
			}
			input.email-inp {
				padding: 10px 20px;
				background-color: transparent;
				color: #1c1c1c;
				font-family: "NunitoSans", Helvetica, Arial, sans-serif;
				font-size: 1rem;
				border-radius: 6px;
				border: 1px solid #ccc;
				&::placeholder {
					color: #1c1c1c;
					font-size: 1rem;
					font-family: "NunitoSans", Helvetica, Arial, sans-serif;
				}
			}
		}
	}

	.save-btn {
		background-color: $ThemeColor;
		color: #fff;
		border: 0;
		height: 50px;
		padding: 0 56px;
		border-radius: 25px;
		font-family: $Font;
		font-size: 1.1rem;
		text-transform: uppercase;
		cursor: pointer;
		&:focus {
			outline: 0;
		}
	}

	.radio-wrap {
		display: flex;
		margin: 10px 0;
		.radio-inner-wrap {
			margin-right: 20px;
		}
	}

	/* The container */
	.ezi-radio {
		display: block;
		position: relative;
		padding-left: 30px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 15px;
		font-family: $Font;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default radio button */
	.ezi-radio input {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		padding: 0;
		left: 3px;
		top: 2px;
		z-index: 999;
		width: 100%;
		height: 100%;
	}

	/* Create a custom radio button */
	.ezi-checkmark {
		position: absolute;
		top: 2px;
		left: 0;
		height: 18px;
		width: 18px;
		border-radius: 50%;
		border: 1px solid #b4b4b4;
	}

	/* On mouse-over, add a grey background color */
	.ezi-radio:hover input ~ .ezi-checkmark {
		background-color: #eee;
	}

	/* When the radio button is checked, add a blue background */
	.ezi-radio input:checked ~ .ezi-checkmark {
		border: 1px solid $ThemeColor;
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.ezi-checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	.ezi-radio input:checked ~ .ezi-checkmark:after {
		display: block;
	}

	/* Style the indicator (dot/circle) */
	.ezi-radio .ezi-checkmark:after {
		top: 2px;
		left: 2px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: $ThemeColor;
	}

	.datepicker-wrap {
		padding: 15px 0;
		.react-date-picker {
			display: flex;
			.react-date-picker__wrapper {
				width: 100%;
				input {
					padding: 0;
				}
			}
		}
	}

	.react-date-picker__wrapper {
		border: 0;
	}
	.react-date-picker__button {
		&:focus {
			outline: 0;
		}
	}
	.react-date-picker__clear-button {
		display: none;
	}

	.single-select {
		.css-yk16xz-control {
			border: 0;
		}
		.css-1okebmr-indicatorSeparator {
			background-color: transparent;
		}
		.css-1hwfws3 {
			padding: 10px 0;
		}
		.css-1wa3eu0-placeholder {
			color: #e9e9e9;
		}
	}

	.add-company-form-wrap {
		background-color: #fff;
		border-radius: 10px;
		padding: 30px 40px;
		margin-bottom: 30px;
		margin-top: 25px;
		box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
	}
	.add-company-form-wrap.disabled-input-email {
		background: #ebebeb;
	}
	input.email-inp.disabled-input-email {
		opacity: 0.5;
	}
	.send-button.disabled-input-email {
		opacity: 0.5;
	}
	.note-msg {
		color: #e71414;
		padding-left: 5px;
		font-size: 14px;
	}
	.company-info-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	.conpany-name-id-wrap {
		display: flex;
		flex-direction: column;
		.title {
			color: #1c1c1c;
			font-size: $CeTitle;
			margin-bottom: 7px;
			text-transform: capitalize;
		}
		.subtitle {
			color: #b7b7b7;
			font-size: 0.85rem;
		}
	}

	.company-add-logo-wrap {
		margin-right: 20px;
		position: relative;
		display: inline-flex;

		.company-logo-upload-position {
			position: absolute;
			right: 0px;
			bottom: 0px;
			display: inline-flex;
		}

		.company-logo-upload-wrapper {
			position: relative;
			overflow: hidden;
			display: inline-flex;
		}

		.company-logo-upload-btn {
			border: 0;
			background-color: $ThemeColor;
			padding: 0;
			background-image: url(../../assets/images/edit-icon-white.svg);
			background-size: 13px;
			background-position: center;
			background-repeat: no-repeat;
			height: 24px;
			width: 24px;
			min-width: 24px;
			display: inline-flex;
			border-radius: 50%;
			cursor: pointer;
		}

		.company-logo-upload-input {
			font-size: 100px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}

		.company-default-logo {
			height: 70px;
			width: 70px;
			min-width: 70px;
			border-radius: 50%;
			object-fit: contain;
		}
	}
	.add-company-form-wrap.instruction label {
		color: #333;
		margin-bottom: 10px;
		font-size: 22px;
		border-bottom: 1px solid #ddd;
		border-radius: 0px;
		width: 100%;
	}
}
